/**
 * Colors used across the website
 * ------------------------------
 * Assign colors to their exact role, to allow easy updates

 * Names: http://www.color-blindness.com/color-name-hue/
 */

/* ====== [1] NAMES ====== */

$white: #ffffff;
$kingfisher: #5f378b;
$windsor: #492274;
$christalle: #271248;
$shady-lady: #979797;
$nero: #262626;
$midnight-blue: #250f47;
$amethyst: #884fc6;
$christalle: #271248;
$navy: #140034;
$vivid-violet: #673193;
$suva-grey: #919191;
$blue-marguerite: #8062af;
$cerise: #d82256;
$cardinal: #c01848;
$chris: #4e2166;
$wistful: #ae9dc9;

/* ====== [2] ASSIGNMENTS ====== */

/* --- global --- */

$background-main: $kingfisher;
$main-dark: $windsor;
$main-darkest: $christalle;
$text-light: $white;


/* --- Header nav related --- */

$menu-icon: $white;
$menu-firstlevel-links: $white;
$menu-secondlevel-links: $white;
$menu-btn-border: $shady-lady;
$menu-secondlevel-separator: $shady-lady;

/* --- Text --- */

$title-color: $nero;
$title-white: $white;
$subtitle-color: $suva-grey;
$main-text-color: $midnight-blue;
$value-text-color: $chris;
$more-link-text: $blue-marguerite;

/* --- Buttons --- */

$main-btn: $amethyst;
$main-btn-hover: $christalle;
$main-btn-active: $navy;
$white-btn: $white;
$white-btn-text: $kingfisher;
$transparent-btn: $white;
$transparent-btn-text: $kingfisher;
$main-btn-text: $white;
$btn-hover-red: $cerise;
$btn-active-red: $cardinal;

/* --- Footer --- */

/* Home-page */

$title-underline: $vivid-violet;
$input-text: $wistful;

/* About pages */

$about-title: $midnight-blue;

/* Calendar */

$slider-link: $cerise;
