/**
* Single responsability rules having very specific and targeted tasks
* Text alignment or positioning, font-sizing, clearfix, etc.
*
* One step away from inline-styling, use sparingly!
* Can carry "!important" declaration to override less specific rules
*
*/

.is-hidden-large {
	display: none;
}
@media only screen and (max-width: 1023px) {
    .is-hidden-large {
  display: block; } }

.is-hidden-medium {
	display: none;
	@include small-down {
		display: block;
	}
}

.no-border {
	border: none !important;
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

.has-shadow {
	@include box-shadow(0 10px 10px 0 rgba(0, 0, 0, 0.25)); // 10px
}

.title-underline {
	&:after {
		position: absolute;
		content: '';
		width: 143px;
		height: 7px;
		bottom: -17px;
		right: 0;
		left: 0;
		margin: 0 auto;
		background-color: $title-underline;
	}
	&-left {
		&:after {
			margin-right: auto;
			margin-left: 0;
		}
	}
}

.event-underline {
	position: relative;
	&:after {
		position: absolute;
		content: '';
		width: 143px;
		height: 7px;
		bottom: -17px;
		left: 0;
		background-color: $title-underline;
	}
}

.no-margin {
	margin-bottom: 0 !important;
	margin-top: 0 !important;
}