/**
 * Mediaqueries following the desctop-first method
 * 
 */

/* ====== SETTINGS ====== */

$width-xxsmall: 380px;
$width-xsmall: 576px;
$width-small: 767px;
$width-medium2: 840px;
$width-medium: 992px;
$width-large: 1020px;
$width-xlarge: 1240px;
$width-xxlarge: 1400px;

/* ====== QUERIES ====== */

/* --- small screens, from 380px --- */

@mixin xxsmall-down {
	@media only screen and (max-width: $width-xxsmall) {
		@content;
	}
}

/* --- small screens, from 574px --- */

@mixin xsmall-down {
	@media only screen and (max-width: $width-xsmall) {
		@content;
	}
}

/* --- small screens, from 758px --- */

@mixin small-down {
	@media only screen and (max-width: $width-small) {
		@content;
	}
}

/* --- medium screens, from 840px --- */

@mixin medium2-down {
	@media only screen and (max-width: $width-medium2) {
		@content;
	}
}

/* --- medium screens, from 992px --- */

@mixin medium-down {
	@media only screen and (max-width: $width-medium) {
		@content;
	}
}

/* --- large screens, from 1020px --- */

@mixin large-down {
	@media only screen and (max-width: $width-large) {
		@content;
	}
}

/* --- xlarge screens, from 1240px --- */

@mixin xlarge-down {
	@media only screen and (max-width: $width-xlarge) {
		@content;
	}
}
/* --- xlarge screens, from 1400px --- */

@mixin xxlarge-down {
	@media only screen and (max-width: $width-xxlarge) {
		@content;
	}
}