body.iframe { background: #fff; }
#photonic-flow-wrapper { padding: 1em; }
.photonic-flow-screen { margin-bottom: 60px; }

.photonic-flow-option-name {font-weight: bold;}
.photonic-flow-option-name input, .photonic-flow-option-name select {font-weight: normal; }

.photonic-gallery { margin: 1em 0; width: 100%; }
.photonic-gallery a { display: inline-block; margin: 2em; box-sizing: border-box; }
.photonic-gallery a:hover, .photonic-gallery a.selected { background: #e7f1f6; }
.photonic-gallery a.selected { border: 1px solid #ccc; }
.photonic-gallery .photonic-source { width: 128px; height: 128px; background: url(../images/Icons.svg) no-repeat; background-size: 100%; margin: 0 auto; display: inline-block; }
.photonic-gallery-500px .photonic-source { background-position: 0 -1024px; }
.photonic-gallery-flickr .photonic-source { background-position: 0 -1152px; }
.photonic-gallery-instagram .photonic-source { background-position: 0 -1280px; }
.photonic-gallery-smugmug .photonic-source { background-position: 0 -1408px; }
.photonic-gallery-zenfolio .photonic-source { background-position: 0 -1536px; }
.photonic-gallery-wp .photonic-source { background-position: 0 -1664px; }
.photonic-gallery-picasa .photonic-source { background-position: 0 -1792px; }

#photonic-flow-navigation { bottom: 0; left: 0; position: fixed; display: inline-block; width: 100%; }
#photonic-flow-navigation a { padding: 1em 2em; background: #0085ba; border-color: #0073aa #006799 #006799; color: #fff; font-size: 1.2em; text-decoration: none; }
#photonic-flow-navigation a.disabled { color: #aaa; cursor: default; background: #ccc; }
#photonic-nav-previous { float: left; }
#photonic-nav-previous:before { font-family: Dashicons; content: "\f341"; margin: 0 0.5em; vertical-align: text-bottom;}
#photonic-nav-next { float: right; }
#photonic-nav-next:after { font-family: Dashicons; content: "\f345";  margin: 0 0.5em; vertical-align: text-bottom;}

.photonic-flow-field {margin: 1em 0; }
.photonic-flow-field select, .photonic-flow-field input[type="text"], .photonic-flow-field input[type="password"] { display: block; }
.photonic-flow-field-radio { display: block; padding-left: 1.5em; text-indent: -1.5em;}
.photonic-flow-hint { font-style: italic; }

.photonic-flow-error { color: #c00; padding: 0.5em 1em; border: 0 solid #c00; border-left-width: 3px; }

.photonic-flow-selector-container { display: inline-block; width: 100%; margin: 1em 0.5em; }
.photonic-flow-selector-info { margin: 0 0.2em; }

.photonic-multi-select-item {display: block; margin: 0.5em; }
.photonic-multi-select-item input[type='checkbox'] { margin-right: 0.5em; }
.photonic-flow-multi-select-container { margin: 1em 0;}

.photonic-flow-selector { display: inline-block; float: left; margin: 1em; text-align: center; width: 150px; box-sizing: border-box; position: relative; }
.photonic-flow-selector.selected { box-shadow: 0 0 5px 5px #5b9dd9; }
.photonic-flow-selector-inner { margin: 0.5em; }
.photonic-flow-selector img { width: 100%; }
.photonic-flow-selector .dashicons { position: absolute; top: 0; right: 0; width: 25px; height: 25px; color: #fff; background: #5b9dd9; padding: 5px 2px 0; text-decoration: none; }

.photonic-flow-layout .photonic-layout,
.photonic-flow-slideshow-style .photonic-slideshow-style,
.photonic-flow-strip-style .photonic-strip-style {
	width: 150px;
	height: 150px;
	background: url(../images/Icons.svg) no-repeat;
	background-size: 100%;
	margin: 0 auto;
	display: inline-block;
}

.photonic-flow-layout-square .photonic-layout { background-position: 0 -2700px; }
.photonic-flow-layout-circle .photonic-layout { background-position: 0 -2850px; }
.photonic-flow-layout-random .photonic-layout { background-position: 0 -3000px; }
.photonic-flow-layout-masonry .photonic-layout { background-position: 0 -3150px; }
.photonic-flow-layout-mosaic .photonic-layout { background-position: 0 -3300px; }
.photonic-flow-layout-slideshow .photonic-layout { background-position: 0 -2550px; }

.photonic-flow-slideshow-style-strip-below .photonic-slideshow-style { background-position: 0 -3450px; }
.photonic-flow-slideshow-style-strip-above .photonic-slideshow-style { background-position: 0 -3600px; }
.photonic-flow-slideshow-style-strip-right .photonic-slideshow-style { background-position: 0 -3750px; }
.photonic-flow-slideshow-style-no-strip .photonic-slideshow-style { background-position: 0 -2550px; }

.photonic-flow-strip-style-thumbs .photonic-strip-style { background-position: 0 -3450px; }
.photonic-flow-strip-style-button .photonic-strip-style { background-position: 0 -3900px; }

