.home-footer {
	.s-footer {
		padding-top: 120px;
	}
}

.s-footer {
	background-color: #1a0835;
	background-image: url(../img/footer/Footer-bg.jpg);
	background-position: center;
	background-size: auto;
	padding-top: 80px;
	padding-bottom: 50px;
	@include medium-down {
		min-height: 600px;
		padding-bottom: 0px;
	}
	@include small-down {
		padding-bottom: 0px;
	}
}

.pages-footer {
	.s-footer {
		padding-top: 154px;
	}
}

.footer-container {
	width: 100%;
	max-width: 1260px;
	margin: 0 auto;
	padding: 0 25px;

	@include small-down {
		padding: 0 15px;
	}
}

.footer-text-main,
.footer-text-main a {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: normal;
	text-align: left;
	color: #ae9dc9;
}

.footer-text-title {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: 700;
	line-height: normal;
	text-align: left;
	color: #ffffff;
}

.footer-subscribe-title {
	@include medium-down {
		font-size: 12px;
	}
	@include small-down {
		font-size: 16px;
	}
}

.footer-subscribe-text {
	@include medium-down {
		font-size: 12px;
	}
	@include small-down {
		font-size: 14px;
	}
}

.footer-row {
	position: relative;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	@include small-down {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	@include large-down {
		justify-content: space-between;
	}
}

.footer-logo {
	width: calc(100%/12 * 2);
	&__part1 {
		margin-bottom: 5px;
		width: 100%;
		max-width: 200px;
		height: auto;
	}
	&__part2 {
		color: $white;
		font-family: 'Roboto', sans-serif;
		font-size: 11px;
		font-weight: 500;
		text-align: left;
		margin-bottom: 15px;
	}
	@include medium-down {
		font-size: 7px;
		font-weight: 400;
		width: calc(100%/12 * 3);
		margin-bottom: 20px;
		&__part1 {
			max-width: 130px;
		}
		&__part2 {
			font-size: 7px;
			font-weight: 400;
		}
	}
	@include small-down {
		max-width: 100%;
		width: 100%;
		margin-bottom: 30px;
		&__part1 {
			display: block;
			margin-right: auto;
			margin-left: auto;
			max-width: 150px;
		}
		&__part2 {
			text-align: center;
			margin-bottom: 25px;
			font-size: 8.5px;
		}
	}
}

.footer-menu-wrap {
	margin-left: 35px;
	width: calc(100%/12 * 5);
	flex-wrap: wrap;
	display: flex;
	flex-direction: column;

	@include medium-down {
		margin-left: 20px;
		width: calc(100%/12 * 8);
	}
	@include small-down {
		margin-left: 0px;
		width: 100%;
		margin-bottom: 30px;
	}
}

.footer__btn {
	max-width: 176px;
	margin-top: 40px;
	padding: 15px 10px 14px 10px;
	@include medium-down {
		margin-top: 0px;
	}
	@include small-down {
		margin-right: auto;
		margin-left: auto;
	}
}

.footer-menu {
	display: flex;
	justify-content: space-between;
	width: 100%;
	margin-bottom: 60px;
	&__item {
		max-width: 150px;
		margin-right: 20px;
	}
	&__link {
		&:hover, &:focus, &:active {
			text-decoration: underline;
			color: #fff;
		}
	}
	&__title {
		margin-bottom: 15px;
	}
	&__text {
		margin-bottom: 13px;
	}

	@include small-down {
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
		margin-bottom: 20px;
		&__item {
			margin: 0;
			max-width: 100%;
			width: 100%;
			text-align: center;
		}
		&__title {
			text-align: center;
		}
		&__text {
			text-align: center;
		}
	}
}

.footer-subscribe {
	width: 80%;
	@include medium-down {
		width: 100%;
		max-width: 300px;
	}
	@include small-down {
		margin-right: auto;
		margin-left: auto;
	}
}

.footer-form {
	border-bottom: 1px #383241 solid;
	margin-top: 15px;
	padding-bottom: 10px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	position: relative;
	height: 40px;
	&__mail-box {
		display: flex;
		flex-direction: row;
		align-items: center;
    position: relative;
    width: 210px;
		input {
      width: 210px;
			margin-left: 30px;
			font-family: 'Roboto', sans-serif;
			font-size: 14px;
			font-weight: 400;
			line-height: normal;
			text-align: left;
			color: #ae9dc9;
			background-color: rgba(255, 255, 255, 0);
			border: none;
			&::placeholder {
				color: #ae9dc9;
			}
		}
		&:before {
			content: '';
			position: absolute;
			display: block;
			background-image: url(../img/icons/mail.svg);
			background-position: center;
			background-size: contain;
			background-repeat: no-repeat;
			top: calc(50% - 8px);
			width: 20px;
			height: 14px;
			margin-right: 13px;
		}
	}
	&__input-box {
		&:after {
			content: url(../img/icons/right-arrow.svg);
			display: inline-block;
			position: relative;
			width: 16px;
			height: auto;
			margin-bottom: -3px;
		}
	}
	&__submit {
		display: inline-block;
		font-family: 'Roboto', sans-serif;
		font-size: 14px;
		font-weight: 400;
		line-height: normal;
		text-align: center;
		color: #ffffff;
		cursor: pointer;
		background-color: rgba(0, 0, 0, 0);
		border: none;
		margin-right: 0px;
		&:hover {
			text-decoration: underline;
		}
	}
	@include medium-down {
		border-bottom: none;
		flex-direction: column;
		justify-content: flex-start;
		align-items: baseline;
		margin-left: 0;
		margin-right: auto;
		&__mail-box {
			border-bottom: 1px #383241 solid;
			padding-bottom: 20px;
			padding-top: 15px;
			margin-left: 0;
			margin-right: auto;
		}
		&__submit {
			padding-top: 10px;
		}
		&__input-box {
			margin-left: 0;
			margin-right: auto;
		}
	}
	@include small-down {
		&__mail-box {
			width: 100%;
			max-width: 100%;
			justify-content: flex-start;
		}
	}
}

.footer-credits {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-top: 40px;
	@include small-down {
		position: absolute;
		bottom: 0;
		margin-right: auto;
		margin-left: auto;
		left: 0;
		right: 0;
		margin-top: 0;
		&__text {
			margin-bottom: 15px !important;
		}
		.footer-small-text {
			text-align: center;
		}
	}
}

.footer-small-text {
	font-size: 12px;
	margin-bottom: 25px;
}

.f-social {
	width: calc(100%/12 * 2);
	display: flex;
	justify-content: flex-start;
	margin-top: 30px;
	&__item {
		margin-right: 15px;
	}
	&__icon {
		width: auto;
		max-width: 36px;
		max-height: 36px;
		min-width: 36px;
		min-height: 36px;
		transition: opacity 0.3s ease;
		&:hover {
			opacity: 0.6;
			transition: opacity 0.3s ease;
		}
	}
	@include medium-down {
		margin-top: 50px;
	}
	@include small-down {
		width: 100%;
		justify-content: center;
		margin-right: 7px;
		margin-left: 7px;
	}
}

.f-facebook-page {
	@include medium-down {
		width: 100%;
		max-width: 220px;
		position: absolute;
		left: auto;
		right: -15px;
		top: 120px;
		transform: scale(0.82);
		height: 300px;
		overflow: hidden;
	}
	@include small-down {
		position: relative;
		top: 0px;
		left: auto;
		right: auto;
		max-width: 290px;
		width: 100%;
		margin-bottom: 150px;
		transform: scale(1);
	}
}

.advanced-browser-check{
	background: rgba(0,0,0,0.9);
}
.adv_browser_check{
	width: 100%;
	max-width: 645px;
	top: 15vh;
	left: 0;
	right: 0;
	padding: 40px;
	border-radius: 4px;
	margin: 0 auto;
}
.adv_browser_check_msg{
	font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #250f47;
	text-align: left;
}
.adv_browser_check h1 {
	font-family: 'PTSans', sans-serif;
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  color: #250f47;
	text-align: left;
}

.footer-support{
	font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 700;
	color: #ffffff;
	margin-bottom: 20px;
	> a{
		font-size: 16px;
    	font-weight: 700;
		color: #da285b;
		border-bottom: 1px solid transparent;
		transition: border .25s linear;
		&:hover{
			border-bottom: 1px solid #da285b
		}
	}
  br{
    display: none;
  }
  @include medium-down {
    br{
      display: block;
    }
  }
	@include small-down {
    text-align: center;
	}
}
