.s-header {
	background-color: $background-main;
}

.header-container {
	width: 100%;
	min-height: 63px;
	max-width: 1300px;
	padding: 0 20px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 100;
}

.top-menu {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	z-index: 100;
}

/*------------ Logo ---------*/

.logo {
	align-items: center;
	margin: 10px 0;
	&__part1 {
		width: auto;
		min-width: 181px;
		max-width: 181px;
		height: auto;
	}
	&__part2 {
		color: $white;
		font-family: 'Roboto', sans-serif;
		font-size: 10px;
		font-weight: 500;
		text-align: left;
	}
	@include xlarge-down {
		margin-right: 30px;
		&__part1 {
			width: auto;
			min-width: 145px;
			max-width: 145px;
		}
		&__part2 {
			font-size: 8px;
		}
	}
	@include xsmall-down {
		&__part1 {
			width: auto;
			min-width: 126px;
			max-width: 126px;
			height: auto;
		}
		&__part2 {
			font-size: 7px;
		}
	}
}

/*------------ Main navigation ---------*/

.header-nav {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	background-color: $background-main;
	display: flex;
	justify-content: flex-end;
	width: 100%;
	flex-direction: row;
  position: relative;
	@include medium-down{
    z-index: 20;
    opacity: 0;
	}
}

//Mobile menu button
.btn-menu {
	width: 22px;
	height: 18px;
	position: absolute;
	top: 33px;
	right: 23px;
	z-index: 100;
	transform: rotate(0deg);
	transition: .5s ease-in-out;
	cursor: pointer;
	z-index: 20;
	span {
		display: block;
		position: absolute;
		height: 2px;
		width: 100%;
		background: $menu-icon;
		border-radius: 5px;
		opacity: 1;
		left: 0;
		transform: rotate(0deg);
		transition: .25s ease-in-out;

		&:nth-child(1) {
			top: 0px;
		}

		&:nth-child(2),
		&:nth-child(3) {
			top: 7px;
		}

		&:nth-child(4) {
			top: 14px;
		}
	}

	&.open {
		span {
			&:nth-child(1) {
				top: 18px;
				width: 0%;
				left: 50%;
			}
			&:nth-child(2) {
				transform: rotate(45deg);
			}
			&:nth-child(3) {
				transform: rotate(-45deg);
			}
			&:nth-child(4) {
				top: 18px;
				width: 0%;
				left: 50%;
			}
		}
	}
	@include xlarge-down {
		top: 27px;
	}
	@include xsmall-down {
		top: 25px;
	}
} //end mobile button
.main-nav {
	width: 100%;
	max-width: 690px;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	align-items: center;
	margin-right: 75px;
	overflow: hidden;
	&__link {
		font-size: 14px;
		font-weight: 500;
		a {
			color: $text-light;
			display: block;
			height: 80px;
			padding: 34px 16px 31px 16px;
			@include xlarge-down {
				font-size: 11px;
			}
			@include xsmall-down {
				font-size: 14px;
			}
		}
		cursor: pointer;
		&:hover {
			background-color: $main-dark;
		}

	}
	&__expander {
		position: relative;
		padding-right: 25px !important;
		z-index: 20;
		&:after {
			position: absolute;
			content: url(../img/icons/naw-arrow.svg);
			width: 9px;
			height: 6px;
			right: 10px;
			top: calc(50% - 7px);
			opacity: 0.5;
		}
		&:hover {
			&:after {
				opacity: 1;
			}
		}
	}
	&__arrow {
		margin-left: 5px;
	}
	&__second-level {
		display: none;
		position: absolute;
		background-color: $main-dark;
		z-index: 10;
		&.active {
			display: block;
		}
	}
	&__second-link {
		transition: background-color 0.3s ease;
		a {
			padding: 18px 53px 11px 0px;
			height: auto;
			margin-right: 20px;
			margin-left: 20px;
			border-bottom: 1px solid $background-main;
		}
		&:hover {
			background-color: $main-darkest;
			a {
				border-color: $main-darkest;
			}
			transition: background-color 0.3s ease;
		}
		&:last-child {
			a {
				border-bottom: none;
			}
		}
	}
	@include xlarge-down {
		margin-right: 25px;
		max-width: 650px;
		a {
			padding-left: 10px;
			padding-right: 10px;
		}
		&__second-link {
		a {
			padding: 18px 53px 11px 0px;
			}
		}
	}
}

.pages-nav {
	display: flex;
	align-items: center;
	flex-direction: row;
	.btn-transparent {
		margin-right: 10px;
	}
}

.user-page .pages-nav {
	display: none;
}

.user-page .user-nav {
	display: flex;
}

.user-page {
	.header-nav.mobile-nav {
		.main-nav {
      margin-bottom: 30px;
		}
		.user-nav {
			order: 1;
		}
	}
}

.user-nav {
	display: none;
	align-items: center;
	justify-content: center;
	position: relative;
	padding-right: 0;
	min-width: 130px;
	z-index: 10;
	&__message {
		position: relative;
		content: '';
		max-width: 24px;
		min-width: 24px;
		height: 17px;
		margin-right: 10px;
		padding-right: 15px;
		padding-top: 10px;
		padding-bottom: 10px;
		background-image: url('../img/icons/envelop-dark.svg');
		background-position: center;
		background-size: 60%;
		background-repeat: no-repeat;
		box-sizing: content-box;
		&-unread {
			background-image: url('../img/icons/envelop-white.svg');
		}
		&.new-messages-marker:after {
			top: -3px;
			right: -3px;
		}
		@include xsmall-down {
			display: none;
		}
	}
	&__avatar-wrap {
		display: flex;
		align-items: center;
		cursor: pointer;
		position: relative;
		padding-right: 20px;
		&:after {
			content: '';
			position: absolute;
			width: 0;
			height: 0;
			right: 0;
			top: calc(50% - 3px);
			border-style: solid;
			border-width: 6px 6.5px 0 6.5px;
			border-color: #ffffff transparent transparent transparent;
		}
		&:before {
			display: none;
			top: 1px;
			right: 20px;
			position: absolute;
			content: '';
			width: 9px;
			height: 9px;
			border-radius: 50px;
			background-color: #d82256;
			@include xsmall-down {
				display: block;
			}
		}
	}
	&__avatar {
		display: block;
		max-width: 47px;
		height: 47px;
		border-radius: 50px;
		pointer-events: none;
	}
	@include xsmall-down {
		&__avatar {
			width: 38px;
			height: 38px;
		}
	}
}
@media only screen and (max-width: 1023px){
	.user-nav {
			padding-right: 70px;
	}
}

.user-popup-menu {
	display: none !important;
	position: absolute;
	border-radius: 4px;
	background-color: #ffffff;
	box-shadow: 0 11px 21px 0px rgba(0, 0, 0, 0.24);
	min-width: 154px;
	top: 65px;
	right: -5px;
	z-index: 30;
	&__list {
		display: block;
		width: 100%;
	}
	&__divider {
		content: '';
		position: relative;
		height: 1px;
		width: 80%;
		margin: 0 auto;
		background-color: #e8e8e8;
	}
	&__item {
		position: relative;

		cursor: pointer;
		&:last-child a{
			padding-top: 12px;
			padding-bottom: 12px;
			border-radius: 0 0 4px 4px;
		}
		&:last-child {
			border-radius: 0 0 4px 4px;
		}
		&:first-child {
			border-radius: 4px 4px 0 0;
		}
		a {
			display: block;
			font-family: 'Roboto', sans-serif;
			font-size: 13px;
			font-weight: normal;
			line-height: 1.2;
			text-align: left;
			color: #250f47;
			padding: 10px 15px;
			padding-left: 39px;
		}
		&:before {
			position: absolute;
			display: block;
			content: '';
			top: calc(50% - 13px);
			left: 17px;
			width: 11px;
			height: 24px;
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;
		}
		&-message {
			&:before {
				background-image: url(../img/icons/user-menu/blog.svg);
			}
			&:hover, &:active, &:focus {
				background-color: #d82256;
				box-shadow: 0 10px 7px -7px rgba(0, 0, 0, 0.19);
				a {
					color: $white;
				}
				&:before {
					background-image: url(../img/icons/user-menu/blog-white.svg);
				}
			}
		}
		&-meeting {
			&:before {
				background-image: url(../img/icons/user-menu/microphone-gray.svg);
			}
			&:hover, &:active, &:focus {
				background-color: #d82256;
				box-shadow: 0 10px 7px -7px rgba(0, 0, 0, 0.19);
				a {
					color: $white;
				}
				&:before {
					background-image: url(../img/icons/user-menu/microphone-white.svg);
				}
			}
		}
		&-direct {
			&:before {
				background-image: url(../img/icons/user-menu/mail.svg);
			}
			&:hover, &:active, &:focus {
				background-color: #d82256;
				box-shadow: 0 10px 7px -7px rgba(0, 0, 0, 0.19);
				a {
					color: $white;
				}
				&:before {
					background-image: url(../img/icons/user-menu/mail-white.svg);
				}
			}
		}
		&-profile {
			&:before {
				background-image: url(../img/icons/user-menu/user-silhouette.svg);
			}
			&:hover, &:active, &:focus {
				box-shadow: 0 10px 7px -7px rgba(0, 0, 0, 0.19);
				background-color: #d82256;
				a {
					color: $white;
				}
				&:before {
					background-image: url(../img/icons/user-menu/user-silhouette-white.svg);
				}
			}
		}
		&-logout {
			&:before {
				background-image: url(../img/icons/user-menu/logout.svg);
			}
			&:hover, &:active, &:focus {
				background-color: #d82256;
				box-shadow: 0 10px 7px -7px rgba(0, 0, 0, 0.19);
				a {
					color: $white;
				}
				&:before {
					background-image: url(../img/icons/user-menu/logout-white.svg);
				}
			}
		}
	}
}

.user-popup-menu.active {
	display: block !important;
	opacity: 1 !important;
	animation: slideInUserMenu 0.3s;
}

.content-page .pages-nav {
	display: flex !important;
}


.header-nav.mobile-nav {
	display: none;
	background-color: #271049;
	position: absolute;
	flex-direction: column;
	top: 0;
	left: 0;
	right: 0;
  padding-bottom: 30px;
  opacity: 1;
	animation: fadeOut 0.3s;
	.pages-nav {
		flex-direction: column;
	}
	.main-nav {
		flex-direction: column;
		left: 0;
		right: 0;
		margin: 0 auto;
		max-width: 100%;
		margin-top: 80px;
		margin-bottom: 80px;
		min-height: 250px;
		&__link {
			width: 100%;
			border-bottom: 1px rgba(255, 255, 255, 0.17) solid;
			text-align: center;
			a {
				display: inline-block;
				width: auto;
				padding: 0;
				padding-bottom: 8px;
				margin-right: auto;
				margin-left: auto;
				margin-top: 15px;
				height: auto;
				font-size: 20px;
				font-weight: 500;
				line-height: normal;
				padding-right: 0 !important;
			}
			&:hover {
				background-color: #271049;
			}
		}
		&__arrow {
			width: 12px;
			margin-left: 10px;
			margin-bottom: 1px;
		}
		&__second-level {
			position: relative;
			background-color: #271049;
			padding-top: 16px;
			padding-bottom: 16px;
			a {
				margin: 0;
				font-size: 16px;
				font-weight: 500;
				line-height: 1.88;
				text-align: center;
				color: #d2c0ec;
				opacity: 0.4;
				transition: opacity 0.3s ease;
				border-bottom: none;
				&:hover, &:active, &:focus{
					color: #fff;
					opacity: 1;
					transition: opacity 0.3s ease;
				}
			}
		}
		&__expander {
			&:after {
				display: inline-block;
				position: relative;
				content: url(../img/icons/naw-arrow.svg);
				width: 12px;
				height: 8px;
				top: -2px;
				right: -8px;
				opacity: 0.5;
			}
		}
	}
	.btn {
		&__nav-transparent {
			width: auto;
			font-size: 20px;
			padding: 8px 20px 10px 20px;
			margin-bottom: 15px;
		}
		&__nav-white {
			width: auto;
			font-size: 20px;
			padding: 15px 10px 12px 15px;
		}
	}

	.user-nav {
		position: absolute;
		top: 10px;
		right: 0;
		left: 0;
		.user-popup-menu {
			right: 0;
			left: 0;
			margin: 0 auto;
			max-width: 157px;
			bottom: -180px;
		}
	}
}

.header-nav.mobile-nav.open {
	position: fixed;
	top: 0;
	bottom: 0;
	display: block;
	overflow: scroll;
	height: auto;
	animation: fadeIn 0.3s;
	z-index: 5;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.mobilemenu-open{
	max-height: 100vh;
	overflow: hidden;
}

/* Popups */

.popup-main {
	&-middle {
		position: fixed;
		display: none;
		align-items: center;
		flex-direction: column;
		justify-content: center;
		padding: 15px;
		width: 100%;
		height: 100vh;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 200;
		background-color: rgba(#000, 0.9);
		&.active {
			display: flex;
		}
		&__window {
			top: 0;
			position: relative;
			left: 0;
			right: 0;
			width: 100%;
			max-width: 365px;
			margin: 0 auto;
			background-color: #fff;
			border-radius: 6px;
		}
	}
	&__window {
		top: 0;
		position: relative;
		left: 0;
		right: 0;
		width: 100%;
		max-width: 365px;
		margin: 0 auto;
		background-color: #fff;
		border-radius: 6px;
		padding: 40px 15px;
		margin-bottom: 15px;
		text-align: center;
	}
	&__inner {
		max-width: 250px;
		margin-right: auto;
		margin-left: auto;
	}
	&__title {
		font-family: 'PTSans', sans-serif;
		font-size: 24px;
		font-weight: bold;
		line-height: 1.2;
		color: #250f47;
		text-align: center;
		margin-bottom: 25px;
	}
	&__text {
		font-family: 'Roboto', sans-serif;
		font-size: 16px;
		line-height: 1.25;
		text-align: center;
		color: #250f47;
		margin-bottom: 35px;
	}
	&__form {
		margin-top: 0;
		input {
			color: #250f47 !important;
		}
	}
	&__bottom-btn {
		font-family: 'Roboto', sans-serif;
		font-size: 14px;
		font-weight: normal;
		line-height: 1.2;
		text-align: center;
		color: #ffffff;
		text-decoration: underline;
	}
	&__forgot {
		display: inline-block;
		font-family: 'Roboto', sans-serif;
		font-size: 14px;
		font-weight: normal;
		line-height: 1.2;
		text-align: center;
		color: #939496;
		margin-top: 10px;
		text-decoration: underline;
		&:hover {
			color: #000;
		}
	}
	.btn.btn__main {
		margin-top: 50px;
		max-width: 180px;
		margin-right: auto;
		margin-left: auto;
	}

	&-error {
		.popup-main {
			&__title {
				color: #d82256;
			}
			&__text-error {
				color: #d82256;
				margin-bottom: 10px;
			}
		}
	}
	&-passError {
		.popup-main {
			&__title {
				text-align: left;
			}
			&__text {
				text-align: left;
			}
			&__window {
				background-image: url(../img/popups/hexset-bott.png);
				background-position: bottom right;
				background-size: auto;
				background-repeat: no-repeat;
			}
		}
	}
	&-success {
		.popup-main {
			&__title {
				text-align: left;
				margin-bottom: 15px;
			}
			&__text {
				text-align: left;
				line-height: 1.8;
			}
			&__window {
				background-image: url(../img/popups/hexset-bott.png);
				background-position: bottom right;
				background-size: auto;
				background-repeat: no-repeat;
			}
		}
	}
}
.popup-large{
	justify-content: flex-start;
	align-items: flex-start;
	padding-top: 30px;
	.popup-main__text{
		text-align: left !important;
	}
	.sheet-text-wrap p {
		text-align: left;
		width: 100%;
		max-width: 100%;
		margin-bottom: 20px;
	}
	.popup-main__window{
		max-width: 98%;
		max-height: 80vh;
		position: relative;
		.popup-main__inner{
			position: relative;
			height: 70vh;
			max-width: 100%;
			padding: 0 30px;
			overflow-y: scroll;
		}
	}
}

.register-popup {
	position: fixed;
	display: none;
	align-items: center;
	flex-direction: column;
	justify-content: space-around;
	padding: 15px;
	width: 100%;
	height: 100vh;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 200;
	background-color: rgba(#000, 0.9);
	&-active {
		display: flex;
	}
	&__window {
		top: 0;
		position: relative;
		left: 0;
		right: 0;
		width: 100%;
		max-width: 365px;
		margin: 0 auto;
		background-color: #fff;
		border-radius: 6px;
	}

	.meeting-popup {
		box-shadow: none;
		border-radius: 6px;
		padding-bottom: 30px;
		.meeting__top {
			border-radius: 6px 6px 0 0;
			&:after {
				display: none;
			}
		}
		.btn {
			max-width: 140px;
			margin-top: 30px;
			margin-right: auto;
			margin-left: auto;
		}
		.message-form {
			max-width: 250px;
			margin-right: auto;
			margin-left: auto;
			input {
				display: block;
				position: relative;
				font-family: 'Roboto', sans-serif;
				background-color: rgba(255, 255, 255, 0);
				border: none;
				font-size: 14px;
				color: #250f47;
				border-bottom: 1px #b3b3b3 solid;
				padding-bottom: 13px;
				padding-top: 22px;
				width: 100%;
				&::placeholder {
					font-size: 14px;
					color: #767676;
				}
			}
		}
		.subscribe__input {
			font-size: 14px;
			color: #767676;
			&::placeholder {
				font-size: 14px;
				color: #767676;
			}
		}
		.meetings-slider__date-line {
			font-size: 12px;
		}
		.meeting__title {
			margin-bottom: 5px;
		}
	}
}

.subscribe__form .subscribe {
	&__ckeck-wrap {
		display: flex;
		align-items: center;
		margin-top: 15px;
		input {
			width: auto;
			min-width: auto;
			height: auto;
			min-height: auto;
			position: relative;
			box-sizing: content-box;
			overflow: hidden;
			margin: 0;
			padding: 0;
			position: relative;
			border-bottom: none;
			&:before {
				content: '';
				display: block;
				box-sizing: content-box;
				width: 14px;
				height: 14px;
				border-radius: 2px;
				border: 1px #c2c2c2 solid;
			}
			&:after {
				position: absolute;
				display: none;
				content: '';
				box-sizing: content-box;
				left: 0;
				right: 0;
				margin: auto auto;
				top: 0px;
				bottom: 0;
				width: 12px;
				height: 12px;
				opacity: 0.5;
				border-radius: 2px;
				background-image: url(../img/icons/check.svg);
				background-position: center;
				background-size: contain;
				background-repeat: no-repeat;
			}
			&:checked:after {
				display: block;
			}
		}
		label {
			font-family: 'Roboto', sans-serif;
			font-size: 14px;
			font-weight: normal;
			font-style: normal;
			font-stretch: normal;
			line-height: 1.1;
			letter-spacing: normal;
			color: #939496;
			margin-left: 5px;
		}
	}
}
