/*---- Pages Header -----*/

.pages-header {
	width: 100%;
	height: auto;
	padding-top: 750px;
	margin-top: 80px;
	border-bottom: 1px #fff solid;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 10;
	overflow: hidden;
	&__overlay {
		border-bottom: 1px #fff solid;
		content: '';
		position: absolute;
		bottom: 0;
		top: 0;
		right: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(#250f47, 0.7);
		z-index: 0;
	}
	&__wave {
		position: absolute;
		width: 100%;
		height: 1000px;
		bottom: 0px;
		background-image: url(../img/about-awir/pages-gb-long-wave-02.png);
		background-size: 2560px;
		background-position: center bottom;
		background-repeat: no-repeat;
	}
	&__wave-img {
		width: 100%;
	}

	@include xlarge-down {
		margin-top: 60px;
	}
	@include medium-down {
		padding-top: 490px;
		&__wave {
			background-size: 1800px;
		}
	}
	@include small-down {
		padding-top: 410px;
		&__wave {
			left: auto;
			right: -210px;
			width: 200%;
			background-size: 1200px;
			background-position: center bottom;
		}
	}
	@include xsmall-down {
		padding-top: 310px;
		&__wave {
			height: auto;
			top: 0;
			left: auto;
			right: 0;
			width: 100%;
			background-image: url(../img/about-awir/pages-bg-wave-mobile.png);
			background-size: auto;
			background-position: center bottom;
		}
	}
}

/*----- pages-wave -----*/

.pages-wave {
	min-height: 306px;
	left: 0;
	right: 0;
	top: 346px;
	width: 100%;
	background-size: cover;
	z-index: 10;
	overflow: hidden;

	img {
		width: 100%;
		min-width: 1360px;
		height: auto;
	}
}

.sheet-section {
	position: relative;
}

/*----- Containers -----*/

.sheet-container,
.pages-headline {
	width: 100%;
	max-width: 1128px;
	margin: 0 auto;
	position: relative;
	z-index: 10;
}

.pages-headline {
	margin-bottom: 25px;
	padding-right: 60px;
	padding-left: 60px;
	padding-top: 305px;
	&__alone {}
	@include medium-down {
		padding-top: 23%;
	}
	@include xsmall-down {
		&__alone {
			padding-top: 105px;
			margin-bottom: 0;
		}
		padding-top: 95px;
	}
	@include xsmall-down {
		padding-right: 15px;
		padding-left: 15px;
	}
}

.pages-lable {
	display: flex;
	align-items: center;
	padding: 50px 66px;
	border-radius: 6px;
	background-color: #f6f6f6;
	min-height: 105px;
	position: relative;
	margin-bottom: 60px;
	&:before {
		position: absolute;
		content: '';
		top: 0;
		width: 94px;
		height: 100%;
		left: 0;
		background-image: url(../img/clinical-trials/hexset-left-bott.png);
		background-size: contain;
		background-position: bottom left;
		background-repeat: no-repeat;
	}
	&:after {
		position: absolute;
		content: '';
		width: 62px;
		height: 100%;
		right: 0;
		bottom: 0;
		background-image: url(../img/clinical-trials/hexset-right-top.png);
		background-size: contain;
		background-position: top right;
		background-repeat: no-repeat;
	}
	p {
		font-family: 'Roboto', sans-serif;
		font-size: 14px;
		font-weight: normal;
		line-height: 1.29;
		text-align: center;
		color: #250f47;
	}
	h2 {
		width: 100%;
		font-family: 'Roboto', sans-serif;
		font-size: 24px;
		font-weight: bold;
		line-height: 1.3;
		text-align: center;
		color: #250f47;
		span {
			font-family: inherit;
			font-size: 24px;
			font-weight: bold;
			color: #ff0050;
		}
	}
	h3 {
		width: 100%;
		font-family: 'PTSans', sans-serif;
		font-size: 20px;
		font-weight: bold;
		line-height: 1.5;
		text-align: center;
		color: #250f47;
	}
}

.sheet-text-wrap {
	margin-bottom: 60px;
	h1 {
		font-family: 'Roboto', sans-serif;
		position: relative;
		color: $about-title;
		font-size: 40px;
		font-weight: bold;
		line-height: 1.58;
		text-align: left;
		margin-bottom: 40px;
		&:after {
			position: absolute;
			content: '';
			width: 143px;
			height: 7px;
			bottom: -10px;
			right: 0;
			left: 0;
			margin-right: auto;
			margin-left: 0;
			background-color: $title-underline;
		}
		@include medium-down {
			font-size: 28px;
		}
		@include small-down {
			line-height: 1.2;
		}
		@include xsmall-down {
			font-size: 21px;
			line-height: 1.2;
		}
	}
	h2 {
		font-family: 'PTSans', sans-serif;
		font-size: 30px;
		font-weight: bold;
		line-height: 1;
		color: #250f47;
		margin-bottom: 20px;

		@include medium-down {
			font-size: 26px;
			margin-bottom: 40px;
		}
		@include xsmall-down {
			font-size: 18px;
		}
	}
	h3 {
		font-family: 'Roboto', sans-serif;
		font-size: 18px;
		font-weight: bold;
		font-style: normal;
		font-stretch: normal;
		line-height: 1.33;
		letter-spacing: normal;
		color: #401557;
		margin-bottom: 15px;
	}
	h4 {
		font-family: 'Roboto', sans-serif;
		font-size: 20px;
		font-weight: bold;
		line-height: 1.5;
		color: #250f47;
	}
	p {
		font-family: 'Roboto', sans-serif;
		font-size: 16px;
		font-weight: normal;
		line-height: 1.5;
		color: #1a0835;

		width: 100%;
		max-width: 593px;
	}
	&.no-limit p{
		max-width: 100%;
	}
	a {
		color: #d82256;
		text-transform: uppercase;
		font-weight: bold;
		font-size: 16px;
	}
	ul {
		margin-bottom: 20px;
	}
	li {
		p {
			&:first-child {
				max-width: 120px;
			}
		}
	}

	@include medium-down {
		margin-bottom: 50px;
		h2 {
			margin-bottom: 10px;
		}
		ul {
			margin-bottom: 10px;
		}
		.cta-lable {
			margin-bottom: 45px;
		}
	}
}

/*----- hex sets -----*/

/* top */

.pages-hexset-wrap-top {
	display: none;
	position: absolute;
	top: 60px;
	left: 0;
	right: 0;
	height: 340px;
	width: 100%;
	overflow: hidden;
	z-index: 1;
	@include xsmall-down {
		display: block;
	}
}

.pages-set1 {
	position: absolute;
	left: 0px;
}

.set-mobile-top {
	position: absolute;
	right: -60px;
	top: 140px;
}

/* middle hex*/

.pages-hexset-wrap-middle {
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	height: 340px;
	width: 100%;
	overflow: hidden;

	@include small-down {
		display: none;
	}
}

/* Bottom hex */

.pages-hexset-wrap-bottom {
	position: absolute;
	top: auto;
	bottom: 170px;
	left: 0;
	right: 0;
	height: 430px;
	width: 100%;
	max-width: 1250px;
	margin: 0 auto;
	overflow: hidden;
	z-index: -1;
	&-chapters {
		bottom: 0;
		.pages-set4 {
			bottom: 45px;
			left: 88.5%;
			right: auto;
		}
		.pages-set6 {
			bottom: 160px;
			left: 88.5%;
			right: auto;
			position: absolute;
		}
	}
	&-expanded {
		max-width: 100%;
	}

	@include small-down {
		display: none;
	}
}

.chapters-phone {
	display: none;
	@include small-down {
		display: block;
	}
}


.pages-set3 {
	position: absolute;
	right: -20px;
	&-chapters {
		right: auto;
		left: -40px;
	}
}

.pages-set4 {
	position: absolute;
	left: 0;
}

.pages-set5 {
	position: absolute;
	bottom: -58px;
	right: -30px;
	transform: scale(0.75);
}

.pages-set4 {
	position: absolute;
	left: 0;
}

.pages-set7 {
	position: absolute;
	right: 89%;
	left: auto;
	bottom: 150px;
}

/*----- Pages Title -----*/

.pages-headline {
	&__category {
		color: $white;
		opacity: 0.7;
		font-size: 14px;
		font-weight: normal;
		text-align: left;
	}
	&__title {
		font-size: 63px;
		font-weight: bold;
		line-height: 1.3;
		text-align: left;
		color: $white;
		max-width: 80%;
	}

	@include medium-down {
		&__title {
			font-size: 50px;
			line-height: 1.02;
		}
	}
	@include small-down {
		&__title {
			font-size: 36px;
			line-height: 1.02;
			margin-top: 10px;
		}
	}
}

/*----- Sheet -----*/

.sheet {
	min-height: 100px;
	background-color: $white;
	box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.16);
	border-radius: 6px;
	padding: 45px 104px 100px 104px;
	margin-right: 60px;
	margin-left: 60px;
	min-height: 600px;
	overflow: hidden;
	position: relative;
	z-index: 50;
	box-sizing: border-box;
	margin-bottom: -70px;

  &-nopadding {
    padding: 0;
  }

  &-inner {
    //border: 3px dashed red;
    padding-left: 104px;
    padding-right: 104px;
    &-top {
      padding-top: 45px;
      background-color: #F7F7F7;
    }
    &-bottom {
      padding-top: 45px;
      padding-bottom: 100px;
      background-color: #F7F7F7;
    }
    &-middle {
      padding-top: 45px;
      background-color: #EFEEF6;
    }
  }

	&__title {
		color: $about-title;
		font-size: 40px;
		font-weight: bold;
		line-height: 1.3;
		text-align: left;
		margin-bottom: 30px;
	}
	&__title-main {
		color: $about-title;
		font-size: 40px;
		font-weight: bold;
		line-height: 1.3;
		text-align: left;
		margin-bottom: 15px;
	}
	&__medium-title {
		color: #250f47;
		font-size: 20px;
		font-weight: 700;
		line-height: 30px;
		margin-top: 30px;
		margin-bottom: 10px;
	}
	&__small-title {
		font-size: 18px;
		font-weight: bold;
		line-height: 1.33;
		text-align: left;
		color: #401557;
		margin-top: 30px;
		margin-bottom: 10px;
	}

	&__text {
		font-size: 16px;
		font-weight: normal;
		line-height: 1.5;
		text-align: left;
		color: #250f47;
		&-average {
			margin-bottom: 20px;
		}
	}

	@include medium-down {
		&__title {
			font-size: 30px;
		}
		&__title-main {
			font-size: 36px;
		}
		font-size: 40px;
		padding-right: 30px;
		padding-left: 30px;
	}
	@include xsmall-down {
		margin-bottom: 0px;
		padding-bottom: 45px;

		margin-right: 30px;
		margin-left: 30px;
		padding-right: 15px;
		padding-left: 15px;

		box-shadow: none;

		margin-top: 250px;
		margin-right: 0;
		margin-left: 0;
		width: 100%;
		border-radius: 0;

		background-color: rgba(255, 255, 255, 0);
	}
	@include small-down {
		&__title {
			line-height: 1.2;
		}
		.partners-title {
			text-align: center;
			margin-bottom: 60px;
			&:after {
				margin-right: auto !important;
				margin-left: auto !important;
			}
			&:not(:first-child) {
				margin-top: 100px;
			}
		}
	}
	@include xsmall-down {
		&__title {
			font-size: 21px;
			line-height: 1.2;
		}
		margin-top: 180px;
	}
}

/* Form validation styling*/

.message-form {
	.wpcf7-form-control-wrap {
		position: static;
	}
	span.wpcf7-not-valid-tip {
		color: #f00;
		font-size: 1em;
		font-weight: normal;
		display: block;
		position: absolute;
		bottom: 0;
		padding-top: 5px;
		padding-bottom: 5px;
		margin-bottom: 8px;
		background-color: #fff !important;
		width: 100%;
	}
	div.wpcf7-validation-errors,
	div.wpcf7-acceptance-missing,
	div.wpcf7-mail-sent-ng,
	div.wpcf7-aborted{
		border: none;
		margin: 0;
		margin-top: 15px;
		margin-left: auto;
		padding: 0;
		font-size: 13px;
		color: #f00;
		width: 100%;
		text-align: center;
	}
	.subscribe__input-wrap:hover span.wpcf7-not-valid-tip {
		display: none;
	}
	.subscribe__input-wrap:active span.wpcf7-not-valid-tip {
		display: none;
	}
}
