/* That SaSS! */
#owf-error-message, 
#owf-warning-message,
#owf-success-message {
    margin: 5px 5px 20px 0;
    box-shadow: 0px 0px 0px 0px;
}
.owf-end-components .edit-post-post-schedule,
.owf-end-components .components-checkbox-control__input {
    margin-top: 10px;
}
.owf-submit-button-div {
    float: left;
}
.owf-submit-button {
    margin: 2px 2px 0px 2px;
}
.owf-guten-hidden {
    display: none;
}
.owf-spinner span.components-spinner,
.owf-reassign span.components-spinner {
    height: 15px;
    width: 15px;
}