/**
 * CSS used by the Taxamo addon (Front-end)
 */

#ms-taxamo-wrapper {
	display: none;
	position: absolute;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #000;
	z-index: 30000000;
	background-color: rgba(0, 0, 0, 0.678);
	background: -webkit-radial-gradient(50% 50%, ellipse closest-corner, rgba(0, 0, 0, 0.55) 1%, rgba(0, 0, 0, 0.9) 100%);
	background: radial-gradient(50% 50%, ellipse closest-corner, rgba(0,0,0,0.55) 1%, rgba(0,0,0,0.9) 100%);
	filter: alpha(opacity = 90);
	background: -moz-radial-gradient(50% 50%, ellipse closest-corner, rgba(0,0,0,0.55) 1%, rgba(0,0,0,0.9) 100%);
	background: -ms-radial-gradient(50% 50%, ellipse closest-corner, rgba(0,0,0,0.55) 1%, rgba(0,0,0,0.9) 100%);

	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
	line-height: 1.428571429;
	color: #333;
	overflow: auto;
}

#ms-taxamo-wrapper * {
	padding: 0;
	margin: 0;
	border: 0;
}

#ms-taxamo-wrapper .ms-wrap {
	position: absolute;
	background-color: #f8f8f8;
	width: 500px;
	height: 450px;
	top: 50%;
	left: 50%;
	margin-top: -225px;
	margin-left: -250px;
	-webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
	border-radius: 6px;
	outline: 0;
	min-height: 300px;
	min-width: 200px;
	margin-bottom: 10px;
}

#ms-taxamo-wrapper .modal-header {
	height: 50px;
	padding: 15px;
	border-bottom: 1px solid #E5E5E5;
	position: relative;
	z-index: 2;
}

#ms-taxamo-wrapper .modal-title {
	margin: 0;
	line-height: 1.428571429;
	font-size: 18px;
}

#ms-taxamo-wrapper .modal-header .close {
	z-index: 1111;
	position: absolute;
	top: 18px;
	right: 20px;
	padding: 0;
	cursor: pointer;
	background: rgba(0, 0, 0, 0);
	border: 0;
	-webkit-appearance: none;
	font-size: 21px;
	font-weight: bold;
	line-height: 1;
	color: #000;
	text-shadow: 0 1px 0 #FFF;
	opacity: .2;
}

#ms-taxamo-wrapper .modal-footer {
	position: absolute;
	bottom: 35px;
	left: 0;
	right: 0;
	height: 35px;
	padding: 19px 20px 20px;
	text-align: right;
	border-top: 1px solid #E5E5E5;
	z-index: 2;
}

#ms-taxamo-wrapper .modal-header .close:focus,
#ms-taxamo-wrapper .modal-header .close:hover {
	opacity: 0.5;
}

#ms-taxamo-wrapper .btn {
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: normal;
	line-height: 21px;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	border: 1px solid rgba(0, 0, 0, 0);
	border-radius: 4px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	color: #333;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15),0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15),0 1px 1px rgba(0, 0, 0, 0.075);
	text-shadow: 0 1px 0 #FFF;
	background-color: #FFF;
	background-image: -webkit-gradient(linear,left 0,left 100%,from(#FFF),to(#E6E6E6));
	background-image: -webkit-linear-gradient(top,#fff,0%,#e6e6e6,100%);
	background-image: -moz-linear-gradient(top,#fff 0,#e6e6e6 100%);
	background-image: linear-gradient(to bottom,#FFF 0,#E6E6E6 100%);
	background-repeat: repeat-x;
	border-color: #CCC;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',endColorstr='#ffe6e6e6',GradientType=0);
	text-transform: none;
}

#ms-taxamo-wrapper .btn:hover,
#ms-taxamo-wrapper .btn:focus,
#ms-taxamo-wrapper .btn:active {
	border-color: #ADADAD;
}

#ms-taxamo-wrapper .btn[disabled],
#ms-taxamo-wrapper .btn.disabled {
	opacity: 0.5;
	cursor: default;
	box-shadow: none;
	text-shadow: none;
	border-color: #CCC;
}

#ms-taxamo-wrapper .btn+.btn {
	margin-bottom: 0;
	margin-left: 5px;
}

#ms-taxamo-wrapper .btn-primary {
	color: #FFF;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
	background-color: #3276B1;
	background-image: -webkit-gradient(linear,left 0,left 100%,from(#428BCA),to(#3071A9));
	background-image: -webkit-linear-gradient(top,#428bca,0%,#3071a9,100%);
	background-image: -moz-linear-gradient(top,#428bca 0,#3071a9 100%);
	background-image: linear-gradient(to bottom,#428BCA 0,#3071A9 100%);
	background-repeat: repeat-x;
	border-color: #2D6CA2;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff428bca',endColorstr='#ff3071a9',GradientType=0);
}

#ms-taxamo-wrapper .btn-primary:hover,
#ms-taxamo-wrapper .btn-primary:focus,
#ms-taxamo-wrapper .btn-primary:active {
	border-color: #036;
}

#ms-taxamo-wrapper .btn-primary[disabled],
#ms-taxamo-wrapper .btn-primary.disabled {
	border-color: #2D6CA2;
}

#ms-taxamo-wrapper .modal-body {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin-bottom: 74px;
	margin-top: 55px;
	padding: 0;
	overflow: auto;
	background-color: #fff;
	font-size: 14px;
	color: #333;
	line-height: 1.428571429;
	z-index: 1;
}

#ms-taxamo-wrapper .loading-message,
.ms-tax-loading-message {
	position: absolute;
	left: 0;
	right: 0;
	text-align: center;
	top: 45%;
	font-size: 20px;
	text-shadow: 0 1px 0px #fff;
	display: none;
	z-index: 1001;
}

#ms-taxamo-wrapper .is-loading .modal-body {
	-webkit-filter: blur(1px);
}

#ms-taxamo-wrapper .is-loading .loading-message,
body.ms-tax-is-loading .ms-tax-loading-message {
	display: block;
}

#ms-taxamo-wrapper .is-loading .modal-body:before,
body.ms-tax-is-loading .ms-tax-loading-overlay {
	content: '';
	display: block;
	position: absolute;
	left: 1px;
	top: 0;
	right: 1px;
	bottom: 1px;
	background-color: #FCFCFC;
	z-index: 1000;
	opacity: 0.8;
}

.ms-tax-loading-message,
body.ms-tax-is-loading .ms-tax-loading-overlay {
	position: fixed;
}

#ms-taxamo-wrapper .wpmui-wrapper,
#ms-taxamo-wrapper .wpmui-checkbox-wrapper {
	display: block;
	clear: both;
	margin: 0;
	padding: 8px 16px 8px;
	border-top: 1px solid #E5E5E5;
}

#ms-taxamo-wrapper .wpmui-field-description {
	padding: 0 0 5px;
	line-height: 1.3;
}

#ms-taxamo-wrapper .wpmui-label-after {
	padding: 5px 0 0;
	line-height: 1.3;
}

#ms-taxamo-wrapper .input,
#ms-taxamo-wrapper input,
#ms-taxamo-wrapper textarea,
#ms-taxamo-wrapper select {
	display: block;
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.428571429;
	color: #555;
	vertical-align: middle;
	background-color: #FFF;
	border: 1px solid #CCC;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

#ms-taxamo-wrapper .input:focus,
#ms-taxamo-wrapper input:focus,
#ms-taxamo-wrapper textarea:focus,
#ms-taxamo-wrapper select:focus {
	border-color: #66AFE9;
	outline: 0;
	color: #000;
}

#ms-taxamo-wrapper .wpmui-radio {
	display: inline-block;
	float: left;
	width: auto;
	height: auto;
	margin: 3px 4px 0 0;
}
#ms-taxamo-wrapper .wpmui-field-checkbox {
	display: inline-block;
	width: auto;
	height: auto;
	margin: 16px 0 0 18px;
}

#ms-taxamo-wrapper .wpmui-checkbox-caption {
	padding-left: 20px;
	font-weight: normal;
}

#ms-taxamo-wrapper .effective_tax_country {
	background-color: #9DE;
	color: #fff;
	text-align: center;
	text-shadow: 0 1px 0 #CEF;
}

/*
-----------------------
 Country Choice Styles
-----------------------
*/

#ms-taxamo-wrapper .vat_number_field,
#ms-taxamo-wrapper .manual_country_field {
	display: none;
}

#ms-taxamo-wrapper .ms-tax-vat .vat_number_field {
	display: block;
}

#ms-taxamo-wrapper .ms-tax-declared .manual_country_field {
	display: block;
}

/*
-------------------
 Responsive styles
-------------------
*/

@media only all and (max-width: 520px) {
	#ms-taxamo-wrapper .ms-wrap {
		left: 10px;
		right: 10px;
		width: auto;
		margin-left: 0;
	}
}

@media only all and (max-height: 470px) {
	#ms-taxamo-wrapper .ms-wrap {
		top: 10px;
		bottom: 10px;
		height: auto;
		margin-top: 0;
	}
}


/* 702106-1538054666 */