/* Notices */
.rtec-notice-all-admin {
    display: block;
    margin-top:30px;
    background: #fff;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
}
.rtec-all-admin-error {
    border-left: 4px solid #dc3232;
}
.rtec-notice-all-admin:after {
    display: table;
    clear: both;
    content: "";
}
.rtec-tooltip-link i {
    font-size: 16px;
    padding: 0 5px;
}
.rtec-img-wrap {
    display: inline-block;
    float: left;
    width: 100px;
    padding: 10px;
}
.rtec-img-wrap img {
    width: 100%;
}
.rtec-msg-wrap {
    display: inline;
    float: left;
    max-width: 500px;
    padding: 10px;
}
.rtec-msg-wrap p:first-child {
    margin-top: 0px;
}
.rtec-instructions {
    font-weight: bold;
    color: #a00;
}
.rtec-admin-wrap .rtec-notice,
.rtec-notice{
    display: inline-block;
    margin: 5px 0 15px;
    padding: 1px 12px;
    border-radius: 5px;
    background: #CFF7F3;
    border: 1px solid #9EE6DE;
}
.rtec-admin-wrap .rtec-notice {
    margin-bottom: 0;
}
.rtec-wrapper {
    box-sizing: border-box;
}
.rtec-radio-label {
    margin-right: 20px;
}
.rtec-view-selector a{
    display: inline-block;
    margin-right: 15px;
}
.rtec-fade {
    opacity: .7;
}
.rtec-single-event + .rtec-single-event.rtec-single-mvt {
    float: right;
}
/* remove notice */
.rtec-conf-alert {
    margin: 10px 0;
    box-shadow: 2px 2px 3px #ddd;
}
.rtec-individual-available {
    font-size: 16px;
    color: #d54e21;
}
/*
9EE6DE
46A99E

*/
div.rtec-green-bg,
div.rtec-a-button {
    display: inline-block;
    text-align: center;
}
.rtec-clear:after {
    display: table;
    clear: both;
    content: " ";
    visibility: hidden;
}
.rtec-admin-wrap hr {
    margin: 40px 0;
}
.rtec-admin-2-columns {
    width: 45.5%;
    display: inline-block;
}
.rtec-single-event {
    display: inline-block;
    vertical-align: top;
    width: 47.5%;
    margin: 0 2% 2em 0;
    border-radius: 5px;
}
.rtec-single-event:nth-child(2n) {
    margin-right: 0;
    margin-left: 2%;
}
#rtec-back-overview {
    margin-bottom: 20px;
    display: inline-block;
    font-weight: bold;
}
.rtec-event-actions,
.rtec-outline {
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
}
.rtec-event-actions {
    border-bottom: 1px solid #ccc;
}
.rtec-single-event .rtec-event-meta,
.rtec-single-event .rtec-event-actions,
.rtec-email-creator {
    background: #e5e5e5;
}
.rtec-single-event .rtec-mvt-list-item .rtec-event-actions {
    background: #FFEECD;
}
#rtec_csv_export_form {
    display: inline-block;
    vertical-align: top;
}
.rtec-event-meta {
    position: relative;
}
.rtec-single-event h3{
    margin: .25em 60px .25em 0;
    padding: .5em 10px 0;
}
.rtec-event-meta a,
.rtec-mvt-list-item a {
    text-decoration: none;
}
.rtec-event-meta a h3:hover,
.rtec-mvt-list-item a h3:hover {
    color: #00a0d2;
}
.rtec-event-meta p,
.rtec-mvt-list-item p {
    margin: 0;
    padding: .25em 10px;
}
.rtec-single .rtec-event-meta .rtec-reg-info p {
    padding-left: 0;
}
.rtec-venue-highlight,
.widefat  td.rtec-venue-highlight{
    color: #333;
    background-color: #ccc;
}
.rtec-single-mvt-event .rtec-venue-highlight,
.widefat .rtec-single-mvt-event td.rtec-venue-highlight {
    background-color: #FFEECD;
}
.rtec-single-mvt-event p.rtec-venue-highlight {
    border: 1px solid #D7B46F;
}
.rtec-admin-wrap .rtec-input-notice {
    background-color: #FFEECD;
    border: 1px solid #D7B46F;
}
.rtec-single .rtec-border-sides {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}
.rtec-event-meta .rtec-reg-info {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    padding: .5em 5px 0 0;
    text-align: center;
}
.rtec-single .rtec-event-meta .rtec-reg-info {
    position: relative;
    border-radius: 0;
}
.rtec-primary-button {
    background: #0085ba;
    border-color: #0073aa #006799 #006799;
    -webkit-box-shadow: 0 1px 0 #006799;
    box-shadow: 0 1px 0 #006799;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 -1px 1px #006799,1px 0 1px #006799,0 1px 1px #006799,-1px 0 1px #006799;
    display: inline-block;
    font-size: 13px;
    line-height: 26px;
    height: 28px;
    margin: 0;
    padding: 0 10px 1px;
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
    -webkit-appearance: none;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    white-space: nowrap;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.rtec-next { float: right; }
.rtec-view-all {
    display: block;
    text-align: center;
    padding: 5px;
}
a.rtec-wide {
    display: inline-block;
    width: 100%;
}

.rtec-admin-wrap .rtec-add-field,
.rtec-admin-wrap .rtec-add-mvt {
    width: 425px;
}
.rtec-single-event table td {
    word-wrap: break-word;
    max-width: 120px;
}
.rtec-wrapper .rtec-admin-secondary-button,
.rtec-wrapper .tablenav a.button {
    margin: 0 0 0 1em;
    display: inline-block;
}
.rtec-overview .rtec-admin-secondary-button{
    float: right;
    margin: .5em 1em .5em 1em;
}
.rtec-manage-match-actions {
    position: relative;
    display: none;
}
.rtec-manage-match-actions .spinner {
    margin-left: -10px;
    margin-top: -10px;
}
.rtec-overview .rtec-match-action {
    display: block;
    margin-top: .5em;
}
.rtec-admin-wrap .rtec-green-bg {
    font-weight: 700;
    background-color: #009688;
    border: none;
    border-radius: 2px;
}
.rtec-admin-wrap .rtec-green-bg a,
.rtec-admin-wrap .rtec-green-bg span {
    box-sizing: border-box;
    display: block;
    padding: 10px;
    color: #fff;
    text-decoration: none;
}
.rtec-admin-wrap .rtec-green-bg:hover,
.rtec-admin-wrap .rtec-green-bg:active,
.rtec-admin-wrap .rtec-green-bg:focus {
    opacity: .8;
}

.rtec-admin-wrap .rtec-green-bg:focus {
    border-color: #46A99E;
    -webkit-box-shadow: 0 0 3px #46A99E;
    box-shadow: 0 0 3px #46A99E;
}
.rtec-admin-wrap .wp-editor-wrap,
#wp-rtecSingleCustomConfirmation-wrap{
    max-width: 620px;
}
/* hidden event options */
.rtec-hidden-option-wrap {
    margin-bottom: 10px;
}
.rtec-sameline {
    display: inline-block;
}
.rtec-sameline label {
    margin-right: 10px;
}
.rtec-hidden-option-wrap code,
#rtec-event-details code{
    line-height: 2.0;
}
.rtec-hidden-options h4 {
    margin-bottom: .66em;
}

/* Single */
.rtec-single .rtec-single-event {
    width: 100%;
}
.rtec-single .rtec-reg-info {
    text-align: left;
    padding: .25em 10px;
}
.rtec-single table {
    position: relative;
}
.rtec-single .rtec-single-event table td {
    max-width: none;
}
.rtec-single table td input[type="checkbox"] {
    width: auto;
    margin: 0 0 0 8px;
}
.rtec-single table .rtec-checkbox {
    padding: 11px 0 0 3px;
}
.rtec-single .rtec-event-actions {
    padding-top: 1px;
}
.rtec-new-registration input,
.rtec-reg-row input {
    max-width: 100%;
}
.rtec-table-changing {
    position: absolute;
    top: 50%;
    bottom: 50%;
    right: 50%;
    left: 50%;
}
.rtec-first-data,
.rtec-checkbox {
    position: relative;
}
.rtec-notice-new {
    position: absolute;
    left: -15px;
    top: -2px;
    padding: 4px 5px 5px;
    line-height: 1;
    border-radius:50%;
    background: #ff6600;
    color: #fff;
    font-size: 10px;
}
#rtec-new-dismiss {
    padding-bottom: 5px;
    display: block;
}
#rtec-new-dismiss .rtec-notice-new {
    position: relative;
    top:auto;
    left:auto;
    margin:0;
    padding: 3px 5px;
}
.rtec-field-options-wrapper {
    width: 425px;
}
.rtec-field-options-wrapper,
.rtec-availability-options-wrapper {
    position: relative;
    margin-bottom: .5em;
    border: 1px solid #ddd;
    background: #fbfbfb;
}
.rtec-field-options-wrapper h4,
.rtec-availability-options-wrapper h4 {
    margin: 0;
    padding: .5em 1em;
    font-size: 1.2em;
    background: #ddd;
}
.rtec-field-options-wrapper .fa-trash{
    font-size: 1.2em;
}
.rtec-admin-wrap .rtec-field-options-wrapper > p {
    padding: 0 1em;
    margin-bottom: 10px;
}
.rtec-admin-wrap .rtec-field-options-wrapper label {
    font-weight: 600;
}
.rtec-reveal-field-atts {
    padding: 0 1em;
    margin: 5px 1em 1em !important;
}
.rtec-field-atts {
    padding: 0 1em;
    display: none;
}
.rtec-field-atts ul {
    list-style: disc inside;
}
#rtec-message-text-wrapper-up,
#rtec-message-text-wrapper-down,
#rtec-message-text-wrapper-other {
    margin-top: 0;
}
.rtec-message-group-wrap {
    box-sizing: border-box;
}
.rtec-message-group-wrap .rtec-admin-2-columns {
    width: 48.75%;
    margin: 0 0 5px;
    vertical-align: top;
}
.rtec-message-group-wrap .rtec-admin-row .rtec-admin-2-columns:first-child {
    margin-right: 1%;
}
.rtec-message-group-wrap .rtec-input-group {
    padding: 1em;
}
.rtec-field-options-wrapper h4 span {
    font-size: 12px;
    font-weight: normal;
}
.rtec-field-options-wrapper .rtec-other-input {
    width: 300px;
}
.rtec-field-options-wrapper .rtec-valid-count-input {
    width: 130px;
}
.rtec-custom-field-remove{
    position: absolute;
    right: 0;
    top: 0;
    padding: .5em;
    font-size: 1.2em;
    background: #FDA7AD;
    color: #23282d;
}
.rtec-checkbox-row label {
    margin-right: 1em;
}
.rtec-availability-options-wrapper {
    margin: 1.5em 0 .5em;
}
.rtec-confirmation-message-tr td {
    width: 400px;
    vertical-align: top;
}
.rtec-button-wrapper {
    display: block;
}
#rtec_registration_deadline {
    width: 70px;
}
.rtec-admin-wrap .form-table tbody tr td .description {
    display: block;
    width: 415px;
}
.rtec-admin-wrap .form-table th {
    min-width: 200px;
}
.rtec-mvt-field-remove i {
    font-size: 16px;
}

/* Tooltip table */
.rtec-tooltip-table{
    display: block;
    width: 94%;
    margin: 30px 0;
}
.rtec-tooltip-table .rtec-col-1,
.rtec-tooltip-table .rtec-col-2{
    padding: 4px 1%;
    border-bottom: 1px solid #ddd;
}
.rtec-tooltip-table .rtec-col-1{
    display: inline-block;
    width: 26%;
}
.rtec-tooltip-table .rtec-col-2{
    display: inline-block;
    width: 70%;
}
.rtec-preview-image {
    width: 300px;
}
.rtec-preview-image img {
    max-width: 290px;
}
.wp-core-ui .rtec-media-button {
    padding-left: 5px;
    margin-right: 5px;
    margin-bottom: 4px;
    padding-right: 7px;
}
.rtec-media-button span.wp-media-buttons-icon {
    display: inline-block;
    width: 18px;
    height: 18px;
    vertical-align: text-top;
    margin: 0 2px;
}
.rtec-media-button span.wp-media-buttons-icon:before {
    font: 400 18px/1 dashicons;
    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f104";
}

.rtec-support-button {
    border: none;
    border-radius: 4px;
    display: inline-block;
    padding: 3px 6px 4px;
    margin-bottom: 1em;
    width: auto;
    background-color: rgba(0, 102, 102, .8);
    color: #fff !important;
    text-decoration: none;
    text-align: center;
}
.rtec-support-button:hover {
    background-color: rgb(0, 102, 102);
}
.rtec-admin-event-registration-options-wrapper {
    width: 100%;
}
.rtec-admin-event-registration-options-wrapper a {
    float: right;
}

/** Styles added that can be removed once sortable elements introduced **/

.rtec-wrapper .rtec-event-options.postbox.open .toggle-indicator:before,
.rtec-mvt-list-item .rtecbox.open .toggle-indicator:before {
    content: "\f142";
    display: inline-block;
    font: 400 20px/1 dashicons;
    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-decoration: none!important;
}
.rtec-wrapper .rtec-event-options.postbox.closed .toggle-indicator:before,
.rtec-mvt-list-item .rtecbox.closed .toggle-indicator:before {
    content: "\f140";
    display: inline-block;
    font: 400 20px/1 dashicons;
    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-decoration: none!important;
}

.rtec-event-options.postbox {
    margin: 0;
    padding: 8px 2px 8px 10px;
    border: 1px solid #ddd;
    background: #e5e5e5;
}
.rtec-hidden-options.postbox {
    background-color: #eee;
}
.rtec-event-options.postbox .handlediv,
.rtec-mvt-list-item .handlediv{
    width: 32px;
    height: 32px;
    margin-top: -8px;
}
.rtec-event-options.postbox .hndle {
    cursor: pointer;
    border-bottom: none;
}
.rtec-event-options .rtec-update-event-options {
    float: left;
    margin: 16px 0 0;
}

@media all and (max-width: 910px) and (min-width: 600px){
    .rtec-overview .rtec-single-event tr th:nth-child(4),
    .rtec-overview .rtec-single-event tr td:nth-child(4) {
        display: none;
    }
}

@media all and (max-width: 600px){
    .rtec-overview .rtec-single-event,
    .rtec-overview .rtec-single-event {
        width: 100%;
        margin: 2em 2% 2em 2%;
    }
}

/* List View */
.rtec-registrations-data td {
    max-width: 150px;
}

.rtec-toolbar-secondary {
    max-width: 66%;
    display: inline-block;
}
.wp-core-ui .rtec-toolbar-button {
    display: inline-block;
    vertical-align: middle;
    margin: 0 8px 0 0;
}
.rtec-highlight {
    background: #ddd;
    font-weight: bold;
}
.rtec-wrapper .striped tbody .rtec-unconfirmed {
    background: #efefef;
}
span.rtec-unconfirmed,
span.rtec-is-user{
    padding: 4px 5px;
}
.rtec-wrapper .striped tbody .rtec-is-user {
    background: #C8F6F1;
}
.rtec-wrapper .striped tbody .rtec-unconfirmed.rtec-notice-new,
.rtec-legend.rtec-unconfirmed i {
    background: #333;
    color: #fff;
}
.rtec-admin-wrap .rtec-in-use .rtec-create-field.rtec-create-format {
    background: #d0aa27;
    color: #fff;
    font-weight: bold;
}
.rtec-wrapper .striped tbody .rtec-is-user.rtec-notice-new,
.rtec-legend.rtec-is-user i {
    background: #009688;
    color: #fff;
}
.rtec-legend.rtec-is-user i {
    padding: 4px 5px;
}
.rtec-legend i {
    padding: 4px;
    border-radius: 50%;
    font-size: 10px
}
.rtec-event-meta {
    margin-top: 10px
}
.rtec-unverified {
    background: #FDACB2;
}
.rtec-block {
    display: inline-block;
    width: 15px;
    height: 15px;
    vertical-align: middle;
    border: 1px solid #333;
}

.rtec-list-attendance {
    text-align: center;
}
.rtec-alert {
    display: inline-block;
    line-height: 19px;
    padding: 11px 15px;
    font-size: 14px;
    text-align: left;
    margin: 25px 20px 0 2px;
    background-color: #fff;
    border-left: 4px solid #ffba00;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
}
.rtec-overview-nav a {
    display: inline-block;
    font-size: 20px;
    text-decoration: none;
    padding: 10px;
}
#rtec-date-picker {
    background-color: #9EE6DE;
    border-color: #46A99E;
}

/* hidden event options */
.rtec-hidden-options .rtec-field-options-wrapper {
    box-sizing: border-box;
    max-width: 100%;
}

/* Support tab */
.rtec-support-title { font-size: 16px; font-weight: bold; }

/* Date Picker */
.rtec-ui-datepicker .ui-datepicker-prev .ui-icon,
.rtec-ui-datepicker .ui-datepicker-next .ui-icon {
    display: none;
}

/* ad */
.rtec-pro-ad-wrap {
    display: block;
    max-width: 700px;
    text-decoration: none;
}
.rtec-pro-ad {
    width: 100%;
    max-width: 400px;
    background: #CDF7F3;
    -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
}
.rtec-pro-ad img,
.rtec-pro-copy {
    display: block;
    margin: auto;
    padding: 10px;
}
.rtec-pro-copy span {
    font-size: 14px;
    color: #777;
}
.rtec-pro-copy span.rtec-bold {
    display: block;
    font-weight: 700;
    margin-bottom: 10px;
    font-size: 20px;
    color: #444;
    line-height: 1.2;
}
@media all and (min-width: 620px){
    .rtec-pro-ad {
        max-width: 700px;
    }
    .rtec-pro-ad img{
        display: inline-block;
    }
    .rtec-pro-copy {
        display: inline-block;
        width: 70%;
        max-width: 490px;
        vertical-align: top;
        margin-top: 50px;
        padding: 0;
    }
}