.main-section{
    overflow: hidden;
}

.parallax-image{
    margin-top: -1px;
}

.about p,
.main-section .button,
.speakers-right-column,
.speakers-left-column {
  /* opacity: 0; */
  will-change: transform;
}

.main-section .news-brief > div,
.video-wysiwyg {
  /* opacity: 0; */
}

.about p,
.main-section .button,
.main-section .news-brief > div,
.speakers-right-column,
.speakers-left-column,
.video-wysiwyg {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.about p,
.main-section .button {
  animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
}

.main-section .news-brief > div:nth-child(2){
    animation-delay: 100ms;
}

.main-section .news-brief > div:nth-child(3){
    animation-delay: 200ms;
}

@keyframes bffFadeInDown {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.bffFadeInDown {
  animation-name: bffFadeInDown;
}

@keyframes bffFadeInUp {
  from {
    opacity: 0;
    transform: translateY(100%);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.bffFadeInUp {
  animation-name: bffFadeInUp;
}

@keyframes bffBounceInUp {

  from {
    opacity: 0;
    transform: translateY(1000px);
  }

  60% {
    opacity: 1;
    transform: translateY(-20px);
  }

  75% {
    transform: translateY(10px);
  }

  90% {
    transform: translateY(-5px);
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.bffBounceInUp {
  animation-name: bffBounceInUp;
}

@keyframes bffBounceInLeft {

  0% {
    opacity: 0;
    transform: translateX(-1000px);
  }

  60% {
    opacity: 1;
    transform: translateX(25px);
  }

  75% {
    transform: translateX(-10px);
  }

  90% {
    transform: translateX(5px);
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.bffBounceInLeft {
  animation-name: bffBounceInLeft;
}

@keyframes bffFlipInY {
  from {
    transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    animation-timing-function: ease-in;
  }

  60% {
    transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    opacity: 1;
  }

  80% {
    transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
  }

  to {
    transform: perspective(400px);
    opacity: 1;
  }
}

.bffFlipInY {
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important;
  animation-name: bffFlipInY;
}
