.main-div {
    border-bottom: solid 1px #e5dfd9;
    padding-bottom: 30px;
    margin-bottom: 30px;
    line-height: 34px;
    font-size: 24px;
    margin-top: -10px;
}
.timing {
    color: #ff00ff;
    padding-right: 52px;
    font-weight: 700;
    font-size: 24px;
}
@media (max-width: 768px) {
    .timing {
        display: block;
    }
}
.heading {
    font-size: 24px;
}


.columns {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 5px 0;
}
.unordered > ul {
    color: #ff00ff;
    font-size: 18px;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 18px;
}
.column1 {
    /*flex: 1;*/
    /*border: 1px solid gray;
    margin: 2px;
    padding: 10px;*/
    float: left;
    width: 33.33%;
    &:first-child { margin-left: 0; }
    &:last-child { margin-right: 0; }
    
}
.column2 {
    float: left;
    width: 66.33%;
    &:first-child { margin-left: 0; }
    &:last-child { margin-right: 0; }
}
.column3 {
    position: absolute;
    right: 0;
}
.image-logo {
    width: 100px;
    height: 40px;
    float: right;
    margin-right: 20px;
}
.sub-content {
    color: #ff00ff;
    font-size: 18px;
    margin-top: 8px;
    margin-bottom: 8px;
}

.workshop-width {
    width: 16.33%;
    display: inline-block;
    vertical-align: top;
    padding: 20px;
}
.workshop-width .portrait > div {
    padding-bottom: 100%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
    background-position: center center;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;
}
.workshop-width hgroup > h4 {
    font-size: 20px;
}
.workshop-width hgroup > h5 {
    font-size: 14px;
    font-family: 'OswaldLight';
}
.medium-content {
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 0 0px;
    font-size: 24px;
    line-height: 24px;
    font-family: 'KarlaRegular', 'Arial', 'Helvetica', 'sans-serif';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
}

.session-main {
    width: 100%;
}
.session-width {
    width: 18%;
    display: inline-block;
    vertical-align: top;
    padding-left: 20px;
}
.session-width > div {
    border: 5px solid #ff00ff;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 30px;
    padding-bottom: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: white;
}
.session-width .portrait > h4 {
    font-size: 20px;
    color: #ff00ff;
    padding-bottom: 20px;
}
.session-width .portrait > h3 {
    font-size: 14px;
    padding-bottom: 20px;
}
.session-width .portrait > p {
    font-size: 16px;
    color: #ff00ff;
}
.session-img {
    text-align: right;
}
.session-img > .image-logo{
    width: 101px;
    height: 30px;
    text-align: right;
    float: none;
    margin-top: 20px;
    margin-right: 0px;
}
.speakers-heading {
    font-size: 55px;
    line-height: 65px;
    margin-bottom: 10px;
    font-family: 'OswaldDemiBold';
    margin: 0 0 20px 0;
    padding: 0;
    font-weight: normal;
    padding-top: 80px;
    text-transform: uppercase;
    padding-bottom: 5px
}

@media screen and (max-width: 1024px) {
  .column1 {
        float: left;
        width: 100%;
        padding-bottom: 10px;
    }
    .column2 {
        float: left;
        width: 100%;
    }
    .workshop-width {
        width: 100% !important;
    }
}
@media screen and (max-width: 768px) {
   .workshop-width {
        width: 50% !important;
        padding: 10px;
    }
    .session-width {
        width: 100% !important;
        margin-bottom: 15px;
        padding-left: 0px;
    }
    .column3 > .image-logo {
        width: 70px;
        height: 31px;
        float: right;
        margin-right: 0;
    }
    .session-img > .image-logo {
        width: 85px;
        height: 30px;
        text-align: right;
        float: none;
        margin-top: 20px;
        margin-right: 0px;
    }
    .speak-main {
        margin: 0 -15px;
    }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .workshop-width {
        width: 25% !important;
        padding: 10px;
    }
    .session-width {
        width: 29% !important;
        margin-bottom: 15px;
    }
}
@media screen and  (min-width: 1024px) and (max-width: 1366px) {
    .session-width {
        width: 17% !important;
    }
}