/*@font-face {
	font-family: 'MyWebFont';
	src: url('webfont.eot'); <= IE9 Compat Modes
	src: url('webfont.eot?#iefix') format('embedded-opentype'), <= IE6-IE8
		 url('webfont.woff2') format('woff2'), <= Super Modern Browsers
		 url('webfont.woff') format('woff'), <= Pretty Modern Browsers
		 url('webfont.ttf')  format('truetype'), <= Safari, Android, iOS
		 url('webfont.svg#svgFontName') format('svg'); <= Legacy iOS
	font-weight: normal;
	font-style: normal;
}*/
@font-face {
	font-family: 'KarlaRegular';
	src: url('../fonts/karla/regular/karla-regular.eot'); 
	src: url('../fonts/karla/regular/karla-regular.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/karla/regular/karla-regular.woff') format('woff'),
		 url('../fonts/karla/regular/karla-regular.ttf')  format('truetype'),
		 url('../fonts/karla/regular/karla-regular.svg#KarlaRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'KarlaBold';
	src: url('../fonts/karla/bold/karla-bold.eot'); 
	src: url('../fonts/karla/bold/karla-bold.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/karla/bold/karla-bold.woff') format('woff'),
		 url('../fonts/karla/bold/karla-bold.ttf')  format('truetype'),
		 url('../fonts/karla/bold/karla-bold.svg#KarlaBold') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'OswaldMedium';
	src: url('../fonts/oswald/medium/oswald-medium.eot'); 
	src: url('../fonts/oswald/medium/oswald-medium.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/oswald/medium/oswald-medium.woff') format('woff'),
		 url('../fonts/oswald/medium/oswald-medium.ttf')  format('truetype'),
		 url('../fonts/oswald/medium/oswald-medium.svg#OswaldMedium') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'OswaldLight';
	src: url('../fonts/oswald/light/oswald-light.eot'); 
	src: url('../fonts/oswald/light/oswald-light.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/oswald/light/oswald-light.woff') format('woff'),
		 url('../fonts/oswald/light/oswald-light.ttf')  format('truetype'),
		 url('../fonts/oswald/light/oswald-light.svg#OswaldLight') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'OswaldExtraLight';
	src: url('../fonts/oswald/extra-light/oswald-extra-light.eot'); 
	src: url('../fonts/oswald/extra-light/oswald-extra-light.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/oswald/extra-light/oswald-extra-light.woff') format('woff'),
		 url('../fonts/oswald/extra-light/oswald-extra-light.ttf')  format('truetype'),
		 url('../fonts/oswald/extra-light/oswald-extra-light.svg#OswaldExtraLight') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'OswaldRegular';
	src: url('../fonts/oswald/regular/oswald-regular.eot'); 
	src: url('../fonts/oswald/regular/oswald-regular.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/oswald/regular/oswald-regular.woff') format('woff'),
		 url('../fonts/oswald/regular/oswald-regular.ttf')  format('truetype'),
		 url('../fonts/oswald/regular/oswald-regular.svg#OswaldRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'OswaldDemiBold';
	src: url('../fonts/oswald/demi-bold/oswald-demi-bold.eot'); 
	src: url('../fonts/oswald/demi-bold/oswald-demi-bold.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/oswald/demi-bold/oswald-demi-bold.woff') format('woff'),
		 url('../fonts/oswald/demi-bold/oswald-demi-bold.ttf')  format('truetype'),
		 url('../fonts/oswald/demi-bold/oswald-demi-bold.svg#OswaldDemiBold') format('svg');
	font-weight: normal;
	font-style: normal;
}