.advertisement {
    padding: 20px 0;
    margin-top: 50px;
  }
  
  .advertisement.header-ad {
    margin-top: 0;
    background: #494949;
    background: -moz-linear-gradient(top, #494949 1%, #000000 100%);
    background: -webkit-linear-gradient(top, #494949 1%,#000000 100%);
    background: linear-gradient(to bottom, #494949 1%,#000000 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#494949', endColorstr='#000000',GradientType=0 );
  }
  
  .advertisement img {
    display: block;
  }
  
  .advertisement__heading {
    font-family: 'Arial', sans-serif;
    font-size: 12px;
    line-height: 18px;
    font-weight: normal;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 5px;
  }
  
  
  .advertisement__gpt-ad {
    display: inline-block;
    border: solid 1px #ddd;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
  
  #sub-page .advertisement{
    margin-top: 0;
    margin-bottom: 30px;
    padding-top: 0;
  }
  
  #sub-page .advertisement__heading {
    color: #fff;
  }
  
  #sub-page .advertisement__gpt-ad {
    border-color: #666;
  }
  
  @media only screen and (max-width:728px){
    .advertisement.header-ad{
      display: none;
    }
  }
  