@media only screen and (max-width:1200px){
    .parallax-image .logo{
        top: 25px;
        bottom: 100px;
    }
    #sub-page.news-article .parallax-image{
        padding-bottom: 50%;
    }
}

@media only screen and (max-width:1000px){
    #video-header-module .logo{
        top: 50px;
        bottom: 150px;
    }
    .video-module .top .video span{
        border-width: 5px;
    }
    .video a span{
        border-width: 4px;
    }
    .video-module .top .video .fa{
        font-size: 40px;
    }
    .video .fa{
        font-size: 28px;
    }
    .video-module h2{
        font-size: 40px;
        line-height: 46px;
    }
    .video-module p{
        font-size: 18px;
        line-height: 24px;
    }
    .parallax-image{
        padding-bottom: 70%;
    }
    .news-brief p, .news-module p{
        font-size: 16px;
        line-height: 22px;
    }
    .news-brief h3 a,
    .news-module h3 a{
        font-size: 25px;
        line-height: 31px;
    }
    .speakers h4{
        font-size: 16px;
        line-height: 22px;
    }
    .speakers h5{
        font-size: 14px;
        line-height: 20px;
    }
    .small-speaker-portrait{
        padding: 10px;
    }
    .large-speaker-portrait h4{
        font-size: 32px;
        line-height: 38px;
    }
    .large-speaker-portrait h5{
        font-size: 18px;
        line-height: 24px;
    }
    .sponsors h3{
        font-size: 16px;
        line-height: 22px;
        padding: 15px 20px;
    }
    .overlay .video-wrap{
        width: 70%;
    }
    #sub-page .parallax-image{
        padding-bottom: 35%;
    }
    #sub-page.news-article .parallax-image{
        padding-bottom: 60%;
    }

}

@media only screen and (max-width:900px){
    #main-navigation ul{
        margin-left: -100px;
    }
}

@media only screen and (max-width:768px){
    #nav-button{
        display: block;
    }

    #main-navigation ul{
        margin-left: 0;
    }

    .main-navigation,
    .fixed-main-navigation .main-navigation{
        width: 65px;
        height: 65px;
        position: fixed;
        z-index: 3;
        background: rgba(255, 0, 255, 1);
        border-radius: 50%;
        right: 10px;
        bottom: 10px;
        transition: all 200ms linear;
        overflow: hidden;
        /*box-shadow: -5px 5px 10px -4px #8d8d8d;*/
        top: auto;
        left: auto;
    }

    .main-navigation ul,
    .fixed-main-navigation .main-navigation ul{
        opacity: 0;
        transition: opacity 100ms linear;
    }
    .expand-navigation #nav-button div > span:nth-child(1){
        transform: rotate(-45deg);
        top: 10px;
    }

    .expand-navigation #nav-button div > span:nth-child(2){
        opacity: 0;
    }

    .expand-navigation #nav-button div > span:nth-child(3){
        transform: rotate(45deg);
        bottom: 10px;
    }

    .expand-navigation .main-navigation,
    .fixed-main-navigation.expand-navigation .main-navigation{
        width: 100%;
        height: 100%;
        border-radius: 0;
        bottom: 0;
        right: 0;
        box-shadow: none;
        background: rgba(255, 0, 255, 0.9);
    }

    .expand-navigation .main-navigation ul,
    .fixed-main-navigation.expand-navigation  .main-navigation ul{
        opacity: 1;
    }

    .main-navigation > ul > li{
        border-bottom: solid 1px #d30cd3;
    }

    .main-navigation ul{
        padding: 80px 0 0 0;
    }
    .main-navigation li{
        display: block;
        white-space: normal;
    }
    .main-navigation a,
    .main-navigation li.button a{
        font-size: 30px;
        line-height: 36px;
        padding: 10px 20px;
        text-align: left;
        font-family: 'OswaldLight';
        color: #fff;
        position: relative;
    }

    .main-navigation a:hover{
        color: #000;
    }
    .main-navigation a i{
        position: absolute;
        right: 10px;
        top: 8px;;
        width: 40px;
        height: 40px;
        color: #fff;
        text-align: center;
        line-height: 40px;
        margin: 0;
        transform: rotate(0deg);
        font-size: 23px;
        cursor: pointer;
/*        transition: all 200ms linear;*/
    }
    .main-navigation li.expand a i{
        transform: rotate(45deg);
    }
    .main-navigation .fa-caret-down:before{
        content: "\f067";
    }
    .main-navigation ul ul{
        position: static;
        background: transparent;
        padding: 0;
        text-align: left;
        font-size: 0;
        padding:0 15px 5px 15px;
        display: none;
/*        transition: all 200ms linear;*/
    }
    .main-navigation ul ul > li{
        display: inline-block;
    }
    .main-navigation li.expand ul{
        display: block;
    }
    .main-navigation ul ul a{
        font-family: 'KarlaBold';
        font-size: 16px;
        line-height: 22px;
        background-color: #9d079d;
        border-radius: 5px;
        padding: 5px 10px;
        margin: 4px;
        transition: all 300ms linear;
    }
    .main-navigation ul ul a:hover{
        background-color: #000;
        color: #fff;
    }
    .main-navigation li.button{
        border: none;
        margin: 0;
    }
    .main-navigation li.button span{
        background-color: transparent;
        padding: 0;
        border-radius: 0;
        font-size: 30px;
        line-height: 36px;
        font-family: 'OswaldLight';
        color: #fff;
         transition: all 300ms linear;
    }
    .main-navigation li.button a:hover span{
        background-color: transparent;
        color: #000;
    }


    #video-header-module .logo{
        top: 50px;
        bottom: 80px;
    }
    .about p, .about a{
        font-size: 25px;
        line-height: 35px;
    }
    .about b, .about strong{
        font-size: 30px;
        line-height: 36px;
    }
    .video-wysiwyg{
        width: 90%;
    }
    .video-module .top{
        display: block;
    }
    .video-module .top .column{
        display: block;
        width: auto;
    }
    .video-module .top .video span{
        border-width: 10px;
    }
    .video-module .top .video .fa{
        font-size: 50px;
    }
    .video-module .row{
        margin: 0;
    }
    .news-brief{
        display: block;
    }
    .news-brief > div{
        display: block;
        width: auto;
        border: none;
    }
    .news-brief h3 a, .news-module h3 a{
        font-size: 35px;
        line-height: 41px;
    }
    .news-brief p, .news-module p{
        font-size: 20px;
        line-height: 26px;
    }
    .speakers-row{
        display: block;
    }
    .speakers-left-column{
        display: block;
        width: 50%;
        margin: 0 auto;
    }
    .speakers-right-column, .speakers-wrapper{
        display: block;
        width: auto;
    }
    .sponsors li{
        width: 33.33333%;
    }
    .sponsors h3{
        font-size: 20px;
        line-height: 26px;
    }
    .social-icons a{
        width: 40px;
        height: 40px;
        line-height: 40px;
        font-size: 20px;
    }
    .main-footer .links > div{
        padding: 0 10px;
    }
    .overlay .video-wrap{
        width: 80%;
    }
    .parallax-image .logo{
        top: 20px;
        bottom: 20px;
    }
    #sub-page .main-aside, #sub-page .main-content{
        float: none;
        width: auto;
    }
    #main-aside{
        display: none;
    }
    .form-combobox{
        width: auto;
    }
    .news-module .left{
        padding-left: 0;
    }

    .news-module .right{
        padding-right: 0;
    }
    #sub-page.news-article .parallax-image{
        padding-bottom: 70%;
    }

    #countdown-clock{
        width: auto;
        text-align: center;
        padding: 0;
        margin: 0;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        background-color: #9d079d;
    }

    #countdown-clock > div{
        padding: 0 20px;
    }
    #countdown-clock > div:first-child{
        padding-top: 10px;
    }
    #countdown-clock > div:last-child{
        padding-bottom: 10px;
        padding-top: 5px;
        font-size: 26px;
        line-height: 32px;
        color: #72d5fa;
    }
    #countdown-clock .top{
        color: #fff;
        font-size: 30px;
    }
    .parallax-image{
        background-attachment: inherit;
    }
}

@media only screen and (max-width:570px){
    #video-header-module .logo{
        top: 20px;
        bottom: 60px;
    }
    #video-header-module h4{
        font-size: 15px;
        line-height: 21px;
    }
    .main-section{
        padding: 50px 0;
    }
    .about b, .about strong{
        font-size: 25px;
        line-height: 31px;
    }
    .about p, .about a{
        font-size: 20px;
        line-height: 30px;
    }
    .video-wysiwyg{
        width: 100%;
        padding: 20px 0 40px;
    }
    div.button a{
        font-size: 15px;
        line-height: 21px;
    }
    .video-module .video span,
    .video-module .top .video span{
        border-width: 5px;
    }
    .video-module .video .fa,
    .video-module .top .video .fa{
        font-size: 40px;
    }

    .video-module h2{
        font-size: 35px;
        line-height: 41px;
    }
    .video-module p{
        font-size: 16px;
        line-height: 22px;
    }
    .parallax-image{
        margin-bottom: 20px;
    }
    .main-section h1{
        font-size: 70px;
        line-height: 76px;
    }
    .news-brief > div{
        padding: 15px 0 40px;
    }
    .news-brief h3 a, .news-module h3 a{
        font-size: 30px;
        line-height: 36px;
    }
    .news-brief p, .news-module p{
        font-size: 18px;
        line-height: 24px;
    }
    .speakers-left-column{
        width: 70%;
    }
    .small-speaker-portrait{
        width: 50%;
        padding: 15px;
    }
    .news-brief > div:last-child{
        padding-bottom: 0;
    }
    .sponsors h3{
        font-size: 16px;
        line-height: 22px;
        padding: 10px;
    }
    .sponsors li{
        width: 50%;
    }
    .main-footer .links > div{
        width: 50%;
        margin-bottom: 30px;
    }
    .parallax-image{
        padding-bottom: 100%;
    }
    .social-icons li{
        margin-bottom: 5px;
    }
    .overlay .video-wrap{
        width: 90%;
    }
    .overlay a.close{
        font-size: 13px;
        line-height: 19px;

    }
    #sub-page .wrapper{
        padding-top: 40px;
    }
    #sub-page header h1{
        font-size: 45px;
        line-height: 55px;
    }
    .wysiwyg-content h1{
        font-size: 28px;
        line-height: 34px;
    }
    .wysiwyg-content blockquote{
        width: 70%;
    }
    #sub-page .parallax-image{
        padding-bottom: 45%;
    }
    form input[type="submit"]{
        width: auto;
    }
    .video-module .cell{
        width: 100%;
    }
    .video-module .cell:nth-child(1), .video-module .cell:nth-child(2){
        margin-top: 30px;
    }
    .video-module .cell:nth-child(odd){
        padding-right: 0;
    }
    .video-module .cell:nth-child(even){
        padding-left: 0;
    }
    .video-module .cell-wrapper > .cell:first-child{
        margin-top: 0;
    }
    #sub-page .small-speaker-portrait{
        width: 50%;
    }
    .news-module .left, .news-module .right{
        float: none;
        width: auto;
        padding: 0;
    }
    .news-module .left{
        margin-bottom: 20px;
    }
    .news-module time{
        text-align: center;
    }
    .news-module h3{
        text-align: center;
    }
    .news-module p{
        text-align: center;
    }
    .news-module .author{
      text-align: center;
    }
    .video .recognition .fa{
      font-size: 12px;
    }
    .background-padding{
      padding-bottom: 70% !important;
    }
}
