@import url('stylesheets/fonts.css');

* {
	margin: 0;
	padding: 0;
	font-size: 18px;
	line-height: 24px;
	font-family: 'KarlaRegular', 'Arial', 'Helvetica', 'sans-serif';
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

html{
    background-color: #f4efea;
}

a{
    color: #000;
    text-decoration: none;
    transition: color 300ms linear;
}

a:hover{
    color: #ff00ff;
}

img{
    max-width: 100%;
}

input,
input:focus,
select{
	outline: none;
}

#main-header{
    position: relative;
		z-index: 5000;
}


#video-header-module {
    width: 100%;
    background-color: #000;
    line-height: 0px;
    position: relative;
    overflow: hidden;
    height: 0;
    padding-bottom: 55%;
}

#video-header-module video {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    position: relative;
    z-index: 1;
}

#video-header-module .logo{
    position: absolute;
    top: 100px;
    right: 0;
    bottom: 210px;
    left: 0;
    z-index: 2;
}

#video-header-module .logo img,
#video-header-module .logo p{
    height: 100%;
    text-align: center;
}

#video-header-module h4{
    color: #fff;
    text-transform: uppercase;
    padding: 0 20px;
    text-align: center;
    margin-top: 20px;
    font-family: 'KarlaRegular';
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 1.5px;
}

.fixed-main-navigation .main-navigation{
    bottom: auto;
    top: 0;
    z-index: 1000;
    position: fixed;
}

.main-navigation{
    background: #fff;
    color: #000;
    font-size: 13px;
    line-height: 0;
    padding: 0;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
}
.main-navigation:after{
    content: ' ';
    display: table;
    clear: both;
}

.main-navigation ul ul{
    position: absolute;
    left: 0;
    right: 0;
    background-color: #ff00ff;

    left: 50%;
    right: 50%;
    overflow: hidden;
    transition: all 500ms ease-out;
    z-index: 1;
    opacity: 0;
}

.main-navigation.anchor ul ul{

}

.main-navigation ul ul a{
    color: #fff;
}

.main-navigation ul ul a:hover{
    color: #000;
}


.main-navigation li{
    display:inline-block;
    white-space: nowrap;
}

.main-navigation li:hover ul{
    left: 0;
    right: 0;
    z-index: 2;
    opacity: 1;
}

.main-navigation a{
    font-size: 16px;
    line-height: 17px;
    display: block;
    padding: 30px 20px;
    font-family: 'KarlaRegular';
}

.main-navigation a i{
    color: #ff00ff;
    margin-right: 2px;
}

.main-navigation li.button{
    margin-right: -40px;
}
.main-navigation li.button a{
    padding: 15px 20px;
    color: #fff;
}

.main-navigation li.button a:hover span{
    background-color: #05b8fb;
}

.main-navigation li.button span{
    display: block;
    background-color: #ff00ff;
    padding: 15px 40px;
    transition: background-color 300ms linear;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 16px;
    line-height: 17px;
}

#nav-button{
    width: 65px;
    height: 65px;
    position: fixed;
    z-index: 5001;
    border-radius: 50%;
    right: 10px;
    bottom: 10px;
    cursor: pointer;
    transition: all 300ms linear;
    display: none;
    /*background-color: #f00;*/
}

.expand-navigation #nav-button{
    background-color: #9d079d;
}

#nav-button div{
    width: 30px;
    margin: -13px auto 0;
    top: 50%;
    position: relative;
}

#nav-button span{
    background-color: #fff;
    height: 5px;
    display: block;
    margin-top: 5px;
    border-radius: 5px;
    transition: all 300ms linear;
    position: relative;
}

#nav-button div > span:first-child{
    margin-top: 0;
}

.main-section{
    width: 90%;
    margin: 0 auto;
    padding: 80px 0;
    border-bottom: solid 1px #e5dfd9;
}

.main-section.dark{
    width: auto;
    margin: 0;
    border-bottom: none;
    background-color: #17171a;
    color: #fff;
}

.dark-wrapper{
    width: 90%;
    margin: 0 auto;
}

.video-wysiwyg{
	width: 70%;
	padding:30px 0 50px;
	margin:0 auto;
}

.wysiwyg-content * + .video-wysiwyg{
	padding-top: 20px;
}

.video-wysiwyg-wrap{
	padding: 10px;
	background-color: #f4efea;
	box-shadow: 0 0 40px -15px #3b3b3e;
}

.about p,
.about a{
    font-size: 30px;
    line-height: 40px;
    font-family: 'OswaldExtraLight';
    letter-spacing: 1.5px;
		margin-bottom: 20px;
		text-align: center;
}

.about a{
	color: #ff00ff;
}

.about a:hover{
	color: #05b8fb;
}

.about b,
.about strong{
    font-size: 35px;
    line-height: 42px;
    font-family: 'OswaldMedium';
    font-weight: normal;
}

div.button{
    margin-top: 60px;
    text-align: center;
}

div.button a{
    display: inline-block;
    text-transform: uppercase;
    color: #fff;
    background-color: #ff00ff;
    padding: 15px 40px;
    transition: all 300ms linear;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    font-family: 'KarlaBold';
    font-size: 18px;
    line-height: 24px;
}
div.button.grey a{
	background-color: #222;
	color: #cac4bf;
}

div.button.green a{
	background-color: #00D599;
}

div.button a:hover,
div.button.grey a:hover,
div.button.green a:hover{
    background-color: #05b8fb;
		color: #fff;
}
div.button .fa{
	margin:0 5px;
	position: relative;
	top: 1px;
}

.main-section h1{
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 80px;
    line-height: 86px;
    margin-bottom: 40px;
    font-family: 'OswaldMedium';
}

.video-module .row{
    margin: 0 -15px;
}

.video-module .row:after{
    content: ' ';
    display: table;
    clear: both;
}

.video-module .top{
    display: table;
    width: 100%;
}

.video-module .top .column{
    width: 50%;
    display: table-cell;
    padding: 15px;
    box-sizing: border-box;
    text-align: center;
    vertical-align: middle;
}

.video-module .top > div:last-child{
    background: url('../images/brand-film-festival-logo-grey.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 80% 80%;
}

.video-module .top{

}

.video-module .bottom{
		overflow: hidden;
    position: relative;
    display: none;
}

.video-module .bottom .column{
    width: 25%;
    float: left;
    padding: 15px;
    box-sizing: border-box;
}

.video-module h2{
    font-family: 'OswaldMedium';
    font-size: 50px;
    line-height: 56px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

.video-module p{
    font-size: 22px;
    line-height: 30px;
    padding: 15px 20px 20px;
}

.video-module .top .video a{
    background-color: transparent;
}

.video-module .top .video span{
    border-width: 10px;
}

.video-module .top .video .fa{
    font-size: 60px;
}

.video-module .top .video a:hover .fa{
    color: #05b8fb;
    font-size: 40px;
}

.video-module .cell-wrapper{
    font-size: 0;
    line-height: 0;
}

.video-module .cell{
    box-sizing: border-box;
    width: 50%;
    display: inline-block;
    margin-top: 30px;
}

.video-module .cell:nth-child(1),
.video-module .cell:nth-child(2){
    margin-top: 0;
}

.video-module .cell:nth-child(odd){
    padding-right: 10px;
}

.video-module .cell:nth-child(even){
    padding-left: 10px;
}

.video-module hgroup{

}

.video-module .info{
    position: absolute;
    left:0;
    right: 0;
    bottom: 10px;
}
.video-module .section{
    color: #fff;
    font-family: 'KarlaBold';
    font-size: 12px;
    line-height: 18px;
    text-align: left;
    text-transform: uppercase;
    text-shadow: 1px 1px 5px #000;
    padding: 0 10px;
}

.video-module hgroup{
    background-color: rgba(255, 0, 255, 0.5);
    padding: 5px 0;
}

.video-module h3,
.video-module h4{
    color: #fff;
    font-size: 12px;
    line-height: 19px;
    text-align: left;
    padding: 0 10px;
    font-weight: normal;
    text-shadow: 1px 1px 5px #000;
}

.video-module h3 {
    font-size: 14px;
    line-height: 20px;
}

.video{
    position: relative;
    height: 0;
    padding-bottom: 56.25%;
    background-color: #000;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border: solid 1px #3b3b3e;
}

.video iframe,
.video a{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
}

.video a{
    background-color: rgba(0,0,0,0.25);
    transition: background-color 300ms linear;
    text-align: center;
    color: #ff00ff;
}

.video a:hover{
    background-color: rgba(0,0,0,0);
}

.video a:hover span{
    border-color: #05b8fb;
    transform: scale(1.1);
}

.video a:hover .fa{
    color: #05b8fb;
    font-size: 20px;
}

.video a span{
    display: block;
    width: 20%;
    height: 35%;
    line-height: 50px;
    border: solid 5px #ff00ff;
    margin: auto;
    position: absolute;
    left: 40%;
    top: 32.5%;
    transition: all 300ms linear;
    background-color: rgba(0,0,0,0.3);
}

.video .fa{
    display: table;
    width: 100%;
    height: 100%;
    font-size: 30px;
    transition: all 300ms linear;
}

.video .fa:before{
    display: table-cell;
    width: 100%;
    height: 100%;
    vertical-align: middle;
}

.video .recognition{
		position: absolute;
		right: 0;
		top: 0;
		background-color:#eecc13;
		font-size: 12px;
		line-height: 12px;
		padding: 5px 10px;
		color: #000;
		font-family: 'OswaldLight';
		font-weight: bold;
}

.video .recognition .fa{
	display: inline;
	width: auto;
	height: auto;
	font-size: 12px;
	transition: none;
	color: #000;
	margin-right: 2px;
	position: relative;
	top: 1px;
}

.video a:hover .recognition .fa{
	color: #000;
	font-size: 12px;
}

.parallax-image{
    overflow: hidden;
    margin: 0;
    padding: 0 0 50% 0;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 0;
    margin-bottom: 50px;
		margin-top: -1px;
}

#sub-page .parallax-image{
    /*max-height: 380px;*/
    margin-bottom: 0;
    position: relative;
		background-color: #2B3639;
		padding-bottom: 27%;
}

#sub-page.news-article .parallax-image{
	/*max-height: 580px;*/
	padding-bottom: 40%;
}

.parallax-image .logo{
    position: absolute;
    top: 60px;
    bottom: 140px;
    left: 0;
    right: 0;
}

.parallax-image .logo p,
.parallax-image .logo img{
    height: 100%;
    text-align: center;
}

.more-link{
    text-align: center;
    text-transform: uppercase;
    margin-top: 40px;
}

.more-link a{
    font-size: 14px;
    line-height: 20px;
}

.dark .more-link a{
    color: #ccc;
}

.dark .more-link a:hover{
    color: #ff00ff;
}

.news-brief{
    display: table;
    width: 100%;
}

.news-brief > div{
    display: table-cell;
    width: 33.3333333%;
    box-sizing: border-box;
    padding: 15px 20px 40px 20px;
    border-right: solid 1px #e5dfd9;
    text-align: center;

}

.news-brief > div:last-child{
    border-right: none;
}

.news-brief .image,
.news-module .image{
    width: 100%;
    height: 0;
    padding-bottom: 50%;
    background-color: #e5dfd9;
    position: relative;
    overflow: hidden;
    border: solid 1px #e5dfd9;
}

.news-brief .image a,
.news-module .image a{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 300ms linear;
}

.news-brief .image a:hover,
.news-module .image a:hover{
    transform: scale(1.05);
}

.news-brief time,
.news-module time{
    margin-top: 25px;
    display: block;
    font-size: 14px;
    line-height: 20px;
}

.news-brief h3,
.news-module h3{
    margin-top: 10px;
    text-transform: capitalize;
}

.news-brief h3 a,
.news-module h3 a{
    font-size: 30px;
    line-height: 36px;
    font-family: 'OswaldRegular';
    letter-spacing: 1px;
}

.news-brief p,
.news-module p{
    color: #928f8c;
    margin-top: 15px;
}

.news-brief .author,
.news-module .author{
	margin-top: 10px;
	font-size: 16px;
	line-height: 22px;
	margin-bottom: -5px;
}

.news-module .author{
	margin-bottom: 0;
	margin-top: 5px;
}

.news-module .left,
.news-module .right{
	float: left;
	width: 50%;
	box-sizing: border-box;
	padding: 0 15px;
}

.news-module .cell-wrapper > div{
	padding-bottom: 30px;
	margin-bottom: 30px;
	border-bottom: solid 1px #e5dfd9;
}

.news-module .cell-wrapper > div:last-child{
	padding-bottom: 0;
	margin-bottom: 0;
	border-bottom: none;
}

.news-module .cell-wrapper > div:after{
	content: ' ';
	display: table;
	clear: both;
}

.news-module time{
	margin-top: 0;
}

.news-module h3{
	margin-top: 5px;
}

.news-module p{
	margin-top: 10px;
}

.speakers{
    margin: 0 -20px;
}

.speakers *{
    box-sizing: border-box;
    text-align: center;
}

.speakers-row{
    display: table;
    width: 100%;
}

.speakers-left-column{
    display: table-cell;
    vertical-align: middle;
    width: 30%;
}

.speakers-right-column,
.speakers-wrapper{
    display: table-cell;
    vertical-align: top;
    width: 70%;
    font-size: 0;
}

.large-speaker-portrait{
    padding: 20px;
}

.large-speaker-portrait .portrait > div{
    padding-bottom: 131.6%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
    background-position: center center;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
}

.small-speaker-portrait{
    width: 25%;
    display: inline-block;
    vertical-align: top;
    padding: 20px;
}

.small-speaker-portrait .portrait{
    position: relative;
}

.small-speaker-portrait .portrait > div{
    padding-bottom: 100%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
    background-position: center center;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;
}

.speakers hgroup{
    margin-top: 20px;
}

.small-speaker-portrait h6{
	margin-top: -18px;
	background-color: #ff00ff;
	padding: 5px;
	font-size: 11px !important;
	line-height: 17px  !important;
	color: #fff;
	font-family: 'KarlaBold';
}

.speakers h4{
    font-family: 'OswaldDemiBold';
    font-size: 21px;
    line-height: 28px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-weight: normal;
}

.speakers h5{
    font-family: 'OswaldRegular';
    font-size: 15px;
    line-height: 21px;
    letter-spacing: 1.5px;
    font-weight: normal;
    margin-top: 5px;
    color: #928f8c;
}

.speakers h6{
    font-weight: normal;
    margin-bottom: 10px;
    font-size: 15px;
    line-height: 21px;
    text-transform: uppercase;
}

.speakers .portrait > div{
    border: solid 1px #e5dfd9;
}

.large-speaker-portrait h4{
    font-size: 32px;
    line-height: 38px;
}

.large-speaker-portrait h5{
    font-size: 18px;
    line-height: 24px;
}

#sub-page .speakers-row,
#sub-page .speakers-left-column,
#sub-page .speakers-right-column,
#sub-page .speakers-right-column,
#sub-page .speakers-wrapper{
	display: block;
}

#sub-page .speakers-right-column,
#sub-page .speakers-wrapper{
	width: 100%;
}

#sub-page .small-speaker-portrait{
	width: 33.3333333%;
}

#sub-page .speakers-left-column{
	width: 100%;
}

#sub-page .large-speaker-portrait{
	width: 43%;
	margin: 0 auto;solid 1px #e5dfd9
}


.sponsors h1{
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 60px;
    line-height: 66px;
    margin-bottom: 40px;
    font-family: 'OswaldMedium';
}

.sponsors ul {
	list-style-type: none;
	display: table;
	margin: 0;
	width: 100%;
  text-align: left;
  padding-bottom: 20px;
	position: relative;
	font-size: 0;
}
.sponsors-wrap > ul:last-child{
	border-bottom: none;
	padding-bottom: 0;
	margin-bottom: 0;
}

.sponsors li {
	display: inline-block;
	vertical-align: middle;
	padding: 0 10px;
	box-sizing: border-box;
	width: 20%;
	margin-top: 10px;
}
.sponsors li.border{
	position: absolute;
	bottom: 0;
	right: 20%;
	left: 20%;
	height: 1px;
	background-color: #e5dfd9;
}

.sponsors p {
	margin: 0;
	padding: 20px;
	text-align: center;
	/*border: solid 1px #e5dfd9;*/
}

.sponsors img {
	display: inline;
  max-height: 120px;
	transition: all 300ms linear
}

.sponsors h3{
	font-family: 'OswaldExtraLight';
	font-size: 20px;
	line-height: 26px;
	text-align: center;
	color: #cac4bf;
	text-transform: uppercase;
	font-weight: normal;
	border-bottom-right-radius: 10px;
	border-top-left-radius: 10px;
	background-color: #222;
	padding: 15px 40px;
}

.sponsors a:hover img{
	transform: scale(1.1);
}

#sub-page .sponsors ul{
	padding-bottom: 0;
}

#sub-page .sponsors li{
	width: 33.333333%;
}

.category-module{
	/*padding-top: 20px;*/
}
.category-module h3{
	font-family: 'OswaldLight';
	font-size: 28px;
	line-height: 34px;
	padding-bottom: 10px;
	font-weight: bold;
	border-bottom: solid 1px #e5dfd9;
}

.category-module h4,
.category-module h4 a{
	font-family: 'KarlaBold';
	font-size: 16px;
	line-height: 22px;
	font-weight: normal;
}

.category-module h4.current,
.category-module h4.current a{
	color: #ff00ff;
}

.category-module h4 i{
	color: #ff00ff;
	margin-left: 5px;
	position: relative;
	top: 1px;
	transition: all 300ms linear;
}

.category-module h4.current i{
	transform: rotate(-90deg);
}

.category{
	margin-bottom: 40px;
}

.sub-category{
	padding-top: 10px;
}

.sub-category div{
	padding: 5px 0 10px 0;
	font-size: 15px;
	line-height: 21px;
	display: none;
}
.sub-category p,
.sub-category strong,
.sub-category b{
	font-size: 15px;
	line-height: 21px;
}

.background-animation-wrap {
	position: relative;
}

.background-animation-image{
	position: absolute;
	left:0;
	bottom: 0;
	right: 0;
	z-index: 2;
}

.main-footer{
    width: 100%;
    padding: 50px 0 80px 0;
}

.main-footer .wrapper{
    width: 90%;
    margin: 0 auto;
}
#sub-page .main-footer .wrapper{
    padding: 0;
}


.sub-page .main-footer{
    background-color: #2B3639;
}

.main-footer .links:after{
    content: ' ';
    display: table;
    clear: both;
}

.main-footer .links > div{
    width: 25%;
    float: left;
    box-sizing: border-box;
    padding: 0 20px;
}

.main-footer ul > li{
    margin-top: 5px;
}

.main-footer ul > li:first-child{
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 0;
}

#sub-page .main-footer ul > li:first-child{
    color: #fff;
}

.main-footer li{
    list-style-type: none;
}

.main-footer a{
    color: #928f8c;
}

.main-footer a:hover{
    color: #ff00ff;
}

.color-bar{
    background-color: #00D599;
    width: 100%;
    height: 130px;
    clear: both;
		position: relative;
		z-index: 1;
}

#sub-page .main-aside,
#sub-page .main-content{
    float: left;
    box-sizing: border-box;
}

#sub-page .main-aside{
    width: 30%;
    padding-right: 50px;
}

#sub-page .main-content{
    width: 70%
}

#sub-page .wrapper{
    width: 90%;
    margin: 0 auto;
    padding: 80px 0;
		position: relative;
		z-index: 3;
}

#sub-page .main-content header{
    border-bottom: solid 1px #e5dfd9;
    padding-bottom: 30px;
    margin-bottom: 30px;
    font-family: 'OswaldExtraLight';
    letter-spacing: 1.5px;
    font-size: 25px;
    line-height: 34px;
}

#sub-page .main-content header p{
    font-size: inherit;
    font-family: inherit;
    line-height: inherit;
}

#sub-page .main-content header h1 + *{
	margin-top: 20px;
}

#sub-page .main-content header b,
#sub-page .main-content header strong{
    font-size: 30px;
    line-height: 36px;
    font-family: 'OswaldMedium';
    font-weight: normal;
}

#sub-page .main-aside ul{
    margin:0;
    padding:0;
    list-style-type: none;
    border: solid 1px #e5dfd9;
    padding: 30px;
    border-top-left-radius: 10%;
    border-bottom-right-radius: 10%;
}

#sub-page .main-aside ul > li:first-child{
    padding-top: 0;
}

#sub-page .main-aside ul > li:first-child a{
    font-size: 24px;
    line-height: 26px;
    font-family: 'KarlaBold';
}

#sub-page .main-aside ul > li{
    padding-top: 10px;
}

.wysiwyg-content h1,
#sub-page header h1{
	font-family: 'OswaldDemiBold';
	font-size: 35px;
	line-height: 41px;
	margin:0 0 20px 0;
	padding:0;
	font-weight: normal;
}

#sub-page header h1{
	font-size: 55px;
	line-height: 65px;
	margin-bottom: 10px;
}

.news-article .wysiwyg-content header h1{
	text-transform: capitalize;
	font-size: 50px;
	line-height: 56px;
	text-align: center;
	margin-bottom: 10px;
}

.wysiwyg-content a{
	color: #ff00ff;
}

.wysiwyg-content a:hover{
	color: #05b8fb;
}

.wysiwyg-content h2{
	font-family: 'OswaldDemiBold';
	font-size: 28px;
	line-height: 34px;
	margin:0 0 20px 0;
	padding:0;
}

.wysiwyg-content h3{
	font-family: 'OswaldDemiBold';
	font-size: 20px;
	line-height: 26px;
	margin:0 0 10px 0;
	padding:0;
	font-weight: normal;
}

.wysiwyg-content h4,
.wysiwyg-content h5,
.wysiwyg-content h6{
	font-family: 'OswaldLight';
	font-size: 20px;
	line-height: 26px;
	margin:0 0 20px 0;
	padding:0;
	letter-spacing: 1px;
}

.wysiwyg-content strong,
.wysiwyg-content b{
	font-family: 'KarlaBold';
	font-weight: normal;
	color: #ff00ff;
}

.wysiwyg-content p{
	padding:0;
	margin:0 0 20px 0;
}

.wysiwyg-content p + h1,
.wysiwyg-content p + h2,
.wysiwyg-content p + h3,
.wysiwyg-content p + h4,
.wysiwyg-content p + h5,
.wysiwyg-content p + h6{
	padding-top: 10px;
}

.wysiwyg-content p + h1{
	padding-top: 30px;
}

.wysiwyg-content ul,
.wysiwyg-content ol{
	padding-left: 40px;
	margin-bottom: 30px;
}

.wysiwyg-content ul ul,
.wysiwyg-content ol ol{
	margin-top: 5px;
	margin-bottom: 15px;
}

.wysiwyg-content ul > li,
.wysiwyg-content ol > li{
	margin-bottom: 5px;
}

.wysiwyg-content ol ol > li{
	list-style-type: lower-alpha;
}

.wysiwyg-content table{
	border:solid 1px #e5dfd9;
	border-bottom: none;
	margin-bottom: 30px;
	width: 100%;
	border-collapse: collapse;
}

.wysiwyg-content thead th{
	text-align: left;
	font-family: 'KarlaBold';
	font-size: 14px;
	line-height: 20px;
	padding: 10px;
	background-color: #2B3639;
	color: #fff;
}

.wysiwyg-content tbody th{
	font-family: 'KarlaBold';
	padding: 10px;
	border-bottom: solid 1px #e5dfd9;
	text-align: left;
}

.wysiwyg-content tbody td{
	padding: 10px;
	border-bottom: solid 1px #e5dfd9;
}

.wysiwyg-content tfoot th{
	border-bottom: solid 1px #e5dfd9;
	padding: 10px;
	font-size: 14px;
	line-height: 20px;
	font-weight: normal;
	background-color: #ededed;

}

.wysiwyg-content caption{
	text-align: center;
	margin-bottom: 10px;
	font-size: 14px;
	line-height: 20px;
	font-style: italic;
	color: #928f8c;
}

.wysiwyg-content blockquote{
	border: solid 1px #e5dfd9;
	border-bottom-right-radius: 20px;
	border-top-left-radius: 20px;
	width: 50%;
	margin: 0 auto;
	padding: 30px;
	margin-bottom: 30px;
	font-size: 14px;
	line-height: 20px;
	font-style: italic;
}

.wysiwyg-content blockquote p,
.wysiwyg-content blockquote em{
	font-size: 14px;
	line-height: 20px;
	font-style: italic;
	font-size: 16px;
	line-height: 22px;
}

.wysiwyg-content blockquote p{
	margin-bottom: 0;
}

.wysiwyg-content blockquote footer,
.wysiwyg-content blockquote cite,
.wysiwyg-content blockquote cite a{
	text-align: right;
	font-family: 'KarlaBold';
}

.wysiwyg-content img{
	width: auto;
	height: auto;
}

.wysiwyg-content hr{
	border: none;
	border-top: solid 1px #e5dfd9;
	margin: 30px 0;
}

.news-article .wysiwyg-content time{
	text-align: center;
	display: block;
	margin-bottom: 5px;
}

.news-article .excerpt,
.news-article .excerpt p{
	color: #928f8c;
	text-align: center;
	margin: 0;
	font-size: 20px;
	line-height: 26px;
}

.news-article article header{
	padding-bottom:30px;
	/*margin-bottom: 30px;
	border-bottom: solid 1px #e5dfd9;*/
}

.news-article article main{

}

.news-article .author{
	text-align: center;
	margin-bottom: 10px;
}

form label{
	display: block;
	font-family: 'OswaldLight';
	font-weight: normal;
	font-size: 30px;
	line-height: 38px;
	letter-spacing: 1.5px;
}

form br{
	display: none;
}

.form-input{
	margin-bottom: 25px;
	box-sizing: border-box;
}

.form-input div{
	display: block;
	margin-top: 10px;
	background-color: #fff;
	border: solid 1px #e5dfd9;
	padding: 15px 20px;
	position: relative;
}

.form-input span{
	display: block;
}

.form-input input[type="text"],
.form-input input[type="email"],
.form-input textarea{
	background: transparent;
	border: none;
	padding: 15px 20px;
	margin: -15px -20px;
	width: 100%;
	height: auto;
	font-weight: normal;
	font-family: 'KarlaBold';
	font-size: 18px;
	line-height: 24px;
}

form input[type="submit"]{
	display: block;
	border: none;
	background-color: #ff00ff;
	width: 50%;
	margin: 0 auto;
	padding: 20px 40px;
	font-family: 'KarlaBold';
	color: #fff;
	text-transform: uppercase;
	cursor: pointer;
	border-bottom-right-radius: 10px;
	border-top-left-radius: 10px;
	margin-top: 40px;
	transition: all 300ms linear;
}

form input[type="submit"]:hover{
	background-color: #05b8fb;
}

.form-input select{
	cursor: pointer;
	padding: 16px 40px 16px 20px;
	margin: -16px -20px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	position: relative;
	top: 1px;
	font-family: 'KarlaBold';
	font-size: 22px;
	line-height: 28px;
	width: 100%;
	height: auto;
	border: none;
	color: #000;
	background: transparent;
}

.form-input textarea{
	outline: none;
	-webkit-appearance: none;
	appearance: none;
	resize: none;
}
.form-combobox div:before{
	content: "\f078";
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #ff00ff;
	position: absolute;
	right: 20px;
	top: 50%;
	margin-top: -8px;
}

.form-combobox span{
	margin-right: -40px;
}

.form-combobox{
	width: 70%;
}

div.wpcf7-validation-errors{
	background-color: #ffb2b2;
	padding: 10px 20px;
	border: none;
	margin: 0;
}
.wpcf7-not-valid-tip{
	padding-top:5px;
	margin-top: 5px;
	border-top: solid 1px #e5dfd9;
}

.social-icons{
	margin-bottom: 40px;
	border-top: solid 1px #e5dfd9;
	margin-top: 40px;
	padding-top: 40px;
}

#sub-page .social-icons{
	margin-top: 0;
	padding-top: 0;
	border-top: none;
}

.social-icons ul{
	text-align: center;
}

.social-icons li{
	display: inline-block;
	margin: 0 8px;
}

.social-icons a{
	font-size: 25px;
	display: block;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: #2B3639;
	color: #f4efea;
	line-height: 50px;
	transition: all 300ms linear;
}

.social-icons a:hover{
	color: #f4efea;
	background-color: #ff00ff;
}

#sub-page .social-icons a{
	background-color: #928f8c;
	color: #2B3639;
}

#sub-page .social-icons a:hover{
	color: #2B3639;
	background-color: #ff00ff;
}

.social-icons .fa{
	position: relative;
	top: 1px;
}

.background-padding{
	width: 100%;
	height: 0;
	display: block;
}

.final-tiles-gallery{
	margin-bottom: 40px;
}

.video-module .bottom.slick-initialized{
    display: block;
}


.slick-slider button{
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transition: all 300ms linear;
    font-size: 0;
    padding:0;
    margin: -15px 0 0 0;
    border: none;
    height: 30px;
    width: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    background-color: #05b8fb;
    color: #17171a;
    outline: none;
    cursor: pointer;
    position: absolute;
    top: 50%;
    z-index: 1000;
}

.slick-slider button:hover{
    background-color: #ff00ff;
}

.slick-slider *{
    outline: none;
}

.slick-slider button:before{
    font-size: 15px;
    position: relative;
    top:1px;
}

.slick-slider .slick-prev:before{
    content: "\f053";
    left: -1px;
}

.slick-slider .slick-prev{
    left: 0;
}

.slick-slider .slick-next:before{
    content: "\f054";
    right: -1px;
}

.slick-slider .slick-next{
    right: 1px;
}

.overlay{
    position: fixed;
    background-color: rgba(0,0,0,0.50);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 6000;
}

.overlay .wrapper{
    display: table;
    width: 100%;
    height: 100%;
}

.overlay .cell{
    display: table-cell;
    width: 100%;
    height: 100%;
    vertical-align: middle;
}

.overlay .video-wrap{
    width: 50%;
    margin: 0 auto;
    box-shadow: 0 0 40px -10px #000;
    position: relative;
}

.overlay a.close{
    position: absolute;
    right:0;
    z-index: 2;
    display: block;
    text-transform: uppercase;
    color: #fff;
    background-color: #ff00ff;
    transition: all 300ms linear;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    padding: 10px 30px;
    top: -45px;
    font-size: 15px;
    line-height: 21px;
    font-family: 'KarlaBold';
}

.overlay a.close:hover{
    background-color: #05b8fb;
}

.overlay .video{
    z-index: 1;
}


.overlay{
    animation-duration: 1s;
    animation-name: fadeIn;
}

.overlay .wrapper{
    animation-duration: 1s;
    animation-name: scaleIn;
}

@keyframes fadeIn{
    0%{
        opacity: 0;
    }

    50%{
        opacity: 1;
    }

}

@keyframes scaleIn{
    0%{
        opacity: 0;
        transform: scale(0);
    }

    50%{
        opacity: 1;
    }

    100%{
        transform: scale(1);
    }
}

pre,
code{
	text-align: left;
	display: inline-block;
}
.documentation-sm-box{
	background: #cdc9c5;
	padding: 20px;
	margin: 0 0 30px 0;
	text-align: center;
}
.documentation-buffer{
	width: 100%;
	height: 100px;
}

.documentation-sm-box h4{
	margin: 30px 0 -10px 0 !important;
}
