.dpp-range-output {
	position: relative;
	width: 50px;
	height: 30px;
	text-align: center;
	color: #666;
	display: inline-block;
	font-weight: 700;
	font-size: 15px;
	line-height: 30px;
	bottom: 5px;
}

.dpp-range-input {
	position: relative;
}
