/* global countdown styles go here */
div[data-countdown] {
    padding:10px;
}

div[data-countdown] .top {
    text-transform: uppercase;
}
@media only screen and (max-width:768px){

}
@media only screen and (max-width:570px){

}
