/*
	Theme Name: Haymarket Altitude Pro
	Theme URI: https://www.haymarket.com/
	Description: Make a stunning first impression, grab attention, and dynamically tell your story with beautiful images and clean typography. A complete refabriction of Altitude Pro from StudioPress.
	Author: HaymarketMedia
	Author URI: https://www.haymarket.com/

	Version: 1.1.4

	Tags: one-column, two-columns, custom-header, custom-menu, e-commerce, footer-widgets, full-width-template, sticky-post, theme-options, threaded-comments, translation-ready

	Template: genesis
	Template Version: 2.1

	License: GPL-2.0+
	License URI: http://www.opensource.org/licenses/gpl-license.php

	Text Domain: hm-altitude-pro
*/

/* Table of Contents
	- HTML5 Reset
		- Baseline Normalize
		- Box Sizing
		- Float Clearing
	- Defaults
		- Typographical Elements
		- Headings
		- Objects
		- Gallery
		- Forms
		- Buttons
		- Tables
		- Screen Reader Text
	- Structure and Layout
		- Site Containers
		- Column Widths and Positions
		- Column Classes
	- Common Classes
		- Avatar
		- Genesis
		- Search Form
		- Titles
		- WordPress
	- Widgets
	- Plugins
		- Genesis eNews Extended
		- Jetpack
	- Skip Links
	- Site Header
		- Title Area
		- Widget Area
	- Site Navigation
		- Primary Navigation
		- Secondary Navigation
		- Footer Navigation
		- Responsive Menu
	- Content Area
		- Front Page
		- Dashicons
		- Flexible Widgets
		- Content
		- Entries
		- Entry Meta
		- After Entry
		- Pagination
		- Content Boxes
		- Comments
	- Sidebar
	- Footer Widgets
	- Site Footer
	- Media Queries
		- Max-width: 1280px
		- Max-width: 1200px
		- Max-width: 1023px
		- Max-width: 800px
		- Max-width: 480px
*/


/* HTML5 Reset
---------------------------------------------------------------------------------------------------- */

/* Baseline Normalize
--------------------------------------------- */
/* normalize.css v4.1.1 | MIT License | http://necolas.github.io/normalize.css/ */

html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,details,figcaption,figure,footer,header,main,menu,nav,section,summary{display:block}audio,canvas,progress,video{display:inline-block}audio:not([controls]){display:none;height:0}progress{vertical-align:baseline}template,[hidden]{display:none}a{background-color:transparent;-webkit-text-decoration-skip:objects}a:active,a:hover{outline-width:0}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}dfn{font-style:italic}h1{font-size:2em;margin:0.67em 0}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-0.25em}sup{top:-0.5em}img{border-style:none}svg:not(:root){overflow:hidden}code,kbd,pre,samp{font-family:monospace, monospace;font-size:1em}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}button,input,optgroup,select,textarea{font:inherit;margin:0}optgroup{font-weight:bold}button,input{overflow:visible}button,select{text-transform:none}button,html [type="button"],[type="reset"],[type="submit"]{-webkit-appearance:button}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type="button"]:-moz-focusring,[type="reset"]:-moz-focusring,[type="submit"]:-moz-focusring{outline:1px dotted ButtonText}fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}textarea{overflow:auto}[type="checkbox"],[type="radio"]{box-sizing:border-box;padding:0}[type="number"]::-webkit-inner-spin-button,[type="number"]::-webkit-outer-spin-button{height:auto}[type="search"]{-webkit-appearance:textfield;outline-offset:-2px}[type="search"]::-webkit-search-cancel-button,[type="search"]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-input-placeholder{color:inherit;opacity:0.54}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}

/* Box Sizing
--------------------------------------------- */

html,
input[type="search"]{
	-webkit-box-sizing: border-box;
	-moz-box-sizing:    border-box;
	box-sizing:         border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}


/* Float Clearing
--------------------------------------------- */

.author-box:before,
.clearfix:before,
.entry:before,
.entry-content:before,
.pagination:before,
.site-container:before,
.site-footer:before,
.site-header:before,
.site-inner:before,
.widget:before,
.wrap:before {
	content: " ";
	display: table;
}

.author-box:after,
.clearfix:after,
.entry:after,
.entry-content:after,
.pagination:after,
.site-container:after,
.site-footer:after,
.site-header:after,
.site-inner:after,
.widget:after,
.wrap:after {
	clear: both;
	content: " ";
	display: table;
}


/* Defaults
---------------------------------------------------------------------------------------------------- */

/* Typographical Elements
--------------------------------------------- */

html {
	font-size: 62.5%; /* 10px browser default */
}

/* Chrome fix */
body > div {
	font-size: 2rem;
}

body {
	background-color: #fff;
	color: #000;
	font-family: "Ek Mukta", sans-serif;
	font-size: 20px;
	font-size: 2rem;
	font-weight: 200;
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}

body.altitude-home {
	background: none;
}

a,
input:focus,
input[type="button"],
input[type="reset"],
input[type="submit"],
textarea:focus,
.button,
.site-header.dark {
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition:    all 0.2s ease-in-out;
	-ms-transition:     all 0.2s ease-in-out;
	-o-transition:      all 0.2s ease-in-out;
	transition:         all 0.2s ease-in-out;
}

::-moz-selection {
	background-color: #000;
	color: #fff;
}

::selection {
	background-color: #000;
	color: #fff;
}

a {
	color: #22a1c4;
	text-decoration: none;
}

a:focus,
a:hover {
	color: #000;
}

p {
	margin: 0 0 30px;
	padding: 0;
}

ol,
ul {
	margin: 0;
	padding: 0;
}

li {
	list-style-type: none;
}

b,
strong {
	font-weight: 800;
}

cite,
em,
i {
	font-style: italic;
}

.image-section .widget:first-of-type cite {
	font-size: 1.6rem;
	font-style: normal;
	font-weight: 800;
	letter-spacing: 3px;
	text-transform: uppercase;
}

mark {
	background: #ddd;
	color: #000;
}

blockquote {
	color: #999;
	margin: 40px;
}

blockquote::before {
	content: "\201C";
	display: block;
	font-size: 30px;
	font-size: 3rem;
	height: 0;
	left: -20px;
	position: relative;
	top: -10px;
}

.image-section .widget:first-of-type blockquote {
	color: #fff;
	font-size: 8rem;
	font-weight: 200;
	line-height: 1;
	margin: 0 0 20px;
}

.image-section blockquote::before {
	display: none;
}

hr {
	border: 0;
	border-collapse: collapse;
	border-top: 2px solid #f5f5f5;
	clear: both;
	margin: 40px 0;
}

/* Headings
--------------------------------------------- */

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Ek Mukta", sans-serif;
	font-weight: 200;
	line-height: 1.2;
	margin: 0 0 20px;
}

h1 {
	font-size: 36px;
	font-size: 3.6rem;
}

h2 {
	font-size: 32px;
	font-size: 3.2rem;
}

.front-page-1 .widget:first-of-type h4,
.front-page-2 .widget:first-of-type h4 {
	font-size: 80px;
	font-size: 8rem;
	font-weight: 200;
	letter-spacing: normal;
	line-height: 1;
	text-transform: none;
}
/* home top widget layout */
.front-page-1 .sidebar-primary {
	width: 25% !important;
    float: left;
}
.front-page-1 .sidebar-primary .widget_media_image {
	margin: 0;
}
.front-page-1 .sidebar-primary .featuredpost {
	margin-top: 10px;
	background: #fff !important;
	padding: 20px !important;
	max-width: 300px;
}
.front-page-1 .sidebar-primary .featuredpost p {
	font-family: 'Lato', sans-serif;
	margin: 0 !important;
	font-size: 13px;
	font-weight: bold;
}
.front-page-1 .sidebar-primary .featuredpost figure {
	margin: 0 !important;
}
.front-page-1 .widget.featured-content.featuredpage {
	padding-left: 20px !important;
    width: 75% !important;
    clear: none !important;
	max-width: 900px;
}
.front-page-1 .widget.featured-content.featuredpage h2 {
    max-width: 800px;
}
.front-page-1 .widget.featured-content.featuredpage p {
	font-family: 'Open Sans', sans-serif;
    font-size: 23px;
    
}
.btn-getkit {
    border: none;
	text-align: center;
	background: #d90d0d;
    width: 338px;
    height: 84px;
	display: block;
	margin: 0 auto;
	border-radius: 50px;
}
.btn-getkit:hover {
	background: #8C0808;
}
.btn-getkit span {
    text-transform: uppercase;
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-size: 25px;
    font-weight: bold;
    line-height: 84px;
}
.front-page-2 {
	background: #202020;
}
.front-page-2 .featuredpage {
    margin: 0 !important; 
}
.front-page-2 .widget-area {
	padding-top: 0;
	padding-bottom: 0;
}
.front-page-3 .widget-area {
	vertical-align: top !important;

}
h3 {
	font-size: 30px;
	font-size: 3rem;
}

h4 {
	font-size: 24px;
	font-size: 2.4rem;
}

.image-section h4,
.solid-section h4,
.image-section .widget-title,
.solid-section .widget-title {
	border-width: 0;
	font-size: 16px;
	font-size: 1.6rem;
	font-weight: 800;
	letter-spacing: 3px;
	padding-bottom: 0;
	text-transform: uppercase;
}

h5 {
	font-size: 20px;
	font-size: 2rem;
}

h6 {
	font-size: 18px;
	font-size: 1.8rem;
}

/* Objects
--------------------------------------------- */

embed,
iframe,
img,
object,
video,
.wp-caption {
	max-width: 100%;
}

img {
	height: auto;
}

.full-width-content img.pull-left {
	float: left;
	margin: 0 40px 40px -200px;
}

.full-width-content img.pull-right {
	float: right;
	margin: 0 -200px 40px 40px;
}

/* Gallery
--------------------------------------------- */

.gallery {
	margin-bottom: 28px;
	overflow: hidden;
}

.gallery-item {
	float: left;
	margin: 0;
	padding: 0 4px;
	text-align: center;
}

.gallery-columns-1 .gallery-item {
	width: 100%;
}

.gallery-columns-2 .gallery-item {
	width: 50%;
}

.gallery-columns-3 .gallery-item {
	width: 33%;
}

.gallery-columns-4 .gallery-item {
	width: 25%;
}

.gallery-columns-5 .gallery-item {
	width: 20%;
}

.gallery-columns-6 .gallery-item {
	width: 16.6666%;
}

.gallery-columns-7 .gallery-item {
	width: 14.2857%;
}

.gallery-columns-8 .gallery-item {
	width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	width: 11.1111%;
}

.gallery-columns-2 .gallery-item:nth-child(2n+1),
.gallery-columns-3 .gallery-item:nth-child(3n+1),
.gallery-columns-4 .gallery-item:nth-child(4n+1),
.gallery-columns-5 .gallery-item:nth-child(5n+1),
.gallery-columns-6 .gallery-item:nth-child(6n+1),
.gallery-columns-7 .gallery-item:nth-child(7n+1),
.gallery-columns-8 .gallery-item:nth-child(8n+1),
.gallery-columns-9 .gallery-item:nth-child(9n+1) {
	clear: left;
}

.gallery .gallery-item img {
	border: none;
	height: auto;
	margin: 0;
}

/* Forms
--------------------------------------------- */

input,
select,
textarea {
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 0;
	box-shadow: none;
	color: #000;
	font-size: 20px;
	font-size: 2rem;
	font-weight: 200;
	padding: 20px;
	width: 100%;
}


input:focus,
textarea:focus {
	border: 1px solid #999;
	outline: none;
}

.front-page input:focus,
.front-page textarea:focus {
	border: 1px solid #22a1c4;
	outline: none;
}

input[type="checkbox"],
input[type="image"],
input[type="radio"] {
	width: auto;
}

::-moz-placeholder {
	color: #000;
	opacity: 1;
}

::-webkit-input-placeholder {
	color: #000;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.button,
.widget .button {
	background-color: #22a1c4;
	border: 2px solid #22a1c4;
	border-radius: 5px;
	color: #fff;
	cursor: pointer;
	font-size: 14px;
	font-size: 1.4rem;
	font-weight: 800;
	letter-spacing: 2px;
	padding: 15px 25px;
	text-transform: uppercase;
	-webkit-font-smoothing: antialiased;
	white-space: normal;
	width: auto;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button {
	display: none;
}

/* Buttons
--------------------------------------------- */

button:focus,
button:hover,
input:focus[type="button"],
input:hover[type="button"],
input:focus[type="reset"],
input:hover[type="reset"],
input:focus[type="submit"],
input:hover[type="submit"],
.button.clear:focus,
.button.clear:hover,
.button:focus,
.button:hover,
.footer-widgets .widget .button,
.footer-widgets button,
.footer-widgets input[type="button"],
.footer-widgets input[type="reset"],
.footer-widgets input[type="submit"],
.widget .button.clear:focus,
.widget .button.clear:hover,
.widget .button:focus,
.widget .button:hover {
	background-color: #000;
	border: 2px solid #000;
	color: #fff;
}

.button {
	display: inline-block;
}

button.small,
input[type="button"].small,
input[type="reset"].small,
input[type="submit"].small,
.button.small {
	padding: 8px 16px;
}

.footer-widgets .widget .button.clear,
.widget .button.clear {
	background-color: transparent;
	border: 2px solid #000;
	color: #000;
}

.image-section .button {
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 20px;
}

.image-section  .widget .button.clear {
	background-color: transparent;
	border-color: #fff;
	color: #fff;
}

.footer-widgets button:focus,
.footer-widgets button:hover,
.footer-widgets input:focus[type="button"],
.footer-widgets input:hover[type="button"],
.footer-widgets input:focus[type="reset"],
.footer-widgets input:hover[type="reset"],
.footer-widgets input:focus[type="submit"],
.footer-widgets input:hover[type="submit"],
.footer-widgets .widget .button:focus,
.footer-widgets .widget .button:hover,
.image-section button:focus,
.image-section button:hover,
.image-section input:focus[type="button"],
.image-section input:hover[type="button"],
.image-section input:focus[type="reset"],
.image-section input:hover[type="reset"],
.image-section input:focus[type="submit"],
.image-section input:hover[type="submit"],
.image-section .widget .button:focus,
.image-section .widget .button:hover {
	background-color: #fff;
	border: 2px solid #fff;
	color: #000;
}

.site-container button:disabled,
.site-container button:disabled:hover,
.site-container input:disabled,
.site-container input:disabled:hover,
.site-container input[type="button"]:disabled,
.site-container input[type="button"]:disabled:hover,
.site-container input[type="reset"]:disabled,
.site-container input[type="reset"]:disabled:hover,
.site-container input[type="submit"]:disabled,
.site-container input[type="submit"]:disabled:hover,
.site-container .footer-widgets .widget input[type="submit"]:disabled,
.site-container .footer-widgets .widget input[type="submit"]:disabled:hover {
	background-color: #ddd;
	border-color: #ddd;
	color: #444;
	cursor: not-allowed;
}

.post-password-form input[type="password"] {
	margin-bottom: 15px;
}

/* Tables
--------------------------------------------- */

table {
	border-collapse: collapse;
	border-spacing: 0;
	line-height: 2;
	margin-bottom: 40px;
	width: 100%;
}

tbody {
	border-bottom: 1px solid #ddd;
}

th,
td {
	text-align: left;
}

th {
	font-weight: bold;
	text-transform: uppercase;
}

td {
	border-top: 1px solid #ddd;
	padding: 6px 0;
}

/* Screen Reader Text
--------------------------------------------- */

.screen-reader-shortcut,
.screen-reader-text,
.screen-reader-text span {
	border: 0;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	overflow: hidden;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important;
}

.genesis-nav-menu .search input[type="submit"]:focus,
.screen-reader-shortcut:focus,
.screen-reader-text:focus,
.widget_search input[type="submit"]:focus {
	background: #fff;
	box-shadow: 0 0 2px 2px rgba(0,0,0,.6);
	clip: auto !important;
	color: #000;
	display: block;
	font-size: 1em;
	font-weight: bold;
	height: auto;
	padding: 15px 23px 14px;
	text-decoration: none;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}

.more-link {
	position: relative;
}


/* Structure and Layout
---------------------------------------------------------------------------------------------------- */

/* Site Containers
--------------------------------------------- */

.site-inner,
.wrap {
	float: none;
	margin: 0 auto;
	max-width: 1800px;
}

.site-inner {
	background-color: #fff;
	clear: both;
	margin-top: 170px;
	position: relative;
	z-index: 9;
	word-wrap: break-word;
}

.front-page .site-container .site-inner {
	margin-top: 0;
	max-width: 100%;
}

.altitude-landing .site-container .site-inner {
	margin-top: 100px;
}

.secondary-nav .site-inner {
	margin-top: 250px;
}

/* Column Classes
--------------------------------------------- */
/* Link: http://twitter.github.io/bootstrap/assets/css/bootstrap-responsive.css */

.five-sixths,
.four-sixths,
.one-fourth,
.one-half,
.one-sixth,
.one-third,
.three-fourths,
.three-sixths,
.two-fourths,
.two-sixths,
.two-thirds {
	float: left;
	margin-left: 2.564102564102564%;
}

.one-half,
.three-sixths,
.two-fourths {
	width: 48.717948717948715%;
}

.one-third,
.two-sixths {
	width: 31.623931623931625%;
}

.four-sixths,
.two-thirds {
	width: 65.81196581196582%;
}

.one-fourth {
	width: 23.076923076923077%;
}

.three-fourths {
	width: 74.35897435897436%;
}

.one-sixth {
	width: 14.52991452991453%;
}

.five-sixths {
	width: 82.90598290598291%;
}

.first {
	clear: both;
	margin-left: 0;
}


/* Common Classes
---------------------------------------------------------------------------------------------------- */

/* Avatar
--------------------------------------------- */

.avatar {
	border-radius: 50%;
	float: left;
}

.author-box .avatar {
	height: 88px;
	width: 88px;
}

.entry-comments .avatar {
	height: 60px;
	width: 60px;
}

.alignleft .avatar,
.author-box .avatar {
	margin-right: 24px;
}

.alignright .avatar {
	margin-left: 24px;
}

.comment .avatar {
	margin: 0 20px 24px 0;
}

/* Genesis
--------------------------------------------- */

.breadcrumb {
	border-bottom: 2px solid #f5f5f5;
	font-size: 20px;
	font-size: 2rem;
	margin-bottom: 60px;
	padding-bottom: 10px;
}

.archive-description,
.author-box {
	border-bottom: 1px solid #000;
	border-top: 1px solid #000;
	font-size: 20px;
	font-size: 2rem;
	margin-bottom: 100px;
	padding: 40px 0;
}

.author-box-title {
	font-size: 22px;
	font-size: 2.2rem;
	margin-bottom: 8px;
}

.archive-description p:last-child,
.author-box p:last-child {
	margin-bottom: 0;
}

/* Search Form
--------------------------------------------- */

.search-form {
	overflow: hidden;
	position: relative;
}

.search-form input[type="submit"] {
	padding: 25px;
}

.widget_search input[type="submit"] {
	border: 0;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	margin: -1px;
	padding: 0;
	position: absolute;
	width: 1px;
}

.widget_search input[type="submit"]:focus {
	background: #000;
	border-radius: 0;
	box-shadow: none;
	color: #fff;
	padding: 20px 23px;
	right: 0;
	top: 0;
}

.error404 .content .search-form {
	margin-bottom: 40px;
}

.error404 .content input[type="search"] {
	margin-right: 10px;
	width: auto;
}

/* Titles
--------------------------------------------- */

.archive-title {
	font-size: 24px;
	font-size: 2.4rem;
	line-height: 1;
	margin-bottom: 20px;
}

.entry-title {
	font-size: 48px;
	font-size: 4.8rem;
}

.sidebar .entry-title {
	font-size: 24px;
	font-size: 2.4rem;
	text-align: left;
}

.entry-title a {
	color: #000;
}

.entry-title a:focus,
.entry-title a:hover {
	color: #22a1c4;
}

/* WordPress
--------------------------------------------- */

.alignleft {
	float: left;
	text-align: left;
}

.alignright {
	float: right;
	text-align: right;
}

a.alignleft,
a.alignnone,
a.alignright {
	max-width: 100%;
}

a.alignnone {
	display: inline-block;
}

a.aligncenter img {
	display: block;
	margin: 0 auto;
}

img.centered,
.aligncenter {
	display: block;
	margin: 0 auto 24px;
}

img.alignnone,
.alignnone {
	margin: 0 0 12px;
}

a.alignleft,
img.alignleft,
.wp-caption.alignleft {
	margin: 0 24px 24px 0;
}

a.alignright,
img.alignright,
.wp-caption.alignright {
	margin: 0 0 24px 24px;
}

.wp-caption-text {
	font-size: 18px;
	font-size: 1.8rem;
	line-height: 1.2;
	text-align: center;
}

.entry-content p.wp-caption-text {
	margin-bottom: 0;
}

.gallery-caption,
.entry-content .gallery-caption {
	margin: 0 0 10px;
}

.post-password-form input {
	width: auto;
}

.post-password-form input[type="submit"] {
	padding: 25px;
}

.wp-audio-shortcode,
.wp-playlist,
.wp-video {
	margin: 0 0 28px;
}


/* Widgets
---------------------------------------------------------------------------------------------------- */

.widget {
	word-wrap: break-word;
}

.widget ol > li {
	list-style-position: inside;
	list-style-type: decimal;
	padding-left: 20px;
	text-indent: -20px;
}

.widget ul li {
	margin-bottom: 10px;
	padding-bottom: 10px;
}

.widget li li {
	border: none;
	margin: 0 0 0 30px;
	padding: 0;
}

.widget_calendar table {
	width: 100%;
}

.widget_calendar td,
.widget_calendar th {
	text-align: center;
}

/* Featured Content
--------------------------------------------- */

.featured-content .entry-title {
	font-size: 24px;
	font-size: 2.4rem;
}

/* Simple Social Icons
--------------------------------------------- */

.altitude-home .content .simple-social-icons {
	margin-top: 40px;
}

.altitude-home .content .simple-social-icons ul li {
	margin: 0 20px !important;
}

.altitude-home .content .simple-social-icons ul li a,
.altitude-home .content .simple-social-icons ul li a:focus,
.altitude-home .content .simple-social-icons ul li a:hover {
	padding: 30px;
}


/* Plugins
---------------------------------------------------------------------------------------------------- */

/* Genesis eNews Extended
--------------------------------------------- */

.enews-widget input {
	font-size: 18px;
	font-size: 1.8rem;
	margin-bottom: 20px;
}

.enews-widget input[type="submit"] {
	margin: 0;
	width: 100%;
}

.enews form + p {
	margin-top: 24px;
}

/* Genesis Portfolio Pro
--------------------------------------------- */

.genesis-pro-portfolio .content .pro-portfolio {
	padding: 0;
}

/* Jetpack
--------------------------------------------- */

#wpstats {
	display: none;
}


/* Skip Links
---------------------------------------------------------------------------------------------------- */

.genesis-skip-link {
	margin: 0;
}

.genesis-skip-link li {
	height: 0;
	width: 0;
	list-style: none;
}

/* Display outline on focus */
:focus {
	color: #333;
	outline: #ccc solid 1px;
}


/* Site Header
---------------------------------------------------------------------------------------------------- */

.site-header {
	background-color: #000;
	left: 0;
	position: fixed;
	width: 100%;
	z-index: 999;
	padding-left: 30px;
	padding-right: 30px;
}

.featured-section .site-header {
	background-color: #fff;
}

.featured-section .site-header > .wrap {
	border-bottom: 1px solid #fff;
}

/* .site-header.dark {
	background-color: #000;
} */

.site-header.dark > .wrap {
	border-bottom: none;
}

.site-header.dark .nav-secondary {
	display: none;
}

/* Title Area
--------------------------------------------- */

.title-area {
	float: left;
	padding: 25px 0;
	width: 360px;
}

.site-header.dark .title-area {
	padding: 15px 0;
}

.site-title {
    margin-top: 27px;
    max-width: 165px;
}

.site-title a,
.site-title a:focus,
.site-title a:hover {
	color: #f21919 !important;
}

.header-image .title-area,
.header-image .site-header.dark .title-area {
	padding: 0;
}

.header-image .site-title > a {
	background-size: contain !important;
	display: block;
	text-indent: -9999px;
}

.header-image .dark .site-title > a {
	height: 56px;
}

.site-description {
	display: block;
	height: 0;
	margin-bottom: 0;
	text-indent: -9999px;
}


/* Site Navigation
---------------------------------------------------------------------------------------------------- */

.genesis-nav-menu {
	line-height: 1;
}

.genesis-nav-menu .menu-item {
	display: inline-block;
	text-align: left;
}

.genesis-nav-menu li li {
	margin-left: 0;
}

.genesis-nav-menu a {
	color: #000;
	display: block;
	font-size: 14px;
	font-size: 1.4rem;
	font-weight: 200;
	letter-spacing: 1px;
	padding: 17px 28px;
	text-transform: uppercase;
}

.site-header.dark .genesis-nav-menu a {
	padding: 17px 28px;
}

.genesis-nav-menu li.highlight a:focus::before,
.genesis-nav-menu li.highlight a:hover::before {
	color: #fff;
}

.genesis-nav-menu li.highlight > a {
	font-weight: 800;
}

.front-page .genesis-nav-menu li.current-menu-item > a,
.genesis-nav-menu > li > a {
	border-bottom: 2px solid transparent;
}

.front-page .genesis-nav-menu li.current-menu-item > a:focus,
.front-page .genesis-nav-menu li.current-menu-item > a:hover,
.genesis-nav-menu li.current-menu-item > a,
.genesis-nav-menu > li > a:focus,
.genesis-nav-menu > li > a:hover {
	border-color: #fff;
}

.genesis-nav-menu > .menu-item > a {
	text-transform: uppercase;
}

.genesis-nav-menu .sub-menu {
	left: -9999px;
	letter-spacing: 0;
	opacity: 0;
	position: absolute;
	-webkit-transition: opacity .4s ease-in-out;
	-moz-transition:    opacity .4s ease-in-out;
	-ms-transition:     opacity .4s ease-in-out;
	-o-transition:      opacity .4s ease-in-out;
	transition:         opacity .4s ease-in-out;
	width: 200px;
	z-index: 99;
}

.genesis-nav-menu .sub-menu a {
	background-color: #111;
	outline: none;
	padding: 20px;
	position: relative;
	width: 200px;
}

.genesis-nav-menu .sub-menu a:focus,
.genesis-nav-menu .sub-menu a:hover,
.genesis-nav-menu .sub-menu li.current-menu-item > a {
	background-color: #222;
}

.genesis-nav-menu .sub-menu .sub-menu {
	margin: -54px 0 0 199px;
}

.genesis-nav-menu .menu-item:hover {
	position: static;
}

.genesis-nav-menu .menu-item:hover > .sub-menu {
	left: auto;
	opacity: 1;
}

.genesis-nav-menu > .first > a {
	padding-left: 0;
}

.genesis-nav-menu > .last > a {
	padding-right: 0;
}

.genesis-nav-menu > .right {
	color: #fff;
	display: inline-block;
	list-style-type: none;
	padding: 27px 20px;
	text-transform: uppercase;
}

.genesis-nav-menu > .right > a {
	display: inline;
	padding: 0;
}

.genesis-nav-menu > .rss > a {
	margin-left: 48px;
}

.genesis-nav-menu > .search {
	display: block;
	margin: 0 auto;
	padding: 0 20px 20px;
	width: 50%;
}

/* Primary Navigation
--------------------------------------------- */

.nav-primary {
	text-align: left;
	display: inline-block;
}

.nav-primary .genesis-nav-menu {
	float: right;
}

/* Secondary Navigation
--------------------------------------------- */

.nav-secondary {
	border-bottom: 1px solid #fff;
}

/* Footer Navigation
--------------------------------------------- */

.nav-footer .genesis-nav-menu {
	padding: 20px 0;
}

.nav-footer .genesis-nav-menu a {
	border: none;
	font-weight: 800;
	letter-spacing: 3px;
	margin: 0 20px;
	padding: 0;
}

/* Responsive Menu
--------------------------------------------- */

.menu .menu-item:focus {
	position: static;
}

.menu .menu-item > a:focus + ul.sub-menu,
.menu .menu-item.sfHover > ul.sub-menu {
	left: auto;
	opacity: 1;
}

.sub-menu-toggle,
.menu-toggle {
	display: none;
	visibility: hidden;
}

/* Content Area
---------------------------------------------------------------------------------------------------- */

/* Front Page
--------------------------------------------- */

.image-section,
.solid-section {
	clear: both;
	text-align: center;
	width: 100%;
}

.image-section {
/* 	background: -moz-linear-gradient(top,  rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.5) 30%, rgba(0,0,0,0.8) 80%, rgba(0,0,0,0.9) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.2)), color-stop(30%,rgba(0,0,0,0.5)), color-stop(80%,rgba(0,0,0,0.8)), color-stop(100%,rgba(0,0,0,0.9)));
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0.2) 0%,rgba(0,0,0,0.5) 30%,rgba(0,0,0,0.8) 80%,rgba(0,0,0,0.9) 100%);
	background: -o-linear-gradient(top,  rgba(0,0,0,0.2) 0%,rgba(0,0,0,0.5) 30%,rgba(0,0,0,0.8) 80%,rgba(0,0,0,0.9) 100%);
	background: -ms-linear-gradient(top,  rgba(0,0,0,0.2) 0%,rgba(0,0,0,0.5) 30%,rgba(0,0,0,0.8) 80%,rgba(0,0,0,0.9) 100%);
	background: linear-gradient(to bottom,  rgba(0,0,0,0.2) 0%,rgba(0,0,0,0.5) 30%,rgba(0,0,0,0.8) 80%,rgba(0,0,0,0.9) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33000000', endColorstr='#e6000000',GradientType=0 ); */
	display: table;
	overflow: hidden;
	table-layout: fixed;
	width: 100%;
}

.image-section .widget-area {
	display: table-cell;
	text-align: left;
	vertical-align: middle;
}

.image-section,
.image-section a {
	color: #000;
}

.image-section a:focus,
.image-section a:hover,
.image-section .featured-content .entry-title a:focus,
.image-section .featured-content .entry-title a:hover {
	color: #22a1c4;
}

.solid-section {
	background-color: #fff;
}

.front-page-1,
.front-page-2,
.front-page-3 {
	padding-left: 30px;
	padding-right: 30px;
}
.front-page-2,
.front-page-3,
.front-page-4,
.front-page-5,
.front-page-6,
.front-page-7 {
	border-top: 54px solid transparent;
	margin-top: -54px;
	-webkit-background-clip: padding-box;
	-moz-background-clip:    padding;
	background-clip:         padding-box;
	position: relative;
	z-index: 9;
}

.front-page-1,
.front-page-3,
.front-page-5,
.front-page-7 {
	background-attachment: fixed;
	background-color: #fff;
	background-position: 50% 0;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size:    cover;
	background-size:         cover;
}

.front-page-1 {
	position: relative;
}

.front-page-1 .image-section {
	padding-top: 75px;
}

.secondary-nav .front-page-1 .image-section {
	padding-top: 150px;
}

.front-page-4 .solid-section {
	background-color: #f3f3f3;
}

.bottom-image {
	margin-bottom: -120px;
	margin-top: 100px;
}

.bottom-image img {
	margin-bottom: -10px;
}

.front-page .field-wrap:last-child {
	margin-bottom: 0;
}

.small-disclaimer {
	font-size: 14px;
	font-size: 1.4rem;
	font-style: italic;
}

/* Dashicons
--------------------------------------------- */

.front-page .dashicons {
	font-size: 40px;
	font-size: 4rem;
	height: 40px;
	margin-bottom: 20px;
	width: 40px;
}

/* Flexible Widgets
--------------------------------------------- */

.flexible-widgets {
	padding-bottom: 60px;
	padding-top: 100px;
}

.flexible-widgets .widget {
	float: left;
	margin: 0 0 40px 2.564102564102564%;
}

.flexible-widgets.widget-full .widget,
.flexible-widgets.widget-area .widget:nth-of-type(1),
.flexible-widgets.widget-halves.uneven .widget:last-of-type {
	background: none;
	margin-left: 0;
	padding: 0;
	width: 100%;
}

.widget-area.flexible-widgets.widget-half .widget,
.flexible-widgets.widget-halves .widget {
	width: 48.717948717948715%;
}

.flexible-widgets.widget-thirds .widget {
	width: 31.623931623931625%;
}

.flexible-widgets.widget-fourths .widget {
	width: 23.076923076923077%;
}

.flexible-widgets.widget-halves .widget:nth-child(even),
.flexible-widgets.widget-thirds .widget:nth-child(3n+2),
.flexible-widgets.widget-fourths .widget:nth-child(4n+2) {
	clear: left;
	margin-left: 0;
}

.solid-section .widget {
	background-color: #fff;
	padding: 40px;
}

.solid-section  .widget:not(:first-child) .widget-title {
	border-bottom: 1px solid #ddd;
	margin-bottom: 30px;
	padding-bottom: 30px;
}

.flexible-widgets p.large {
	font-size: 36px;
	font-size: 3.6rem;
	line-height: 1;
}

.flexible-widgets p.price {
	font-size: 32px;
	font-size: 3.2rem;
	font-weight: 800;
	line-height: 1.2;
	margin-bottom: 20px;
}

/* Content
--------------------------------------------- */

.content {
	float: left;
	width: 700px;
}

.page .content {
	padding-bottom: 50px;
}

.sidebar-content .content {
	float: right;
}

.full-width-content .content {
	padding: 0 200px 50px;
	width: 100%;
}

.full-width-content.front-page .content {
	padding: 0;
}

/* Entries
--------------------------------------------- */

.entry {
	margin-bottom: 100px;
}

.widget .entry {
	margin-bottom: 40px;
}

.entry-content ol,
.entry-content ul {
	margin-bottom: 30px;
	margin-left: 40px;
}

.entry-content ol > li {
	list-style-type: decimal;
}

.entry-content ul > li {
	list-style-type: disc;
}

.entry-content ol ol,
.entry-content ul ul {
	margin-bottom: 0;
}

.entry-content code {
	background-color: #000;
	color: #ddd;
}

/* Entry Meta
--------------------------------------------- */

p.entry-meta {
	font-size: 20px;
	font-size: 2rem;
	margin-bottom: 0;
}

.entry-header,
.entry-footer {
	text-align: center;
}

.entry-header p.entry-meta {
	font-weight: 700;
	letter-spacing: 2px;
	margin-bottom: 16px;
	text-transform: uppercase;
}

.entry-header::after {
	border-bottom: 1px solid #000;
	content: "";
	display: block;
	margin: 0 auto 60px;
	padding-bottom: 30px;
	width: 25%;
}

.image-section .entry-header::after {
	border-color: #fff;
}

.entry-footer::before {
	border-top: 1px solid #000;
	content: "";
	display: block;
	margin: 30px auto 0;
	padding-top: 60px;
	width: 25%;
}

.sidebar .entry-header::after {
	display: none;
}

.entry-categories::before,
.entry-tags::before {
	display: inline-block;
	font: normal 20px/1 "dashicons";
	margin-right: 5px;
	margin-top: 2px;
	vertical-align: top;
	-webkit-font-smoothing: antialiased;
}

.entry-comments-link::before {
	content: "\2014";
	margin: 0 6px 0 2px;
}

/* After Entry
--------------------------------------------- */

.after-entry {
	border-top: 1px solid #000;
	padding: 40px 0;
}

.after-entry .widget {
	margin-bottom: 40px;
}

.after-entry p:last-child,
.after-entry .widget:last-child {
	margin: 0;
}

.after-entry li {
	list-style-type: none;
}

/* Pagination
--------------------------------------------- */

.pagination {
	clear: both;
	margin: 40px 0;
}

.adjacent-entry-pagination {
	margin-bottom: 0;
}

.archive-pagination li {
	display: inline;
}

.archive-pagination li a {
	background-color: #000;
	box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-size: 14px;
	font-size: 1.4rem;
	letter-spacing: 1px;
	padding: 8px 12px;
	text-transform: uppercase;
}

.archive-pagination li a:focus,
.archive-pagination li a:hover,
.archive-pagination .active a {
	background-color: #22a1c4;
	color: #fff;
}

/* Comments
--------------------------------------------- */

.comment-respond,
.entry-comments,
.entry-pings {
	margin-bottom: 100px;
}

p.comment-meta,
.entry-comments .comment,
.entry-comments .comment-reply {
	margin-bottom: 40px;
}

.comment-header {
	font-size: 20px;
	font-size: 2rem;
}

.entry-comments .comment {
	border-bottom: 1px solid #000;
}

.comment-content,
.entry-comments .comment {
	clear: both;
}

p.form-submit,
.entry-comments .children .comment,
.entry-comments .comment-author {
	margin: 0;
}

.entry-comments .children .comment {
	border: none;
}

.comment-respond label {
	display: block;
	font-weight: 800;
}

.comment-respond input[type="email"],
.comment-respond input[type="text"],
.comment-respond input[type="url"] {
	width: 100%;
}

.comment-list li,
.ping-list li {
	list-style-type: none;
}

.entry-comments ul.children {
	margin-left: 40px;
}

.ping-list .reply {
	display: none;
}


/* Sidebar
---------------------------------------------------------------------------------------------------- */

.sidebar {
	float: right;
	width: 360px;
}

.sidebar-content .sidebar {
	float: left;
}

.sidebar p:last-child {
	margin-bottom: 0;
}

.sidebar li {
	list-style-type: none;
	margin-bottom: 6px;
	word-wrap: break-word;
}

.sidebar ul > li:last-child {
	margin-bottom: 0;
}

.sidebar .widget {
	margin-bottom: 40px;
}


/* Footer Widgets
---------------------------------------------------------------------------------------------------- */

.footer-widgets {
	background-color: #22a1c4;
	clear: both;
	text-align: center;
	position: relative;
	z-index: 9;
}

.footer-widgets .wrap {
	padding-bottom: 100px;
	padding-top: 100px;
}

.footer-widgets,
.footer-widgets .wrap a,
.footer-widgets .wrap a.button {
	color: #fff;
}

.footer-widgets a:focus,
.footer-widgets a:hover {
	color: #000;
}

.footer-widgets li {
	margin-bottom: 10px;
	padding-bottom: 10px;
}

.footer-widgets .widget {
	margin-bottom: 40px;
}

.footer-widgets p:last-child {
	margin-bottom: 0;
}


/* Site Footer
---------------------------------------------------------------------------------------------------- */

.site-footer {
	background-color: #000;
	padding: 20px;
	text-align: center;
}

.site-footer,
.site-footer a,
.site-footer p {
	color: #fff;
}

.site-footer a:focus,
.site-footer a:hover {
	color: #22a1c4;
}

.site-footer p {
	font-size: 14px;
	font-size: 1.4rem;
	letter-spacing: 1px;
	margin-bottom: 0;
	text-transform: uppercase;
}


/* Media Queries
---------------------------------------------------------------------------------------------------- */

@media only screen and (max-width: 1280px) {

	.site-inner,
	.wrap {
		max-width: 1140px;
	}

}

@media only screen and (max-width: 1200px) {

	.site-inner,
	.wrap {
		max-width: 960px;
	}

	.site-header .widget-area {
		width: 580px;
	}

	.content {
		width: 520px;
	}

	.full-width-content .content {
		padding: 0 110px;
	}

	.genesis-nav-menu a {
		padding: 17px 28px;
	}

	.site-header.dark .genesis-nav-menu a {
		padding: 17px 28px;
	}

	.front-page-1,
	.front-page-3,
	.front-page-5,
	.front-page-7 {
	    background-attachment: scroll;
	}

}

@media only screen and (max-width: 1023px) {

	.site-inner,
	.wrap {
		max-width: 768px;
	}

	.secondary-nav .site-inner {
		margin-top: 80px;
	}

	.front-page .site-inner {
		max-width: none;
	}

	.site-header {
		position: static;
	}

	.front-page .site-header {
		background-color: #000;
	}

	.front-page .site-header > .wrap {
		border: none;
	}

	.content,
	.sidebar,
	.site-header .widget-area,
	.title-area {
		width: 100%;
	}

	.site-header .title-area,
	.site-header.dark .title-area {
		padding: 15px 0;
	}

	.header-image .dark .site-title > a {
		height: 76px;
	}

	.genesis-nav-menu,
	.site-header .widget-area,
	.site-title {
		text-align: center;
	}

	.header-image .site-title > a {
		background-position: center !important;
	}

	.nav-primary .genesis-nav-menu {
		float: none;
	}

	.nav-secondary,
	.site-header.dark .nav-secondary {
		border-bottom: none;
	}

	.genesis-nav-menu a,
	.site-header.dark .genesis-nav-menu a {
		padding: 10px;
		color: #fff;
	}

	.front-page .site-inner {
		margin-top: 0;
	}

	.site-inner {
		margin-top: 80px;
	}

	.full-width-content .content {
		padding: 0;
	}

	.full-width-content img.pull-left {
		margin-left: 0;
	}

	.full-width-content img.pull-right {
		margin-right: 0;
	}

	.five-sixths,
	.four-sixths,
	.one-fourth,
	.one-half,
	.one-sixth,
	.one-third,
	.three-fourths,
	.three-sixths,
	.two-fourths,
	.two-sixths,
	.two-thirds {
		margin: 0;
		width: 100%;
	}

	.flexible-widgets.widget-full .widget,
	.flexible-widgets.widget-halves .widget,
	.flexible-widgets.widget-thirds .widget,
	.flexible-widgets.widget-fourths .widget {
		margin: 0 auto 20px;
		width: 100%;
	}

	.front-page-1 .widget:first-of-type h4,
	.front-page-2 .widget:first-of-type h4 {
		font-size: 60px;
		font-size: 6rem;
	}

	.front-page-1 .image-section,
	.secondary-nav .front-page-1 .image-section {
		padding-top: 0;
	}

}

@media only screen and (max-width: 800px) {

	.site-inner,
	.wrap {
		max-width: none;
		width: 100%;
	}

	.site-inner,
	.wrap {
		padding: 0 5%;
	}

	.front-page .site-inner {
		padding: 0;
	}

	/* Genesis Responsive Menus */
	nav.nav-primary {
		top: 0;
	}

	.site-header nav .wrap {
		padding: 0;
	}

	nav.genesis-responsive-menu {
		display: none;
		position: relative;
	}

	.genesis-skip-link .skip-link-hidden {
		display: none;
		visibility: hidden;
	}

	.menu-toggle,
	.sub-menu-toggle {
		border-width: 0;
		background: #000;
		color: #fff;
		display: block;
		margin: 0 auto;
		overflow: hidden;
		text-align: center;
		visibility: visible;
	}

	.menu-toggle:focus,
	.menu-toggle:hover,
	.sub-menu-toggle:focus,
	.sub-menu-toggle:hover {
		background-color: transparent;
		color: #22a1c4;
		border-width: 0;
	}

	.menu-toggle:focus,
	.sub-menu-toggle:focus {
		outline: 1px solid #ccc;
		outline-offset: -1px;
	}

	.menu-toggle {
		line-height: 20px;
		margin-bottom: 1px;
		position: relative;
		z-index: 1000;
		width: 100%;
	}

	.menu-toggle::before,
	.menu-toggle.activated::before {
		margin-right: 10px;
		text-rendering: auto;
	}

	.sub-menu-toggle {
		float: right;
		padding: 10px;
		position: absolute;
		right: 0;
		top: 0;
		z-index: 100;
	}

	.sub-menu-toggle::before {
		display: inline-block;
		text-rendering: auto;
		-webkit-transform: rotate( 0 );
		-ms-transform:     rotate( 0 );
		transform:         rotate( 0 );
		-webkit-transition: transform .25s ease-in-out;
		-ms-transition:     transform .25s ease-in-out;
		transition:         transform .25s ease-in-out;
	}

	.sub-menu-toggle.activated::before {
		-webkit-transform: rotate( 180deg );
		-ms-transform:     rotate( 180deg );
		transform:         rotate( 180deg );
	}

	.genesis-responsive-menu .genesis-nav-menu .menu-item a,
	.genesis-responsive-menu .genesis-nav-menu .menu-item a:focus,
	.genesis-responsive-menu .genesis-nav-menu .menu-item a:hover {
		background-color: transparent;
		border-bottom: 0;
		margin-bottom: 1px;
	}

	.genesis-responsive-menu .genesis-nav-menu .menu-item a {
		outline-color: #fff;
	}

	.genesis-responsive-menu .genesis-nav-menu .menu-item a:focus,
	.genesis-responsive-menu .genesis-nav-menu .menu-item a:hover {
		text-decoration: underline;
	}

	.genesis-responsive-menu .genesis-nav-menu .menu-item a:focus {
		outline: 1px solid #fff;
	}

	.genesis-responsive-menu .genesis-nav-menu .menu-item {
		display: block;
		float: none;
		position: relative;
		text-align: left;
	}

	.genesis-responsive-menu .genesis-nav-menu .menu-item:focus,
	.genesis-responsive-menu .genesis-nav-menu .menu-item:hover {
		position: relative;
	}

	.front-page .genesis-responsive-menu .genesis-nav-menu li.current-menu-item > a,
	.genesis-responsive-menu .genesis-nav-menu > li > a,
	.genesis-responsive-menu .genesis-nav-menu .menu-item a {
		border: 0;
	}

	.genesis-responsive-menu .genesis-nav-menu .menu-item a {
		padding: 15px 20px;
		width: 100%;
	}

	.genesis-responsive-menu .genesis-nav-menu .sub-menu {
		border: none;
	}

	.genesis-responsive-menu .genesis-nav-menu .menu-item > a:focus ul.sub-menu,
	.genesis-responsive-menu .genesis-nav-menu .menu-item > a:focus ul.sub-menu .sub-menu {
		left: 0;
		margin-left: 0;
	}

	.genesis-responsive-menu .genesis-nav-menu > .menu-item-has-children > a::after {
		content: none;
	}

	.genesis-responsive-menu .genesis-nav-menu .sub-menu {
		clear: both;
		display: none;
		margin: 0;
		opacity: 1;
		padding-left: 15px;
		position: static;
		width: 100%;
	}

	.genesis-responsive-menu .genesis-nav-menu .sub-menu .sub-menu {
		margin: 0;
	}

	.altitude-home .simple-social-icons ul li {
		margin: 0 20px 20px !important;
	}

	.footer-widgets .wrap {
		padding-top: 60px;
		padding-bottom: 60px;
	}

	.front-page-2,
	.front-page-3,
	.front-page-4,
	.front-page-5,
	.front-page-6,
	.front-page-7 {
		border-top: 0;
		margin-top: 0;
	}

	.image-section .flexible-widgets {
		padding-bottom: 80px;
	}

	.solid-section .flexible-widgets {
		padding-bottom: 40px;
		padding-top: 60px;
	}

	.bottom-image {
		margin-top: 60px;
		margin-bottom: -80px;
	}

}

@media only screen and (max-width: 480px) {

	.front-page-1 .widget:first-of-type h4,
	.front-page-2 .widget:first-of-type h4 {
		font-size: 40px;
		font-size: 4rem;
	}

}
