<header id="main-header" class="main-header">

        <div id="video">
            <div class="logo">
                <p><img src="wp-content/themes/brandfilmfestival/images/brand-film-festival-logo.svg" alt="Brand Film Festival" /></p>
                <h4>2018 Submissions Now Open</h4>
            </div>
            <video poster="https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/polina.jpg" id="bgvid" playsinline autoplay muted loop>
                <!-- WCAG general accessibility recommendation is that media such as background video play through only once. Loop turned on for the purposes of illustration; if removed, the end of the video will fade in the same way created by pressing the "Pause" button  -->
                <!--<source src="http://thenewcode.com/assets/videos/polina.webm" type="video/webm">-->
                <source src="wp-content/themes/brandfilmfestival/images/brand-film-festival-reel.mp4" type="video/mp4">
            </video>
        </div>

        <nav id="main-navigation" class="main-navigation">
            <ul>
                <li><a href="#">home</a></li>
                <li>
                    <a href="#"><i class="fa fa-caret-down" aria-hidden="true"></i> about</a>
                    <ul>
                        <li><a href="#">chaos in reverse</a></li>
                        <li><a href="#">all together alone</a></li>
                        <li><a href="#">everything under the moon</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#"><i class="fa fa-caret-down" aria-hidden="true"></i> festival</a>
                    <ul>
                        <li><a href="#">Wolverine</a></li>
                        <li><a href="#">The Amazing Spider-man</a></li>
                        <li><a href="#">The Fantastic Four</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#"><i class="fa fa-caret-down" aria-hidden="true"></i> media</a>
                    <ul>
                        <li><a href="#">Detective Comics</a></li>
                        <li><a href="#">The Unbeatable Squirell Girl</a></li>
                        <li><a href="#">Daredevil</a></li>
                    </ul>
                </li>
                <li class="button"><a href="#"><span>submit</span></a></li>
            </ul>
        </nav>
    </header>

<section class="main-section">
    <div class="intro-copy">
        <p><b>Brand Film Festival 2018</b> pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat.</p>
    </div>
    <div class="button">
        <a href="#">Submit your film</a>
    </div>
</section>

<section class="main-section dark">

    <div class="video-module dark-wrapper">
        <div class="row top">
            <div class="column">
                <div class="video" style="background-image: url(wp-content/themes/brandfilmfestival/images/batman.jpg)">
                <a href="#" title="Click Me I'm Batman!" data-video="77SWgTm6hCw"><span><i class="fa fa-play" aria-hidden="true"></i></span></a>
                </div>
            </div>
            <div class="column">
                <div class="copy">
                    <h2>2017 Films</h2>
                    <p>Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat.</p>
                </div>
            </div>
        </div>
        <div class="row bottom">
            <div class="column">
                <div class="video" style="background-image: url(wp-content/themes/brandfilmfestival/images/wolverine-face.jpg)">
                    <a href="#" title="Click Me I'm Wolverine!" data-video="Gn66cG37Txo"><span><i class="fa fa-play" aria-hidden="true"></i></span></a>
                </div>
            </div>
            <div class="column">
                <div class="video" style="background-image: url(wp-content/themes/brandfilmfestival/images/squirell-girl.jpg)">
                    <a href="#" title="Click Me I'm Squirell Girl!" data-video="-mKjxQJyn1E"><span><i class="fa fa-play" aria-hidden="true"></i></span></a>
                </div>
            </div>
            <div class="column">
                <div class="video" style="background-image: url(wp-content/themes/brandfilmfestival/images/hulk.jpg)">
                    <a href="#" title="Click Me I'm Incredible!" data-video="gzSgBl5CnS8"><span><i class="fa fa-play" aria-hidden="true"></i></span></a>
                </div>
            </div>
            <div class="column">
                <div class="video" style="background-image: url(wp-content/themes/brandfilmfestival/images/vulture.jpg)">
                    <a href="#" title="Click Me I'm Vulture!" data-video="1S_T3bSOWbs"><span><i class="fa fa-play" aria-hidden="true"></i></span></a>
                </div>
            </div>
        </div>
    </div>

    <div class="video-module-old dark-wrapper" style="display:none">
        <div class="column">
            <div class="video" style="background-image: url(wp-content/themes/brandfilmfestival/images/batman.jpg)">
                <a href="#" title="Click Me I'm Batman!" data-video="77SWgTm6hCw"></a>
            </div>
        </div>
        <div class="column">
            <div class="video-list">
                <div class="video" style="background-image: url(wp-content/themes/brandfilmfestival/images/wolverine-face.jpg)">
                    <a href="#" title="Click Me I'm Wolverine!" data-video="Gn66cG37Txo"></a>
                </div>
                <div class="video" style="background-image: url(wp-content/themes/brandfilmfestival/images/squirell-girl.jpg)">
                    <a href="#" title="Click Me I'm Squirell Girl!" data-video="-mKjxQJyn1E"></a>
                </div>
                <div class="video" style="background-image: url(wp-content/themes/brandfilmfestival/images/hulk.jpg)">
                    <a href="#" title="Click Me I'm Incredible!" data-video="gzSgBl5CnS8"></a>
                </div>
                <div class="video" style="background-image: url(wp-content/themes/brandfilmfestival/images/vulture.jpg)">
                    <a href="#" title="Click Me I'm Vulture!" data-video="1S_T3bSOWbs"></a>
                </div>
            </div>
        </div>
    </div>

    <div class="more-link">
        <a href="#">View all Films</a>
    </div>
</section>



<figure class="parallax-image" style="background-image: url(wp-content/themes/brandfilmfestival/images/theater.jpg)"></figure>
<section class="main-section">
    <h1>News</h1>
    <div class="news-brief">
        <div>
            <div class="image">
                <a href="#" style="background-image: url(wp-content/themes/brandfilmfestival/images/wolverine.jpg)"></a>
            </div>
            <time>01/14/2018</time>
            <h3><a href="#">Wolverine The man and the myth</a></h3>
            <p>Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi.</p>
        </div>
        <div>
            <div class="image">
                <a href="#" style="background-image: url(wp-content/themes/brandfilmfestival/images/daredevil.jpg)"></a>
            </div>
            <time>03/23/2018</time>
            <h3><a href="#">The Devil Of Hells kitchen</a></h3>
            <p>Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi.</p>
        </div>
        <div>
            <div class="image">
                <a href="#" style="background-image: url(wp-content/themes/brandfilmfestival/images/spiderman.jpg)"></a>
            </div>
            <time>04/07/2018</time>
            <h3><a href="#">Your Friendly Neighborhood spiderman</a></h3>
            <p>Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi.</p>
        </div>
    </div>
    <div class="more-link">
        <a href="#">View all posts</a>
    </div>
</section>

<figure class="parallax-image" style="background-image: url(wp-content/themes/brandfilmfestival/images/outside-theater.jpg)"></figure>
<section class="main-section">
    <h1>Judges</h1>
    <div class="speakers">
        <div class="speakers-row">
            <div class="speakers-left-column">
                <div class="large-speaker-portrait">
                    <div class="portrait">
                        <div style="background-image:url(http://www.prweekconference.com/wp-content/uploads/2017/06/Gary-Briggs.jpg);"></div>
                    </div>
                    <hgroup>
                        <h6>Chair of Judges</h6>
                        <h4>Gary Briggs</h4>
                        <h5>CMO</h5>
                    </hgroup>
                </div>
            </div>
            <div class="speakers-right-column">
                <div class="small-speaker-portrait">
                    <div class="portrait">
                        <div style="background-image: url(http://www.prweekconference.com/wp-content/uploads/2017/05/Stephanie-Clary.jpg);"></div>
                    </div>
                    <hgroup>
                        <h4>Stephanie Clary</h4>
                        <h5>managing editor</h5>
                    </hgroup>
                </div>
                <div class="small-speaker-portrait">
                    <div class="portrait">
                        <div style="background-image: url(http://www.prweekconference.com/wp-content/uploads/2017/05/Susan-Lee.jpg);"></div>
                    </div>
                    <hgroup>
                        <h4>Susan Lee</h4>
                        <h5>VP, head of people</h5>
                    </hgroup>
                </div>
                <div class="small-speaker-portrait">
                    <div class="portrait">
                        <div style="background-image: url(http://www.prweekconference.com/wp-content/uploads/2017/04/Chieh_Huang_201609_portrait_1477-1.jpg);"></div>
                    </div>
                    <hgroup>
                        <h4>Chieh Huang</h4>
                        <h5>CEO</h5>
                    </hgroup>
                </div>
                <div class="small-speaker-portrait">
                    <div class="portrait">
                        <div style="background-image: url(http://www.prweekconference.com/wp-content/uploads/2017/04/Jemilah-Lemieux.jpg);"></div>
                    </div>
                    <hgroup>
                        <h4>Jamilah Lemieux</h4>
                        <h5>VP, news and men's programming</h5>
                    </hgroup>
                </div>
                <div class="small-speaker-portrait">
                    <div class="portrait">
                        <div style="background-image: url(http://www.prweekconference.com/wp-content/uploads/2017/05/Tim-Pool.jpg);"></div>
                    </div>
                    <hgroup>
                        <h4>Tim Pool</h4>
                        <h5>founder, host, editor, Timcast; former senior correspondent, Fusion; former news producer/host</h5>
                    </hgroup>
                </div>
                <div class="small-speaker-portrait">
                    <div class="portrait">
                        <div style="background-image: url(http://www.prweekconference.com/wp-content/uploads/2017/04/LaraC_Head_Shot-1.jpg);"></div>
                    </div>
                    <hgroup>
                        <h4>Lara Crystal</h4>
                        <h5>cofounder</h5>
                    </hgroup>
                </div>
                <div class="small-speaker-portrait">
                    <div class="portrait">
                        <div style="background-image: url(http://www.prweekconference.com/wp-content/uploads/2017/05/Stephanie-Clary.jpg);"></div>
                    </div>
                    <hgroup>
                        <h4>Stephanie Clary</h4>
                        <h5>managing editor</h5>
                    </hgroup>
                </div>
                <div class="small-speaker-portrait">
                    <div class="portrait">
                        <div style="background-image: url(http://www.prweekconference.com/wp-content/uploads/2017/05/Susan-Lee.jpg);"></div>
                    </div>
                    <hgroup>
                        <h4>Susan Lee</h4>
                        <h5>VP, head of people</h5>
                    </hgroup>
                </div>
            </div>
        </div>
    </div>
    <div class="more-link">
        <a href="#">View all judges</a>
    </div>
</section>

<footer id="main-footer" class="main-footer">
      <div class="wrapper">
        <div class="sponsors">
            <h1>Sponsors</h1>
            <ul>
                <li>
                    <p>
                        <a href="#" target="_blank">
                            <img src="wp-content/themes/brandfilmfestival/images/sponsor-01.jpg" />
                        </a>
                    </p>
                </li>
                <li>
                    <p>
                        <a href="#" target="_blank">
                            <img src="wp-content/themes/brandfilmfestival/images/sponsor-02.jpg" />
                        </a>
                    </p>
                </li>
                <li>
                    <p>
                        <a href="#" target="_blank">
                            <img src="wp-content/themes/brandfilmfestival/images/sponsor-03.jpg" style="max-height: 100px;" />
                        </a>
                    </p>
                </li>
                <li>
                    <p>
                        <a href="#" target="_blank">
                            <img src="wp-content/themes/brandfilmfestival/images/sponsor-04.jpg" />
                        </a>
                    </p>
                </li>
                <li>
                    <p>
                        <a href="#" target="_blank">
                            <img src="wp-content/themes/brandfilmfestival/images/sponsor-05.jpg" />
                        </a>
                    </p>
                </li>
                <li>
                    <p>
                        <a href="#" target="_blank">
                            <img src="wp-content/themes/brandfilmfestival/images/sponsor-06.jpg" />
                        </a>
                    </p>
                </li>
                <li>
                    <p>
                        <a href="#" target="_blank">
                            <img src="wp-content/themes/brandfilmfestival/images/sponsor-07.jpg" />
                        </a>
                    </p>
                </li>
                <li>
                    <p>
                        <a href="#" target="_blank">
                            <img src="wp-content/themes/brandfilmfestival/images/sponsor-08.jpg" />
                        </a>
                    </p>
                </li>
                <li>
                    <p>
                        <a href="#" target="_blank">
                            <img src="wp-content/themes/brandfilmfestival/images/sponsor-09.jpg" />
                        </a>
                    </p>
                </li>
            </ul>
        </div>
        <div class="links">
          <div>
            <ul>
              <li>Contact</li>
              <li><a href="mailto:liz.bilash@haymarketmedia.com"> Sponsorship</a></li>
              <li><a href="mailto:tara.means@haymarketmedia.com"> Questions</a></li>

            </ul>
          </div>
          <div>
            <ul>
              <li>Follow Us</li>
              <li><a href="https://twitter.com/PRWeek">Twitter</a></li>
              <li><a href="https://www.facebook.com/PRWeekUS">Facebook</a></li>
              <li><a href="https://www.linkedin.com/company-beta/1960884/?pathWildcard=1960884">LinkedIn</a></li>
              <li><a href="http://www.prweek.com/us/subscribe">Subscribe</a></li>

            </ul>
          </div>
          <div>
            <ul>
              <li>PRWeek Events</li>
              <li><a href="http://events.prweek.com/40-under-40/">40 under 40</a></li>
              <li><a href="http://www.brandfilmfestival.com/">Brand Film Festival</a></li>
               <li><a href="http://events.prweek.com/hall-of-fame/">Hall of Fame</a></li> <li><a href="http://www.prweek.com/article/1426362/2017-prweek-hall-femme">Hall of Femme</a></li>

              <li><a href="http://events.prweek.com/awards/">PRWeek Awards</a></li>
            </ul>
          </div>
          <div>
            <ul>
              <li>Legal Terms</li>
              <li><a href="http://www.haymarket.com/privacy-policy">Privacy Policy</a></li>
              <li><a href="http://www.haymarket.com/terms-and-conditions">Terms and Conditions</a></li>

            </ul>
          </div>
        </div>
      </div>
    </footer>
<!--<div class="overlay"><div class="wrapper"><div class="cell"><div class="video-wrap"><div class="video"><iframe src="https://www.youtube.com/embed/%video_id%?rel=0&amp;controls=0&amp;showinfo=0?ecver=2" frameborder="0"  allowfullscreen></iframe></div></div></div></div></div>-->
    <!--<div class="overlay">
        <div class="wrapper">
            <div class="cell">
                <div class="video-wrap">
                    <a href="#" class="close">Close</a>
                    <div class="video">
                        <iframe src="https://www.youtube.com/embed/77SWgTm6hCw?rel=0&amp;controls=0&amp;showinfo=0?ecver=2" frameborder="0"  allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>-->
