<div id="sub-page" class="sub-page">
    <figure class="parallax-image" style="background-image: url(wp-content/themes/brandfilmfestival/images/sub-page-header.jpg)">
      <div class="logo">
          <p><img src="wp-content/themes/brandfilmfestival/images/brand-film-festival-logo.svg" alt="Brand Film Festival" /></p>
      </div>
    </figure>
    <div class="wrapper">
        <aside id="main-aside" class="main-aside">
            <ul>
              <li><a href="#">Festival</a></li>
              <li><a href="#" title="2017 Films">2017 Films</a></li>
                <li><a href="#" title="2018 Jurors">2018 Jurors</a></li>
                <li><a href="#" title="Sponsors">Sponsors</a></li>
                <li><a href="#" title="Attend">Attend</a></li>
            </ul>
        </aside>
        <main id="main-content" class="main-content">
            <header>
              <p><strong>Brand Film Festival 2018</strong> pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra.</p>
            </header>
            <div class="video-module">
                <div class="cell-wrapper">
                    <div class="cell">
                      <div class="video" style="background-image: url(wp-content/themes/brandfilmfestival/images/wolverine-face.jpg)">
                          <a href="#" title="Click Me I'm Wolverine!" data-video="Gn66cG37Txo">
                              <div class="info">
                                  <div class="section">Branded Program</div>
                                  <hgroup>
                                      <h3>The open Patient: Healing through sharing.</h3>
                                      <h4>Red Hat</h4>
                                  </hgroup>
                              </div>
                          </a>
                      </div>
                    </div>
                    <div class="cell">
                       <div class="video" style="background-image: url(wp-content/themes/brandfilmfestival/images/squirell-girl.jpg)">
                          <a href="#" title="Click Me I'm Squirell Girl!" data-video="-mKjxQJyn1E">
                           <div class="info">
                                  <div class="section">Corporate</div>
                                  <hgroup>
                                      <h3>Rogue One Mask</h3>
                                      <h4>Globe Telecom with Pabrika, Publics JimenezBasic and AdSpark</h4>
                                  </hgroup>
                              </div>
                           </a>
                      </div>
                    </div>
                    <div class="cell">
                      <div class="video" style="background-image: url(wp-content/themes/brandfilmfestival/images/hulk.jpg)">
                          <a href="#" title="Click Me I'm Incredible!" data-video="gzSgBl5CnS8">
                              <div class="info">
                                  <div class="section">Corporate</div>
                                  <hgroup>
                                      <h3>Rogue One Mask</h3>
                                      <h4>Globe Telecom with Pabrika, Publics JimenezBasic and AdSpark</h4>
                                  </hgroup>
                              </div>
                          </a>
                      </div>
                    </div>
                    <div class="cell">
                      <div class="video" style="background-image: url(wp-content/themes/brandfilmfestival/images/vulture.jpg)">
                          <a href="#" title="Click Me I'm Vulture!" data-video="1S_T3bSOWbs">
                              <div class="info">
                                  <div class="section">Branded Program</div>
                                  <hgroup>
                                      <h3>The open Patient: Healing through sharing.</h3>
                                      <h4>Red Hat</h4>
                                  </hgroup>
                              </div>
                          </a>
                      </div>
                    </div>
                    <div class="cell">
                      <div class="video" style="background-image: url(wp-content/themes/brandfilmfestival/images/wolverine-face.jpg)">
                          <a href="#" title="Click Me I'm Wolverine!" data-video="Gn66cG37Txo">
                              <div class="info">
                                  <div class="section">Branded Program</div>
                                  <hgroup>
                                      <h3>The open Patient: Healing through sharing.</h3>
                                      <h4>Red Hat</h4>
                                  </hgroup>
                              </div>
                          </a>
                      </div>
                    </div>
                    <div class="cell">
                       <div class="video" style="background-image: url(wp-content/themes/brandfilmfestival/images/squirell-girl.jpg)">
                          <a href="#" title="Click Me I'm Squirell Girl!" data-video="-mKjxQJyn1E">
                           <div class="info">
                                  <div class="section">Corporate</div>
                                  <hgroup>
                                      <h3>Rogue One Mask</h3>
                                      <h4>Globe Telecom with Pabrika, Publics JimenezBasic and AdSpark</h4>
                                  </hgroup>
                              </div>
                           </a>
                      </div>
                    </div>
                    <div class="cell">
                      <div class="video" style="background-image: url(wp-content/themes/brandfilmfestival/images/hulk.jpg)">
                          <a href="#" title="Click Me I'm Incredible!" data-video="gzSgBl5CnS8">
                              <div class="info">
                                  <div class="section">Corporate</div>
                                  <hgroup>
                                      <h3>Rogue One Mask</h3>
                                      <h4>Globe Telecom with Pabrika, Publics JimenezBasic and AdSpark</h4>
                                  </hgroup>
                              </div>
                          </a>
                      </div>
                    </div>
                    <div class="cell">
                      <div class="video" style="background-image: url(wp-content/themes/brandfilmfestival/images/vulture.jpg)">
                          <a href="#" title="Click Me I'm Vulture!" data-video="1S_T3bSOWbs">
                              <div class="info">
                                  <div class="section">Branded Program</div>
                                  <hgroup>
                                      <h3>The open Patient: Healing through sharing.</h3>
                                      <h4>Red Hat</h4>
                                  </hgroup>
                              </div>
                          </a>
                      </div>
                    </div>
                </div>
            </div>
            <div class="speakers">
                <div class="speakers-row">
                    <div class="speakers-left-column">
                        <div class="large-speaker-portrait">
                            <div class="portrait">
                                <div style="background-image:url(http://www.prweekconference.com/wp-content/uploads/2017/06/Gary-Briggs.jpg);"></div>
                            </div>
                            <hgroup>
                                <h6>Chair of Judges</h6>
                                <h4>Gary Briggs</h4>
                                <h5>CMO</h5>
                            </hgroup>
                        </div>
                    </div>
                    <div class="speakers-right-column">
                        <div class="small-speaker-portrait">
                            <div class="portrait">
                                <div style="background-image: url(http://www.prweekconference.com/wp-content/uploads/2017/05/Stephanie-Clary.jpg);"></div>
                            </div>
                            <hgroup>
                                <h4>Stephanie Clary</h4>
                                <h5>managing editor</h5>
                            </hgroup>
                        </div>
                        <div class="small-speaker-portrait">
                            <div class="portrait">
                                <div style="background-image: url(http://www.prweekconference.com/wp-content/uploads/2017/05/Susan-Lee.jpg);"></div>
                            </div>
                            <hgroup>
                                <h4>Susan Lee</h4>
                                <h5>VP, head of people</h5>
                            </hgroup>
                        </div>
                        <div class="small-speaker-portrait">
                            <div class="portrait">
                                <div style="background-image: url(http://www.prweekconference.com/wp-content/uploads/2017/04/Chieh_Huang_201609_portrait_1477-1.jpg);"></div>
                            </div>
                            <hgroup>
                                <h4>Chieh Huang</h4>
                                <h5>CEO</h5>
                            </hgroup>
                        </div>
                        <div class="small-speaker-portrait">
                            <div class="portrait">
                                <div style="background-image: url(http://www.prweekconference.com/wp-content/uploads/2017/04/Jemilah-Lemieux.jpg);"></div>
                            </div>
                            <hgroup>
                                <h4>Jamilah Lemieux</h4>
                                <h5>VP, news and men's programming</h5>
                            </hgroup>
                        </div>
                        <div class="small-speaker-portrait">
                            <div class="portrait">
                                <div style="background-image: url(http://www.prweekconference.com/wp-content/uploads/2017/05/Tim-Pool.jpg);"></div>
                            </div>
                            <hgroup>
                                <h4>Tim Pool</h4>
                                <h5>founder, host, editor, Timcast; former senior correspondent, Fusion; former news producer/host</h5>
                            </hgroup>
                        </div>
                        <div class="small-speaker-portrait">
                            <div class="portrait">
                                <div style="background-image: url(http://www.prweekconference.com/wp-content/uploads/2017/04/LaraC_Head_Shot-1.jpg);"></div>
                            </div>
                            <hgroup>
                                <h4>Lara Crystal</h4>
                                <h5>cofounder</h5>
                            </hgroup>
                        </div>
                        <div class="small-speaker-portrait">
                            <div class="portrait">
                                <div style="background-image: url(http://www.prweekconference.com/wp-content/uploads/2017/05/Stephanie-Clary.jpg);"></div>
                            </div>
                            <hgroup>
                                <h4>Stephanie Clary</h4>
                                <h5>managing editor</h5>
                            </hgroup>
                        </div>
                        <div class="small-speaker-portrait">
                            <div class="portrait">
                                <div style="background-image: url(http://www.prweekconference.com/wp-content/uploads/2017/05/Susan-Lee.jpg);"></div>
                            </div>
                            <hgroup>
                                <h4>Susan Lee</h4>
                                <h5>VP, head of people</h5>
                            </hgroup>
                        </div>
                    </div>
                </div>
            </div>
            <div class="news-module">
              <div class="cell-wrapper">
                <div class="cell">
                  <div class="image">
                    <a href="#" target="_self" style="background-image: url();"></a>
                  </div>
                  <time>08/31/2017</time>
                  <h3><a href="#" target="_self">The Devil Of Hells kitchen</a></h3>
                  <p>Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi.</p>
                </div>
              </div>
            </div>
        </main>
        <div style="clear:both;"></div>
    </div>
    <div class="color-bar"></div>
    <footer id="main-footer" class="main-footer">
    <div class="wrapper">
      <div class="links">
        <div>
          <ul>
            <li>Contact</li>
            <li><a href="mailto:liz.bilash@haymarketmedia.com"> Sponsorship</a></li>
            <li><a href="mailto:tara.means@haymarketmedia.com"> Questions</a></li>

          </ul>
        </div>
        <div>
          <ul>
            <li>Follow Us</li>
            <li><a href="https://twitter.com/PRWeek">Twitter</a></li>
            <li><a href="https://www.facebook.com/PRWeekUS">Facebook</a></li>
            <li><a href="https://www.linkedin.com/company-beta/1960884/?pathWildcard=1960884">LinkedIn</a></li>
            <li><a href="http://www.prweek.com/us/subscribe">Subscribe</a></li>

          </ul>
        </div>
        <div>
          <ul>
            <li>PRWeek Events</li>
            <li><a href="http://events.prweek.com/40-under-40/">40 under 40</a></li>
            <li><a href="http://www.brandfilmfestival.com/">Brand Film Festival</a></li>
             <li><a href="http://events.prweek.com/hall-of-fame/">Hall of Fame</a></li> <li><a href="http://www.prweek.com/article/1426362/2017-prweek-hall-femme">Hall of Femme</a></li>

            <li><a href="http://events.prweek.com/awards/">PRWeek Awards</a></li>
          </ul>
        </div>
        <div>
          <ul>
            <li>Legal Terms</li>
            <li><a href="http://www.haymarket.com/privacy-policy">Privacy Policy</a></li>
            <li><a href="http://www.haymarket.com/terms-and-conditions">Terms and Conditions</a></li>

          </ul>
        </div>
      </div>
    </div>
  </footer>
</div>
