.main-media-sync-page a:focus {
    box-shadow: none;
    color: inherit;
}

.main-media-sync-page .notice pre {
    display: inline;
    margin: 0;
}

.main-media-sync-page .notice-files-imported {
    display: none;
}
.main-media-sync-page .notice-files-imported.is-visible {
    display: block;
}


.main-media-sync-page .media-sync-button-holder {
    margin: 20px 0;
}

.main-media-sync-page .media-sync-button-holder .import-spinner {
    float: none;
    margin-top: -2px;
}

.main-media-sync-page .media-sync-button-holder .media-sync-dry-run-holder {
    display: block;
    padding: 12px 0 0;
}


.main-media-sync-page .media-sync-scan-files-message {
    display: block;
    margin: 15px 0;
}

/* Progress Bar */
.main-media-sync-page .media-sync-progress-holder {
    display: none;
    background: #ddd;
}
.main-media-sync-page .media-sync-progress-holder .media-sync-progress {
    display: block;
    width: 0;
    height: 15px;
    background: #0073aa;
    -moz-transition: width .3s ease-in-out;
    -webkit-transition: width .3s ease-in-out;
    -o-transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
}
.main-media-sync-page .media-sync-progress-holder.is-visible {
    display: block;
}

/* Counters and other texts */
.main-media-sync-page .media-sync-state {
    display: block;
    padding: 5px 0 0;
}
.main-media-sync-page .media-sync-state .media-sync-state-number {
    font-size: 16px;
    font-weight: 500;
}
.main-media-sync-page .media-sync-state .media-sync-state-text {
    font-size: 15px;
}
.main-media-sync-page .media-sync-state.media-sync-state-note {
    color: #aaa;
    padding: 10px 0 5px;
}

.main-media-sync-page .wp-filter {
    margin-bottom: 10px;
}
.main-media-sync-page .wp-filter .filter-items {
    padding: 11px 0;
}


/* Table Holder */
.main-media-sync-page .media-sync-table-holder {
    position: relative;
}
.main-media-sync-page .media-sync-table-holder .table-spinner {
    display: none;
}
.main-media-sync-page .media-sync-table-holder.is-loading .table-spinner {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30px;
    height: 30px;
    line-height: 30px;
    background-position: 50% 50%;
    vertical-align: middle;
    z-index: 2;
    margin: -15px 0 0 -15px;
}
.main-media-sync-page .media-sync-table-holder.is-loading:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(250, 250, 250, 0.8);
    z-index: 1;
}

/* Table Row */
.main-media-sync-page tr.media-sync-list-file.is-first-level-no {
    float: left;
    height: 0;
    opacity: 0;
    visibility: collapse;
}
.main-media-sync-page tr.media-sync-list-file.is-first-level-no.is-expanded {
    float: none;
    height: auto;
    opacity: 1;
    visibility: visible;
}

/* Highlight row that was imported successfully */
.main-media-sync-page tr.media-sync-list-file.highlight-success td,
.main-media-sync-page tr.media-sync-list-file.highlight-success th {
    background: #fff7b7;
}
/* Highlight row that was imported with error */
.main-media-sync-page tr.media-sync-list-file.highlight-error td,
.main-media-sync-page tr.media-sync-list-file.highlight-error th {
    background: #fb9e9e;
}


.main-media-sync-page tr.media-sync-list-file .media-sync-toggle-row {
    font-size: 26px;
    cursor: pointer;
}
.main-media-sync-page tr.media-sync-list-file .media-sync-toggle-row:before {
    content: "\f139";
    display: block;
    margin: -2px 0 0 -5px;
}
.main-media-sync-page tr.media-sync-list-file.with-expanded-children .media-sync-toggle-row:before {
    content: "\f140";
}

.main-media-sync-page tr.media-sync-list-file .dashicons-category {
    position: relative;
    z-index: 1;
    margin-top: -1px;
}
.main-media-sync-page tr.media-sync-list-file .media-sync-file-name {
    display: inline-block;
    min-width: 18px;
}
.main-media-sync-page tr.media-sync-list-file .media-sync-num-items {
    color: #aaa;
    font-size: 12px;
    margin-left: 5px;
}

.main-media-sync-page tr.media-sync-list-file .media-sync-parents {
    margin-right: 2px;
}
.main-media-sync-page tr.media-sync-list-file.is-file .media-sync-parents {
    margin-right: 16px;
}
.main-media-sync-page tr.media-sync-list-file.is-file.toggle-arrows-yes .media-sync-parents {
    margin-right: 10px;
}
.main-media-sync-page tr.media-sync-list-file.is-file.is-in-db-yes .media-sync-file-name {
    opacity: 0.3;
}

.main-media-sync-page .widefat tbody td,
.main-media-sync-page .widefat tbody th {
    border-bottom: 1px solid #f9f9f9;
    padding-top: 8px;
    padding-bottom: 7px;
}


.main-media-sync-page tr.media-sync-list-file.is-file td,
.main-media-sync-page tr.media-sync-list-file.is-file th {
    padding-bottom: 8px;
}
.main-media-sync-page tr.media-sync-list-file.is-in-db-yes .media-sync-already-in-db {
    display: none;
}
.main-media-sync-page tr.media-sync-list-file.is-in-db-yes:hover .media-sync-already-in-db {
    display: inline;
}
.main-media-sync-page tr.media-sync-list-file.is-in-db-yes:hover td,
.main-media-sync-page tr.media-sync-list-file.is-in-db-yes:hover th {
    padding-bottom: 7px;
}


.main-media-sync-page tr.media-sync-list-file .media-sync-parent {
    display: block;
    float: left;
    position: relative;
    width: 18px;
    height: 18px;
    text-align: center;
}

.main-media-sync-page tr.media-sync-list-file .media-sync-parent.is-first-yes i,
.main-media-sync-page tr.media-sync-list-file .media-sync-parent.is-last-yes i,
.main-media-sync-page tr.media-sync-list-file .media-sync-parent.is-last-yes:after {
    content: "";
    position: absolute;
    display: block;
    left: 9px;
}
.main-media-sync-page tr.media-sync-list-file .media-sync-parent.is-first-yes i,
.main-media-sync-page tr.media-sync-list-file .media-sync-parent.is-last-yes i {
    bottom: 9px;
    height: 35px;
    border-left: 1px dotted #555;
}
.main-media-sync-page tr.media-sync-list-file .media-sync-parent.is-last-yes:after {
    top: 50%;
    width: 17px;
    border-bottom: 1px dotted #555;
}

.main-media-sync-page tr.media-sync-list-file.toggle-arrows-yes .media-sync-parent.is-first-yes i,
.main-media-sync-page tr.media-sync-list-file.toggle-arrows-yes .media-sync-parent.is-last-yes i,
.main-media-sync-page tr.media-sync-list-file.toggle-arrows-yes .media-sync-parent.is-last-yes:after {
    border: none;
}


.main-media-sync-page .media-sync-no-results {
    font-size: 14px;
    padding: 20px 5px;
    margin: 0;
}

.main-media-sync-page .widefat tfoot td.check-column,
.main-media-sync-page .widefat thead td.check-column {
    padding-top: 2px;
}

.main-media-sync-page .widefat tbody th.check-column {
    padding-top: 9px;
}