/*
	Theme Name: Haymarket Magazine Pro
	Theme URI: http://my.studiopress.com/themes/magazine/
	Description: Haymarket Child Theme based on Magazine Pro
	Author: Haymarket
	Author URI: 

	Version: 3.2.4

	Template: genesis
	Template Version: 2.1

	License: GPL-2.0+
	License URI: http://www.opensource.org/licenses/gpl-license.php

	Text Domain: hm-magazine-pro
*/

/* Table of Contents
	- HTML5 Reset
		- Baseline Normalize
		- Box Sizing
		- Float Clearing
	- Defaults
		- Typographical Elements
		- Headings
		- Objects
		- Gallery
		- Forms
		- Tables
		- Screen Reader Text
	- Structure and Layout
		- Site Containers
		- Column Widths and Positions
		- Column Classes
	- Common Classes
		- WordPress
		- Genesis
		- Search Form
		- Titles
	- Widgets
		- Featured Content
	- Plugins
		- Genesis eNews Extended
		- Genesis Latest Tweets
		- Genesis Responsive Slider
		- Jetpack
		- Simple Social Icons
	- Skip Links
	- Site Header
		- Title Area
		- Widget Area
	- Site Navigation
		- Header Navigation
		- Primary Navigation
		- Secondary Navigation
		- Accessible Menu
	- Content Area
		- Entries
		- Pagination
		- Comments
	- Sidebars
	- Footer Widgets
	- Site Footer
	- Media Queries
		- max-width: 1180px
		- max-width: 1023px
		- max-width: 840px
		- max-width: 600px
		- max-width: 480px
	- Ninja Forms
		- widget
*/


/* HTML5 Reset
---------------------------------------------------------------------------------------------------- */

/* Baseline Normalize
--------------------------------------------- */
/* normalize.css v4.1.1 | MIT License | http://necolas.github.io/normalize.css/ */

html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,details,figcaption,figure,footer,header,main,menu,nav,section,summary{display:block}audio,canvas,progress,video{display:inline-block}audio:not([controls]){display:none;height:0}progress{vertical-align:baseline}template,[hidden]{display:none}a{background-color:transparent;-webkit-text-decoration-skip:objects}a:active,a:hover{outline-width:0}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}dfn{font-style:italic}h1{font-size:2em;margin:0.67em 0}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-0.25em}sup{top:-0.5em}img{border-style:none}svg:not(:root){overflow:hidden}code,kbd,pre,samp{font-family:monospace, monospace;font-size:1em}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}button,input,optgroup,select,textarea{font:inherit;margin:0}optgroup{font-weight:bold}button,input{overflow:visible}button,select{text-transform:none}button,html [type="button"],[type="reset"],[type="submit"]{-webkit-appearance:button}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type="button"]:-moz-focusring,[type="reset"]:-moz-focusring,[type="submit"]:-moz-focusring{outline:1px dotted ButtonText}fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}textarea{overflow:auto}[type="checkbox"],[type="radio"]{box-sizing:border-box;padding:0}[type="number"]::-webkit-inner-spin-button,[type="number"]::-webkit-outer-spin-button{height:auto}[type="search"]{-webkit-appearance:textfield;outline-offset:-2px}[type="search"]::-webkit-search-cancel-button,[type="search"]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-input-placeholder{color:inherit;opacity:0.54}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}

/* Box Sizing
--------------------------------------------- */

html,
input[type="search"]{
	-webkit-box-sizing: border-box;
	-moz-box-sizing:    border-box;
	box-sizing:         border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}


/* Float Clearing
--------------------------------------------- */

.author-box:before,
.clearfix:before,
.entry:before,
.entry-content:before,
.footer-widgets:before,
.nav-primary:before,
.nav-secondary:before,
.pagination:before,
.site-container:before,
.site-footer:before,
.site-header:before,
.site-inner:before,
.widget:before,
.wrap:before {
	content: " ";
	display: table;
}

.author-box:after,
.clearfix:after,
.entry:after,
.entry-content:after,
.footer-widgets:after,
.nav-primary:after,
.nav-secondary:after,
.pagination:after,
.site-container:after,
.site-footer:after,
.site-header:after,
.site-inner:after,
.widget:after,
.wrap:after {
	clear: both;
	content: " ";
	display: table;
}


/* Defaults
---------------------------------------------------------------------------------------------------- */

/* Typographical Elements
--------------------------------------------- */

/* Colors from styleguide
Cofense Blue
100%	#0f2538
75%		#4a5b6a
25%		#c3c8cd
Cofense Red
100%	#cd202c
75%		#e25c63
25%		#f5c9cb
Cofense Gray
100%	#5a5a5a
75%		#828283
25%		#d5d5d6
Cofense Light Blue
100%	#00aff0
75%		#40c2f3
25%		#bfebfb
*/
html {
	font-size: 62.5%; /* 10px browser default */
}

/* Chrome fix */
body > div {
	font-size: 1.6rem;
}

body {
	background-color: #fff;
	color: #222;
	font-family: Arial, sans-serif;
	font-size: 16px;
	font-size: 1.6rem;
	font-weight: 300;
	line-height: 1.625;
}

body.magazine-landing {
	background-color: #222;
}

a,
button,
input:focus,
input[type="button"],
input[type="reset"],
input[type="submit"],
textarea:focus,
.button {
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition:    all 0.1s ease-in-out;
	-ms-transition:     all 0.1s ease-in-out;
	-o-transition:      all 0.1s ease-in-out;
	transition:         all 0.1s ease-in-out;
}

::-moz-selection {
	background-color: #222;
	color: #fff;
}

::selection {
	background-color: #222;
	color: #fff;
}

a {
	background-color: inherit;
	color: #222;
	font-weight: 400;
	text-decoration: none;
}

a:focus,
a:hover {
	color: #cd202c;
}

p {
	margin: 0 0 24px;
	padding: 0;
}

strong {
	font-weight: 700;
}

ol,
ul {
	margin: 0;
	padding: 0;
}

mark {
	background-color: #ddd;
	color: #000;
}

blockquote,
blockquote::before {
	color: #888;
}

blockquote {
	margin: 40px;
}

blockquote::before {
	content: "\201C";
	display: block;
	font-size: 30px;
	font-size: 3rem;
	height: 0;
	left: -20px;
	position: relative;
	top: -10px;
}

cite {
	font-style: normal;
}

hr {
	border: 0;
	border-collapse: collapse;
	border-bottom: 2px solid #eee;
	clear: left;
	margin: 0 0 40px;
	padding-top: 20px;
}

/* Headings
--------------------------------------------- */

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #222;
	font-family: Arial, sans-serif;
	font-weight: 500;
	line-height: 1.2;
	margin: 0 0 16px;
}

h1 {
	font-size: 36px;
	font-size: 3.6rem;
}

h2 {
	font-size: 30px;
	font-size: 3rem;
}

h3 {
	font-size: 24px;
	font-size: 2.4rem;
}

h4 {
	font-size: 20px;
	font-size: 2rem;
}

h5 {
	font-size: 18px;
	font-size: 1.8rem;
}

h6 {
	font-size: 16px;
	font-size: 1.6rem;
}

/* Objects
--------------------------------------------- */

embed,
iframe,
img,
object,
video,
.wp-caption {
	max-width: 100%;
}

img {
	height: auto;
}

/* Gallery
--------------------------------------------- */

.gallery {
	overflow: hidden;
	margin-bottom: 28px;
}

.gallery-item {
	float: left;
	margin: 0;
	padding: 0 4px;
	text-align: center;
	width: 100%;
}

.gallery-columns-2 .gallery-item {
	width: 50%;
}

.gallery-columns-3 .gallery-item {
	width: 33%;
}

.gallery-columns-4 .gallery-item {
	width: 25%;
}

.gallery-columns-5 .gallery-item {
	width: 20%;
}

.gallery-columns-6 .gallery-item {
	width: 16.6666%;
}

.gallery-columns-7 .gallery-item {
	width: 14.2857%;
}

.gallery-columns-8 .gallery-item {
	width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	width: 11.1111%;
}

.gallery-columns-2 .gallery-item:nth-child(2n+1),
.gallery-columns-3 .gallery-item:nth-child(3n+1),
.gallery-columns-4 .gallery-item:nth-child(4n+1),
.gallery-columns-5 .gallery-item:nth-child(5n+1),
.gallery-columns-6 .gallery-item:nth-child(6n+1),
.gallery-columns-7 .gallery-item:nth-child(7n+1),
.gallery-columns-8 .gallery-item:nth-child(8n+1),
.gallery-columns-9 .gallery-item:nth-child(9n+1) {
	clear: left;
}

.gallery .gallery-item img {
	border: none;
	height: auto;
	margin: 0;
}

/* Forms
--------------------------------------------- */

input,
select,
textarea {
	background-color: #fff;
	border: 1px solid #ddd;
	color: #222;
	font-family: Arial, sans-serif;
	font-size: 14px;
	font-size: 1.4rem;
	font-weight: 300;
	padding: 16px;
	width: 100%;
}

input:focus,
textarea:focus {
	border: 1px solid #888;
	outline: none;
}

input[type="checkbox"],
input[type="image"],
input[type="radio"] {
	width: auto;
}

::-moz-placeholder {
	color: #222;
	font-family: Arial, sans-serif;
	opacity: 1;
}

::-webkit-input-placeholder {
	color: #222;
	font-family: Arial, sans-serif;
}
.contactbutton {
	display: block;
	text-align: center;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.button,
.entry-content .button,
.footer-widgets .contactbutton {
	background-color: #00aff0;
	border: none;
	color: #fff;
	cursor: pointer;
	font-family: Arial, sans-serif;
	padding: 16px 24px;
	text-transform: uppercase;
	white-space: normal;
	width: auto;
}

button:focus,
input:focus[type="button"],
input:focus[type="reset"],
input:focus[type="submit"],
.button:focus,
.entry-content .button:focus,
button:hover,
input:hover[type="button"],
input:hover[type="reset"],
input:hover[type="submit"],
.button:hover,
.entry-content .button:hover,
.footer-widgets .contactbutton:hover {
	color: #fff;
	background-color: #40c2f3;
}
button.continue-reading-btn, button.continue-reading-btn:focus, button.continue-reading-btn:hover {
    background-color: #d5d5d6;
    color: #5a5a5a;
    font-size: 12px;
    padding: 5px;
    text-align: center;
    width: 100%;
    text-transform: capitalize;
}
button.small,
input[type="button"].small,
input[type="reset"].small,
input[type="submit"].small,
.button.small {
	padding: 8px 12px;
}

.entry-content .button:focus,
.entry-content .button:hover {
	color: #fff;
}

.button {
	display: inline-block;
}

.site-container button:disabled,
.site-container button:disabled:hover,
.site-container input:disabled,
.site-container input:disabled:hover,
.site-container input[type="button"]:disabled,
.site-container input[type="button"]:disabled:hover,
.site-container input[type="reset"]:disabled,
.site-container input[type="reset"]:disabled:hover,
.site-container input[type="submit"]:disabled,
.site-container input[type="submit"]:disabled:hover {
	background-color: #ddd;
	border-width: 0;
	color: #565656;
	cursor: not-allowed;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button {
	display: none;
}

.error404 .entry-content input[type="search"],
.post-password-form input[type="password"] {
	margin-bottom: 15px;
}

/* Tables
--------------------------------------------- */

table {
	border-collapse: collapse;
	border-spacing: 0;
	line-height: 2;
	margin-bottom: 40px;
	width: 100%;
}

tbody {
	border-bottom: 1px solid #ddd;
}

th,
td {
	text-align: left;
}

th {
	font-weight: bold;
	text-transform: uppercase;
}

td {
	border-top: 1px solid #ddd;
	padding: 6px 0;
}

/* Screen Reader Text
--------------------------------------------- */

.screen-reader-shortcut,
.screen-reader-text,
.screen-reader-text span {
	border: 0;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	overflow: hidden;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important;
}

.genesis-nav-menu .search input[type="submit"]:focus,
.screen-reader-shortcut:focus,
.screen-reader-text:focus,
.widget_search input[type="submit"]:focus {
	background: #fff;
	box-shadow: 0 0 2px 2px rgba(0,0,0,.6);
	clip: auto !important;
	color: #333;
	display: block;
	font-size: 1em;
	font-weight: bold;
	height: auto;
	padding: 15px 23px 14px;
	text-decoration: none;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}

.more-link {
	position: relative;
}


/* Structure and Layout
---------------------------------------------------------------------------------------------------- */

/* Site Containers
--------------------------------------------- */

.site-inner,
.wrap {
	margin: 0 auto;
	max-width: 1140px;
}

.site-inner {
	clear: both;
	padding-top: 30px;
}

.magazine-home .site-inner {
	padding-bottom: 10px;
}

.magazine-landing .site-inner,
.magazine-landing .wrap {
	max-width: 800px;
}

.magazine-landing .site-inner {
	padding-bottom: 40px;
}


/* Column Widths and Positions
--------------------------------------------- */

/* Wrapping div for .content and .sidebar-primary */

.content-sidebar-sidebar .content-sidebar-wrap,
.sidebar-content-sidebar .content-sidebar-wrap,
.sidebar-sidebar-content .content-sidebar-wrap {
	width: 930px;
}

.content-sidebar-sidebar .content-sidebar-wrap {
	float: left;
}

.sidebar-content-sidebar .content-sidebar-wrap,
.sidebar-sidebar-content .content-sidebar-wrap {
	float: right;
}

/* Content */

.content {
	float: right;
	width: 750px;
}

.magazine-landing .content {
	background-color: #fff;
	padding: 50px 60px 24px;
}

.content-sidebar .content,
.content-sidebar-sidebar .content,
.sidebar-content-sidebar .content {
	float: left;
}

.content-sidebar-sidebar .content,
.sidebar-content-sidebar .content,
.sidebar-sidebar-content .content {
	width: 540px;
}

.full-width-content .content {
	width: 100%;
}

/* Primary Sidebar */

.sidebar-primary {
	float: right;
	width: 360px;
}

.sidebar-content .sidebar-primary,
.sidebar-sidebar-content .sidebar-primary {
	float: left;
}

/* Secondary Sidebar */

.sidebar-secondary {
	float: left;
	width: 180px;
}

.content-sidebar-sidebar .sidebar-secondary {
	float: right;
}

/* Column Classes
--------------------------------------------- */
/* Link: http://twitter.github.io/bootstrap/assets/css/bootstrap-responsive.css */

.five-sixths,
.four-sixths,
.one-fourth,
.one-half,
.one-sixth,
.one-third,
.three-fourths,
.three-sixths,
.two-fourths,
.two-sixths,
.two-thirds {
	float: left;
	margin-left: 2.564102564102564%;
}

.one-half,
.three-sixths,
.two-fourths {
	width: 48.717948717948715%;
}

.one-third,
.two-sixths {
	width: 31.623931623931625%;
}

.four-sixths,
.two-thirds {
	width: 65.81196581196582%;
}

.one-fourth {
	width: 23.076923076923077%;
}

.three-fourths {
	width: 74.35897435897436%;
}

.one-sixth {
	width: 14.52991452991453%;
}

.five-sixths {
	width: 82.90598290598291%;
}

.first {
	clear: both;
	margin-left: 0;
}


/* Common Classes
---------------------------------------------------------------------------------------------------- */

/* WordPress
--------------------------------------------- */

.avatar {
	float: left;
}

.alignleft .avatar {
	margin-right: 24px;
}

.alignright .avatar {
	margin-left: 24px;
}

.author-box .avatar {
	margin-right: 30px;
}

.comment .avatar {
	margin: 0 16px 24px 0;
}

.sticky {
}

a.aligncenter img {
	display: block;
	margin: 0 auto;
}

img.centered,
.aligncenter {
	display: block;
	margin: 0 auto 24px;
}

img.alignnone {
	margin-bottom: 12px;
}

.alignleft {
	float: left;
	text-align: left;
}

.alignright {
	float: right;
	text-align: right;
}

a.alignleft,
a.alignright {
	max-width: 100%;
}

a.alignleft,
img.alignleft,
.wp-caption.alignleft {
	margin: 0 24px 24px 0;
}

a.alignright,
img.alignright,
.wp-caption.alignright {
	margin: 0 0 24px 24px;
}

.entry-content .wp-caption-text {
	font-size: 14px;
	font-size: 1.4rem;
	font-weight: 700;
	margin: 0;
	text-align: center;
}

.gallery-caption,
.entry-content .gallery-caption {
	margin: 0 0 10px;
}

.widget_calendar table {
	width: 100%;
}

.widget_calendar td,
.widget_calendar th {
	text-align: center;
}

.wp-audio-shortcode,
.wp-playlist,
.wp-video {
	margin: 0 0 28px;
}

/* Genesis
--------------------------------------------- */

.breadcrumb {
	border-bottom: 1px dotted #888;
	margin-bottom: 40px;
	padding-bottom: 10px;
	color: #828283;
	font-size: 1.2rem;
}
.breadcrumb * {
	color: #828283;
}
.archive-description,
.author-box {
	margin-bottom: 50px;
	padding: 10px;
}

.archive-description,
.author-box {
	background-color: #f5f5f5;
}

.archive-description p:last-child,
.author-box p:last-child,
.search-results .archive-description h1 {
	margin-bottom: 0;
}

.archive-title + p {
	margin-top: 24px;
}

.author-box-title {
	color: #222;
	font-family: Arial, sans-serif;
	font-size: 16px;
	font-size: 1.6rem;
	margin-bottom: 4px;
}

.author-box p {
	margin-bottom: 0;
}


/* Search Form
--------------------------------------------- */

.search-form {
	overflow: hidden;
	position: relative;
}

.entry-content .search-form {
	margin-bottom: 40px;
	width: 50%;
}

.site-header .search-form {
	float: right;
	margin-top: 24px;
}

.footer-widgets .search-form input {
	border: none;
}

.genesis-nav-menu .search-form input {
	background-color: #222;
	border: 1px solid #222;
	color: #fff;
	text-transform: uppercase;
	width: 180px;
}

.genesis-nav-menu .search-form ::-moz-placeholder {
	color: #fff;
}

.genesis-nav-menu .search-form ::-webkit-input-placeholder {
	color: #fff;
}

.genesis-nav-menu .search-form input:focus {
	border: 1px solid #fff;
}

.genesis-nav-menu .search input[type="submit"],
.widget_search input[type="submit"] {
	border: 0;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	margin: -1px;
	padding: 0;
	position: absolute;
	width: 1px;
}

.widget_search input[type="submit"]:focus {
	border-left: 1px solid #ddd;
	box-shadow: none;
	padding: 14px 16px;
	right: 2px;
	top: 2px;
}

/* Titles
--------------------------------------------- */

.entry-title {
	font-size: 36px;
	font-size: 3.6rem;
	line-height: 1;
}

.entry-title a,
.sidebar .widget-title a {
	color: #222;
	font-weight: 500;
}

.entry-title a:focus,
.entry-title a:hover {
	color: #cd202c;
}

.widget-title {
	clear: both;
	font-size: 16px;
	font-size: 1.6rem;
	margin-bottom: 10px;
	text-transform: uppercase;
}

.magazine-home .content .widget-title,
.sidebar .widget-title {
	background-color: #222;
	color: #fff;
	padding: 7px 10px;
}

.sidebar .enews .widget-title {
	background: none;
	padding: 0;
}

.footer-widgets .widget-title {
	color: #fff;
}

.archive-title {
	font-size: 20px;
	font-size: 2rem;
	margin-bottom: 0;
}


/* Widgets
---------------------------------------------------------------------------------------------------- */

.widget,
.widget li {
	word-wrap: break-word;
}

.widget li {
 	list-style-type: none;
}

.widget ol > li {
	list-style-position: inside;
	list-style-type: decimal;
	padding-left: 20px;
	text-indent: -20px;
}

.widget li li {
	border: none;
	margin: 0 0 0 30px;
	padding-bottom: 0;
}

.widget ul > li:last-child {
	margin-bottom: 0;
}

.widget .genesis-nav-menu li li {
	margin: 0;
	padding: 0;
}

/* Featured Content
--------------------------------------------- */

.featured-content {
	clear: both;
	overflow: hidden;
}

.home-middle .featured-content a,
.home-top .featured-content a {
	position: relative;
}

.featured-content .entry {
	margin-bottom: 30px;
}

.content .home-middle .featured-content .entry,
.content .home-top .featured-content .entry {
	border: none;
	float: left;
	max-width: 100%;
}

.home-middle .featured-content .entry {
	width: 360px;
}

.content .home-bottom .featured-content .entry,
.sidebar .featured-content .entry {
	border-bottom: 2px solid #eee;
}

.sidebar .featured-content .entry:last-child {
	border-bottom: none;
}

.home-middle .featured-content .entry-content p:last-child,
.home-top .featured-content .entry-content p:last-child,
.sidebar .featured-content .entry:last-child {
	margin-bottom: 0;
}

.home-middle .featured-content .entry:nth-of-type(2n+1) {
	clear: left;
	margin-right: 30px;
}

.featured-content .entry-title {
	border: none;
	font-size: 24px;
	font-size: 2.4rem;
	line-height: 1.2;
}

.sidebar .featured-content .entry-title {
	font-size: 20px;
	font-size: 2rem;
}

.featured-content .entry-title a {
	border: none;
}

.featured-content a.alignnone {
	display: inline-block;
	margin-bottom: 10px;
	max-width: 100%
}

.featured-content .entry-header .entry-meta {
	margin-bottom: 10px;
}
a.entry-author-link {
    font-weight: 900;
}
.js .content .home-middle a .entry-time,
.js .content .home-top a .entry-time {
	background-color: #5a5a5a;
	bottom: 24px;
	color: #fff;
	font-size: 14px;
	font-size: 1.4rem;
	font-weight: 300;
	padding: 5px 10px;
	position: absolute;
	right: 0;
}

.js .home-middle a.alignleft,
.js .home-top a.alignleft {
	margin: 0 24px 24px 0;
}

.js .home-middle a.alignright,
.js .home-top a.alignright {
	margin: 0 0 24px 24px;
}

.js .home-middle a.alignleft img,
.js .home-middle a.alignright img,
.js .home-top a.alignleft img,
.js .home-top a.alignright img {
	margin: 0;
}

.home-middle a.more-link,
.home-top a.more-link {
	background-color: #eee;
	clear: both;
	color: #222;
	display: block;
	font-size: 14px;
	font-size: 1.4rem;
	margin-top: 20px;
	padding: 8px 10px;
	text-align: center;
}

.home-middle a.more-link:focus,
.home-middle a.more-link:hover,
.home-top a.more-link:focus,
.home-top a.more-link:hover {
	background-color: #cd202c;
	color: #fff;
}

.featured-content ul {
	clear: both;
	margin-bottom: 30px;
}

.featured-content li {
	list-style-type: none;
}


/* Plugins
---------------------------------------------------------------------------------------------------- */

/* Genesis eNews Extended
--------------------------------------------- */

.enews-widget input {
	margin-bottom: 16px;
}

.enews-widget input[type="submit"] {
	margin: 0;
	width: 100%;
}

.enews form + p {
	margin-top: 24px;
}

.widget-area .enews-widget {
	background-color: #222;
	color: #aaa;
	padding: 40px;
}

.widget-area .enews-widget .widget-title {
	color: #fff;
}

.widget-area .enews-widget input:focus {
	border: 1px solid #ddd;
}

.widget-area .enews-widget input[type="submit"] {
	background-color: #cd202c;
	color: #fff;
}

.widget-area .enews-widget input:focus[type="submit"],
.widget-area .enews-widget input:hover[type="submit"] {
	background-color: #fff;
	color: #222;
}

/* Genesis Latest Tweets
--------------------------------------------- */

.latest-tweets ul li {
	margin-bottom: 16px;
}

/* Genesis Responsive Slider
--------------------------------------------- */

.magazine-home .content #genesis-responsive-slider,
.magazine-home .content .genesis_responsive_slider li {
	border: none;
}

.magazine-home  .genesis_responsive_slider {
	margin-bottom: 40px;
}

.magazine-home .content .genesis_responsive_slider li:before {
	content: "";
	margin: 0;
}

.magazine-home .content .genesis_responsive_slider .slide-excerpt,
.magazine-home .content .genesis_responsive_slider .slide-excerpt-border  {
	background: transparent;
	border: none;
	margin: 0;
}

.magazine-home .content .genesis_responsive_slider .slide-excerpt {
	padding: 0;
}

.magazine-home .content #genesis-responsive-slider,
.magazine-home .content .genesis_responsive_slider .slides li,
.magazine-home .content .genesis_responsive_slider .flex-direction-nav li {
	margin: 0;
	padding: 0;
}

.magazine-home .content .genesis_responsive_slider .flex-control-nav {
	line-height: 1;
}

.magazine-home .content .genesis_responsive_slider .flex-control-nav li {
	margin: 0;
	padding: 0 5px;
}

.magazine-home .content .genesis_responsive_slider .flex-direction-nav li a {
	-webkit-transition: none;
	-moz-transition:    none;
	-ms-transition:     none;
	-o-transition:      none;
	transition:         none;
}

.magazine-home .content .genesis_responsive_slider .slide-excerpt-border  {
	background: #fff;
	width: 100%;
}

.magazine-home .content .genesis_responsive_slider h2,
.magazine-home .content .genesis_responsive_slider h2 a {
	line-height: 1.2;
	margin: 0;
}

.magazine-home .content .genesis_responsive_slider p {
	font-size: 14px;
	font-size: 1.4rem;
	margin: 10px 0 0;
}

.magazine-home .content .genesis_responsive_slider .flex-direction-nav li a {
	background: url(images/icon-direction-nav.png) no-repeat -50px 0;
	background-size: 100px 98px;
	height: 49px;
	outline: none;
	right: -25px;
	-webkit-transition: none;
	-moz-transition:    none;
	-ms-transition:     none;
	-o-transition:      none;
	transition:         none;
	width: 50px;
}

.magazine-home .content .genesis_responsive_slider .flex-direction-nav li a:focus,
.magazine-home .content .genesis_responsive_slider .flex-direction-nav li a:hover {
	background-position: -50px -49px;
}

.magazine-home .content .genesis_responsive_slider .flex-direction-nav li a.prev {
	background-position: 0 0;
	bottom: auto;
	left: auto;
	right: 62px;
	top: 30px;
}

.magazine-home .content #genesis-responsive-slider .flex-direction-nav li a.next {
	bottom: auto;
	left: auto;
	right: 10px;
	top: 30px;
}

.magazine-home .content #genesis-responsive-slider .flex-direction-nav li a:focus.prev,
.magazine-home .content #genesis-responsive-slider .flex-direction-nav li a:hover.prev {
	background-position: 0 -49px;
}

/* Jetpack
--------------------------------------------- */

img#wpstats {
	display: none;
}

/* Simple Social Icons
--------------------------------------------- */

.sidebar .simple-social-icons ul li {
	margin: 0 2px 4px !important;
}


/* Skip Links
---------------------------------------------------------------------------------------------------- */

.genesis-skip-link {
	margin: 0;
}

.genesis-skip-link li {
	height: 0;
	width: 0;
	list-style: none;
}

/* Display outline on focus */
:focus {
	color: #333;
	outline: #ccc solid 1px;
}


/* Site Header
---------------------------------------------------------------------------------------------------- */

.primary-nav .site-header {
	padding-top: 64px;
}

.site-header .wrap {
	border-bottom: 2px solid #222;
	padding: 30px 0 10px 0;
}

/* Title Area
--------------------------------------------- */

.title-area {
	float: left;
	text-transform: uppercase;
	width: 360px;
}

.header-image .title-area {
	padding: 0;
}

.site-title {
	font-family: Arial, sans-serif;
	font-size: 48px;
	font-size: 3.8rem;
	line-height: 1;
	margin-bottom: 0;
}

.site-title a,
.site-title a:focus,
.site-title a:hover {
	color: #222;
	font-weight: 900;
}
.site-subtitle {
    display: block;
    font-size: 14px;
    font-weight: 100;
    color: #5a5a5a;
}
.site-subtitle img {
	height: 40px;
	vertical-align: middle;
}
.site-description {
	display: block;
	height: 0;
	margin-bottom: 0;
	text-indent: -9999px;
}

/* Full width header, no widgets */

.header-full-width .title-area,
.header-full-width .site-title {
	width: 100%;
}

.header-image .site-description,
.header-image .site-title a {
	display: block;
	height: 0;
	margin-bottom: 0;
	text-indent: -9999px;
}

/* Logo, hide text */

.header-image .site-header .wrap {
	padding: 0;
}

.header-image .site-title a {
	background-position: center !important;
	background-size: contain !important;
	float: left;
	display: block;
	min-height: 90px;
	text-indent: -9999px;
	width: 100%;
}

/* Widget Area
--------------------------------------------- */

.site-header .widget-area {
	float: right;
	text-align: right;
	width: 728px;
}

.header-image .site-header .title-area,
.header-image .site-header .widget-area {
	padding: 40px 0;
}

.site-header .widget-area p {
	margin-bottom: 0;
}


/* Site Navigation
---------------------------------------------------------------------------------------------------- */

.genesis-nav-menu {
	clear: both;
	color: #222;
	font-family: Arial, sans-serif;
	font-size: 14px;
	font-size: 1.4rem;
	font-weight: 400;
	line-height: 1;
	text-transform: uppercase;
	width: 100%;
}

.genesis-nav-menu .menu-item {
	display: inline-block;
	text-align: left;
}

.genesis-nav-menu a {
	border: none;
	color: #5a5a5a;
	display: block;
	padding: 0 10px;
	position: relative;
	line-height: 50px;
}
ul#menu-main-nav li:first-child a {
    padding: 0 10px 0 0;
}
.genesis-nav-menu a:focus,
.genesis-nav-menu a:hover,
.genesis-nav-menu .current-menu-item > a,
.genesis-nav-menu .sub-menu .current-menu-item > a:focus,
.genesis-nav-menu .sub-menu .current-menu-item > a:hover {
	color: #cd202c;
}

.genesis-nav-menu .sub-menu {
	left: -9999px;
	opacity: 0;
	position: absolute;
	-webkit-transition: opacity .4s ease-in-out;
	-moz-transition:    opacity .4s ease-in-out;
	-ms-transition:     opacity .4s ease-in-out;
	-o-transition:      opacity .4s ease-in-out;
	transition:         opacity .4s ease-in-out;
	width: 190px;
	z-index: 99;
}

.genesis-nav-menu .sub-menu a {
	background-color: #fff;
	border: 1px solid #222;
	border-top: none;
	font-size: 12px;
	font-size: 1.2rem;
	padding: 20px !important;
	position: relative;
	text-transform: none;
	width: 190px;
	line-height: normal;
}

.genesis-nav-menu .sub-menu .sub-menu {
	margin: -53px 0 0 189px;
}

.genesis-nav-menu .menu-item:hover {
	position: static;
}

.genesis-nav-menu .menu-item:hover > .sub-menu {
	left: auto;
	opacity: 1;
}

.genesis-nav-menu > .first > a {
	padding-left: 0;
}

.genesis-nav-menu > .last > a {
	padding-right: 0;
}

.genesis-nav-menu > .right {
	float: right;
}

/* Site Header Navigation
--------------------------------------------- */

.site-header .sub-menu {
	border-top: 1px solid #222;
}

.site-header .sub-menu .sub-menu {
	margin-top: -54px;
}

/* Primary Navigation
--------------------------------------------- */

.nav-primary {
	background-color: #222;
	color: #fff;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 999;
}

.admin-bar .nav-primary {
	top: 32px;
}

.nav-primary a {
	color: #fff;
}

.nav-primary a:focus,
.nav-primary a:hover,
.nav-primary .sub-menu a:focus,
.nav-primary .sub-menu a:hover,
.nav-primary .genesis-nav-menu .current-menu-item > a {
	color: #cd202c;
}

.nav-primary .genesis-nav-menu .sub-menu a {
	background-color: #222;
	border: 1px solid #fff;
	border-top: none;
}

/* Secondary Navigation
--------------------------------------------- */

.nav-secondary {
	margin-top: -100px;
	padding-top: 100px;
}

.nav-secondary .wrap {
	border-bottom: 1px solid #222;
}

/* Accessible Menu
--------------------------------------------- */

.menu .menu-item:focus {
	position: static;
}

.menu .menu-item > a:focus + ul.sub-menu,
.menu .menu-item.sfHover > ul.sub-menu {
	left: auto;
	opacity: 1;
}

.menu-toggle,
.sub-menu-toggle {
	display: none;
	visibility: hidden;
}


/* Content Area
---------------------------------------------------------------------------------------------------- */

/* Entries
--------------------------------------------- */

.entry {
	margin-bottom: 60px;
}

.archive .content .entry,
.home .content .entry,
.page-template-page_blog-php .content .entry {
	border-bottom: 2px solid #eee;
}

.entry-content a {
	color: #cd202c;
}

.entry-content a:focus,
.entry-content a:hover {
	color: #222;
}

.entry-content .attachment a,
.entry-content .gallery a {
	border: none;
}

.entry-content ol,
.entry-content p,
.entry-content ul,
.quote-caption {
	margin-bottom: 26px;
}

.entry-content ol,
.entry-content ul {
	margin-left: 40px;
}

.entry-content ol > li {
	list-style-type: decimal;
}

.entry-content ul > li {
	list-style-type: disc;
}

.entry-content ol ol,
.entry-content ul ul {
	margin-bottom: 0;
}

.entry-meta {
	font-size: 14px;
	font-size: 1.4rem;
}

.entry-header .entry-meta {
	margin-bottom: 30px;
}

.entry-comments-link::before {
	content: "\2014";
	margin: 0 6px 0 2px;
}

.entry-categories,
.entry-tags {
	display: block;
}

/* After Entry
--------------------------------------------- */

.after-entry {
	border-bottom: 1px solid #222;
	border-top: 2px solid #222;
	margin-top: 40px;
	padding: 30px 0;
}

.after-entry p:last-child {
	margin-bottom: 0;
}

.after-entry .widget {
	margin-bottom: 30px;
}

.after-entry .widget:last-child {
	margin-bottom: 0;
}

/* Pagination
--------------------------------------------- */

.archive-pagination,
.entry-pagination {
	font-size: 20px;
    font-size: 2rem;
    margin: 40px 0 20px 0;
}
.archive-pagination li {
	display: inline;
}

.archive-pagination li a {
	background-color: #222;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	padding: 8px 12px;
}

.archive-pagination li a:focus,
.archive-pagination li a:hover,
.archive-pagination li.active a {
	background-color: #cd202c;
}

.entry-pagination a {
	border-bottom: 1px solid #ddd;
}

/* Comments
--------------------------------------------- */

.comment-respond,
.entry-comments,
.entry-pings {
	background-color: #fff;
	margin-bottom: 50px;
}

.comment-content {
	clear: both;
}

.entry-comments .comment-author {
	margin-bottom: 0;
}

.comment-respond input[type="email"],
.comment-respond input[type="text"],
.comment-respond input[type="url"] {
	width: 50%
}

.comment-respond label {
	display: block;
	margin-right: 12px;
}

.comment-list li,
.ping-list li {
	list-style-type: none;
}

.comment-list li {
	margin-top: 24px;
	padding: 32px;
}

.comment-list li li {
	margin-right: -32px;
}

li.comment {
	background-color: #f5f5f5;
	border: 2px solid #fff;
	border-right: none;
}

.entry-pings .reply {
	display: none;
}

.bypostauthor {
}

.form-allowed-tags {
	background-color: #f5f5f5;
	font-size: 14px;
	font-size: 1.4rem;
	padding: 24px;
}


/* Sidebars
---------------------------------------------------------------------------------------------------- */

.sidebar p:last-child,
.sidebar ul > li:last-child {
	margin-bottom: 0;
}

.sidebar .featured-content p:last-child {
	margin-bottom: 24px;
}

.sidebar li {
	border-bottom: 1px dotted #888;
	margin-bottom: 6px;
	padding-bottom: 6px;
}

.sidebar .widget {
	margin-bottom: 40px;
}

.sidebar .tagcloud a,
.sidebar .tagcloud a:visited {
	background-color: #eee;
	color: #222;
	cursor: pointer;
	display: inline-block;
	margin: 0 5px 5px 0;
	padding: 5px 10px;
}

.sidebar .tagcloud a:focus,
.sidebar .tagcloud a:hover {
	background-color: #cd202c;
	color: #fff;
}


/* Footer Widgets
---------------------------------------------------------------------------------------------------- */

.footer-widgets {
	background-color: #222;
	color: #aaa;
	clear: both;
	font-size: 14px;
	font-size: 1.4rem;
	padding: 60px 0 20px;
}

.footer-widgets-1,
.footer-widgets-2,
.footer-widgets-3 {
	width: 360px;
}

.footer-widgets-1 {
	margin-right: 30px;
}

.footer-widgets-1,
.footer-widgets-2 {
	float: left;
}

.footer-widgets-3 {
	float: right;
}

.footer-widgets a {
	color: #fff;
	font-weight: 300;
}

.footer-widgets a:focus,
.footer-widgets a:hover {
	color: #ccc;
}

.footer-widgets p:last-child {
	margin-bottom: 0;
}

.footer-widgets .widget {
	margin-bottom: 40px;
}

.footer-widgets li {
	margin-bottom: 20px;
}

.footer-widgets .enews-widget {
	padding: 0;
}

.footer-widgets button,
.footer-widgets input[type="button"],
.footer-widgets input[type="reset"],
.footer-widgets input[type="submit"],
.footer-widgets .button {
	background-color: #eee;
	color: #222;
}

.footer-widgets button:focus,
.footer-widgets button:hover,
.footer-widgets input[type="button"]:focus,
.footer-widgets input[type="button"]:hover,
.footer-widgets input[type="reset"]:focus,
.footer-widgets input[type="reset"]:hover,
.footer-widgets input[type="submit"]:focus,
.footer-widgets input[type="submit"]:hover,
.footer-widgets .button:focus,
.footer-widgets .button:hover {
	background-color: #fff;
	color: #222;
}


/* Site Footer
---------------------------------------------------------------------------------------------------- */

.site-footer {
	background-color: #222;
	font-family: Arial, sans-serif;
	font-size: 14px;
	font-size: 1.4rem;
	text-align: center;
}

.site-footer .wrap {
	border-top: 1px solid #444;
	padding: 10px 0;
}

.site-footer,
.site-footer a {
	color: #aaa;
}

.site-footer a:focus,
.site-footer a:hover {
	color: #fff;
}

.site-footer p {
	margin-bottom: 0;
}


/* Media Queries
---------------------------------------------------------------------------------------------------- */

@media only screen and (max-width: 1180px) {

	.site-inner,
	.wrap {
		max-width: 960px;
	}

	.title-area {
		width: 380px;
	}

	.site-header .widget-area {
		width: 570px;
	}

	.content-sidebar-sidebar .content-sidebar-wrap,
	.sidebar-content-sidebar .content-sidebar-wrap,
	.sidebar-sidebar-content .content-sidebar-wrap {
		width: 780px;
	}

	.content {
		width: 630px;
	}

	.content-sidebar-sidebar .content,
	.sidebar-content-sidebar .content,
	.sidebar-sidebar-content .content {
		width: 450px;
	}

	.footer-widgets-1,
	.footer-widgets-2,
	.footer-widgets-3,
	.home-middle .featured-content .entry,
	.sidebar-primary {
		width: 300px;
	}

	.sidebar-secondary {
		width: 150px;
	}

}

@media only screen and (max-width: 1023px) {

	.site-inner,
	.wrap {
		max-width: 750px;
	}

	.content,
	.content-sidebar-sidebar .content,
	.content-sidebar-sidebar .content-sidebar-wrap,
	.footer-widgets-1,
	.footer-widgets-2,
	.footer-widgets-3,
	.sidebar-content-sidebar .content,
	.sidebar-content-sidebar .content-sidebar-wrap,
	.sidebar-primary,
	.sidebar-secondary,
	.sidebar-sidebar-content .content,
	.sidebar-sidebar-content .content-sidebar-wrap,
	.site-header .widget-area,
	.title-area {
		width: 100%;
	}

	.home-middle .featured-content .entry {
		width: 48.717948717948715%;
	}

	.home-middle .featured-content .entry:nth-of-type(2n+1) {
		margin-right: 2.564102564102564%;
	}

	.genesis-nav-menu,
	.site-header .title-area,
	.site-header .widget-area,
	.site-title {
		text-align: center;
	}

	.nav-primary {
		position: static;
	}

	.featured-content .entry,
	.site-header .search-form,
	.site-title {
		float: none;
	}

	.primary-nav .site-header,
	.title-area {
		padding-top: 0;
	}

	.title-area {
		padding-bottom: 20px;
	}

	.header-image .site-header .title-area {
		padding-bottom: 0;
	}

	.genesis-nav-menu > .right {
		display: none;
	}

}

@media only screen and (max-width: 840px) {

	.site-inner {
		max-width: 100%;
		padding-top: 10px;
	}
	.site-title {
		font-size: 30px;
		font-size: 3rem;
	}
	.footer-widgets,
	.nav-secondary,
	.site-footer,
	.site-header,
	.site-inner {
		padding-left: 5%;
		padding-right: 5%;
	}

	.genesis-nav-menu > .first > a {
		padding-left: 20px;
	}

	.js.admin-bar nav.nav-primary {
		top: 0;
	}

	nav.genesis-responsive-menu {
		display: none;
		position: relative;
	}

	.genesis-skip-link .skip-link-hidden {
		display: none;
		visibility: hidden;
	}

	.site-header nav .wrap {
		padding: 0;
	}

	.menu-toggle,
	.sub-menu-toggle {
		border-width: 0;
		background-color: #fff;
		color: #222;
		display: block;
		margin: 0 auto;
		overflow: hidden;
		text-align: center;
		visibility: visible;
	}

	nav.nav-primary .sub-menu-toggle,
	#genesis-mobile-nav-primary {
		background-color: #222;
		color: #fff;
	}

	#genesis-mobile-nav-primary:focus,
	#genesis-mobile-nav-primary:hover {
		color: #cd202c;
	}

	.menu-toggle:hover,
	.menu-toggle:focus,
	.sub-menu-toggle:hover,
	.sub-menu-toggle:focus {
		background-color: #fff;
		color: #cd202c;
		border-width: 0;
	}

	.menu-toggle:focus,
	.sub-menu-toggle:focus {
		outline: 1px solid #ccc;
	}

	.sub-menu-toggle:focus {
		outline-offset: -1px;
	}

	.menu-toggle {
		line-height: 20px;
		position: relative;
		right: 0;
		z-index: 1000;
		width: 100%;
	}

	.menu-toggle::before {
		margin-right: 10px;
		text-rendering: auto;
	}

	.sub-menu-toggle {
		float: right;
		padding: 10px;
		position: absolute;
		right: 10px;
		top: 0;
		z-index: 100;
	}

	nav.nav-primary .sub-menu-toggle:focus,
	nav.nav-primary .sub-menu-toggle:hover {
		background-color: transparent;
		color: #cd202c;
	}

	.sub-menu-toggle:before {
		display: inline-block;
		text-rendering: auto;
		-webkit-transform: rotate( 0 );
		-ms-transform:     rotate( 0 );
		transform:         rotate( 0 );
	}

	.sub-menu-toggle.activated:before {
		-webkit-transform: rotate( 180deg );
		-ms-transform:     rotate( 180deg );
		transform:         rotate( 180deg );
	}

	.genesis-responsive-menu .genesis-nav-menu .menu-item {
		display: block;
		float: none;
		position: relative;
		text-align: left;
	}

	.genesis-nav-menu .menu-item:hover {
		position: relative;
	}

	.genesis-responsive-menu .genesis-nav-menu .menu-item a {
		border: none;
		margin-bottom: 1px;
		margin-top: 1px;
		padding: 15px 20px;
		width: 100%;
	}

	.genesis-responsive-menu .genesis-nav-menu .sub-menu {
		border: none;
	}

	.genesis-responsive-menu .genesis-nav-menu .menu-item > a:focus ul.sub-menu,
	.genesis-responsive-menu .genesis-nav-menu .menu-item > a:focus ul.sub-menu .sub-menu {
		left: 0;
		margin-left: 0;
	}

	.genesis-responsive-menu .genesis-nav-menu > .menu-item-has-children > a:after {
		content: none;
	}

	.genesis-responsive-menu .genesis-nav-menu .sub-menu {
		clear: both;
		display: none;
		margin: 0;
		opacity: 1;
		padding-left: 15px;
		position: static;
		width: 100%;
	}

	.genesis-responsive-menu .genesis-nav-menu .sub-menu .sub-menu {
		margin: 0;
	}

	.home-bottom .featured-content .entry,
	.home-middle .featured-content .entry {
		padding-bottom: 20px;
	}

	.archive-pagination li a {
		margin-bottom: 4px;
	}

	.five-sixths,
	.four-sixths,
	.one-fourth,
	.one-half,
	.one-sixth,
	.one-third,
	.three-fourths,
	.three-sixths,
	.two-fourths,
	.two-sixths,
	.two-thirds {
		margin: 0;
		width: 100%;
	}

	.magazine-home .content .genesis_responsive_slider h2,
	.magazine-home .content .genesis_responsive_slider h2 a {
		font-size: 20px;
		font-size: 2rem;
		line-height: 1.2;
	}

	.magazine-home .content .genesis_responsive_slider .slide-excerpt-border p {
		display: none;
	}
	.genesis-nav-menu .search-form input {
		width: 100%;
	}
}

@media only screen and (max-width: 600px) {

	.home-middle .featured-content .entry {
		margin-right: 0;
		width: 100%;
	}

}

@media only screen and (max-width: 480px) {

	.magazine-home .content .genesis_responsive_slider .flex-direction-nav {
		display: none;
	}

	.magazine-home .content .genesis_responsive_slider .slide-excerpt {
		width: 100%;
	}

}
/* Ninja Forms
---------------------------------------------------------------------------------------------------- */

.widget_ninja_forms_widget {
	background-color: #000;
	color: #fff !important;
}
.widget_ninja_forms_widget p {
	color: #d5d5d6;
}
.widget_ninja_forms_widget li {
	border-bottom: none;
}
.widget_ninja_forms_widget input[type="button"] {
    background-color: #00aff0;
	color: #fff;
}
.widget_ninja_forms_widget .widget-wrap {
	margin: 30px;
}
.widget_ninja_forms_widget .nf-form-title h3 {
	text-transform: uppercase;
	color: #fff;
}
.widget_ninja_forms_widget input[type="button"] {
	width: 100% !important;
}
.widget_ninja_forms_widget input:hover[type="button"] {
	background: #40c2f3;
	color: #fff;
	width: 100%;
}
.widget_ninja_forms_widget .nf-error-msg, .widget_ninja_forms_widget .ninja-forms-req-symbol {
    color: #cd202c;
}
.widget-poll {
    font-size: 14px;
}
.widget_ninja_forms_widget .widget-poll .listradio-wrap li {
    width: 50%;
    float: left;
}
.widget_ninja_forms_widget .field-wrap>div input {
    padding: 10px;
}
.widget_ninja_forms_widget .nf-field-container {
    clear: both;
    position: relative;
    margin-bottom: 10px;
}
.widget_ninja_forms_widget p {
    line-height: 1.2;
}
.widget_ninja_forms_widget h3 {
	margin: 0 0 5px;
}
.widget_ninja_forms_widget .nf-error-msg, .widget_ninja_forms_widget .ninja-forms-req-symbol {
    font-size: 14px;
}
/* Resources Grid style */
.resources-display-posts {
	display: flex;
	flex-wrap: wrap;
	background: #d5d5d6;
	padding: 10px;
}
.resources-display-posts .listing-item {
	display: flex;
	flex-direction: column;
	width: 100%;
	background: #fff;
	border: 1px solid #d5d5d6;
	margin: 10px;
	padding: 10px;
}
.resources-display-posts .title {
	display: block;
	font-weight: bold;
}
.resources-display-posts hr {
	margin: 10px 0;
	padding: 0;
}
.resources-display-posts .image { 
	width: 100%;
	text-align: right;
	margin-top: auto; /*forces img to hug bottom*/
}
.resources-display-posts .excerpt { 
	line-height: 1.4em;
}

@media (min-width: 600px) {
	.resources-display-posts .listing-item { 
		flex-basis: 46%;
		max-width: 46%;
	}
}

@media (min-width: 1024px) {
	.resources-display-posts .listing-item {
		flex-basis: 31%;
		max-width: 31%; 
	}
}