.drts-frontendsubmit-login-register-form {
    display: flex;
}

.drts-frontendsubmit-login-register-form-column {
    flex: 2;
    max-width: 600px;
}

.drts-frontendsubmit-login-register-form-separator {
    flex: 1;
    position: relative;
    height: 200px;
    min-width: 30px;
}

.drts-frontendsubmit-login-register-form-separator-line {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    bottom: 0;
    width: 1px;
    background: #ccc;
    z-index: 1;
}

.drts-frontendsubmit-login-register-form-separator-word {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
}

.drts-frontendsubmit-login-register-form-separator-word > * {
    color: #ccc;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 3px;
    font: bold 12px arial,sans-serif;
    background: #fff;
}

.drts-frontendsubmit-register-form {
    margin-bottom: 3em;
}

.drts-frontendsubmit-login-register-form .drts-form-field > label {
    font-weight: bold;
    font-size: 1em;
}

@media (max-width: 768px) {
    .drts-frontendsubmit-login-register-form {
        display: block;
    }

    .drts-frontendsubmit-login-register-form-column {
        margin-bottom: 3em;
    }

    .drts-frontendsubmit-login-register-form-separator {
        display: none;
    }
}
