/* Slider */
.drts-slider-photos .slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
    margin: 0;
}

.drts-slider-photos .slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.drts-slider-photos .slick-list:focus {
    outline: none;
}

.drts-slider-photos .slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}

.drts-slider-photos .slick-slider .slick-track,
.drts-slider-photos .slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.drts-slider-photos .slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
  /* Commented out which is causing photos to always show in the center */
  /*margin-left: auto;
    margin-right: auto;*/
}

.drts-slider-photos .slick-track:before,
.drts-slider-photos .slick-track:after {
    display: table;
    content: '';
}

.drts-slider-photos .slick-track:after {
    clear: both;
}

.drts-slider-photos .slick-loading .slick-track {
    visibility: hidden;
}

.drts-slider-photos .slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
    outline: none;
}

.drts-slider-photos [dir='rtl'] .slick-slide {
    float: right;
}

.drts-slider-photos .slick-slide img {
    display: block;
}

.drts-slider-photos .slick-slide.slick-loading img {
    display: none;
}

.drts-slider-photos .slick-slide.dragging img {
    pointer-events: none;
}

.drts-slider-photos .slick-initialized .slick-slide {
    display: block;
}

.drts-slider-photos .slick-loading .slick-slide {
    visibility: hidden;
}

.drts-slider-photos .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}

.drts-slider-photos .slick-arrow.slick-hidden {
    display: none;
}

/* Slider */
.drts-slider-photos .slick-loading .slick-list {
    background: #fff url("../vendor/images/slick/ajax-loader.gif") center center no-repeat;
}

/* Arrows */
.drts-slider-photos .slick-prev,
.drts-slider-photos .slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 40px;
    height: 100%;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.drts-slider-photos .slick-prev:hover,
.drts-slider-photos .slick-prev:focus,
.drts-slider-photos .slick-next:hover,
.drts-slider-photos .slick-next:focus {
    color: transparent;
    outline: none;
    background: transparent;
}

.drts-slider-photos .slick-prev:hover:before,
.drts-slider-photos .slick-prev:focus:before,
.drts-slider-photos .slick-next:hover:before,
.drts-slider-photos .slick-next:focus:before {
    opacity: 1;
}

.drts-slider-photos .slick-prev.slick-disabled:before,
.drts-slider-photos .slick-next.slick-disabled:before {
    opacity: .25;
}

.drts-slider-photos .slick-prev:before,
.drts-slider-photos .slick-next:before {
    font-family: "Font Awesome 5 Solid - drts";
    font-size: 40px;
    line-height: 1;
    color: #333;
    opacity: .75;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.drts-slider-photos .slick-prev {
    left: 0;
}

.drts-slider-photos [dir='rtl'] .slick-prev {
    right: 0;
    left: auto;
}

.drts-slider-photos .slick-prev:before {
    content: '\f053';
}

.drts-slider-photos [dir='rtl'] .slick-prev:before {
    content: '\f054';
}

.drts-slider-photos .slick-next {
    right: 0;
}

.drts-slider-photos [dir='rtl'] .slick-next {
    right: auto;
    left: 0;
}

.drts-slider-photos .slick-next:before {
    content: '\f054';
}

.drts-slider-photos [dir='rtl'] .slick-next:before {
    content: '\f053';
}

/* Dots */
.drts-slider-photos .slick-dotted.slick-slider {
    margin-bottom: 30px;
}

.drts-slider-photos .slick-dots {
    position: absolute;
    bottom: -25px;
    display: block;
    width: 100%;
    padding: 0 !important;
    margin: 0 !important;
    list-style: none !important;
    text-align: center;
}

.drts-slider-photos .slick-dots li {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 5px !important;
    padding: 0 !important;
    cursor: pointer;
}

.drts-slider-photos .slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 20px;
    height: 20px;
    padding: 5px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}

.drts-slider-photos .slick-dots li button:hover,
.drts-slider-photos .slick-dots li button:focus {
    outline: none;
}

.drts-slider-photos .slick-dots li button:hover:before,
.drts-slider-photos .slick-dots li button:focus:before {
    opacity: 1;
}

.drts-slider-photos .slick-dots li button:before {
    font-family: "Font Awesome 5 Solid - drts";
    font-size: 5px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    content: '\f111';
    text-align: center;
    opacity: .25;
    color: black;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.drts-slider-photos .slick-dots li.slick-active button:before {
    opacity: .75;
    color: black;
}

/* Custom rules */
.drts-slider-photos {
    margin: 0 auto;
    font-size: 13px;
    position: relative;
    opacity: 0;
}

.drts-slider-photos img {
    border: none !important;
    border-radius: 0 !important;
}

.drts-slider-photos .slick-slide a {
    display: block;
    text-decoration: none;
    color: #444;
}

.drts-slider-photos .slick-slide figure {
    position: relative;
    overflow: hidden;
    margin: 0;
}

.drts-slider-photos .slick-slide figure img {
    width: 100%;
}

.drts-slider-photos-fixed-height .drts-slider-photos-main .slick-slide figure {
    position: relative;
}

.drts-slider-photos-fixed-height .drts-slider-photos-main .slick-slide img {
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.drts-slider-photos-photo-no-padding {
    background-color: black;
}

.drts-slider-photos-photo-no-padding .drts-slider-photos-main .slick-slide img {
    width: auto;
}

.drts-slider-photos .slick-slide .drts-slider-photos-tag {
    position: absolute;
    top: 0;
    right: 0;
    font-size: .8em;
    font-weight: bold;
    padding: 0.1em 0.5em;
    min-width: 8em;
    opacity: .9;
    text-align: center;
}

.drts-slider-photos .slick-slide figcaption {
    font-size: 1em;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
    padding: 1.5% 2%;
    color: #fff;
    font-weight: bold;
}

.drts-slider-photos .slick-arrow {
    opacity: 0;
}

.drts-slider-photos:hover .slick-arrow {
    opacity: 1;
    z-index: 10;
}

.drts-slider-photos:hover .slick-prev,
.drts-slider-photos:hover [dir='rtl'] .slick-next {
    text-align: left;
    padding-left: 1%;
}

.drts-slider-photos:hover [dir='rtl'] .slick-prev,
.drts-slider-photos:hover .slick-next {
    text-align: right;
    padding-right: 1%;
}

.drts-slider-photos-thumbnails img {
    width: 100%;
}

.drts-slider-photos-thumbnails .slick-slide {
    opacity: 0.5;
    transition: opacity 300ms;
    -webkit-transition: opacity 300ms;
}

.drts-slider-photos-thumbnails .slick-slide.slick-current {
    opacity: 1;
}

.drts-slider-photos-thumbnails img.drts-no-image {
    background-color: #eee;
    border: 1px solid #ddd !important;
}

@media only screen and (max-width: 480px) {
    .drts-slider-photos .slick-slide a {
        padding: 0;
        position: relative;
    }

    .drts-slider-photos .slick-slide a:after {
        content: '';
        display: block;
        width: 100%;
        height: 5.5em;
        background: linear-gradient(rgba(0, 0, 0, 0) 0, black 40%, black 100%);
        position: absolute;
        bottom: 0;
        opacity: .5;
        z-index: 1;
    }

    .drts-slider-photos .slick-slide figcaption {
        position: absolute;
        bottom: .1em;
        padding: .4em .9em .6em;
        font-size: 1.1em;
        color: #fff;
        z-index: 2;
    }

    .drts-slider-photos .slick-dots li button,
  .drts-slider-photos .slick-dots li button:before {
        width: 15px;
    }
}
