/**
 * Collects all SASS files into a single css file.
 *
 * https://make.wordpress.org/core/handbook/coding-standards/css/
 * The coding standard is applied to the SASS source files and formatting might
 * be slightly changed by compilation into CSS files. However, there is a
 * expanded dev-version of the CSS files and also a minified version without
 * any comments.
 */
/**
 * General styles used in settings screens.
 */
/* Affects all elements beneath .ms-wrap container */
.ms-wrap * {
  box-sizing: border-box;
}

/* Define general layout states */
.ms-wrap {
  margin: 40px 20px 0 2px;
  position: relative;
}
.ms-wrap input,
.ms-wrap select,
.ms-wrap textarea {
  font-size: .9em;
}
.ms-wrap hr {
  margin: 0;
  border: 0;
  border-top: 1px solid #E5E5E5;
}
.ms-wrap .clear {
  margin: 1em 0;
  padding: 0.5em 0;
}
.ms-wrap .clear:first-child {
  margin-top: 0;
  padding-top: 0;
}
.ms-wrap .clear:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
}
.ms-wrap .ms-group {
  clear: both;
}
.ms-wrap .ms-group:after {
  content: '';
  display: table;
  clear: both;
}
.ms-wrap .handlediv {
  cursor: pointer;
}
.ms-wrap .disabled,
.ms-wrap .disabled:hover,
.ms-wrap .disabled:active,
.ms-wrap .disabled:focus {
  color: #999;
  cursor: not-allowed;
}

.ms-html #wpfooter {
  z-index: -1;
  position: fixed;
  display: none;
}

/**
 * Typographic styles
 */
#wpwrap .ms-wrap,
.ms-wrap,
.ms-form {
  /*font: normal 14px/20px 'Helvetica Neue', Helvetica, Arial, sans-serif;*/
  /* The color marker (without memberhship name) */
  /* The colord membership name */
}
#wpwrap .ms-wrap h3,
.ms-wrap h3,
.ms-form h3 {
  margin: 0 0 4px 0;
}
#wpwrap .ms-wrap .ms-important,
.ms-wrap .ms-important,
.ms-form .ms-important {
  font-weight: bold;
  color: #222;
  font-size: 1.1em;
}
#wpwrap .ms-wrap .ms-bold,
.ms-wrap .ms-bold,
.ms-form .ms-bold {
  font-weight: bold;
}
#wpwrap .ms-wrap .ms-italic,
.ms-wrap .ms-italic,
.ms-form .ms-italic {
  font-style: italic;
}
#wpwrap .ms-wrap .ms-low,
.ms-wrap .ms-low,
.ms-form .ms-low {
  opacity: 0.6;
}
#wpwrap .ms-wrap .ms-block,
.ms-wrap .ms-block,
.ms-form .ms-block {
  display: block;
  line-height: 1.5em;
}
#wpwrap .ms-wrap .ms-block > *,
.ms-wrap .ms-block > *,
.ms-form .ms-block > * {
  vertical-align: middle;
}
#wpwrap .ms-wrap .ms-tcenter,
.ms-wrap .ms-tcenter,
.ms-form .ms-tcenter {
  text-align: center;
}
#wpwrap .ms-wrap .ms-tright,
.ms-wrap .ms-tright,
.ms-form .ms-tright {
  text-align: right;
}
#wpwrap .ms-wrap .ms-fright,
.ms-wrap .ms-fright,
.ms-form .ms-fright {
  float: right;
}
#wpwrap .ms-wrap .ms-fleft,
.ms-wrap .ms-fleft,
.ms-form .ms-fleft {
  float: left;
}
#wpwrap .ms-wrap .ms-spaced,
.ms-wrap .ms-spaced,
.ms-form .ms-spaced {
  padding: 5px;
}
#wpwrap .ms-wrap .ms-inline-block,
#wpwrap .ms-wrap label.ms-inline-block,
.ms-wrap .ms-inline-block,
.ms-wrap label.ms-inline-block,
.ms-form .ms-inline-block,
.ms-form label.ms-inline-block {
  display: inline-block;
  width: auto;
}
#wpwrap .ms-wrap .ms-description,
.ms-wrap .ms-description,
.ms-form .ms-description {
  color: #888;
  font-size: 0.9em;
}
#wpwrap .ms-wrap .ms-description.ms-indented-description,
.ms-wrap .ms-description.ms-indented-description,
.ms-form .ms-description.ms-indented-description {
  padding-left: 20px;
}
#wpwrap .ms-wrap .ms-description .ms-bold,
#wpwrap .ms-wrap .ms-description .ms-italic,
.ms-wrap .ms-description .ms-bold,
.ms-wrap .ms-description .ms-italic,
.ms-form .ms-description .ms-bold,
.ms-form .ms-description .ms-italic {
  color: #4F616E;
}
#wpwrap .ms-wrap .ms-settings-description,
.ms-wrap .ms-settings-description,
.ms-form .ms-settings-description {
  margin-bottom: 15px;
  display: block;
}
#wpwrap .ms-wrap .ms-group-head,
.ms-wrap .ms-group-head,
.ms-form .ms-group-head {
  clear: both;
  padding-top: 15px;
}
#wpwrap .ms-wrap .ms-subtitle,
.ms-wrap .ms-subtitle,
.ms-form .ms-subtitle {
  text-align: center;
  margin: 0 0 5px 0;
  font-size: 17px;
}
#wpwrap .ms-wrap .ms-color,
.ms-wrap .ms-color,
.ms-form .ms-color {
  width: 18px;
  float: left;
  margin-right: 5px;
  border-radius: 4px;
  box-shadow: 0 -20px 10px -10px rgba(0, 0, 0, 0.2) inset;
}
#wpwrap .ms-wrap .ms-membership,
.ms-wrap .ms-membership,
.ms-form .ms-membership {
  cursor: default;
  display: inline-block;
  font-size: 12px;
  vertical-align: bottom;
  color: #FFF;
  background: #888888;
  padding: 0 6px;
  margin: 0 1px 1px 0;
  border-radius: 1px;
  height: 24px;
  line-height: 24px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  border: 0;
  box-shadow: 0 -20px 10px -10px rgba(0, 0, 0, 0.15) inset, inset 0px -1px 1px rgba(0, 0, 0, 0.5), inset 0px 1px 1px rgba(255, 255, 255, 0.8);
  /*top internal highlight*/
}
#wpwrap .ms-wrap a .ms-membership,
.ms-wrap a .ms-membership,
.ms-form a .ms-membership {
  cursor: pointer;
}
#wpwrap .ms-wrap h3 .ms-membership,
.ms-wrap h3 .ms-membership,
.ms-form h3 .ms-membership {
  vertical-align: middle;
  border-radius: 3px;
  padding: 0 9px;
  font-size: 15px;
  height: 30px;
  line-height: 30px;
}

/**
 * Styles for tables.
 */
/* Form table */
.ms-wrap .form-table {
  border: 0;
}
.ms-wrap .form-table td,
.ms-wrap .form-table th {
  vertical-align: top;
}
.ms-wrap .form-table td {
  padding: 0;
  border: 0;
}

/* WordPress-style List tables */
.ms-wrap .widefat {
  margin: 10px 0;
}
.ms-wrap .widefat th.check-column {
  padding: 15px 0 14px;
}
.ms-wrap .widefat tfoot {
  display: none;
}
.ms-wrap .widefat td {
  padding: 15px 6px 2px;
  vertical-align: top;
  font-size: 12px;
}
.ms-wrap .widefat .ms-child-row .column-name {
  padding-left: 15px;
}
.ms-wrap .widefat .ms-child-row .column-name:before {
  content: '\2014';
  display: inline-block;
  margin-right: 4px;
}
.ms-wrap .widefat.memberships td {
  border-top: 1px solid #E5E5E5;
}
.ms-wrap .widefat.memberships tr:first-child td {
  border-top: 0;
}
.ms-wrap .tablenav input,
.ms-wrap .tablenav select,
.ms-wrap .tablenav .wpmui-field-input,
.ms-wrap .search-box input,
.ms-wrap .search-box select,
.ms-wrap .search-box .wpmui-field-input {
  float: none !important;
  margin-top: 0 !important;
  /* important: Some WordPress fields have a margin that needs to be cleared here */
  margin-bottom: 0 !important;
}
.ms-wrap .tablenav.bottom {
  display: none;
}
.ms-wrap .subsubsub {
  cursor: default;
}
.ms-wrap .subsubsub .group-label {
  padding: 0 .2em;
  color: #999;
}
.ms-wrap .subsubsub a {
  cursor: pointer;
}
.ms-wrap .ms-badge {
  background: #888;
  color: #FFF;
  border-radius: 3px;
  font-size: 10px;
  padding: 0 3px;
  line-height: 15px;
  font-weight: 100;
}
.ms-wrap .ms-guest-badge {
  background: #E08B00;
}
.ms-wrap .ms-user-badge {
  background: #417505;
}

/* Simple List Tables */
.ms-wrap .ms-list-table {
  width: 100%;
  margin: 10px 0;
  font-size: 13px;
}
.ms-wrap .ms-list-table td {
  padding-top: 5px;
  padding-bottom: 5px;
}
.ms-wrap .ms-list-table .col-icon {
  width: 20px;
  text-align: center;
}
.ms-wrap .ms-list-table .col-type {
  width: 10%;
  white-space: nowrap;
}
.ms-wrap .ms-list-table .col-text {
  text-align: left;
}
.ms-wrap .ms-list-table .col-date {
  text-align: left;
  width: 160px;
}
.ms-wrap .ms-list-table.limit-width {
  max-width: 600px;
}
.ms-wrap .ms-list-table tr.lock td {
  color: #B00;
  opacity: .5;
}

/* Inline Editor in form */
#wpwrap .ms-wrap tr.inline-edit-row td {
  padding: 0 0.5em;
}
#wpwrap .ms-wrap tr.inline-edit-row .button-primary {
  min-width: 0;
}
#wpwrap .ms-wrap tr.inline-edit-row .ms-membership {
  cursor: default;
  display: inline-block;
  vertical-align: bottom;
  font-size: 12px;
  color: #FFF;
  background: #888888;
  padding: 0 6px;
  margin: 0 1px 1px 0;
  border-radius: 1px;
  height: 24px;
  line-height: 24px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  border: 0;
  box-shadow: 0 -20px 10px -10px rgba(0, 0, 0, 0.15) inset, inset 0px -1px 1px rgba(0, 0, 0, 0.5), inset 0px 1px 1px rgba(255, 255, 255, 0.8);
  /*top internal highlight*/
}
#wpwrap .ms-wrap tr.inline-edit-row a .ms-membership {
  cursor: pointer;
}
#wpwrap .ms-wrap tr.inline-edit-row .dripped-form {
  padding: 0 0 5px 0;
  margin: 0 0 5px 0;
  border-bottom: 1px solid #DDD;
}
#wpwrap .ms-wrap tr.inline-edit-row .dripped-form .drip-col {
  float: left;
  padding: 0 10px 0 0;
}
#wpwrap .ms-wrap tr.inline-edit-row .dripped-form .drip-col .wpmui-field-input,
#wpwrap .ms-wrap tr.inline-edit-row .dripped-form .drip-col .wpmui-label-before,
#wpwrap .ms-wrap tr.inline-edit-row .dripped-form .drip-col .wpmui-label-after {
  margin-top: 0;
  margin-bottom: 0;
}
#wpwrap .ms-wrap tr.inline-edit-row .dripped-form .col-1 {
  width: 140px;
}
#wpwrap .ms-wrap tr.inline-edit-row .dripped-form .drip-option {
  height: 28px;
  line-height: 28px;
  display: none;
}
#wpwrap .ms-wrap tr.inline-edit-row .dripped-form .drip-option.active {
  display: block;
}

/**
 * List styles
 */
/***
 * Tag list *
 ***/
.ms-wrap .ms-content-tag-list {
  margin: 10px 0;
  list-style: none;
}
.ms-wrap .ms-content-tag-list .ms-content-tag {
  float: left;
  margin: 0 2px 2px 0;
}
.ms-wrap .ms-content-tag-list .ms-content-tag a,
.ms-wrap .ms-content-tag-list .ms-content-tag span {
  display: block;
  padding: 2px 4px;
  border-radius: 3px;
  background: #BDC3C7;
  color: #FFF;
  font-size: 13px;
  font-weight: 200;
  text-decoration: none;
}
.ms-wrap .ms-content-tag-list .ms-content-tag a:hover,
.ms-wrap .ms-content-tag-list .ms-content-tag a:active,
.ms-wrap .ms-content-tag-list .ms-content-tag a:focus {
  background: #8E9295;
}

/***
 * Email-history list *
 ***/
.ms-wrap.ms-communicationlog .wp-list-table .column-id {
  width: 60px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.ms-wrap.ms-communicationlog .wp-list-table td.column-id {
  font-size: 12px;
}
.ms-wrap.ms-communicationlog .wp-list-table .column-date {
  width: 120px;
  white-space: nowrap;
}
.ms-wrap.ms-communicationlog .wp-list-table .column-status {
  width: 30px;
  text-align: center;
}
.ms-wrap.ms-communicationlog .wp-list-table .column-type {
  width: 120px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.ms-wrap.ms-communicationlog .wp-list-table .detail-block {
  min-width: 300px;
  position: relative;
}
.ms-wrap.ms-communicationlog .wp-list-table .txt-quickinfo {
  padding-left: 4px;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.ms-wrap.ms-communicationlog .wp-list-table .txt-subject {
  color: #999;
  padding-left: 10px;
  display: inline;
}
.ms-wrap.ms-communicationlog .wp-list-table .more-details {
  float: left;
  width: 16px;
  text-align: center;
}
.ms-wrap.ms-communicationlog .wp-list-table .more-details .the-details {
  display: none;
  position: absolute;
  top: 26px;
  left: -6px;
  right: 0;
  background: #333;
  padding: 10px;
  z-index: 2;
  color: #EEE;
  text-align: left;
  white-space: pre;
}
.ms-wrap.ms-communicationlog .wp-list-table .more-details .the-details .inner {
  overflow: auto;
}
.ms-wrap.ms-communicationlog .wp-list-table .more-details .the-details hr {
  margin: 11px 0 -8px;
  border-color: #444;
}
.ms-wrap.ms-communicationlog .wp-list-table .more-details .the-details:before {
  content: '';
  position: absolute;
  left: 9px;
  top: -10px;
  border: 5px solid transparent;
  border-bottom-color: #333;
}
.ms-wrap.ms-communicationlog .wp-list-table .more-details .the-details:after {
  content: '';
  position: absolute;
  left: 0px;
  right: 0px;
  top: -25px;
  height: 25px;
}
.ms-wrap.ms-communicationlog .wp-list-table .more-details .line .line-num {
  display: inline-block;
  width: 22px;
  color: #999;
}
.ms-wrap.ms-communicationlog .wp-list-table .more-details .line .line-val {
  white-space: nowrap;
}
.ms-wrap.ms-communicationlog .wp-list-table .more-details:hover .the-details {
  display: block;
}

/**
 * Navigational tabs.
 */
.ms-wrap .ms-tab-container {
  float: left;
  width: 225px;
}
.ms-wrap .ms-tabs-titlerow {
  margin-left: 15px;
  font-weight: bold;
}
.ms-wrap .ms-tabs {
  float: left;
  width: 225px;
  margin: 0;
  padding: 0;
}
.ms-wrap .ms-tab {
  position: relative;
  z-index: 10;
  border: 1px solid transparent;
  border-radius: 4px 0 0 4px;
  border-width: 1px 0 1px 1px;
  font-size: .9em;
  font-weight: 500;
}
.ms-wrap .ms-tab.active {
  background: #fff;
  border-color: #e5e5e5;
  box-shadow: 0 1px 1px 0px rgba(0, 0, 0, 0.04);
}
.ms-wrap .ms-tab.active:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: -1px;
  width: 1px;
  bottom: 0;
  background: #fff;
  font-size: 0;
  line-height: 0;
}
.ms-wrap .ms-tab.active .ms-tab-link {
  color: #222;
}
.ms-wrap .ms-tab-link {
  display: block;
  padding: 8px 15px;
  text-decoration: none;
}

/**
 * Box-styles (e.g. accordeon box)
 */
/***
 * General settings box *
 ***/
.ms-wrap .ms-settings {
  position: relative;
  overflow: hidden;
  padding: 10px 20px 20px;
  min-height: 280px;
  background: #fff;
  border: 1px solid #E5E5E5;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
}
.ms-wrap .ms-part-4,
.ms-wrap .ms-part-3,
.ms-wrap .ms-part-2,
.ms-wrap .ms-quarter,
.ms-wrap .ms-third,
.ms-wrap .ms-half {
  position: relative;
  float: left;
  width: 50%;
  margin: 0;
  padding: 0;
}
.ms-wrap .ms-part-4.space,
.ms-wrap .ms-part-3.space,
.ms-wrap .ms-part-2.space,
.ms-wrap .ms-quarter.space,
.ms-wrap .ms-third.space,
.ms-wrap .ms-half.space {
  padding-right: 30px;
}
.ms-wrap .ms-part-4.right,
.ms-wrap .ms-part-3.right,
.ms-wrap .ms-part-2.right,
.ms-wrap .ms-quarter.right,
.ms-wrap .ms-third.right,
.ms-wrap .ms-half.right {
  float: right;
}
.ms-wrap .ms-part-3,
.ms-wrap .ms-third {
  width: 33.33333%;
}
.ms-wrap .ms-part-4,
.ms-wrap .ms-quarter {
  width: 25%;
}
.ms-wrap .ms-fixed-height .inside,
.ms-wrap .ms-settings-box.ms-fixed-height .inside {
  overflow: auto;
  height: 150px;
  padding: 0;
  margin: 20px 20px 0 0;
}
.ms-wrap .ms-min-height .inside,
.ms-wrap .ms-settings-box.ms-min-height .inside {
  min-height: 200px;
  padding: 0;
  margin: 20px 20px 0 0;
}

/* Accordeon box */
.ms-wrap .ms-settings-box-wrapper {
  background: #FBFBFB;
  border: 1px solid #E5E5E5;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
  min-width: 255px;
  position: relative;
  margin-bottom: 15px;
}
.ms-wrap .ms-settings-box {
  padding: 10px;
}
.ms-wrap .ms-settings-box .ms-header {
  padding: 10px;
  margin: -10px;
  border-bottom: 1px solid #E5E5E5;
  background: #F9F9F9;
}
.ms-wrap .ms-settings-box .ms-settings-description {
  margin-bottom: 0;
}
.ms-wrap .ms-settings-box .inside {
  padding-top: 20px;
}
.ms-wrap .ms-settings-box .handlediv {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.ms-wrap .ms-settings-box .handlediv:before {
  content: '\f142';
  position: relative;
  display: inline-block;
  right: 12px;
  top: 0;
  padding: 8px 10px;
  font: 400 20px/1 dashicons;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-decoration: none !important;
}
.ms-wrap .ms-settings-box.closed .handlediv:before {
  content: '\f140';
}
.ms-wrap .ms-settings-box.nohead .ms-header {
  display: none;
}
.ms-wrap .ms-settings-box.nohead .inside {
  padding: 0;
}

/* Helpbox (used in the Help section) */
.ms-wrap .ms-help-box {
  padding: 20px 20px 20px 40px;
  border-top: 1px solid #e5e5e5;
}
.ms-wrap .ms-help-box:hover {
  background: #FAFAFA;
}
.ms-wrap .ms-help-box .ms-help-toggle {
  margin-top: 5px;
  color: #0074a2;
  cursor: pointer;
  display: inline-block;
  padding-left: 10px;
}
.ms-wrap .ms-help-box .ms-help-toggle:hover {
  color: #2ea2cc;
}
.ms-wrap .ms-help-box .ms-help-toggle:after {
  content: '...';
}
.ms-wrap .ms-help-box .ms-help-details {
  border-left: 2px solid #0074a2;
  padding: 1px 10px;
  background: #FFF;
  margin: 10px 0;
}
.ms-wrap .ms-help-box .ms-help-default {
  display: inline-block;
  background: #FCFCFC;
  padding: 3px;
  margin: -3px 0 -3px 10px;
  font-size: 12px;
  color: #699;
}
.ms-wrap .ms-help-box ul {
  border-top: 1px solid #E5E5E5;
}
.ms-wrap .ms-help-box li {
  border-bottom: 1px solid #E5E5E5;
  padding: 5px 0;
  margin: 0;
}
.ms-wrap .ms-help-content h3 {
  margin-left: -20px;
  margin-bottom: 8px;
}
.ms-wrap .ms-help-content hr {
  margin: 0 0 40px 0;
}
.ms-wrap .ms-help-content .top-menu {
  display: inline-block;
  position: relative;
  padding: 8px 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  margin: 0 20px 0 0;
  width: 160px;
  background: #0074a2;
  color: #fff;
}
.ms-wrap .ms-help-content .top-menu:after {
  right: 0;
  border: 8px solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-right-color: #FFF;
  top: 50%;
  margin-top: -8px;
}
.ms-wrap .ms-help-content .top-menu .menu-image {
  float: left;
  width: 36px;
  height: 18px;
  margin: 0;
  text-align: center;
  color: #fff;
}
.ms-wrap .ms-help-content .menu-item {
  display: inline-block;
  position: relative;
  padding: 6px 12px;
  font-size: 13px;
  line-height: 1.2;
  margin: 0 20px 0 0;
  background-color: #333;
  width: 160px;
  color: #bbb;
}
.ms-wrap .ms-help-content .menu-item strong {
  color: #FFF;
}

/* smaller forms */
.ms-wrap .ms-small-form {
  max-width: 640px;
  margin: 0 auto;
}

.attribute-editor {
  min-width: 262px;
}
.attribute-editor .buttons {
  text-align: left;
}

/**
 * Navigational elements.
 */
.ms-wrap .ms-bread-crumb {
  text-align: center;
}
.ms-wrap .ms-bread-crumb a {
  text-decoration: none;
}
.ms-wrap .ms-bread-crumb .ms-bread-crumb-sep {
  margin: 0 .5em;
  color: #AAA;
}
.ms-wrap .ms-bread-crumb .ms-bread-crumb-next {
  color: #AAA;
}

/**
 * Settings header and footer.
 */
/* Header styles */
#wpwrap .ms-wrap .ms-settings-title,
.ms-wrap .ms-settings-title {
  padding: 9px 15px;
  margin: 0;
  font-size: 2.9em;
  line-height: 1.5;
  text-align: center;
}
#wpwrap .ms-wrap .ms-settings-title .ms-membership,
.ms-wrap .ms-settings-title .ms-membership {
  cursor: default;
  font-size: 24px;
  color: #fff;
  background: #888888;
  display: inline-block;
  vertical-align: middle;
  padding: 0 12px;
  margin: 0 1px 1px 0;
  border-radius: 3px;
  height: 40px;
  line-height: 40px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  border: 0;
  box-shadow: 0 -20px 10px -10px rgba(0, 0, 0, 0.15) inset, inset 0px -1px 1px rgba(0, 0, 0, 0.5), inset 0px 1px 1px rgba(255, 255, 255, 0.8);
  /*top internal highlight*/
}
#wpwrap .ms-wrap .ms-settings-title a .ms-membership,
.ms-wrap .ms-settings-title a .ms-membership {
  cursor: pointer;
}
#wpwrap .ms-wrap .ms-settings-desc,
.ms-wrap .ms-settings-desc {
  margin: 0 auto;
  text-align: center;
  font-size: 1.2em;
  line-height: 1.5;
}

/* Footer styles */
.ms-wrap .ms-settings-footer {
  position: relative;
  margin: 10px 0;
  z-index: 10;
}

/**
 * Styles for forms and input elements
 */
/***
 * GENERAL STYLES *
 ***/
.wpmui-popup .button,
.wpmui-popup .button-primary,
.ms-wrap .button,
.ms-wrap .button-primary {
  margin-right: 6px;
  white-space: nowrap;
}
.wpmui-popup .ms-field-container,
.ms-wrap .ms-field-container {
  margin: 10px 0;
}
.wpmui-popup .ms-field-wp-editor,
.ms-wrap .ms-field-wp-editor {
  height: 5em;
  width: 100%;
}
.wpmui-popup .wpmui-text,
.ms-wrap .wpmui-text {
  display: inline-block;
}
.wpmui-popup .ms-text-small,
.ms-wrap .ms-text-small {
  width: 4em;
}
.wpmui-popup .ms-text-smallish,
.ms-wrap .ms-text-smallish {
  width: 6em;
}
.wpmui-popup .ms-text-medium,
.ms-wrap .ms-text-medium {
  width: 300px;
}
.wpmui-popup .ms-text-large,
.ms-wrap .ms-text-large {
  width: 400px;
}
.wpmui-popup .ms-textarea-medium,
.ms-wrap .ms-textarea-medium {
  height: 10em;
}
.wpmui-popup input[type="text"],
.wpmui-popup input[type="file"],
.wpmui-popup input[type="password"],
.wpmui-popup input[type="time"],
.wpmui-popup input[type="search"],
.wpmui-popup input[type="number"],
.wpmui-popup input[type="url"],
.wpmui-popup input[type="email"],
.ms-wrap input[type="text"],
.ms-wrap input[type="file"],
.ms-wrap input[type="password"],
.ms-wrap input[type="time"],
.ms-wrap input[type="search"],
.ms-wrap input[type="number"],
.ms-wrap input[type="url"],
.ms-wrap input[type="email"] {
  min-height: 28px;
  line-height: 26px;
  padding-top: 0;
  padding-bottom: 0;
}
.wpmui-popup .disabled input,
.wpmui-popup input.disabled,
.wpmui-popup input[disabled],
.ms-wrap .disabled input,
.ms-wrap input.disabled,
.ms-wrap input[disabled] {
  cursor: default;
}
.wpmui-popup .wpmui-no-data,
.ms-wrap .wpmui-no-data {
  font-style: italic;
  padding: 3px 0;
  line-height: 24px;
  opacity: .6;
}
.wpmui-popup .wpmui-no-data:before, .wpmui-popup .wpmui-no-data:after,
.ms-wrap .wpmui-no-data:before,
.ms-wrap .wpmui-no-data:after {
  content: ' - ';
}
.wpmui-popup input.ms-center,
.wpmui-popup select.ms-center,
.wpmui-popup textarea.ms-center,
.ms-wrap input.ms-center,
.ms-wrap select.ms-center,
.ms-wrap textarea.ms-center {
  margin-left: auto;
  margin-right: auto;
}
.wpmui-popup .search-box,
.ms-wrap .search-box {
  float: right;
  margin: 0;
}
.wpmui-popup .ms-search-info,
.ms-wrap .ms-search-info {
  margin: 8px 0 0 20px;
  display: inline-block;
  padding: .2em 5px .2em 8px;
  line-height: 22px;
  font-size: 14px;
  color: #777;
  background: #F4F2E0;
  border-radius: 5px;
  cursor: default;
}
.wpmui-popup .ms-clear-search,
.ms-wrap .ms-clear-search {
  color: #999;
  text-decoration: none;
}
.wpmui-popup .ms-clear-search:hover, .wpmui-popup .ms-clear-search:focus, .wpmui-popup .ms-clear-search:active,
.ms-wrap .ms-clear-search:hover,
.ms-wrap .ms-clear-search:focus,
.ms-wrap .ms-clear-search:active {
  color: #666;
}
.wpmui-popup .ms-clear-search .dashicons,
.ms-wrap .ms-clear-search .dashicons {
  font-size: 16px;
  line-height: 20px;
}

/***
 * DATEPICKER *
 ***/
#wpadminbar .wpmui-datepicker-wrapper,
.wpmui-popup .wpmui-datepicker-wrapper,
.ms-wrap .wpmui-datepicker-wrapper {
  /* only the wpmui-field-input needs to be inline-block/relative */
}
#wpadminbar .wpmui-datepicker-wrapper .wpmui-field-input,
.wpmui-popup .wpmui-datepicker-wrapper .wpmui-field-input,
.ms-wrap .wpmui-datepicker-wrapper .wpmui-field-input {
  display: inline-block;
  position: relative;
}
#wpadminbar .wpmui-datepicker-wrapper .wpmui-icon,
.wpmui-popup .wpmui-datepicker-wrapper .wpmui-icon,
.ms-wrap .wpmui-datepicker-wrapper .wpmui-icon {
  position: absolute;
  right: 0;
  top: 0;
  height: 28px;
  width: 21px;
  line-height: 28px;
  text-align: left;
  opacity: .5;
  cursor: pointer;
  color: #444;
}

.ui-datepicker.wpmui-datepicker {
  padding: 0;
  border: none;
  background: transparent;
  z-index: 20;
  width: 250px;
  /* Get rid of bevel corners */
  /* New icons */
}
.ui-datepicker.wpmui-datepicker .ui-datepicker-header, .ui-datepicker.wpmui-datepicker.ui-corner-all {
  border-radius: 0;
}
.ui-datepicker.wpmui-datepicker .ui-datepicker-prev span,
.ui-datepicker.wpmui-datepicker .ui-datepicker-next span,
.ui-datepicker.wpmui-datepicker .ui-state-hover .ui-icon,
.ui-datepicker.wpmui-datepicker .ui-state-focus .ui-icon,
.ui-datepicker.wpmui-datepicker .ui-widget-header .ui-icon,
.ui-datepicker.wpmui-datepicker .ui-icon {
  background-image: url(../images/ui-icons-white.png);
  cursor: pointer;
}
.ui-datepicker.wpmui-datepicker .ui-datepicker-prev,
.ui-datepicker.wpmui-datepicker .ui-datepicker-prev.ui-state-hover,
.ui-datepicker.wpmui-datepicker .ui-datepicker-next,
.ui-datepicker.wpmui-datepicker .ui-datepicker-next.ui-state-hover,
.ui-datepicker.wpmui-datepicker .ui-datepicker-title {
  line-height: 2.5em;
  height: 2.5em;
  padding: 0;
  border: 0;
  background: transparent;
}
.ui-datepicker.wpmui-datepicker .ui-datepicker-prev.ui-datepicker-prev-hover {
  top: 2px;
  left: 2px;
}
.ui-datepicker.wpmui-datepicker .ui-datepicker-next.ui-datepicker-next-hover {
  top: 2px;
  right: 2px;
}
.ui-datepicker.wpmui-datepicker .ui-datepicker-header {
  border: none;
  background: #4F83AA;
  color: #FFFFFF;
  font-size: 0.9em;
  font-weight: normal;
}
.ui-datepicker.wpmui-datepicker .ui-datepicker-calendar tbody td a,
.ui-datepicker.wpmui-datepicker td span,
.ui-datepicker.wpmui-datepicker td a {
  padding: 8px;
  text-align: center;
  text-decoration: none;
}
.ui-datepicker.wpmui-datepicker .ui-datepicker-calendar {
  padding: 0;
  background: #375D7A;
  width: 250px;
}
.ui-datepicker.wpmui-datepicker .ui-datepicker-calendar thead th {
  padding: 3px 5px;
  font-size: 0.75em;
  font-weight: normal;
  color: #FFFFFF;
}
.ui-datepicker.wpmui-datepicker .ui-datepicker-calendar tbody .ui-state-default,
.ui-datepicker.wpmui-datepicker .ui-datepicker-calendar tbody .ui-widget-content .ui-state-default,
.ui-datepicker.wpmui-datepicker .ui-datepicker-calendar tbody .ui-widget-header .ui-state-default {
  border: 0;
  background: #223D52;
  color: #FFFFFF;
}
.ui-datepicker.wpmui-datepicker .ui-datepicker-calendar tbody .ui-state-active,
.ui-datepicker.wpmui-datepicker .ui-datepicker-calendar tbody .ui-widget-content .ui-state-active,
.ui-datepicker.wpmui-datepicker .ui-datepicker-calendar tbody .ui-widget-header .ui-state-active,
.ui-datepicker.wpmui-datepicker .ui-datepicker-calendar tbody .ui-state-hover,
.ui-datepicker.wpmui-datepicker .ui-datepicker-calendar tbody .ui-widget-content .ui-state-hover,
.ui-datepicker.wpmui-datepicker .ui-datepicker-calendar tbody .ui-widget-header .ui-state-hover {
  background: #4F83AA;
}

/***
 * RADIO BUTTONS *
 ***/
.wpmui-popup .wpmui-radio-wrapper,
.ms-wrap .wpmui-radio-wrapper {
  margin: 0 auto;
  position: relative;
  display: inline-block;
}

#wpwrap .ms-wrap .wpmui-radio {
  margin: 2px 4px 0 0;
  position: absolute;
  left: 0;
  top: 0;
}
#wpwrap .ms-wrap .wpmui-radio-caption {
  padding-left: 24px;
  font-weight: 500;
  margin: 8px 0 2px;
  display: block;
}
#wpwrap .ms-wrap label {
  position: relative;
  display: block;
  width: 100%;
}

/***
 * RADIO SLIDER *
 ***/
.wpmui-popup .wpmui-radio-slider.ms-processing,
body #wpwrap .ms-wrap .wpmui-radio-slider.ms-processing {
  cursor: wait;
}
.wpmui-popup h3 .wpmui-radio-slider-wrapper,
body #wpwrap .ms-wrap h3 .wpmui-radio-slider-wrapper {
  display: inline-block;
  position: relative;
  top: 8px;
  margin: -8px 0 0 40px;
  font-size: 13px;
  font-weight: normal;
}
.wpmui-popup .wpmui-radio-slider-wrapper.centered .wpmui-label-before,
body #wpwrap .ms-wrap .wpmui-radio-slider-wrapper.centered .wpmui-label-before {
  width: 44%;
  text-align: right;
}
.wpmui-popup .wpmui-radio-slider-wrapper.centered .wpmui-label-after,
body #wpwrap .ms-wrap .wpmui-radio-slider-wrapper.centered .wpmui-label-after {
  width: 44%;
}
.wpmui-popup .wpmui-radio-slider-wrapper.inline-label .wpmui-field-label,
body #wpwrap .ms-wrap .wpmui-radio-slider-wrapper.inline-label .wpmui-field-label {
  display: inline-block;
  width: auto;
  min-width: 300px;
  margin-right: 10px;
}

/***
 * BUTTONS *
 ***/
.wpmui-popup .button-primary,
.ms-wrap .button-primary {
  min-width: 120px;
}
.wpmui-popup button#next:after,
.ms-wrap button#next:after {
  content: ' \00bb';
}

/***
 * WP EDITOR *
 ***/
.wpmui-popup #wp-content-editor-tools,
.ms-wrap #wp-content-editor-tools {
  background-color: transparent;
}
.wpmui-popup .wp-switch-editor,
.ms-wrap .wp-switch-editor {
  box-sizing: content-box;
}
.wpmui-popup .wp-editor-tools,
.ms-wrap .wp-editor-tools {
  padding-top: 20px;
}

/***
 * POPUP *
 ***/
.wpmui-popup .ms-description {
  margin-bottom: 10px;
  display: block;
  padding-bottom: 10px;
  border-bottom: 1px solid #e5e5e5;
  color: #000;
  font-size: 12px;
}

/**
 * Confirmation messages
 */
/* Ajax confirmation message */
.wpmui-popup .ms-save-text-wrapper,
.ms-wrap .ms-save-text-wrapper {
  display: none;
  position: relative;
  font-size: .9em;
  font-weight: 500;
  max-width: 100%;
}
.wpmui-popup .ms-save-text-wrapper .ms-error-text,
.wpmui-popup .ms-save-text-wrapper .loading-animation,
.ms-wrap .ms-save-text-wrapper .ms-error-text,
.ms-wrap .ms-save-text-wrapper .loading-animation {
  display: none;
}
.wpmui-popup .ms-save-text-wrapper .ms-saving-text,
.wpmui-popup .ms-save-text-wrapper .ms-saved-text,
.ms-wrap .ms-save-text-wrapper .ms-saving-text,
.ms-wrap .ms-save-text-wrapper .ms-saved-text {
  display: none;
  width: 155px;
  max-width: 100%;
}
.wpmui-popup .ms-save-text-wrapper .err-code,
.ms-wrap .ms-save-text-wrapper .err-code {
  display: block;
}
.wpmui-popup .ms-save-text-wrapper.ms-processing, .wpmui-popup .ms-save-text-wrapper.okay, .wpmui-popup .ms-save-text-wrapper.error,
.ms-wrap .ms-save-text-wrapper.ms-processing,
.ms-wrap .ms-save-text-wrapper.okay,
.ms-wrap .ms-save-text-wrapper.error {
  display: inline-block;
}
.wpmui-popup .ms-save-text-wrapper.ms-processing .ms-saving-text,
.wpmui-popup .ms-save-text-wrapper.ms-processing .loading-animation,
.ms-wrap .ms-save-text-wrapper.ms-processing .ms-saving-text,
.ms-wrap .ms-save-text-wrapper.ms-processing .loading-animation {
  display: inline-block;
}
.wpmui-popup .ms-save-text-wrapper.okay .ms-saved-text,
.ms-wrap .ms-save-text-wrapper.okay .ms-saved-text {
  display: inline-block;
}
.wpmui-popup .ms-save-text-wrapper.error .ms-error-text,
.ms-wrap .ms-save-text-wrapper.error .ms-error-text {
  display: inline-block;
}
.wpmui-popup .ms-saved-text,
.ms-wrap .ms-saved-text {
  color: #6DB724;
}
.wpmui-popup .ms-error-text,
.ms-wrap .ms-error-text {
  color: #D73D24;
}
.wpmui-popup .loading-animation,
.ms-wrap .loading-animation {
  float: left;
  width: 20px;
  height: 20px;
  margin-right: 4px;
  overflow: hidden;
  background: transparent url("../images/spinner.gif") top left no-repeat;
}
.wpmui-popup .inside .ms-save-text-wrapper,
.ms-wrap .inside .ms-save-text-wrapper {
  height: 28px;
  line-height: 28px;
  margin: 6px 6px 0 0;
}
.wpmui-popup .inside .ms-save-text-wrapper .loading-animation,
.ms-wrap .inside .ms-save-text-wrapper .loading-animation {
  margin-top: 4px;
}

/**
 * Tooltip elements
 */
/* The "Info" icon */
.wpmui-tooltip-wrapper {
  display: inline;
  position: relative;
  z-index: 100;
}
.wpmui-tooltip-wrapper .wpmui-tooltip-info {
  display: inline;
  min-width: 20px;
  border-radius: 20px;
  font-weight: normal;
  font-size: 15px;
  color: #0094dc;
  cursor: pointer;
}

/* The actual tooltip */
.wpmui-tooltip {
  display: none;
  position: absolute;
  width: 325px;
  left: 10px;
  border: 1px solid #ffffff;
  border-radius: 5px;
  background: #fafafa;
  color: #555555;
  font: 12px/16px verdana;
  box-shadow: rgba(0, 0, 0, 0.12) -3px 0px 10px 1px;
  /** Add left arrow. */
}
.wpmui-tooltip:before {
  position: absolute;
  content: ' ';
  left: -8px;
  top: 10px;
  border: 10px solid transparent;
  border-right: 10px solid #fafafa;
  /* bottom, add background color here */
}
.wpmui-tooltip .wpmui-tooltip-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font: 16px/12px bold "Helvetica";
  cursor: pointer;
}
.wpmui-tooltip .wpmui-tooltip-content {
  padding: 20px;
}

/**
 * Custom icons/sprites/images
 */
.ms-wrap {
  /* 100 x 80 */
  /* 40 x 32 */
  /* 16 x 16 */
}
.ms-wrap .ms-img-type {
  display: inline-block;
  position: relative;
  overflow: hidden;
  width: 100px;
  height: 80px;
  background: transparent url(../images/membership_sprite.png) no-repeat;
  background: transparent url(../images/membership_sprite.svg) no-repeat;
  background-position: 0 -20px;
  /* default icon */
}
.ms-wrap .ms-img-type-simple {
  background-position: 0 -20px;
}
.ms-wrap .ms-img-type-guest {
  background-position: -100px -10px;
}
.ms-wrap .ms-img-type-user {
  background-position: -200px -10px;
}
.ms-wrap .ms-img-type-dripped {
  background-position: -300px -10px;
}
.ms-wrap .small.ms-img-type {
  width: 40px;
  height: 33px;
  background-position: -430px -33px;
  /* default icon */
}
.ms-wrap .small.ms-img-type-simple {
  background-position: -430px -33px;
}
.ms-wrap .small.ms-img-type-guest {
  background-position: -530px -33px;
}
.ms-wrap .small.ms-img-type-user {
  background-position: -630px -33px;
}
.ms-wrap .small.ms-img-type-dripped {
  background-position: -729px -33px;
}
.ms-wrap .wp-list-table .small.ms-img-type,
.ms-wrap .widefat .small.ms-img-type {
  vertical-align: middle;
  margin-top: -5px;
}
.ms-wrap .ms-img-unlock,
.ms-wrap .ms-img-unlock-grey,
.ms-wrap .ms-img-lock,
.ms-wrap .ms-img-lock-grey,
.ms-wrap .ms-img-edit,
.ms-wrap .ms-img-info,
.ms-wrap .ms-img-question,
.ms-wrap .ms-img-warning,
.ms-wrap .ms-img-cancel {
  width: 16px;
  height: 16px;
}
.ms-wrap .ms-img-unlock {
  background-position: -42px -143px;
}
.ms-wrap .ms-img-unlock-grey {
  background-position: -42px -243px;
}
.ms-wrap .ms-img-lock {
  background-position: -142px -143px;
}
.ms-wrap .ms-img-lock-grey {
  background-position: -142px -243px;
}
.ms-wrap .ms-img-edit {
  background-position: -342px -143px;
}
.ms-wrap .ms-img-info {
  background-position: -442px -143px;
}
.ms-wrap .ms-img-question {
  background-position: -542px -143px;
}
.ms-wrap .ms-img-warning {
  background-position: -642px -143px;
}
.ms-wrap .ms-img-cancel {
  background-position: -742px -143px;
}

/**
 * Special styles used on "Welcome" page
 */
.ms-wrap .ms-welcome-box {
  text-align: center;
}
.ms-wrap .ms-welcome-box .ms-welcome-title {
  font-size: 44px;
  font-weight: bold;
  margin: 40px 0 32px;
}
.ms-wrap .ms-welcome-box .ms-welcome-text {
  margin-bottom: 24px;
}
.ms-wrap .ms-welcome-box .ms-welcome-image-box {
  position: relative;
  min-height: 60px;
}
.ms-wrap .ms-welcome-box .ms-welcome-image {
  max-width: 80%;
  width: 200px;
}
.ms-wrap .ms-welcome-box .ms-welcome-start {
  padding: 11px 40px;
  font-size: 16px;
  height: auto;
  position: relative;
  top: -60px;
}

/**
 * Special styles used on "Membership" pages
 */
/* Page: Create new Membership */
#wpwrap .ms-wrap .ms-membership-add {
  margin: 0 auto;
  overflow: visible;
}
#wpwrap .ms-wrap .ms-membership-add .ms-settings-row {
  position: relative;
  margin: 20px 0;
}
#wpwrap .ms-wrap .ms-membership-add .ms-settings-row:last-child {
  margin-bottom: 0;
}
#wpwrap .ms-wrap .ms-membership-add .disabled * {
  color: #999;
  opacity: .7;
  cursor: default;
}
#wpwrap .ms-wrap .ms-membership-add .wpmui-input-name {
  font-size: 13px;
  padding: 5px 10px;
  width: 100%;
}
#wpwrap .ms-wrap .ms-membership-add .ms-choose-type-wrapper {
  width: 100%;
}
#wpwrap .ms-wrap .ms-membership-add .ms-choose-type-wrapper > .ms-choose-type {
  position: relative;
  float: left;
  margin: 1em 0 0;
  padding: 0 5px;
  background-color: transparent;
  outline: none;
}
#wpwrap .ms-wrap .ms-membership-add .ms-choose-type-wrapper > .ms-choose-type:before {
  content: '';
  position: absolute;
  left: 5px;
  top: 0;
  right: 5px;
  bottom: 0;
  background: transparent;
  box-shadow: 0 0 0 1px transparent;
}
#wpwrap .ms-wrap .ms-membership-add .ms-choose-type-wrapper > .ms-choose-type:hover:before {
  background: #fbfbfb;
  box-shadow: 0 0 0 1px #CCC;
}
#wpwrap .ms-wrap .ms-membership-add .ms-choose-type-wrapper > .ms-choose-type.active:before, #wpwrap .ms-wrap .ms-membership-add .ms-choose-type-wrapper > .ms-choose-type.active:hover:before {
  background: #f7fcfe;
  box-shadow: 0 0 0 2px #2ea2cc;
}
#wpwrap .ms-wrap .ms-membership-add .ms-choose-type-wrapper > .ms-choose-type .wpmui-radio {
  position: relative;
  float: left;
  margin: 12px 10px 0 35px;
}
#wpwrap .ms-wrap .ms-membership-add .ms-choose-type-wrapper > .ms-choose-type .wpmui-radio-caption {
  padding: 10px 0 6px;
}
#wpwrap .ms-wrap .ms-membership-add .ms-choose-type-wrapper > .ms-choose-type label {
  padding: 10px 15px;
  margin: 0;
  min-height: 122px;
}
#wpwrap .ms-wrap .ms-membership-add .ms-choose-type-wrapper > .ms-choose-type label:before {
  display: inline-block;
  position: absolute;
  content: '';
  left: 15px;
  top: 14px;
  width: 80px;
  height: 80px;
  background: url(../images/membership_sprite.png);
  background: url(../images/membership_sprite.svg), none;
}
#wpwrap .ms-wrap .ms-membership-add .ms-choose-type-wrapper > .ms-choose-type.wpmui-simple label:before {
  background-position: -440px -35px;
}
#wpwrap .ms-wrap .ms-membership-add .ms-choose-type-wrapper > .ms-choose-type.wpmui-guest label:before {
  background-position: -540px -35px;
}
#wpwrap .ms-wrap .ms-membership-add .ms-choose-type-wrapper > .ms-choose-type.wpmui-user label:before {
  background-position: -640px -35px;
}
#wpwrap .ms-wrap .ms-membership-add .ms-choose-type-wrapper > .ms-choose-type.wpmui-dripped .wpmui-radio {
  margin-left: 50px;
}
#wpwrap .ms-wrap .ms-membership-add .ms-choose-type-wrapper > .ms-choose-type.wpmui-dripped label:before {
  top: 10px;
  background-position: -730px -33px;
}
#wpwrap .ms-wrap .ms-membership-add .ms-choose-type-wrapper > .ms-choose-type .wpmui-radio-caption {
  margin: 0;
  font-weight: 600;
  color: #222;
  font-size: 14px;
}
#wpwrap .ms-wrap .ms-membership-add .ms-choose-type-wrapper > .ms-choose-type .wpmui-input-description {
  margin: 1em 0 0 0;
  color: #666;
  font-weight: 400;
}
#wpwrap .ms-wrap .ms-membership-add .ms-choose-type-wrapper > .ms-choose-type .wpmui-input-description p {
  margin: 0;
}
#wpwrap .ms-wrap .ms-membership-add.ms-cols-2 {
  max-width: 960px;
}
#wpwrap .ms-wrap .ms-membership-add.ms-cols-2 .ms-choose-type-wrapper > .ms-choose-type {
  width: 50%;
}
#wpwrap .ms-wrap .ms-membership-add.ms-cols-3 {
  max-width: 1200px;
}
#wpwrap .ms-wrap .ms-membership-add.ms-cols-3 .ms-choose-type-wrapper > .ms-choose-type {
  width: 33.32%;
}
#wpwrap .ms-wrap .ms-membership-add .ms-options-wrapper .opt {
  float: left;
  width: 50%;
  margin: 0;
  clear: none;
  position: relative;
}
#wpwrap .ms-wrap .ms-membership-add .ms-options-wrapper .wpmui-checkbox-caption {
  font-size: 14px;
}
#wpwrap .ms-wrap .ms-membership-add .ms-options-wrapper .wpmui-checkbox-caption,
#wpwrap .ms-wrap .ms-membership-add .ms-options-wrapper .wpmui-field-description {
  padding-right: 40px;
}
#wpwrap .ms-wrap .ms-membership-add .opt {
  display: block;
}
#wpwrap .ms-wrap .ms-membership-add .opt .wpmui-label-after {
  position: absolute;
  display: none;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: 0;
}
#wpwrap .ms-wrap .ms-membership-add .ms-locked {
  position: relative;
  cursor: not-allowed;
}
#wpwrap .ms-wrap .ms-membership-add .ms-locked * {
  cursor: not-allowed;
}
#wpwrap .ms-wrap .ms-membership-add .ms-locked .wpmui-checkbox-caption,
#wpwrap .ms-wrap .ms-membership-add .ms-locked .wpmui-input-description {
  opacity: 0.45;
  cursor: not-allowed;
}
#wpwrap .ms-wrap .ms-membership-add .ms-locked .wpmui-label-after .locked-info {
  position: absolute;
  background: #333;
  color: #EEE;
  top: 20px;
  left: 50%;
  width: 200px;
  margin-left: -100px;
  text-align: center;
  padding: 5px;
  font-style: normal;
  font-size: 12px;
  box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.35);
}
#wpwrap .ms-wrap .ms-membership-add .ms-locked:hover .wpmui-label-after {
  display: block;
  opacity: 1;
}
#wpwrap .ms-wrap .ms-membership-add .ms-locked:hover .wpmui-label-after .locked-info {
  opacity: 1;
  display: inline-block !important;
}
#wpwrap .ms-wrap .ms-membership-add .ms-control-fields-wrapper {
  position: absolute;
  bottom: -60px;
  z-index: 10;
}

/* Page: Payment options */
#wpwrap .ms-wrap .ms-membership-payment {
  margin: 0 auto;
  max-width: 800px;
  overflow: visible;
}
#wpwrap .ms-wrap .ms-membership-payment.wide {
  max-width: 1200px;
}
#wpwrap .ms-wrap .ms-membership-payment .ms-settings-footer {
  position: absolute;
  bottom: -60px;
  z-index: 10;
}
#wpwrap .ms-wrap .ms-membership-payment .ms-global-payment-wrapper .ms-header .wpmui-separator {
  display: none;
}
#wpwrap .ms-wrap .ms-payment-form .ms-trial-wrapper {
  margin-top: 15px;
}
#wpwrap .ms-wrap .ms-payment-form .ms-payment-gateways .disabled-wrapper .wpmui-field-label {
  color: #AAA;
}
#wpwrap .ms-wrap .ms-payment-form .ms-payment-gateways .wpmui-wrapper:after {
  clear: both;
  display: block;
  content: '';
}
#wpwrap .ms-wrap .ms-payment-form .ms-payment-gateways .wpmui-field-label {
  float: left;
  min-width: 200px;
  width: 40%;
  margin-right: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: right;
}

/* Membership Details ("Overview" page) */
#wpwrap .ms-wrap.ms-membership-overview {
  margin: 0 0 0 -20px;
}
#wpwrap .ms-wrap.ms-membership-overview .ms-wrap-top {
  padding: 15px 265px;
  background-color: #FAFAFA;
}
#wpwrap .ms-wrap.ms-membership-overview .the-title {
  border-radius: 6px;
  color: #FFF;
  background: #888888;
  padding: 2px 10px;
  font-size: inherit;
}
#wpwrap .ms-wrap.ms-membership-overview .ms-membership-status-wrapper {
  position: absolute;
  padding: 10px;
  left: 10px;
  top: 10px;
  min-width: 245px;
  text-align: center;
}
#wpwrap .ms-wrap.ms-membership-overview .ms-membership-status-wrapper .wpmui-radio-slider {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
}
#wpwrap .ms-wrap.ms-membership-overview .ms-membership-status-wrapper .ms-membership-status > div {
  display: block;
}
#wpwrap .ms-wrap.ms-membership-overview .ms-membership-status-wrapper .ms-membership-status .ms-active {
  display: none;
}
#wpwrap .ms-wrap.ms-membership-overview .ms-membership-status-wrapper .ms-membership-status.ms-active > div {
  display: none;
}
#wpwrap .ms-wrap.ms-membership-overview .ms-membership-status-wrapper .ms-membership-status.ms-active .ms-active {
  display: block;
}
#wpwrap .ms-wrap.ms-membership-overview .ms-membership-edit-wrapper {
  position: absolute;
  left: 10px;
  top: 90px;
  min-width: 245px;
  text-align: center;
}
#wpwrap .ms-wrap.ms-membership-overview .ms-membership-edit-wrapper a {
  padding: 5px 20px;
  height: auto;
}
#wpwrap .ms-wrap.ms-membership-overview .ms-overview-container {
  position: relative;
}
#wpwrap .ms-wrap.ms-membership-overview .ms-overview-container > .ms-tab-container {
  padding-left: 20px;
  padding-top: 10px;
  border-top: 1px solid #e5e5e5;
  width: 245px;
}
#wpwrap .ms-wrap.ms-membership-overview .ms-overview-container > .ms-tab-container .ms-tab.active {
  background: #FAFAFA;
}
#wpwrap .ms-wrap.ms-membership-overview .ms-overview-container > .ms-tab-container .ms-tab.active:after {
  background: #FAFAFA;
}
#wpwrap .ms-wrap.ms-membership-overview .ms-overview-container > .ms-settings {
  background: transparent;
  border: 0;
  box-shadow: 0 0 0 transparent;
  padding: 0;
}
#wpwrap .ms-wrap.ms-membership-overview .ms-overview-container .ms-overview-top {
  background-color: #FAFAFA;
  padding: 10px 20px 20px;
  border: 1px solid #E5E5E5;
  border-top: 0;
}
#wpwrap .ms-wrap.ms-membership-overview .ms-overview-container .ms-overview-bottom {
  padding: 20px;
}

/* Membership editor popup */
.ms-edit-membership .wpmui-form {
  padding: 0;
}
.ms-edit-membership .wpmui-label-description,
.ms-edit-membership .ms-public-wrapper,
.ms-edit-membership .ms-paid-wrapper {
  margin-top: 25px;
}
.ms-edit-membership .wpmui-textarea {
  min-height: 140px;
}
.ms-edit-membership .wpmui-radio-slider-wrapper {
  display: block;
}
.ms-edit-membership .wpmui-radio-slider-wrapper .wpmui-field-description {
  margin: 0 0 10px 0;
  line-height: 1.35em;
}

/* The Memberships list */
.ms-wrap .ms-membership-list .ms-followup {
  line-height: 14px;
  font-size: 11px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  opacity: .8;
  margin-top: 3px;
  cursor: default;
}
.ms-wrap .ms-membership-list .ms-followup .the-color {
  float: none;
  margin: 1px 5px;
  display: inline-block;
  line-height: 12px;
  width: 12px;
}
.ms-wrap .ms-membership-list .ms-membership {
  margin-right: 10px;
  font-weight: bold;
}
.ms-wrap .ms-membership-list a .ms-membership {
  cursor: pointer;
}
.ms-wrap .ms-membership-list .row-actions {
  margin-left: 23px;
}
.ms-wrap .ms-membership-list td {
  overflow: visible;
}
.ms-wrap .ms-membership-list .wpmui-tip {
  text-align: center;
}
.ms-wrap .ms-membership-list .ms-badge {
  display: inline-block;
  cursor: help;
}
.ms-wrap .ms-membership-list .column-priority {
  width: 45px;
  text-align: center;
}
.ms-wrap .ms-membership-list .column-active {
  width: 80px;
}
.ms-wrap .ms-membership-list .column-members {
  width: 100px;
  text-align: center;
}
.ms-wrap .ms-membership-list .column-price {
  width: 250px;
}
.ms-wrap .ms-membership-list .ms-shortcodes {
  position: relative;
  display: block;
}
.ms-wrap .ms-membership-list .ms-shortcodes .label {
  border: 1px solid transparent;
  border-bottom: 0;
  line-height: 28px;
  display: inline-block;
  padding: 0 12px;
  position: relative;
}
.ms-wrap .ms-membership-list .ms-shortcodes .inner {
  display: none;
  position: absolute;
  background-color: #FAFAFA;
  padding: 10px;
  right: 0;
  top: 28px;
  width: 600px;
  z-index: 1;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);
  border: 1px solid #E5E5E5;
}
.ms-wrap .ms-membership-list .ms-shortcodes .inner > div {
  line-height: 20px;
  margin: 4px 0;
}
.ms-wrap .ms-membership-list .ms-shortcodes .ms-trigger:hover .label {
  background-color: #FAFAFA;
  border-color: #E5E5E5;
  z-index: 2;
}
.ms-wrap .ms-membership-list .ms-shortcodes .ms-trigger:hover .inner {
  display: block;
}

/* Membership News ("Overview" page) */
#wpwrap .ms-wrap.ms-membership-news .the-title {
  border-radius: 6px;
  color: #FFF;
  background: #888888;
  padding: 2px 10px;
  font-size: inherit;
}

.the-ms-name {
  border-radius: 3px;
  padding: 5px;
  display: inline-block;
  color: #FFF;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 100%;
  position: relative;
  top: 4px;
  margin-top: -4px;
  font-size: .9em;
  vertical-align: bottom;
}

/**
 * Special styles used on "Membership2" page
 */
#wpwrap .ms-wrap.ms-wrap-membership2 h3.ms-list-title {
  color: #4F7984;
}
#wpwrap .ms-wrap.ms-wrap-membership2 h3.ms-list-title b {
  color: #000;
}
#wpwrap .ms-wrap.ms-wrap-membership2 .column-access {
  width: 70%;
}
#wpwrap .ms-wrap.ms-wrap-membership2 .editinline {
  display: none;
}
#wpwrap .ms-wrap.ms-wrap-membership2 tr.ms-dripped .editinline {
  display: block;
}

/**
 * Special styles used on "Membership2" and "Members" page
 */
#wpwrap .ms-wrap tr .column-access select,
#wpwrap .ms-wrap tr .column-membership select {
  display: none;
}
#wpwrap .ms-wrap tr.ms-empty {
  position: relative;
}
#wpwrap .ms-wrap tr.ms-empty .wpmui-select-wrapper {
  display: none;
}
#wpwrap .ms-wrap tr.ms-empty .ms-empty-note-wrapper {
  line-height: 20px;
  font-weight: bold;
  color: #B0B0B0;
}
#wpwrap .ms-wrap tr.ms-empty .ms-empty-note-wrapper .wpmui-label-after {
  display: none;
  line-height: inherit;
  cursor: pointer;
  margin: 0 0 0 15px;
  font-weight: normal;
  color: #333;
  text-decoration: underline;
}
#wpwrap .ms-wrap tr.ms-empty .ms-empty-note-wrapper .wpmui-label-after:hover {
  color: #00CE8D;
}
#wpwrap .ms-wrap tr.ms-empty .ms-empty-note-wrapper .wpmui-label-after:before {
  content: "\f160";
  color: #899;
  text-decoration: none !important;
  /* Copy-paste from dashicons style */
  display: inline-block;
  width: 20px;
  height: 20px;
  font-size: 20px;
  line-height: 1;
  font-family: dashicons;
  text-decoration: inherit;
  font-weight: 400;
  font-style: normal;
  vertical-align: top;
  text-align: center;
  transition: color .1s ease-in 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#wpwrap .ms-wrap tr.ms-assigned {
  position: relative;
}
#wpwrap .ms-wrap tr.ms-assigned .ms-empty-note-wrapper {
  display: none;
}
#wpwrap .ms-wrap tr.ms-assigned .column-match .wpmui-select-wrapper .select2-selection__rendered {
  color: #777;
}
#wpwrap .ms-wrap tr.ms-assigned .wpmui-select-wrapper .ms-memberships {
  margin: 0;
  width: 100%;
  background: transparent;
  border-color: transparent;
}
#wpwrap .ms-wrap tr.ms-assigned .wpmui-select-wrapper .wpmui-label-after {
  display: none;
  cursor: pointer;
  margin: 0 0 0 15px;
  font-weight: normal;
  color: #333;
  text-decoration: underline;
  position: absolute;
  right: 10px;
  top: 10px;
  line-height: 16px;
}
#wpwrap .ms-wrap tr.ms-assigned .wpmui-select-wrapper .wpmui-label-after:hover {
  color: #00CE8D;
}
#wpwrap .ms-wrap tr.ms-assigned .wpmui-select-wrapper .select2-selection__rendered {
  padding: 0;
  overflow: hidden;
  color: #F0F0F0;
}
#wpwrap .ms-wrap tr.ms-assigned .wpmui-select-wrapper .select2-selection__rendered .val {
  padding: 0 6px 0 0;
  margin: 0 1px 1px 0;
  border-radius: 1px;
  height: 30px;
  line-height: 30px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  border: 0;
  box-shadow: 0 -20px 10px -10px rgba(0, 0, 0, 0.15) inset, inset 0px -1px 1px rgba(0, 0, 0, 0.5), inset 0px 1px 1px rgba(255, 255, 255, 0.8);
  /*top internal highlight*/
}
#wpwrap .ms-wrap tr.ms-assigned .wpmui-select-wrapper .select2-selection__rendered .val:hover {
  box-shadow: 0 -20px 10px -10px rgba(0, 0, 0, 0.22) inset, inset 0px -1px 1px rgba(0, 0, 0, 0.5), inset 0px 1px 1px rgba(255, 255, 255, 0.8);
  /*top internal highlight*/
}
#wpwrap .ms-wrap tr.ms-assigned .wpmui-select-wrapper .select2-selection__rendered .val:hover .select2-selection__choice__remove {
  opacity: 1;
}
#wpwrap .ms-wrap tr.ms-assigned .wpmui-select-wrapper .select2-selection__rendered .val .select2-selection__choice__remove {
  color: #E8E8E8;
  padding: 0 5px;
  opacity: 0.4;
  font-size: 20px;
  float: left;
  font-weight: 100;
}
#wpwrap .ms-wrap tr.ms-assigned .wpmui-select-wrapper .select2-selection__rendered .val .select2-selection__choice__remove:hover {
  color: #FFF;
  opacity: 1;
}
#wpwrap .ms-wrap tr:hover .ms-empty-note-wrapper .wpmui-label-after,
#wpwrap .ms-wrap tr:hover .wpmui-select-wrapper .wpmui-label-after {
  display: inline-block;
}
#wpwrap .ms-wrap tr:hover .wpmui-select-wrapper .wpmui-field-select.ms-memberships,
#wpwrap .ms-wrap tr .wpmui-select-wrapper .select2-container--open .wpmui-field-select.ms-memberships {
  background: #FFF;
  border-color: #5897fb;
}

.select2-dropdown.ms-memberships .select2-results .val {
  width: 18px;
  float: left;
  margin: 0 5px;
  border-radius: 20px;
  box-shadow: 0 0 0px 1px rgba(255, 255, 255, 0.5);
}

/**
 * Special styles used on "Billing" page
 */
#wpwrap .ms-wrap.ms-billing,
.ms-wrap.ms-billing {
  /* Edit single invoice */
  /* Invoice list */
  /* Transaction Logs */
}
#wpwrap .ms-wrap.ms-billing .wpmui-label-txt_membership,
#wpwrap .ms-wrap.ms-billing .wpmui-label-txt_created,
.ms-wrap.ms-billing .wpmui-label-txt_membership,
.ms-wrap.ms-billing .wpmui-label-txt_created {
  margin-top: 10px;
}
#wpwrap .ms-wrap.ms-billing .wpmui-label-txt_user,
#wpwrap .ms-wrap.ms-billing .wpmui-label-txt_membership,
#wpwrap .ms-wrap.ms-billing .wpmui-label-txt_created,
.ms-wrap.ms-billing .wpmui-label-txt_user,
.ms-wrap.ms-billing .wpmui-label-txt_membership,
.ms-wrap.ms-billing .wpmui-label-txt_created {
  font-weight: 600;
}
#wpwrap .ms-wrap.ms-billing .ms-transactions-link,
.ms-wrap.ms-billing .ms-transactions-link {
  position: absolute;
  right: 20px;
  top: 10px;
  z-index: 1;
  font-size: smaller;
}
#wpwrap .ms-wrap.ms-billing .billings .payment-status,
.ms-wrap.ms-billing .billings .payment-status {
  font-size: 20px;
  line-height: 20px;
  position: relative;
  border-radius: 10px;
  display: inline-block;
  cursor: default;
}
#wpwrap .ms-wrap.ms-billing .billings .payment-status:after,
.ms-wrap.ms-billing .billings .payment-status:after {
  content: attr(title);
  display: none;
  color: #FFF;
  background: #888;
  position: absolute;
  left: 18px;
  top: 0;
  height: 20px;
  line-height: 20px;
  padding: 0 8px;
  font-size: 11px;
  border-radius: 0 10px 10px 0;
  white-space: nowrap;
  z-index: 2;
}
#wpwrap .ms-wrap.ms-billing .billings .payment-status:hover,
.ms-wrap.ms-billing .billings .payment-status:hover {
  color: #FFF;
  background: #888;
  border-radius: 10px 0 0 10px;
}
#wpwrap .ms-wrap.ms-billing .billings .payment-status:hover:after,
.ms-wrap.ms-billing .billings .payment-status:hover:after {
  display: block;
}
#wpwrap .ms-wrap.ms-billing .billings .payment-status.payment-status-paid,
.ms-wrap.ms-billing .billings .payment-status.payment-status-paid {
  color: #1B5E20;
}
#wpwrap .ms-wrap.ms-billing .billings .payment-status.payment-status-paid:hover, #wpwrap .ms-wrap.ms-billing .billings .payment-status.payment-status-paid:hover:after,
.ms-wrap.ms-billing .billings .payment-status.payment-status-paid:hover,
.ms-wrap.ms-billing .billings .payment-status.payment-status-paid:hover:after {
  color: #FFF;
  background: #1B5E20;
}
#wpwrap .ms-wrap.ms-billing .billings .payment-status.payment-status-pending, #wpwrap .ms-wrap.ms-billing .billings .payment-status.payment-status-billed,
.ms-wrap.ms-billing .billings .payment-status.payment-status-pending,
.ms-wrap.ms-billing .billings .payment-status.payment-status-billed {
  color: #F57C00;
}
#wpwrap .ms-wrap.ms-billing .billings .payment-status.payment-status-pending:hover, #wpwrap .ms-wrap.ms-billing .billings .payment-status.payment-status-pending:hover:after, #wpwrap .ms-wrap.ms-billing .billings .payment-status.payment-status-billed:hover, #wpwrap .ms-wrap.ms-billing .billings .payment-status.payment-status-billed:hover:after,
.ms-wrap.ms-billing .billings .payment-status.payment-status-pending:hover,
.ms-wrap.ms-billing .billings .payment-status.payment-status-pending:hover:after,
.ms-wrap.ms-billing .billings .payment-status.payment-status-billed:hover,
.ms-wrap.ms-billing .billings .payment-status.payment-status-billed:hover:after {
  color: #FFF;
  background: #F57C00;
}
#wpwrap .ms-wrap.ms-billing .billings .payment-status.payment-status-new,
.ms-wrap.ms-billing .billings .payment-status.payment-status-new {
  color: #BDBDBD;
}
#wpwrap .ms-wrap.ms-billing .billings .payment-status.payment-status-new:hover, #wpwrap .ms-wrap.ms-billing .billings .payment-status.payment-status-new:hover:after,
.ms-wrap.ms-billing .billings .payment-status.payment-status-new:hover,
.ms-wrap.ms-billing .billings .payment-status.payment-status-new:hover:after {
  color: #FFF;
  background: #BDBDBD;
}
#wpwrap .ms-wrap.ms-billing .billings .payment-status.payment-status-denied,
.ms-wrap.ms-billing .billings .payment-status.payment-status-denied {
  color: #FF3D00;
}
#wpwrap .ms-wrap.ms-billing .billings .payment-status.payment-status-denied:hover, #wpwrap .ms-wrap.ms-billing .billings .payment-status.payment-status-denied:hover:after,
.ms-wrap.ms-billing .billings .payment-status.payment-status-denied:hover,
.ms-wrap.ms-billing .billings .payment-status.payment-status-denied:hover:after {
  color: #FFF;
  background: #FF3D00;
}
#wpwrap .ms-wrap.ms-billing .billings .due-now,
.ms-wrap.ms-billing .billings .due-now {
  color: #FF3D00;
  border-bottom: 1px dotted #FF3D00;
  cursor: default;
}
#wpwrap .ms-wrap.ms-billing .billings .due-now:after,
.ms-wrap.ms-billing .billings .due-now:after {
  content: attr(title);
  display: none;
  position: absolute;
  left: 0;
  top: 36px;
  right: 0;
  font-size: 11px;
  z-index: 2;
}
#wpwrap .ms-wrap.ms-billing .billings .due-now:hover:after,
.ms-wrap.ms-billing .billings .due-now:hover:after {
  display: block;
}
#wpwrap .ms-wrap.ms-billing .billings .is-paid,
.ms-wrap.ms-billing .billings .is-paid {
  color: #004080;
  border-bottom: 1px dotted #DDD;
  cursor: default;
}
#wpwrap .ms-wrap.ms-billing .billings .is-paid:after,
.ms-wrap.ms-billing .billings .is-paid:after {
  content: attr(title);
  display: none;
  position: absolute;
  left: 0;
  top: 32px;
  right: 0;
  font-size: 11px;
  z-index: 2;
  color: #888;
}
#wpwrap .ms-wrap.ms-billing .billings .is-paid:hover:after,
.ms-wrap.ms-billing .billings .is-paid:hover:after {
  display: block;
}
#wpwrap .ms-wrap.ms-billing .billings .column-status,
.ms-wrap.ms-billing .billings .column-status {
  width: 80px;
  text-align: center;
}
#wpwrap .ms-wrap.ms-billing .billings .column-total,
.ms-wrap.ms-billing .billings .column-total {
  text-align: right;
}
#wpwrap .ms-wrap.ms-billing .billings .column-total b,
.ms-wrap.ms-billing .billings .column-total b {
  font-size: 15px;
  font-weight: bold;
}
#wpwrap .ms-wrap.ms-billing .billings .column-discount,
.ms-wrap.ms-billing .billings .column-discount {
  text-align: right;
}
#wpwrap .ms-wrap.ms-billing .billings .column-due_date,
.ms-wrap.ms-billing .billings .column-due_date {
  text-align: center;
  position: relative;
}
#wpwrap .ms-wrap.ms-billing .transactions tr:hover td,
#wpwrap .ms-wrap.ms-billing .transaction_matches tr:hover td,
.ms-wrap.ms-billing .transactions tr:hover td,
.ms-wrap.ms-billing .transaction_matches tr:hover td {
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1) inset, 0 -1px 0 0 rgba(0, 0, 0, 0.1) inset;
}
#wpwrap .ms-wrap.ms-billing .transactions td,
#wpwrap .ms-wrap.ms-billing .transaction_matches td,
.ms-wrap.ms-billing .transactions td,
.ms-wrap.ms-billing .transaction_matches td {
  padding: 6px;
}
#wpwrap .ms-wrap.ms-billing .transactions .log-status,
#wpwrap .ms-wrap.ms-billing .transactions .log-method,
#wpwrap .ms-wrap.ms-billing .transaction_matches .log-status,
#wpwrap .ms-wrap.ms-billing .transaction_matches .log-method,
.ms-wrap.ms-billing .transactions .log-status,
.ms-wrap.ms-billing .transactions .log-method,
.ms-wrap.ms-billing .transaction_matches .log-status,
.ms-wrap.ms-billing .transaction_matches .log-method {
  background-color: #888;
  color: #FFF;
  padding: 0;
  border-radius: 10px;
  line-height: 18px;
  width: 18px;
  font-size: 12px;
  text-align: center;
  display: inline-block;
  position: relative;
}
#wpwrap .ms-wrap.ms-billing .transactions .log-method:hover,
#wpwrap .ms-wrap.ms-billing .transaction_matches .log-method:hover,
.ms-wrap.ms-billing .transactions .log-method:hover,
.ms-wrap.ms-billing .transaction_matches .log-method:hover {
  background-color: #333;
  border-radius: 10px 0 0 10px;
}
#wpwrap .ms-wrap.ms-billing .transactions .log-method:hover:after,
#wpwrap .ms-wrap.ms-billing .transaction_matches .log-method:hover:after,
.ms-wrap.ms-billing .transactions .log-method:hover:after,
.ms-wrap.ms-billing .transaction_matches .log-method:hover:after {
  content: attr(data-info);
  background: #333;
  color: #FFF;
  position: absolute;
  left: 18px;
  top: 0;
  height: 18px;
  line-height: 18px;
  padding: 0 8px;
  font-size: 11px;
  border-radius: 0 10px 10px 0;
  white-space: nowrap;
}
#wpwrap .ms-wrap.ms-billing .transactions .column-id,
#wpwrap .ms-wrap.ms-billing .transaction_matches .column-id,
.ms-wrap.ms-billing .transactions .column-id,
.ms-wrap.ms-billing .transaction_matches .column-id {
  width: 80px;
}
#wpwrap .ms-wrap.ms-billing .transactions .column-date,
#wpwrap .ms-wrap.ms-billing .transaction_matches .column-date,
.ms-wrap.ms-billing .transactions .column-date,
.ms-wrap.ms-billing .transaction_matches .column-date {
  width: 150px;
  text-align: center;
}
#wpwrap .ms-wrap.ms-billing .transactions .column-status,
#wpwrap .ms-wrap.ms-billing .transaction_matches .column-status,
.ms-wrap.ms-billing .transactions .column-status,
.ms-wrap.ms-billing .transaction_matches .column-status {
  width: 40px;
  text-align: center;
}
#wpwrap .ms-wrap.ms-billing .transactions .column-method,
#wpwrap .ms-wrap.ms-billing .transaction_matches .column-method,
.ms-wrap.ms-billing .transactions .column-method,
.ms-wrap.ms-billing .transaction_matches .column-method {
  width: 40px;
  text-align: center;
}
#wpwrap .ms-wrap.ms-billing .transactions .column-gateway,
#wpwrap .ms-wrap.ms-billing .transaction_matches .column-gateway,
.ms-wrap.ms-billing .transactions .column-gateway,
.ms-wrap.ms-billing .transaction_matches .column-gateway {
  width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}
#wpwrap .ms-wrap.ms-billing .transactions .column-amount,
#wpwrap .ms-wrap.ms-billing .transaction_matches .column-amount,
.ms-wrap.ms-billing .transactions .column-amount,
.ms-wrap.ms-billing .transaction_matches .column-amount {
  width: 80px;
  text-align: right;
}
#wpwrap .ms-wrap.ms-billing .transactions .column-invoice,
#wpwrap .ms-wrap.ms-billing .transaction_matches .column-invoice,
.ms-wrap.ms-billing .transactions .column-invoice,
.ms-wrap.ms-billing .transaction_matches .column-invoice {
  width: 80px;
  text-align: center;
}
#wpwrap .ms-wrap.ms-billing .transactions .detail-block,
#wpwrap .ms-wrap.ms-billing .transaction_matches .detail-block,
.ms-wrap.ms-billing .transactions .detail-block,
.ms-wrap.ms-billing .transaction_matches .detail-block {
  min-width: 300px;
}
#wpwrap .ms-wrap.ms-billing .transactions .detail-block .actions,
#wpwrap .ms-wrap.ms-billing .transaction_matches .detail-block .actions,
.ms-wrap.ms-billing .transactions .detail-block .actions,
.ms-wrap.ms-billing .transaction_matches .detail-block .actions {
  position: absolute;
  right: 0px;
  top: 1px;
  display: none;
  z-index: 5;
  padding: 5px;
  background-color: #FFF;
}
#wpwrap .ms-wrap.ms-billing .transaction-matching,
.ms-wrap.ms-billing .transaction-matching {
  margin-top: 10px;
  margin-bottom: 5px;
  clear: both;
  background-color: #FCFCFC;
  border: 1px solid #E5E5E5;
  padding: 10px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
}
#wpwrap .ms-wrap.ms-billing .transaction-matching .buttons,
.ms-wrap.ms-billing .transaction-matching .buttons {
  text-align: right;
  border-top: 1px solid #E5E5E5;
  margin: 10px -10px -10px;
  padding: 5px;
  background-color: #F8F8F8;
}
#wpwrap .ms-wrap.ms-billing .log-ok td,
.ms-wrap.ms-billing .log-ok td {
  background-color: rgba(100, 200, 255, 0.06);
}
#wpwrap .ms-wrap.ms-billing .log-ok .log-status,
.ms-wrap.ms-billing .log-ok .log-status {
  background-color: #068;
}
#wpwrap .ms-wrap.ms-billing .log-ok .log-status-icon:before,
.ms-wrap.ms-billing .log-ok .log-status-icon:before {
  content: '\f00c';
}
#wpwrap .ms-wrap.ms-billing .log-err td,
.ms-wrap.ms-billing .log-err td {
  background-color: rgba(255, 100, 100, 0.06);
}
#wpwrap .ms-wrap.ms-billing .log-err .log-status,
.ms-wrap.ms-billing .log-err .log-status {
  background-color: #800;
}
#wpwrap .ms-wrap.ms-billing .log-err .log-status-icon:before,
.ms-wrap.ms-billing .log-err .log-status-icon:before {
  content: '\f071';
}
#wpwrap .ms-wrap.ms-billing .log-ignore .log-status,
.ms-wrap.ms-billing .log-ignore .log-status {
  background-color: #888;
}
#wpwrap .ms-wrap.ms-billing .log-ignore .log-status-icon:before,
.ms-wrap.ms-billing .log-ignore .log-status-icon:before {
  content: '\f00d';
}
#wpwrap .ms-wrap.ms-billing .column-note,
.ms-wrap.ms-billing .column-note {
  position: relative;
}
#wpwrap .ms-wrap.ms-billing .more-details,
.ms-wrap.ms-billing .more-details {
  display: inline-block;
  width: 16px;
  text-align: center;
}
#wpwrap .ms-wrap.ms-billing .more-details.no-post .wpmui-fa,
.ms-wrap.ms-billing .more-details.no-post .wpmui-fa {
  opacity: 0.5;
}
#wpwrap .ms-wrap.ms-billing .more-details .post-data,
.ms-wrap.ms-billing .more-details .post-data {
  display: none;
  position: absolute;
  top: 26px;
  left: 0;
  right: 0;
  background: #333;
  padding: 10px;
  z-index: 2;
  color: #EEE;
  text-align: left;
  white-space: pre;
}
#wpwrap .ms-wrap.ms-billing .more-details .post-data .inner,
.ms-wrap.ms-billing .more-details .post-data .inner {
  overflow: auto;
}
#wpwrap .ms-wrap.ms-billing .more-details .post-data hr,
.ms-wrap.ms-billing .more-details .post-data hr {
  margin: 11px 0 -8px;
  border-color: #444;
}
#wpwrap .ms-wrap.ms-billing .more-details .post-data:before,
.ms-wrap.ms-billing .more-details .post-data:before {
  content: '';
  position: absolute;
  left: 9px;
  top: -10px;
  border: 5px solid transparent;
  border-bottom-color: #333;
}
#wpwrap .ms-wrap.ms-billing .more-details .post-data:after,
.ms-wrap.ms-billing .more-details .post-data:after {
  content: '';
  position: absolute;
  left: 0px;
  right: 0px;
  top: -25px;
  height: 25px;
}
#wpwrap .ms-wrap.ms-billing .more-details .line .line-num,
.ms-wrap.ms-billing .more-details .line .line-num {
  display: inline-block;
  width: 22px;
  color: #999;
}
#wpwrap .ms-wrap.ms-billing .more-details .line .line-key:before,
.ms-wrap.ms-billing .more-details .line .line-key:before {
  content: '[ ';
  color: #888;
}
#wpwrap .ms-wrap.ms-billing .more-details .line .line-key:after,
.ms-wrap.ms-billing .more-details .line .line-key:after {
  content: ' ]';
  color: #888;
}
#wpwrap .ms-wrap.ms-billing .more-details .line .line-val,
.ms-wrap.ms-billing .more-details .line .line-val {
  white-space: nowrap;
}
#wpwrap .ms-wrap.ms-billing .more-details .line .line-val:before,
.ms-wrap.ms-billing .more-details .line .line-val:before {
  content: ' =  "';
  color: #888;
}
#wpwrap .ms-wrap.ms-billing .more-details .line .line-val:after,
.ms-wrap.ms-billing .more-details .line .line-val:after {
  content: '"';
  color: #888;
}
#wpwrap .ms-wrap.ms-billing .more-details .line.is-id .line-key,
.ms-wrap.ms-billing .more-details .line.is-id .line-key {
  color: #000;
  background: #CC8;
  padding: 0 2px;
  display: inline-block;
}
#wpwrap .ms-wrap.ms-billing .more-details:hover .post-data,
.ms-wrap.ms-billing .more-details:hover .post-data {
  display: block;
}
#wpwrap .ms-wrap.ms-billing tr.log-err:hover .err-actions,
#wpwrap .ms-wrap.ms-billing tr.log-ok:hover .ok-actions,
#wpwrap .ms-wrap.ms-billing tr.log-ignore:hover .ignore-actions,
.ms-wrap.ms-billing tr.log-err:hover .err-actions,
.ms-wrap.ms-billing tr.log-ok:hover .ok-actions,
.ms-wrap.ms-billing tr.log-ignore:hover .ignore-actions {
  display: block;
}
#wpwrap .ms-wrap.ms-billing tr:hover .wpmui-loading .actions,
.ms-wrap.ms-billing tr:hover .wpmui-loading .actions {
  display: hidden;
}
#wpwrap .ms-wrap.ms-billing .wpmui-loading,
.ms-wrap.ms-billing .wpmui-loading {
  overflow: hidden;
}

.ms-transaction-window .the-details .wpmui-wrapper {
  display: block;
  margin: 0 0 15px;
}
.ms-transaction-window .the-details .wpmui-html-text-wrapper label {
  font-weight: bold;
  font-size: 11px;
  color: #AAA;
}
.ms-transaction-window .the-form select {
  width: 100%;
}
.ms-transaction-window .the-form .link-block {
  margin: 0 0 10px;
}

/**
 * Special styles used on "Membership2" and "Accessible Content" pages
 */
#url-test-results-wrapper {
  margin: 10px 0 0;
  border: 1px solid #e5e5e5;
  background: #FAFAFA;
}
#url-test-results-wrapper:empty {
  display: none;
}
#url-test-results-wrapper div {
  padding: 10px;
}
#url-test-results-wrapper .ms-test-result {
  float: right;
}
#url-test-results-wrapper .ms-rule-valid {
  color: #080;
  background-color: rgba(0, 128, 0, 0.03);
}
#url-test-results-wrapper .ms-rule-valid .ms-test-result {
  font-weight: bold;
}
#url-test-results-wrapper .ms-rule-invalid {
  color: #C31;
}

/**
 * Special styles used on "All Members" page
 */
#wpwrap .ms-wrap.ms-member-list .column-infos {
  width: 30px;
}
#wpwrap .ms-wrap.ms-member-list .column-infos a {
  display: block;
}
#wpwrap .ms-wrap.ms-member-list .column-membership {
  width: 45%;
}
#wpwrap .ms-wrap.ms-member-list .action-button {
  float: right;
  margin-top: 0px;
  min-width: auto;
}

.ms-edit-member .the-membership {
  display: inline-block;
  padding: 2px 6px;
  border-radius: 4px;
  color: #FFF;
  background: #888;
}

.ms-payment-infos .wpmui-html-table th {
  width: 140px;
}

/**
 * Special styles used on "Edit Member" page
 */
#wpwrap .ms-wrap.ms-add-member .ms-field-group {
  float: left;
  width: 50%;
  position: relative;
}
#wpwrap .ms-wrap.ms-add-member .ms-group-create {
  border-right: 1px solid #E5E5E5;
}
#wpwrap .ms-wrap.ms-add-member .ms-field-group-inner {
  padding: 10px 20px;
  position: relative;
  z-index: 2;
}
#wpwrap .ms-wrap.ms-add-member .group-title,
#wpwrap .ms-wrap.ms-add-member .group-title .wpmui-radio-caption {
  font-weight: bold;
  display: block;
  padding: 1px 0 6px;
}
#wpwrap .ms-wrap.ms-add-member .info-field {
  display: block;
  padding: 10px 0;
  font-style: italic;
}
#wpwrap .ms-wrap.ms-add-member .wpmui-checkbox-list,
#wpwrap .ms-wrap.ms-add-member .wpmui-radio-wrapper {
  border: 0;
  max-height: none;
  display: block;
  padding: 0 5px;
  background: transparent;
  margin-top: 6px;
  margin-bottom: 10px;
}
#wpwrap .ms-wrap.ms-add-member .wpmui-html-table th {
  width: 200px;
  text-align: left;
}
#wpwrap .ms-wrap.ms-add-member .wpmui-html-table .wpmui-field-input {
  margin-top: 0;
  margin-bottom: 0;
}

/**
 * Special styles used on "Addons" page
 */
.ms-wrap.ms-addon-list .details .disabled {
  opacity: .5;
  position: relative;
}
.ms-wrap.ms-addon-list .details .disabled:before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 10;
  cursor: not-allowed;
  background: rgba(0, 0, 0, 0.1);
}
.ms-wrap.ms-addon-list .wpmui-input-direct_access {
  width: 100%;
}

/**
 * Settings module.
 */
.wpmui-popup,
#wpwrap .ms-wrap {
  /** Settings Box **/
  /** Member search */
  /** jquery validation - on admin side */
  /** radio slider */
  /* Dripped icon indicator */
  /* Settings Page Settings */
  /* SETTING: GENERAL */
  /* SETTINGS: IMPORT */
  /* SETTINGS GATEWAY */
  /* MEMBERS LIST */
  /* MEDIA /DOWNLOADS TAB */
  /* AUTOMATED EMAIL RESPONSES */
}
.wpmui-popup .ms-settings-wrapper,
#wpwrap .ms-wrap .ms-settings-wrapper {
  position: relative;
}
.wpmui-popup .ms-settings-wrapper.ms-edit-protection .search-box,
#wpwrap .ms-wrap .ms-settings-wrapper.ms-edit-protection .search-box {
  position: absolute;
  top: 0;
  right: 0;
}
.wpmui-popup .ms-settings-wrapper .plugin_enabled-wrapper,
.wpmui-popup .ms-settings-wrapper .hide_admin_bar-wrapper,
.wpmui-popup .ms-setup-form .ms-pages-group,
#wpwrap .ms-wrap .ms-settings-wrapper .plugin_enabled-wrapper,
#wpwrap .ms-wrap .ms-settings-wrapper .hide_admin_bar-wrapper,
#wpwrap .ms-wrap .ms-setup-form .ms-pages-group {
  float: left;
  width: 48%;
  min-width: 320px;
  max-width: 640px;
  clear: none;
}
.wpmui-popup .ms-settings-wrapper .plugin_enabled-wrapper .wpmui-field-label,
.wpmui-popup .ms-settings-wrapper .hide_admin_bar-wrapper .wpmui-field-label,
#wpwrap .ms-wrap .ms-settings-wrapper .plugin_enabled-wrapper .wpmui-field-label,
#wpwrap .ms-wrap .ms-settings-wrapper .hide_admin_bar-wrapper .wpmui-field-label {
  font-weight: bold;
  font-size: 15px;
}
.wpmui-popup .ms-setup-form .wpmui-radio-slider-wrapper,
#wpwrap .ms-wrap .ms-setup-form .wpmui-radio-slider-wrapper {
  clear: none;
}
.wpmui-popup .ms-setup-form .ms-icon,
#wpwrap .ms-wrap .ms-setup-form .ms-icon {
  opacity: .35;
}
.wpmui-popup .ms-setup-form .ms-description,
#wpwrap .ms-wrap .ms-setup-form .ms-description {
  margin-bottom: 10px;
}
.wpmui-popup .ms-setup-form .ms-title,
#wpwrap .ms-wrap .ms-setup-form .ms-title {
  font-size: 14px;
  color: #000;
  font-weight: bold;
}
.wpmui-popup .ms-setup-form .ms-setup-nav .wpmui-radio-slider-wrapper,
#wpwrap .ms-wrap .ms-setup-form .ms-setup-nav .wpmui-radio-slider-wrapper {
  display: inline-block;
  width: auto;
}
.wpmui-popup .ms-setup-form .ms-setup-nav .wpmui-radio-slider-wrapper .wpmui-field-label,
#wpwrap .ms-wrap .ms-setup-form .ms-setup-nav .wpmui-radio-slider-wrapper .wpmui-field-label {
  float: right;
  width: auto;
  margin-left: 5px;
  margin-right: 25px;
}
.wpmui-popup .ms-settings-general,
#wpwrap .ms-wrap .ms-settings-general {
  max-width: 1280px;
}
.wpmui-popup .ms-settings .settings-description,
#wpwrap .ms-wrap .ms-settings .settings-description {
  margin: 1em 0;
}
.wpmui-popup .ms-settings-desc-wrapper,
#wpwrap .ms-wrap .ms-settings-desc-wrapper {
  margin-bottom: 20px;
}
.wpmui-popup .ms-label,
#wpwrap .ms-wrap .ms-label {
  display: block;
  padding-bottom: 5px;
}
.wpmui-popup .ms-margin-right,
#wpwrap .ms-wrap .ms-margin-right {
  margin-right: 10px;
}
.wpmui-popup .ms-postbox.ms-default-margin,
#wpwrap .ms-wrap .ms-postbox.ms-default-margin {
  margin-right: 15px;
  margin-left: 15px;
  margin-top: 5px;
}
.wpmui-popup .ms-text-label,
.wpmui-popup .ms-ok,
.wpmui-popup .ms-nok,
#wpwrap .ms-wrap .ms-text-label,
#wpwrap .ms-wrap .ms-ok,
#wpwrap .ms-wrap .ms-nok {
  color: #222;
  font-size: 1em;
  font-style: normal;
  font-weight: 600;
  margin-top: 10px;
}
.wpmui-popup .ms-ok,
#wpwrap .ms-wrap .ms-ok {
  color: #7ad03a;
}
.wpmui-popup .ms-nok,
#wpwrap .ms-wrap .ms-nok {
  color: red;
}
.wpmui-popup .ms-settings .ms-settings-box h3.wpmui-field-label,
#wpwrap .ms-wrap .ms-settings .ms-settings-box h3.wpmui-field-label {
  border: none;
  padding: 0;
  font-size: 1.1em;
  cursor: default;
  margin-top: 15px;
}
.wpmui-popup #member-search-options,
#wpwrap .ms-wrap #member-search-options {
  position: relative;
  top: -2px;
  font-size: 13px;
  height: 28px;
  line-height: 26px;
  margin: 0;
  padding: 0 10px 1px;
}
@media (max-width: 900px) {
  .wpmui-popup .ms-tabs,
  #wpwrap .ms-wrap .ms-tabs {
    float: left;
    margin: 0;
    padding: 0;
    width: 100px;
  }
  .wpmui-popup .ms-tabs a,
  #wpwrap .ms-wrap .ms-tabs a {
    padding: 5px;
    min-height: 40px;
  }
  .wpmui-popup .ms-settings,
  #wpwrap .ms-wrap .ms-settings {
    min-height: 350px;
  }
}
.wpmui-popup .ms-validation-error,
#wpwrap .ms-wrap .ms-validation-error {
  color: #e46c6e !important;
}
.wpmui-popup label.ms-validation-error,
#wpwrap .ms-wrap label.ms-validation-error {
  background: #ffefef;
  border: 1px solid #ffd2d2;
  color: #666;
  font-size: 0.9em;
  margin: 10px 0 5px 0;
  padding: 2px;
  display: block;
  clear: both;
}
.wpmui-popup label.ms-validation-error:before,
#wpwrap .ms-wrap label.ms-validation-error:before {
  content: '';
  background: url(../images/membership_sprite.png) no-repeat scroll 5px 5px;
  background: url(../images/membership_sprite.svg), no-repeat scroll 5px 5px;
  background-position: -640px -138px;
  display: inline-block;
  height: 20px;
  position: relative;
  top: 1px;
  width: 20px;
}
.wpmui-popup #membership_access .wpmui-radio-slider,
#wpwrap .ms-wrap #membership_access .wpmui-radio-slider {
  margin: 10px 20px;
}
.wpmui-popup div.dripped .tooltip,
#wpwrap .ms-wrap div.dripped .tooltip {
  display: none;
}
.wpmui-popup .ms-setup-pages-site,
#wpwrap .ms-wrap .ms-setup-pages-site {
  margin: 1em 0;
  padding: 0 10px;
}
.wpmui-popup .ms-setup-pages-site .ms-setup-pages-site-form,
#wpwrap .ms-wrap .ms-setup-pages-site .ms-setup-pages-site-form {
  margin: 1em 0;
}
.wpmui-popup .ms-setup-pages-site .ms-setup-pages-site-form button,
#wpwrap .ms-wrap .ms-setup-pages-site .ms-setup-pages-site-form button {
  float: right;
}
.wpmui-popup .ms-setup-pages-site .ms-site-options-wrapper label,
#wpwrap .ms-wrap .ms-setup-pages-site .ms-site-options-wrapper label {
  display: inline-block;
  width: auto;
  line-height: 28px;
  margin-right: 20px;
}
.wpmui-popup .ms-setup-pages-site .ms-site-options-wrapper:after,
#wpwrap .ms-wrap .ms-setup-pages-site .ms-site-options-wrapper:after {
  content: '';
  display: table;
  clear: both;
}
.wpmui-popup .ms-setup-pages-site .ms-site-options,
#wpwrap .ms-wrap .ms-setup-pages-site .ms-site-options {
  margin: 2px 0;
}
.wpmui-popup .ms-settings-page-wrapper,
#wpwrap .ms-wrap .ms-settings-page-wrapper {
  padding: 5px 10px;
}
.wpmui-popup .ms-settings-page-wrapper .ms-action,
#wpwrap .ms-wrap .ms-settings-page-wrapper .ms-action {
  opacity: 0.7;
}
.wpmui-popup .ms-settings-page-wrapper .ms-action a,
#wpwrap .ms-wrap .ms-settings-page-wrapper .ms-action a {
  color: #467;
  text-decoration: none;
}
.wpmui-popup .ms-settings-page-wrapper:hover,
#wpwrap .ms-wrap .ms-settings-page-wrapper:hover {
  background-color: #FAFAFA;
}
.wpmui-popup .ms-settings-page-wrapper:hover .ms-action,
#wpwrap .ms-wrap .ms-settings-page-wrapper:hover .ms-action {
  opacity: 1;
}
.wpmui-popup .ms-settings-page-wrapper:hover .ms-action a,
#wpwrap .ms-wrap .ms-settings-page-wrapper:hover .ms-action a {
  color: #0074a2;
}
.wpmui-popup .ms-settings-page-wrapper:hover .ms-action a:hover,
#wpwrap .ms-wrap .ms-settings-page-wrapper:hover .ms-action a:hover {
  color: #2ea2cc;
}
.wpmui-popup textarea.wpmui-field-input,
#wpwrap .ms-wrap textarea.wpmui-field-input {
  min-width: 80%;
  display: block;
}
.wpmui-popup .wrapper-import_source .wpmui-radio,
#wpwrap .ms-wrap .wrapper-import_source .wpmui-radio {
  margin-top: 10px;
}
.wpmui-popup .wrapper-import_source .wpmui-radio-caption,
#wpwrap .ms-wrap .wrapper-import_source .wpmui-radio-caption {
  padding-top: 6px;
  padding-bottom: 6px;
  line-height: 24px;
}
.wpmui-popup .wrapper-import_source .wpmui-radio-caption label,
.wpmui-popup .wrapper-import_source .wpmui-radio-caption .wpmui-field-input,
#wpwrap .ms-wrap .wrapper-import_source .wpmui-radio-caption label,
#wpwrap .ms-wrap .wrapper-import_source .wpmui-radio-caption .wpmui-field-input {
  width: auto;
  margin: 0 12px 0 0;
}
.wpmui-popup .ms-settings-box .ms-import-preview .preview-label,
#wpwrap .ms-wrap .ms-settings-box .ms-import-preview .preview-label {
  width: 150px;
  text-align: left;
}
.wpmui-popup .ms-settings-box .ms-import-preview .preview-name,
#wpwrap .ms-wrap .ms-settings-box .ms-import-preview .preview-name {
  font-weight: bold;
}
.wpmui-popup .ms-settings-box .ms-import-preview tbody td,
#wpwrap .ms-wrap .ms-settings-box .ms-import-preview tbody td {
  text-align: center;
}
.wpmui-popup .ms-settings-box .ms-import-preview .preview-count,
#wpwrap .ms-wrap .ms-settings-box .ms-import-preview .preview-count {
  text-align: center;
  width: 150px;
}
.wpmui-popup .ms-settings-box .ms-import-preview.wpmui-html-table,
#wpwrap .ms-wrap .ms-settings-box .ms-import-preview.wpmui-html-table {
  margin: -10px;
  border: 0;
  box-shadow: 0 0 0 transparent;
  width: calc(100% + 20px);
}
.wpmui-popup .ms-import-notes,
#wpwrap .ms-wrap .ms-import-notes {
  margin: 0;
  line-height: 1.15em;
  border-left: 2px solid #EE8800;
  background-color: #FFF6F0;
  padding: 5px 5px 5px 20px;
}
.wpmui-popup .ms-import-notes li,
#wpwrap .ms-wrap .ms-import-notes li {
  padding: 3px 0;
  margin: 0;
}
.wpmui-popup .ms-import-notes ul,
#wpwrap .ms-wrap .ms-import-notes ul {
  list-style: disc;
  margin-bottom: 3px;
}
.wpmui-popup .ms-import-notes ul li,
#wpwrap .ms-wrap .ms-import-notes ul li {
  margin-left: 20px;
}
.wpmui-popup .sel-batchsize-wrapper,
#wpwrap .ms-wrap .sel-batchsize-wrapper {
  position: relative;
  padding-top: 30px;
  display: block;
}
.wpmui-popup .sel-batchsize-wrapper .wpmui-field-label,
#wpwrap .ms-wrap .sel-batchsize-wrapper .wpmui-field-label {
  position: absolute;
  top: 0;
}
.wpmui-popup .sel-batchsize-wrapper .wpmui-field-select,
#wpwrap .ms-wrap .sel-batchsize-wrapper .wpmui-field-select {
  top: 0;
  margin: 0;
}
.wpmui-popup .gateways,
#wpwrap .ms-wrap .gateways {
  margin-top: 20px;
}
.wpmui-popup .gateways .ms-gateway-group,
#wpwrap .ms-wrap .gateways .ms-gateway-group {
  padding: 5px 15px;
  border: 1px solid #E5E5E5;
  border-bottom: 0;
}
.wpmui-popup .gateways .ms-gateway-group:last-child,
#wpwrap .ms-wrap .gateways .ms-gateway-group:last-child {
  border-bottom: 1px solid #E5E5E5;
}
.wpmui-popup .gateways .ms-gateway-group h4,
#wpwrap .ms-wrap .gateways .ms-gateway-group h4 {
  margin: -5px -15px 10px;
  padding: 5px;
  border-bottom: 1px solid #E5E5E5;
  background-color: #F5F5F5;
}
.wpmui-popup .gateways .ms-gateway-item,
#wpwrap .ms-wrap .gateways .ms-gateway-item {
  position: relative;
  min-height: 48px;
  border-bottom: 1px solid #E5E5E5;
  margin-bottom: 10px;
}
.wpmui-popup .gateways .ms-gateway-item:hover .row-actions,
#wpwrap .ms-wrap .gateways .ms-gateway-item:hover .row-actions {
  visibility: visible;
}
.wpmui-popup .gateways .ms-gateway-item:last-child,
#wpwrap .ms-wrap .gateways .ms-gateway-item:last-child {
  margin-bottom: 0;
  border-bottom: 0;
}
.wpmui-popup .gateways .ms-gateway-item .row-status-close,
#wpwrap .ms-wrap .gateways .ms-gateway-item .row-status-close {
  display: inline-block;
  width: 8px;
}
.wpmui-popup .gateways .ms-gateway-item .row-status-open,
#wpwrap .ms-wrap .gateways .ms-gateway-item .row-status-open {
  display: none;
  width: 8px;
}
.wpmui-popup .gateways .ms-gateway-item.open .row-status-close,
#wpwrap .ms-wrap .gateways .ms-gateway-item.open .row-status-close {
  display: none;
}
.wpmui-popup .gateways .ms-gateway-item.open .row-status-open,
#wpwrap .ms-wrap .gateways .ms-gateway-item.open .row-status-open {
  display: inline-block;
}
.wpmui-popup .gateways .ms-gateway-item.open .row-actions,
#wpwrap .ms-wrap .gateways .ms-gateway-item.open .row-actions {
  visibility: visible;
}
.wpmui-popup .gateways .ms-gateway-settings,
#wpwrap .ms-wrap .gateways .ms-gateway-settings {
  position: relative;
  display: none;
}
.wpmui-popup .gateways .ms-gateway-settings .ms-settings-box-wrapper,
#wpwrap .ms-wrap .gateways .ms-gateway-settings .ms-settings-box-wrapper {
  background: transparent;
  border: 0;
  box-shadow: none;
  padding-left: 20px;
}
.wpmui-popup .gateways .ms-gateway-settings .ms-settings-box-wrapper .ms-settings-box,
#wpwrap .ms-wrap .gateways .ms-gateway-settings .ms-settings-box-wrapper .ms-settings-box {
  padding-bottom: 0;
}
.wpmui-popup .gateways .ms-gateway-settings .ms-settings-box-wrapper .ms-header,
#wpwrap .ms-wrap .gateways .ms-gateway-settings .ms-settings-box-wrapper .ms-header {
  background: transparent;
  border: 0;
  padding-bottom: 0;
}
.wpmui-popup .gateways .ms-gateway-settings .ms-settings-box .inside,
#wpwrap .ms-wrap .gateways .ms-gateway-settings .ms-settings-box .inside {
  padding-left: 220px;
  position: relative;
}
.wpmui-popup .gateways .ms-gateway-settings .ms-settings-box .inside .wpmui-wrapper,
#wpwrap .ms-wrap .gateways .ms-gateway-settings .ms-settings-box .inside .wpmui-wrapper {
  position: relative;
  display: block;
}
.wpmui-popup .gateways .ms-gateway-settings .ms-settings-box .inside .wpmui-field-label,
#wpwrap .ms-wrap .gateways .ms-gateway-settings .ms-settings-box .inside .wpmui-field-label {
  position: absolute;
  width: 200px;
  left: -220px;
  margin: 0;
  top: 10px;
  margin-right: 10px;
}
.wpmui-popup .gateways .show-settings,
#wpwrap .ms-wrap .gateways .show-settings {
  display: none;
}
.wpmui-popup .gateways .show-settings:checked + .ms-gateway-settings,
#wpwrap .ms-wrap .gateways .show-settings:checked + .ms-gateway-settings {
  display: block;
}
.wpmui-popup .gateways .gateway-toggle,
#wpwrap .ms-wrap .gateways .gateway-toggle {
  display: inline-block;
  width: auto;
}
.wpmui-popup .gateways .gateway-name,
#wpwrap .ms-wrap .gateways .gateway-name {
  font-weight: bold;
  color: #0073AA;
  vertical-align: top;
}
.wpmui-popup .gateways .gateway-name:hover,
#wpwrap .ms-wrap .gateways .gateway-name:hover {
  color: #00A0D2;
}
.wpmui-popup .gateways .gateway-description,
#wpwrap .ms-wrap .gateways .gateway-description {
  color: #888;
}
.wpmui-popup .gateways .is-configured .ms-gateway-setup-wrapper,
.wpmui-popup .gateways .not-configured .wpmui-radio-slider,
#wpwrap .ms-wrap .gateways .is-configured .ms-gateway-setup-wrapper,
#wpwrap .ms-wrap .gateways .not-configured .wpmui-radio-slider {
  display: none;
}
.wpmui-popup .gateways .not-configured .ms-gateway-setup-wrapper,
#wpwrap .ms-wrap .gateways .not-configured .ms-gateway-setup-wrapper {
  display: block;
}
.wpmui-popup .gateways .mode,
#wpwrap .ms-wrap .gateways .mode {
  display: inline-block;
  padding: 0;
  padding-left: 10px;
}
.wpmui-popup .gateways .ms-gateway-status,
#wpwrap .ms-wrap .gateways .ms-gateway-status {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
}
.wpmui-popup .gateways .ms-gateway-status .button,
#wpwrap .ms-wrap .gateways .ms-gateway-status .button {
  margin: 0;
}
.wpmui-popup .gateways .mode-sandbox,
.wpmui-popup .gateways .mode-live,
#wpwrap .ms-wrap .gateways .mode-sandbox,
#wpwrap .ms-wrap .gateways .mode-live {
  display: none;
}
.wpmui-popup .gateways .is-configured.is-sandbox .mode-sandbox,
.wpmui-popup .gateways .is-configured.is-live .mode-live,
#wpwrap .ms-wrap .gateways .is-configured.is-sandbox .mode-sandbox,
#wpwrap .ms-wrap .gateways .is-configured.is-live .mode-live {
  display: block;
}
.wpmui-popup .gateways .mode-live,
#wpwrap .ms-wrap .gateways .mode-live {
  font-weight: bold;
}
.wpmui-popup .gateways .offline-flag,
#wpwrap .ms-wrap .gateways .offline-flag {
  display: none;
}
.wpmui-popup .gateways .is-offline,
#wpwrap .ms-wrap .gateways .is-offline {
  /* PayPal Standard does not work in offline mode */
}
.wpmui-popup .gateways .is-offline.gateway-paypal_standard .offline-flag, .wpmui-popup .gateways .is-offline.gateway-paypal_single .offline-flag,
#wpwrap .ms-wrap .gateways .is-offline.gateway-paypal_standard .offline-flag,
#wpwrap .ms-wrap .gateways .is-offline.gateway-paypal_single .offline-flag {
  display: inline-block;
}
.wpmui-popup .gateways .is-offline.gateway-paypal_standard .offline-flag:before, .wpmui-popup .gateways .is-offline.gateway-paypal_single .offline-flag:before,
#wpwrap .ms-wrap .gateways .is-offline.gateway-paypal_standard .offline-flag:before,
#wpwrap .ms-wrap .gateways .is-offline.gateway-paypal_single .offline-flag:before {
  content: '\f071';
  margin-left: 6px;
  color: #B30;
}
.wpmui-popup .ms-global-payment-wrapper .gateways .ms-gateway-settings .ms-settings-box .inside,
#wpwrap .ms-wrap .ms-global-payment-wrapper .gateways .ms-gateway-settings .ms-settings-box .inside {
  padding-left: 0;
}
.wpmui-popup .ms-global-payment-wrapper .gateways .ms-gateway-settings .ms-settings-box .inside .wpmui-field-label,
#wpwrap .ms-wrap .ms-global-payment-wrapper .gateways .ms-gateway-settings .ms-settings-box .inside .wpmui-field-label {
  position: static;
  width: auto;
  display: block;
}
.wpmui-popup .ms-global-payment-wrapper .gateways .ms-gateway-settings .ms-settings-box .inside .wpmui-field-input,
#wpwrap .ms-wrap .ms-global-payment-wrapper .gateways .ms-gateway-settings .ms-settings-box .inside .wpmui-field-input {
  width: 100%;
}
.wpmui-popup #search_options,
#wpwrap .ms-wrap #search_options {
  float: left;
  height: 28px;
  margin: 0 4px 0 0;
}
.wpmui-popup .wpmui-description-masked_url,
#wpwrap .ms-wrap .wpmui-description-masked_url {
  display: inline-block;
}
.wpmui-popup .ms-settings-messages_automated .wpmui-label-email_body .ms-wpml-support,
#wpwrap .ms-wrap .ms-settings-messages_automated .wpmui-label-email_body .ms-wpml-support {
  position: absolute;
  margin-top: 24px;
}

.wpmui-popup.ms-setup-done .the-title {
  display: block;
  text-align: center;
}
.wpmui-popup.ms-setup-done .the-title .dashicons {
  line-height: 54px;
  font-size: 26px;
  height: 50px;
  color: #6bbb1a;
}
.wpmui-popup.ms-setup-done .the-title .subtitle {
  font-size: 15px;
  line-height: 1em;
  margin-bottom: 10px;
}
.wpmui-popup.ms-setup-done > .buttons {
  text-align: center;
}
.wpmui-popup.ms-setup-done .ms-setup-form .ms-description {
  padding-bottom: 0;
  border: 0;
  color: #888;
  font-size: 0.9em;
}
.wpmui-popup.ms-setup-done .ms-setup-form .wpmui-separator {
  border: 0;
  height: 20px;
  line-height: 20px;
  margin: 0;
  padding: 0;
}
.wpmui-popup.ms-setup-done .ms-setup-form .ms-pages-group {
  float: none;
  clear: both;
  width: 100%;
  min-width: 0;
  max-width: none;
}
.wpmui-popup.ms-setup-done .ms-setup-form .ms-settings-page-wrapper {
  float: left;
  width: 213px;
  min-width: 200px;
}
.wpmui-popup.ms-setup-done .ms-setup-form .ms-settings-page-wrapper:hover {
  background-color: transparent;
}
.wpmui-popup.ms-setup-done .ms-setup-form .ms-settings-page-wrapper .ms-action {
  opacity: 1;
}
.wpmui-popup.ms-setup-done .ms-setup-form .ms-settings-page-wrapper select,
.wpmui-popup.ms-setup-done .ms-setup-form .ms-settings-page-wrapper .select2-container {
  display: none;
}
.wpmui-popup.ms-setup-done .ms-setup-form .ms-settings-page-wrapper .lbl-details {
  display: none;
}

/***
 * PAYMENT SETTINGS FORM *
 ***/
.ms-gateway-settings-form .inside .wpmui-field-label {
  width: 240px;
  float: left;
  margin-top: 6px;
  margin-bottom: 6px;
}
.ms-gateway-settings-form .inside #payment_info {
  min-width: 0;
  height: 100px;
}

.ms-settings-payment .ms-global-payment-wrapper .wpmui-field-input,
.ms-settings-payment .ms-global-payment-wrapper .select2-container {
  width: 100%;
  display: block;
}
.ms-settings-payment .ms-global-payment-wrapper th.column-active,
.ms-settings-payment .ms-global-payment-wrapper td.column-active {
  width: 135px;
  text-align: center;
}

/***
 * SETTINGS FOOTER CONTENT *
 ***/
.ms-wrap .ms-settings-footer {
  margin-top: 1.5em;
  color: #999;
  font-size: 12px;
}
.ms-wrap .ms-settings-footer a {
  color: #666;
}

/**
 * Admin-Bar module.
 */
#wpadminbar.simulation-mode {
  background: #223D52;
}

#wpadminbar #wp-toolbar {
  /* Button: Start/Stop Test-Mode */
  /* Mode: View-Site-As */
  /* General styles */
}
#wpadminbar #wp-toolbar .ms-test-memberships > a.ab-item,
#wpadminbar #wp-toolbar .ms-exit-memberships > a.ab-item,
#wpadminbar #wp-toolbar .ms-unprotected > a.ab-item {
  position: relative;
  display: block;
  background-color: transparent;
  color: #F0F0F0;
}
#wpadminbar #wp-toolbar .ms-test-memberships > a.ab-item:after,
#wpadminbar #wp-toolbar .ms-exit-memberships > a.ab-item:after,
#wpadminbar #wp-toolbar .ms-unprotected > a.ab-item:after {
  content: '';
  position: absolute;
  left: 3px;
  top: 3px;
  bottom: 3px;
  right: 3px;
  margin: 0;
  z-index: -1;
  background-color: #0A6C9C;
}
#wpadminbar #wp-toolbar .ms-test-memberships:hover > a.ab-item,
#wpadminbar #wp-toolbar .ms-exit-memberships:hover > a.ab-item,
#wpadminbar #wp-toolbar .ms-unprotected:hover > a.ab-item {
  color: #FFF;
}
#wpadminbar #wp-toolbar .ms-test-memberships:hover > a.ab-item:after,
#wpadminbar #wp-toolbar .ms-exit-memberships:hover > a.ab-item:after,
#wpadminbar #wp-toolbar .ms-unprotected:hover > a.ab-item:after {
  background-color: #0094DC;
}
#wpadminbar #wp-toolbar .ms-unprotected > a.ab-item:after {
  background-color: #9C2C0A;
}
#wpadminbar #wp-toolbar .ms-unprotected:hover > a.ab-item:after {
  background-color: #CC4C32;
}
#wpadminbar #wp-toolbar .ms-exit-memberships {
  position: absolute;
  right: 10px;
}
#wpadminbar #wp-toolbar .membership-simulate-period {
  margin-left: 10px;
  border-left: 1px solid rgba(255, 255, 255, 0.15);
}
#wpadminbar #wp-toolbar .membership-simulate-period .ms-date,
#wpadminbar #wp-toolbar .membership-view-site-as .ms-date {
  display: inline;
  width: 105px;
  padding-right: 25px;
}
#wpadminbar #wp-toolbar .membership-simulate-period .ms-small,
#wpadminbar #wp-toolbar .membership-view-site-as .ms-small {
  display: inline;
  width: 2em;
}
#wpadminbar #wp-toolbar .membership-simulate-period .ms-simulate-info,
#wpadminbar #wp-toolbar .membership-view-site-as .ms-simulate-info {
  padding-left: 10px;
}
#wpadminbar #wp-toolbar .membership-simulate-period input,
#wpadminbar #wp-toolbar .membership-simulate-period select,
#wpadminbar #wp-toolbar .membership-simulate-period button,
#wpadminbar #wp-toolbar .membership-simulate-period .wpmui-field-input,
#wpadminbar #wp-toolbar .membership-view-site-as input,
#wpadminbar #wp-toolbar .membership-view-site-as select,
#wpadminbar #wp-toolbar .membership-view-site-as button,
#wpadminbar #wp-toolbar .membership-view-site-as .wpmui-field-input {
  height: 23px;
  line-height: 21px;
  margin: 4px;
  box-sizing: border-box;
}
#wpadminbar #wp-toolbar .membership-simulate-period .wpmui-field-input input,
#wpadminbar #wp-toolbar .membership-simulate-period .wpmui-field-input select,
#wpadminbar #wp-toolbar .membership-simulate-period .wpmui-field-input button,
#wpadminbar #wp-toolbar .membership-view-site-as .wpmui-field-input input,
#wpadminbar #wp-toolbar .membership-view-site-as .wpmui-field-input select,
#wpadminbar #wp-toolbar .membership-view-site-as .wpmui-field-input button {
  margin: 0;
}
#wpadminbar #wp-toolbar .membership-simulate-period .wpmui-icon,
#wpadminbar #wp-toolbar .membership-view-site-as .wpmui-icon {
  line-height: 24px;
  height: 24px;
  width: 18px;
}
#wpadminbar #wp-toolbar .membership-simulate-period input,
#wpadminbar #wp-toolbar .membership-view-site-as input {
  padding: 2px;
  text-align: center;
  border: none;
  min-width: 2em;
}
#wpadminbar #wp-toolbar .membership-simulate-period select,
#wpadminbar #wp-toolbar .membership-view-site-as select {
  margin-right: 10px;
}
#wpadminbar #wp-toolbar .membership-simulate-period button,
#wpadminbar #wp-toolbar .membership-view-site-as button {
  padding: 0 15px;
}
#wpadminbar #wp-toolbar .membership-simulate-period form,
#wpadminbar #wp-toolbar .membership-simulate-period div,
#wpadminbar #wp-toolbar .membership-simulate-period div.ab-item,
#wpadminbar #wp-toolbar .membership-simulate-period select,
#wpadminbar #wp-toolbar .membership-simulate-period small,
#wpadminbar #wp-toolbar .membership-view-site-as form,
#wpadminbar #wp-toolbar .membership-view-site-as div,
#wpadminbar #wp-toolbar .membership-view-site-as div.ab-item,
#wpadminbar #wp-toolbar .membership-view-site-as select,
#wpadminbar #wp-toolbar .membership-view-site-as small {
  display: inline;
  max-height: 32px;
}
#wpadminbar #wp-toolbar .membership-simulate-period small,
#wpadminbar #wp-toolbar .membership-view-site-as small {
  font-size: 12px;
  padding: 0 0 0 15px;
  color: #aaa;
}
#wpadminbar #wp-toolbar .ms-test-memberships:hover > .ab-item,
#wpadminbar #wp-toolbar .ms-exit-memberships:hover > .ab-item,
#wpadminbar #wp-toolbar .membership-view-site-as:hover > .ab-item,
#wpadminbar #wp-toolbar .membership-simulate-period:hover > .ab-item {
  background-color: inherit;
  color: inherit;
}


/* 702106-1538054666 */