/**
 * Collects all SASS files into a single css file.
 *
 * https://make.wordpress.org/core/handbook/coding-standards/css/
 * The coding standard is applied to the SASS source files and formatting might
 * be slightly changed by compilation into CSS files. However, there is a
 * expanded dev-version of the CSS files and also a minified version without
 * any comments.
 */
/**
 * Admin-Bar module.
 */
#wpadminbar.simulation-mode {
  background: #223D52;
}

#wpadminbar #wp-toolbar {
  /* Button: Start/Stop Test-Mode */
  /* Mode: View-Site-As */
  /* General styles */
}
#wpadminbar #wp-toolbar .ms-test-memberships > a.ab-item,
#wpadminbar #wp-toolbar .ms-exit-memberships > a.ab-item,
#wpadminbar #wp-toolbar .ms-unprotected > a.ab-item {
  position: relative;
  display: block;
  background-color: transparent;
  color: #F0F0F0;
}
#wpadminbar #wp-toolbar .ms-test-memberships > a.ab-item:after,
#wpadminbar #wp-toolbar .ms-exit-memberships > a.ab-item:after,
#wpadminbar #wp-toolbar .ms-unprotected > a.ab-item:after {
  content: '';
  position: absolute;
  left: 3px;
  top: 3px;
  bottom: 3px;
  right: 3px;
  margin: 0;
  z-index: -1;
  background-color: #0A6C9C;
}
#wpadminbar #wp-toolbar .ms-test-memberships:hover > a.ab-item,
#wpadminbar #wp-toolbar .ms-exit-memberships:hover > a.ab-item,
#wpadminbar #wp-toolbar .ms-unprotected:hover > a.ab-item {
  color: #FFF;
}
#wpadminbar #wp-toolbar .ms-test-memberships:hover > a.ab-item:after,
#wpadminbar #wp-toolbar .ms-exit-memberships:hover > a.ab-item:after,
#wpadminbar #wp-toolbar .ms-unprotected:hover > a.ab-item:after {
  background-color: #0094DC;
}
#wpadminbar #wp-toolbar .ms-unprotected > a.ab-item:after {
  background-color: #9C2C0A;
}
#wpadminbar #wp-toolbar .ms-unprotected:hover > a.ab-item:after {
  background-color: #CC4C32;
}
#wpadminbar #wp-toolbar .ms-exit-memberships {
  position: absolute;
  right: 10px;
}
#wpadminbar #wp-toolbar .membership-simulate-period {
  margin-left: 10px;
  border-left: 1px solid rgba(255, 255, 255, 0.15);
}
#wpadminbar #wp-toolbar .membership-simulate-period .ms-date,
#wpadminbar #wp-toolbar .membership-view-site-as .ms-date {
  display: inline;
  width: 105px;
  padding-right: 25px;
}
#wpadminbar #wp-toolbar .membership-simulate-period .ms-small,
#wpadminbar #wp-toolbar .membership-view-site-as .ms-small {
  display: inline;
  width: 2em;
}
#wpadminbar #wp-toolbar .membership-simulate-period .ms-simulate-info,
#wpadminbar #wp-toolbar .membership-view-site-as .ms-simulate-info {
  padding-left: 10px;
}
#wpadminbar #wp-toolbar .membership-simulate-period input,
#wpadminbar #wp-toolbar .membership-simulate-period select,
#wpadminbar #wp-toolbar .membership-simulate-period button,
#wpadminbar #wp-toolbar .membership-simulate-period .wpmui-field-input,
#wpadminbar #wp-toolbar .membership-view-site-as input,
#wpadminbar #wp-toolbar .membership-view-site-as select,
#wpadminbar #wp-toolbar .membership-view-site-as button,
#wpadminbar #wp-toolbar .membership-view-site-as .wpmui-field-input {
  height: 23px;
  line-height: 21px;
  margin: 4px;
  box-sizing: border-box;
}
#wpadminbar #wp-toolbar .membership-simulate-period .wpmui-field-input input,
#wpadminbar #wp-toolbar .membership-simulate-period .wpmui-field-input select,
#wpadminbar #wp-toolbar .membership-simulate-period .wpmui-field-input button,
#wpadminbar #wp-toolbar .membership-view-site-as .wpmui-field-input input,
#wpadminbar #wp-toolbar .membership-view-site-as .wpmui-field-input select,
#wpadminbar #wp-toolbar .membership-view-site-as .wpmui-field-input button {
  margin: 0;
}
#wpadminbar #wp-toolbar .membership-simulate-period .wpmui-icon,
#wpadminbar #wp-toolbar .membership-view-site-as .wpmui-icon {
  line-height: 24px;
  height: 24px;
  width: 18px;
}
#wpadminbar #wp-toolbar .membership-simulate-period input,
#wpadminbar #wp-toolbar .membership-view-site-as input {
  padding: 2px;
  text-align: center;
  border: none;
  min-width: 2em;
}
#wpadminbar #wp-toolbar .membership-simulate-period select,
#wpadminbar #wp-toolbar .membership-view-site-as select {
  margin-right: 10px;
}
#wpadminbar #wp-toolbar .membership-simulate-period button,
#wpadminbar #wp-toolbar .membership-view-site-as button {
  padding: 0 15px;
}
#wpadminbar #wp-toolbar .membership-simulate-period form,
#wpadminbar #wp-toolbar .membership-simulate-period div,
#wpadminbar #wp-toolbar .membership-simulate-period div.ab-item,
#wpadminbar #wp-toolbar .membership-simulate-period select,
#wpadminbar #wp-toolbar .membership-simulate-period small,
#wpadminbar #wp-toolbar .membership-view-site-as form,
#wpadminbar #wp-toolbar .membership-view-site-as div,
#wpadminbar #wp-toolbar .membership-view-site-as div.ab-item,
#wpadminbar #wp-toolbar .membership-view-site-as select,
#wpadminbar #wp-toolbar .membership-view-site-as small {
  display: inline;
  max-height: 32px;
}
#wpadminbar #wp-toolbar .membership-simulate-period small,
#wpadminbar #wp-toolbar .membership-view-site-as small {
  font-size: 12px;
  padding: 0 0 0 15px;
  color: #aaa;
}
#wpadminbar #wp-toolbar .ms-test-memberships:hover > .ab-item,
#wpadminbar #wp-toolbar .ms-exit-memberships:hover > .ab-item,
#wpadminbar #wp-toolbar .membership-view-site-as:hover > .ab-item,
#wpadminbar #wp-toolbar .membership-simulate-period:hover > .ab-item {
  background-color: inherit;
  color: inherit;
}

/**
 * Shortcode Styles
 */
.ms-membership-form-wrapper legend {
  display: block;
  margin-bottom: 20px;
  padding: 0;
  width: 100%;
  border-bottom: 1px solid #DDDDDD;
  font-size: 1.6em;
}
.ms-membership-form-wrapper label {
  display: block;
  margin-bottom: 5px;
}
.ms-membership-form-wrapper .sandbox-mode {
  background-color: #FFC;
}
.ms-membership-form-wrapper .sandbox-mode .ms-buy-now-column {
  position: relative;
}
.ms-membership-form-wrapper .sandbox-mode .ms-buy-now-column:after {
  content: 'Sandbox';
  position: absolute;
  top: 50%;
  right: 10px;
  margin-top: -12px;
  line-height: 24px;
  color: #AA6;
}
.ms-membership-form-wrapper .ms-signup-button {
  float: right;
  height: auto;
}
.ms-membership-form-wrapper .ms-cancel-button {
  height: auto;
  line-height: normal;
  background: #999;
}
.ms-membership-form-wrapper .ms-cancel-button:hover, .ms-membership-form-wrapper .ms-cancel-button:focus, .ms-membership-form-wrapper .ms-cancel-button:active {
  background: #AAA;
}

.ms-membership-details-wrapper {
  position: relative;
  overflow: hidden;
  width: 99%;
  margin: 1em 0;
  border: 1px solid #DDD;
}

.ms-alert-box {
  border-radius: 2px;
  border: 0;
  font-size: 15px;
  border-top: 2px solid #AA6;
  color: #775;
  background-color: #fffff4;
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.15), 0 0 0 1px rgba(0, 0, 0, 0.04) inset;
  padding: 10px 20px;
  text-align: center;
  margin: 0 0 20px;
  text-shadow: 0 1px 0 #FFF;
}
.ms-alert-box.ms-alert-success {
  border-top-color: #484;
  color: #686;
  background-color: #f4fff4;
}
.ms-alert-box.ms-alert-error {
  border-top-color: #A44;
  color: #511;
  background-color: #fff4f4;
}

.ms-top-bar {
  position: relative;
  background: #eee;
  padding: 10px;
  min-height: 2em;
  text-align: left;
  color: #434343;
  overflow: hidden;
}

.ms-bottom-bar {
  position: relative;
  padding: 10px;
  overflow: hidden;
  background: #f6f6f6;
  color: #434343;
}
.ms-bottom-bar .wpmui-field-input {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.ms-price-details {
  position: relative;
  padding: 10px;
  min-height: 1em;
  list-style-type: none;
}

.ms-form-element {
  margin: 1em;
}
.ms-form-element:after {
  content: '';
  clear: both;
  display: table;
}
.ms-form-element .wpmui-field-label {
  display: inline-block;
}
.ms-form-element .wpmui-field-input {
  margin-top: 0;
  margin-bottom: 0;
}
.ms-form-element label {
  display: inline;
}
.ms-form-element span {
  display: inline;
}
.ms-form-element input,
.ms-form-element select,
.ms-form-element textarea {
  min-width: 190px;
  margin: 0 0 0 1em;
  float: right;
}
.ms-form-element input[type=checkbox],
.ms-form-element input[type=radio] {
  width: auto;
}
.ms-form-element.ms-form-element-xprofile .description {
  clear: both;
  display: block;
  color: #666;
  font-style: italic;
  text-align: left;
}
.ms-form-element.ms-form-element-xprofile .radio .label,
.ms-form-element.ms-form-element-xprofile .checkbox .label {
  display: inline;
}
.ms-form-element.ms-form-element-xprofile .radio label,
.ms-form-element.ms-form-element-xprofile .checkbox label {
  display: block;
  min-width: 190px;
  float: right;
  clear: both;
}
.ms-form-element.ms-form-element-xprofile .datebox {
  text-align: right;
}
.ms-form-element.ms-form-element-xprofile .datebox label {
  float: left;
}
.ms-form-element.ms-form-element-xprofile .datebox select {
  width: auto;
  min-width: 0;
  margin-right: 4px;
}
.ms-form-element.ms-form-element-privacy_check {
  margin: 0px;
  margin-left: 1em;
}
.ms-form-element.ms-form-element-privacy_check .wpmui-field-checkbox {
  min-width: 10px;
  margin: 0;
  margin-top: 8px;
}

/* jQuery validation - on front end */
.ms-validation-error {
  color: #e46c6e !important;
}

label.ms-validation-error {
  background: #ffefef;
  border: 1px solid #ffd2d2;
  color: #666;
  font-size: 0.9em;
  margin: 10px 0 5px 0;
  padding: 2px;
  display: block;
  clear: both;
}
label.ms-validation-error:before {
  content: '';
  background: url(../images/membership_sprite.png) no-repeat scroll 5px 5px;
  background: url(../images/membership_sprite.svg), no-repeat scroll 5px 5px;
  background-position: -640px -138px;
  display: inline-block;
  height: 20px;
  position: relative;
  top: 1px;
  width: 20px;
}

.cf:before,
.cf:after {
  content: '';
  display: table;
}

.cf:after {
  clear: both;
}

/* Login Form */
.ms-form {
  margin: 1em;
}
.ms-form .ms-field:after {
  content: '';
  display: table;
  clear: both;
}
.ms-form p:first-child {
  margin-top: 0;
}
.ms-form p:last-child {
  margin-bottom: 0;
}
.ms-form.ms-has-labels input {
  float: right;
}
.ms-form.ms-has-labels input[type="checkbox"] {
  float: none;
}
.ms-form.ms-no-labels p {
  text-align: center;
}
.ms-form:after {
  content: '';
  display: table;
  clear: both;
}
.ms-form #pass-strength-result {
  background-color: #eee;
  border: 1px solid #ddd;
  color: #23282d;
  margin: -1px 0 0;
  padding: 3px 5px;
  text-align: center;
  width: 100%;
  display: block;
  box-sizing: border-box;
  opacity: 0;
}
.ms-form #pass-strength-result.short {
  background-color: #f1adad;
  border-color: #e35b5b;
  opacity: 1;
}
.ms-form #pass-strength-result.bad {
  background-color: #fbc5a9;
  border-color: #f78b53;
  opacity: 1;
}
.ms-form #pass-strength-result.good {
  background-color: #ffe399;
  border-color: #ffc733;
  opacity: 1;
}
.ms-form #pass-strength-result.strong {
  background-color: #c1e1b9;
  border-color: #83c373;
  opacity: 1;
}
.ms-form #pass1.short,
.ms-form #pass1-text.short {
  border-color: #e35b5b;
}
.ms-form #pass1.bad,
.ms-form #pass1-text.bad {
  border-color: #f78b53;
}
.ms-form #pass1.good,
.ms-form #pass1-text.good {
  border-color: #ffc733;
}
.ms-form #pass1.strong,
.ms-form #pass1-text.strong {
  border-color: #83c373;
}
.ms-form .pw-weak {
  display: none;
}
.ms-form .indicator-hint {
  padding-top: 8px;
}
.ms-form #pass1,
.ms-form #pass1-text {
  width: 100%;
  text-align: center;
}
.ms-form #pass1,
.ms-form .show-password #pass1-text {
  display: block;
}
.ms-form .show-password #pass1,
.ms-form #pass1-text {
  display: none;
}

/* Account */
.ms-card-info-wrapper {
  margin: 20px 0;
}

.ms-account-wrapper h2 a {
  float: right;
  font-weight: 100;
}

/* Payment buttons */
input[type="image"] {
  border: 0;
  padding: 0;
}

#ms-authorize-cim-profiles-wrapper,
#ms-authorize-card-wrapper {
  border-radius: 5px;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
  border: 1px solid #ccc;
  padding: 0;
  margin-bottom: 20px;
}
#ms-authorize-cim-profiles-wrapper table,
#ms-authorize-card-wrapper table {
  margin: 0;
  border-radius: 4px;
  overflow: hidden;
  border: 0;
}
#ms-authorize-cim-profiles-wrapper td,
#ms-authorize-card-wrapper td {
  border: 0;
  padding: 8px 15px;
}
#ms-authorize-cim-profiles-wrapper td input,
#ms-authorize-cim-profiles-wrapper td select,
#ms-authorize-card-wrapper td input,
#ms-authorize-card-wrapper td select {
  display: block;
  width: 100%;
}
#ms-authorize-cim-profiles-wrapper td span.select2-container,
#ms-authorize-card-wrapper td span.select2-container {
  width: 100px !important;
}
#ms-authorize-cim-profiles-wrapper .wpmui-radio,
#ms-authorize-card-wrapper .wpmui-radio {
  margin-right: 6px;
  display: inline-block;
  width: auto;
  vertical-align: baseline;
}
#ms-authorize-cim-profiles-wrapper .ms-card-info table,
#ms-authorize-card-wrapper .ms-card-info table {
  border-radius: 0;
  margin: 0;
  padding: 0;
}
#ms-authorize-cim-profiles-wrapper .ms-card-info table td,
#ms-authorize-card-wrapper .ms-card-info table td {
  padding: 0;
}
#ms-authorize-cim-profiles-wrapper .ms-title-row,
#ms-authorize-card-wrapper .ms-title-row {
  background: #EEE;
  font-weight: bold;
  padding: 8px;
}
#ms-authorize-cim-profiles-wrapper .ms-col-submit button,
#ms-authorize-card-wrapper .ms-col-submit button {
  display: block;
  width: 100%;
}
#ms-authorize-cim-profiles-wrapper .ms-col-card_num input,
#ms-authorize-card-wrapper .ms-col-card_num input {
  width: 200px;
}
#ms-authorize-cim-profiles-wrapper .ms-col-card_code input,
#ms-authorize-card-wrapper .ms-col-card_code input {
  width: 60px;
}
#ms-authorize-cim-profiles-wrapper .ms-col-expire select,
#ms-authorize-card-wrapper .ms-col-expire select {
  width: auto;
  display: inline-block;
}
#ms-authorize-cim-profiles-wrapper .ms-col-first_name,
#ms-authorize-cim-profiles-wrapper .ms-col-last_name,
#ms-authorize-card-wrapper .ms-col-first_name,
#ms-authorize-card-wrapper .ms-col-last_name {
  width: 50%;
}

/**
 * Settings module.
 */
.wpmui-popup,
#wpwrap .ms-wrap {
  /** Settings Box **/
  /** Member search */
  /** jquery validation - on admin side */
  /** radio slider */
  /* Dripped icon indicator */
  /* Settings Page Settings */
  /* SETTING: GENERAL */
  /* SETTINGS: IMPORT */
  /* SETTINGS GATEWAY */
  /* MEMBERS LIST */
  /* MEDIA /DOWNLOADS TAB */
  /* AUTOMATED EMAIL RESPONSES */
}
.wpmui-popup .ms-settings-wrapper,
#wpwrap .ms-wrap .ms-settings-wrapper {
  position: relative;
}
.wpmui-popup .ms-settings-wrapper.ms-edit-protection .search-box,
#wpwrap .ms-wrap .ms-settings-wrapper.ms-edit-protection .search-box {
  position: absolute;
  top: 0;
  right: 0;
}
.wpmui-popup .ms-settings-wrapper .plugin_enabled-wrapper,
.wpmui-popup .ms-settings-wrapper .hide_admin_bar-wrapper,
.wpmui-popup .ms-setup-form .ms-pages-group,
#wpwrap .ms-wrap .ms-settings-wrapper .plugin_enabled-wrapper,
#wpwrap .ms-wrap .ms-settings-wrapper .hide_admin_bar-wrapper,
#wpwrap .ms-wrap .ms-setup-form .ms-pages-group {
  float: left;
  width: 48%;
  min-width: 320px;
  max-width: 640px;
  clear: none;
}
.wpmui-popup .ms-settings-wrapper .plugin_enabled-wrapper .wpmui-field-label,
.wpmui-popup .ms-settings-wrapper .hide_admin_bar-wrapper .wpmui-field-label,
#wpwrap .ms-wrap .ms-settings-wrapper .plugin_enabled-wrapper .wpmui-field-label,
#wpwrap .ms-wrap .ms-settings-wrapper .hide_admin_bar-wrapper .wpmui-field-label {
  font-weight: bold;
  font-size: 15px;
}
.wpmui-popup .ms-setup-form .wpmui-radio-slider-wrapper,
#wpwrap .ms-wrap .ms-setup-form .wpmui-radio-slider-wrapper {
  clear: none;
}
.wpmui-popup .ms-setup-form .ms-icon,
#wpwrap .ms-wrap .ms-setup-form .ms-icon {
  opacity: .35;
}
.wpmui-popup .ms-setup-form .ms-description,
#wpwrap .ms-wrap .ms-setup-form .ms-description {
  margin-bottom: 10px;
}
.wpmui-popup .ms-setup-form .ms-title,
#wpwrap .ms-wrap .ms-setup-form .ms-title {
  font-size: 14px;
  color: #000;
  font-weight: bold;
}
.wpmui-popup .ms-setup-form .ms-setup-nav .wpmui-radio-slider-wrapper,
#wpwrap .ms-wrap .ms-setup-form .ms-setup-nav .wpmui-radio-slider-wrapper {
  display: inline-block;
  width: auto;
}
.wpmui-popup .ms-setup-form .ms-setup-nav .wpmui-radio-slider-wrapper .wpmui-field-label,
#wpwrap .ms-wrap .ms-setup-form .ms-setup-nav .wpmui-radio-slider-wrapper .wpmui-field-label {
  float: right;
  width: auto;
  margin-left: 5px;
  margin-right: 25px;
}
.wpmui-popup .ms-settings-general,
#wpwrap .ms-wrap .ms-settings-general {
  max-width: 1280px;
}
.wpmui-popup .ms-settings .settings-description,
#wpwrap .ms-wrap .ms-settings .settings-description {
  margin: 1em 0;
}
.wpmui-popup .ms-settings-desc-wrapper,
#wpwrap .ms-wrap .ms-settings-desc-wrapper {
  margin-bottom: 20px;
}
.wpmui-popup .ms-label,
#wpwrap .ms-wrap .ms-label {
  display: block;
  padding-bottom: 5px;
}
.wpmui-popup .ms-margin-right,
#wpwrap .ms-wrap .ms-margin-right {
  margin-right: 10px;
}
.wpmui-popup .ms-postbox.ms-default-margin,
#wpwrap .ms-wrap .ms-postbox.ms-default-margin {
  margin-right: 15px;
  margin-left: 15px;
  margin-top: 5px;
}
.wpmui-popup .ms-text-label,
.wpmui-popup .ms-ok,
.wpmui-popup .ms-nok,
#wpwrap .ms-wrap .ms-text-label,
#wpwrap .ms-wrap .ms-ok,
#wpwrap .ms-wrap .ms-nok {
  color: #222;
  font-size: 1em;
  font-style: normal;
  font-weight: 600;
  margin-top: 10px;
}
.wpmui-popup .ms-ok,
#wpwrap .ms-wrap .ms-ok {
  color: #7ad03a;
}
.wpmui-popup .ms-nok,
#wpwrap .ms-wrap .ms-nok {
  color: red;
}
.wpmui-popup .ms-settings .ms-settings-box h3.wpmui-field-label,
#wpwrap .ms-wrap .ms-settings .ms-settings-box h3.wpmui-field-label {
  border: none;
  padding: 0;
  font-size: 1.1em;
  cursor: default;
  margin-top: 15px;
}
.wpmui-popup #member-search-options,
#wpwrap .ms-wrap #member-search-options {
  position: relative;
  top: -2px;
  font-size: 13px;
  height: 28px;
  line-height: 26px;
  margin: 0;
  padding: 0 10px 1px;
}
@media (max-width: 900px) {
  .wpmui-popup .ms-tabs,
  #wpwrap .ms-wrap .ms-tabs {
    float: left;
    margin: 0;
    padding: 0;
    width: 100px;
  }
  .wpmui-popup .ms-tabs a,
  #wpwrap .ms-wrap .ms-tabs a {
    padding: 5px;
    min-height: 40px;
  }
  .wpmui-popup .ms-settings,
  #wpwrap .ms-wrap .ms-settings {
    min-height: 350px;
  }
}
.wpmui-popup .ms-validation-error,
#wpwrap .ms-wrap .ms-validation-error {
  color: #e46c6e !important;
}
.wpmui-popup label.ms-validation-error,
#wpwrap .ms-wrap label.ms-validation-error {
  background: #ffefef;
  border: 1px solid #ffd2d2;
  color: #666;
  font-size: 0.9em;
  margin: 10px 0 5px 0;
  padding: 2px;
  display: block;
  clear: both;
}
.wpmui-popup label.ms-validation-error:before,
#wpwrap .ms-wrap label.ms-validation-error:before {
  content: '';
  background: url(../images/membership_sprite.png) no-repeat scroll 5px 5px;
  background: url(../images/membership_sprite.svg), no-repeat scroll 5px 5px;
  background-position: -640px -138px;
  display: inline-block;
  height: 20px;
  position: relative;
  top: 1px;
  width: 20px;
}
.wpmui-popup #membership_access .wpmui-radio-slider,
#wpwrap .ms-wrap #membership_access .wpmui-radio-slider {
  margin: 10px 20px;
}
.wpmui-popup div.dripped .tooltip,
#wpwrap .ms-wrap div.dripped .tooltip {
  display: none;
}
.wpmui-popup .ms-setup-pages-site,
#wpwrap .ms-wrap .ms-setup-pages-site {
  margin: 1em 0;
  padding: 0 10px;
}
.wpmui-popup .ms-setup-pages-site .ms-setup-pages-site-form,
#wpwrap .ms-wrap .ms-setup-pages-site .ms-setup-pages-site-form {
  margin: 1em 0;
}
.wpmui-popup .ms-setup-pages-site .ms-setup-pages-site-form button,
#wpwrap .ms-wrap .ms-setup-pages-site .ms-setup-pages-site-form button {
  float: right;
}
.wpmui-popup .ms-setup-pages-site .ms-site-options-wrapper label,
#wpwrap .ms-wrap .ms-setup-pages-site .ms-site-options-wrapper label {
  display: inline-block;
  width: auto;
  line-height: 28px;
  margin-right: 20px;
}
.wpmui-popup .ms-setup-pages-site .ms-site-options-wrapper:after,
#wpwrap .ms-wrap .ms-setup-pages-site .ms-site-options-wrapper:after {
  content: '';
  display: table;
  clear: both;
}
.wpmui-popup .ms-setup-pages-site .ms-site-options,
#wpwrap .ms-wrap .ms-setup-pages-site .ms-site-options {
  margin: 2px 0;
}
.wpmui-popup .ms-settings-page-wrapper,
#wpwrap .ms-wrap .ms-settings-page-wrapper {
  padding: 5px 10px;
}
.wpmui-popup .ms-settings-page-wrapper .ms-action,
#wpwrap .ms-wrap .ms-settings-page-wrapper .ms-action {
  opacity: 0.7;
}
.wpmui-popup .ms-settings-page-wrapper .ms-action a,
#wpwrap .ms-wrap .ms-settings-page-wrapper .ms-action a {
  color: #467;
  text-decoration: none;
}
.wpmui-popup .ms-settings-page-wrapper:hover,
#wpwrap .ms-wrap .ms-settings-page-wrapper:hover {
  background-color: #FAFAFA;
}
.wpmui-popup .ms-settings-page-wrapper:hover .ms-action,
#wpwrap .ms-wrap .ms-settings-page-wrapper:hover .ms-action {
  opacity: 1;
}
.wpmui-popup .ms-settings-page-wrapper:hover .ms-action a,
#wpwrap .ms-wrap .ms-settings-page-wrapper:hover .ms-action a {
  color: #0074a2;
}
.wpmui-popup .ms-settings-page-wrapper:hover .ms-action a:hover,
#wpwrap .ms-wrap .ms-settings-page-wrapper:hover .ms-action a:hover {
  color: #2ea2cc;
}
.wpmui-popup textarea.wpmui-field-input,
#wpwrap .ms-wrap textarea.wpmui-field-input {
  min-width: 80%;
  display: block;
}
.wpmui-popup .wrapper-import_source .wpmui-radio,
#wpwrap .ms-wrap .wrapper-import_source .wpmui-radio {
  margin-top: 10px;
}
.wpmui-popup .wrapper-import_source .wpmui-radio-caption,
#wpwrap .ms-wrap .wrapper-import_source .wpmui-radio-caption {
  padding-top: 6px;
  padding-bottom: 6px;
  line-height: 24px;
}
.wpmui-popup .wrapper-import_source .wpmui-radio-caption label,
.wpmui-popup .wrapper-import_source .wpmui-radio-caption .wpmui-field-input,
#wpwrap .ms-wrap .wrapper-import_source .wpmui-radio-caption label,
#wpwrap .ms-wrap .wrapper-import_source .wpmui-radio-caption .wpmui-field-input {
  width: auto;
  margin: 0 12px 0 0;
}
.wpmui-popup .ms-settings-box .ms-import-preview .preview-label,
#wpwrap .ms-wrap .ms-settings-box .ms-import-preview .preview-label {
  width: 150px;
  text-align: left;
}
.wpmui-popup .ms-settings-box .ms-import-preview .preview-name,
#wpwrap .ms-wrap .ms-settings-box .ms-import-preview .preview-name {
  font-weight: bold;
}
.wpmui-popup .ms-settings-box .ms-import-preview tbody td,
#wpwrap .ms-wrap .ms-settings-box .ms-import-preview tbody td {
  text-align: center;
}
.wpmui-popup .ms-settings-box .ms-import-preview .preview-count,
#wpwrap .ms-wrap .ms-settings-box .ms-import-preview .preview-count {
  text-align: center;
  width: 150px;
}
.wpmui-popup .ms-settings-box .ms-import-preview.wpmui-html-table,
#wpwrap .ms-wrap .ms-settings-box .ms-import-preview.wpmui-html-table {
  margin: -10px;
  border: 0;
  box-shadow: 0 0 0 transparent;
  width: calc(100% + 20px);
}
.wpmui-popup .ms-import-notes,
#wpwrap .ms-wrap .ms-import-notes {
  margin: 0;
  line-height: 1.15em;
  border-left: 2px solid #EE8800;
  background-color: #FFF6F0;
  padding: 5px 5px 5px 20px;
}
.wpmui-popup .ms-import-notes li,
#wpwrap .ms-wrap .ms-import-notes li {
  padding: 3px 0;
  margin: 0;
}
.wpmui-popup .ms-import-notes ul,
#wpwrap .ms-wrap .ms-import-notes ul {
  list-style: disc;
  margin-bottom: 3px;
}
.wpmui-popup .ms-import-notes ul li,
#wpwrap .ms-wrap .ms-import-notes ul li {
  margin-left: 20px;
}
.wpmui-popup .sel-batchsize-wrapper,
#wpwrap .ms-wrap .sel-batchsize-wrapper {
  position: relative;
  padding-top: 30px;
  display: block;
}
.wpmui-popup .sel-batchsize-wrapper .wpmui-field-label,
#wpwrap .ms-wrap .sel-batchsize-wrapper .wpmui-field-label {
  position: absolute;
  top: 0;
}
.wpmui-popup .sel-batchsize-wrapper .wpmui-field-select,
#wpwrap .ms-wrap .sel-batchsize-wrapper .wpmui-field-select {
  top: 0;
  margin: 0;
}
.wpmui-popup .gateways,
#wpwrap .ms-wrap .gateways {
  margin-top: 20px;
}
.wpmui-popup .gateways .ms-gateway-group,
#wpwrap .ms-wrap .gateways .ms-gateway-group {
  padding: 5px 15px;
  border: 1px solid #E5E5E5;
  border-bottom: 0;
}
.wpmui-popup .gateways .ms-gateway-group:last-child,
#wpwrap .ms-wrap .gateways .ms-gateway-group:last-child {
  border-bottom: 1px solid #E5E5E5;
}
.wpmui-popup .gateways .ms-gateway-group h4,
#wpwrap .ms-wrap .gateways .ms-gateway-group h4 {
  margin: -5px -15px 10px;
  padding: 5px;
  border-bottom: 1px solid #E5E5E5;
  background-color: #F5F5F5;
}
.wpmui-popup .gateways .ms-gateway-item,
#wpwrap .ms-wrap .gateways .ms-gateway-item {
  position: relative;
  min-height: 48px;
  border-bottom: 1px solid #E5E5E5;
  margin-bottom: 10px;
}
.wpmui-popup .gateways .ms-gateway-item:hover .row-actions,
#wpwrap .ms-wrap .gateways .ms-gateway-item:hover .row-actions {
  visibility: visible;
}
.wpmui-popup .gateways .ms-gateway-item:last-child,
#wpwrap .ms-wrap .gateways .ms-gateway-item:last-child {
  margin-bottom: 0;
  border-bottom: 0;
}
.wpmui-popup .gateways .ms-gateway-item .row-status-close,
#wpwrap .ms-wrap .gateways .ms-gateway-item .row-status-close {
  display: inline-block;
  width: 8px;
}
.wpmui-popup .gateways .ms-gateway-item .row-status-open,
#wpwrap .ms-wrap .gateways .ms-gateway-item .row-status-open {
  display: none;
  width: 8px;
}
.wpmui-popup .gateways .ms-gateway-item.open .row-status-close,
#wpwrap .ms-wrap .gateways .ms-gateway-item.open .row-status-close {
  display: none;
}
.wpmui-popup .gateways .ms-gateway-item.open .row-status-open,
#wpwrap .ms-wrap .gateways .ms-gateway-item.open .row-status-open {
  display: inline-block;
}
.wpmui-popup .gateways .ms-gateway-item.open .row-actions,
#wpwrap .ms-wrap .gateways .ms-gateway-item.open .row-actions {
  visibility: visible;
}
.wpmui-popup .gateways .ms-gateway-settings,
#wpwrap .ms-wrap .gateways .ms-gateway-settings {
  position: relative;
  display: none;
}
.wpmui-popup .gateways .ms-gateway-settings .ms-settings-box-wrapper,
#wpwrap .ms-wrap .gateways .ms-gateway-settings .ms-settings-box-wrapper {
  background: transparent;
  border: 0;
  box-shadow: none;
  padding-left: 20px;
}
.wpmui-popup .gateways .ms-gateway-settings .ms-settings-box-wrapper .ms-settings-box,
#wpwrap .ms-wrap .gateways .ms-gateway-settings .ms-settings-box-wrapper .ms-settings-box {
  padding-bottom: 0;
}
.wpmui-popup .gateways .ms-gateway-settings .ms-settings-box-wrapper .ms-header,
#wpwrap .ms-wrap .gateways .ms-gateway-settings .ms-settings-box-wrapper .ms-header {
  background: transparent;
  border: 0;
  padding-bottom: 0;
}
.wpmui-popup .gateways .ms-gateway-settings .ms-settings-box .inside,
#wpwrap .ms-wrap .gateways .ms-gateway-settings .ms-settings-box .inside {
  padding-left: 220px;
  position: relative;
}
.wpmui-popup .gateways .ms-gateway-settings .ms-settings-box .inside .wpmui-wrapper,
#wpwrap .ms-wrap .gateways .ms-gateway-settings .ms-settings-box .inside .wpmui-wrapper {
  position: relative;
  display: block;
}
.wpmui-popup .gateways .ms-gateway-settings .ms-settings-box .inside .wpmui-field-label,
#wpwrap .ms-wrap .gateways .ms-gateway-settings .ms-settings-box .inside .wpmui-field-label {
  position: absolute;
  width: 200px;
  left: -220px;
  margin: 0;
  top: 10px;
  margin-right: 10px;
}
.wpmui-popup .gateways .show-settings,
#wpwrap .ms-wrap .gateways .show-settings {
  display: none;
}
.wpmui-popup .gateways .show-settings:checked + .ms-gateway-settings,
#wpwrap .ms-wrap .gateways .show-settings:checked + .ms-gateway-settings {
  display: block;
}
.wpmui-popup .gateways .gateway-toggle,
#wpwrap .ms-wrap .gateways .gateway-toggle {
  display: inline-block;
  width: auto;
}
.wpmui-popup .gateways .gateway-name,
#wpwrap .ms-wrap .gateways .gateway-name {
  font-weight: bold;
  color: #0073AA;
  vertical-align: top;
}
.wpmui-popup .gateways .gateway-name:hover,
#wpwrap .ms-wrap .gateways .gateway-name:hover {
  color: #00A0D2;
}
.wpmui-popup .gateways .gateway-description,
#wpwrap .ms-wrap .gateways .gateway-description {
  color: #888;
}
.wpmui-popup .gateways .is-configured .ms-gateway-setup-wrapper,
.wpmui-popup .gateways .not-configured .wpmui-radio-slider,
#wpwrap .ms-wrap .gateways .is-configured .ms-gateway-setup-wrapper,
#wpwrap .ms-wrap .gateways .not-configured .wpmui-radio-slider {
  display: none;
}
.wpmui-popup .gateways .not-configured .ms-gateway-setup-wrapper,
#wpwrap .ms-wrap .gateways .not-configured .ms-gateway-setup-wrapper {
  display: block;
}
.wpmui-popup .gateways .mode,
#wpwrap .ms-wrap .gateways .mode {
  display: inline-block;
  padding: 0;
  padding-left: 10px;
}
.wpmui-popup .gateways .ms-gateway-status,
#wpwrap .ms-wrap .gateways .ms-gateway-status {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
}
.wpmui-popup .gateways .ms-gateway-status .button,
#wpwrap .ms-wrap .gateways .ms-gateway-status .button {
  margin: 0;
}
.wpmui-popup .gateways .mode-sandbox,
.wpmui-popup .gateways .mode-live,
#wpwrap .ms-wrap .gateways .mode-sandbox,
#wpwrap .ms-wrap .gateways .mode-live {
  display: none;
}
.wpmui-popup .gateways .is-configured.is-sandbox .mode-sandbox,
.wpmui-popup .gateways .is-configured.is-live .mode-live,
#wpwrap .ms-wrap .gateways .is-configured.is-sandbox .mode-sandbox,
#wpwrap .ms-wrap .gateways .is-configured.is-live .mode-live {
  display: block;
}
.wpmui-popup .gateways .mode-live,
#wpwrap .ms-wrap .gateways .mode-live {
  font-weight: bold;
}
.wpmui-popup .gateways .offline-flag,
#wpwrap .ms-wrap .gateways .offline-flag {
  display: none;
}
.wpmui-popup .gateways .is-offline,
#wpwrap .ms-wrap .gateways .is-offline {
  /* PayPal Standard does not work in offline mode */
}
.wpmui-popup .gateways .is-offline.gateway-paypal_standard .offline-flag, .wpmui-popup .gateways .is-offline.gateway-paypal_single .offline-flag,
#wpwrap .ms-wrap .gateways .is-offline.gateway-paypal_standard .offline-flag,
#wpwrap .ms-wrap .gateways .is-offline.gateway-paypal_single .offline-flag {
  display: inline-block;
}
.wpmui-popup .gateways .is-offline.gateway-paypal_standard .offline-flag:before, .wpmui-popup .gateways .is-offline.gateway-paypal_single .offline-flag:before,
#wpwrap .ms-wrap .gateways .is-offline.gateway-paypal_standard .offline-flag:before,
#wpwrap .ms-wrap .gateways .is-offline.gateway-paypal_single .offline-flag:before {
  content: '\f071';
  margin-left: 6px;
  color: #B30;
}
.wpmui-popup .ms-global-payment-wrapper .gateways .ms-gateway-settings .ms-settings-box .inside,
#wpwrap .ms-wrap .ms-global-payment-wrapper .gateways .ms-gateway-settings .ms-settings-box .inside {
  padding-left: 0;
}
.wpmui-popup .ms-global-payment-wrapper .gateways .ms-gateway-settings .ms-settings-box .inside .wpmui-field-label,
#wpwrap .ms-wrap .ms-global-payment-wrapper .gateways .ms-gateway-settings .ms-settings-box .inside .wpmui-field-label {
  position: static;
  width: auto;
  display: block;
}
.wpmui-popup .ms-global-payment-wrapper .gateways .ms-gateway-settings .ms-settings-box .inside .wpmui-field-input,
#wpwrap .ms-wrap .ms-global-payment-wrapper .gateways .ms-gateway-settings .ms-settings-box .inside .wpmui-field-input {
  width: 100%;
}
.wpmui-popup #search_options,
#wpwrap .ms-wrap #search_options {
  float: left;
  height: 28px;
  margin: 0 4px 0 0;
}
.wpmui-popup .wpmui-description-masked_url,
#wpwrap .ms-wrap .wpmui-description-masked_url {
  display: inline-block;
}
.wpmui-popup .ms-settings-messages_automated .wpmui-label-email_body .ms-wpml-support,
#wpwrap .ms-wrap .ms-settings-messages_automated .wpmui-label-email_body .ms-wpml-support {
  position: absolute;
  margin-top: 24px;
}

.wpmui-popup.ms-setup-done .the-title {
  display: block;
  text-align: center;
}
.wpmui-popup.ms-setup-done .the-title .dashicons {
  line-height: 54px;
  font-size: 26px;
  height: 50px;
  color: #6bbb1a;
}
.wpmui-popup.ms-setup-done .the-title .subtitle {
  font-size: 15px;
  line-height: 1em;
  margin-bottom: 10px;
}
.wpmui-popup.ms-setup-done > .buttons {
  text-align: center;
}
.wpmui-popup.ms-setup-done .ms-setup-form .ms-description {
  padding-bottom: 0;
  border: 0;
  color: #888;
  font-size: 0.9em;
}
.wpmui-popup.ms-setup-done .ms-setup-form .wpmui-separator {
  border: 0;
  height: 20px;
  line-height: 20px;
  margin: 0;
  padding: 0;
}
.wpmui-popup.ms-setup-done .ms-setup-form .ms-pages-group {
  float: none;
  clear: both;
  width: 100%;
  min-width: 0;
  max-width: none;
}
.wpmui-popup.ms-setup-done .ms-setup-form .ms-settings-page-wrapper {
  float: left;
  width: 213px;
  min-width: 200px;
}
.wpmui-popup.ms-setup-done .ms-setup-form .ms-settings-page-wrapper:hover {
  background-color: transparent;
}
.wpmui-popup.ms-setup-done .ms-setup-form .ms-settings-page-wrapper .ms-action {
  opacity: 1;
}
.wpmui-popup.ms-setup-done .ms-setup-form .ms-settings-page-wrapper select,
.wpmui-popup.ms-setup-done .ms-setup-form .ms-settings-page-wrapper .select2-container {
  display: none;
}
.wpmui-popup.ms-setup-done .ms-setup-form .ms-settings-page-wrapper .lbl-details {
  display: none;
}

/***
 * PAYMENT SETTINGS FORM *
 ***/
.ms-gateway-settings-form .inside .wpmui-field-label {
  width: 240px;
  float: left;
  margin-top: 6px;
  margin-bottom: 6px;
}
.ms-gateway-settings-form .inside #payment_info {
  min-width: 0;
  height: 100px;
}

.ms-settings-payment .ms-global-payment-wrapper .wpmui-field-input,
.ms-settings-payment .ms-global-payment-wrapper .select2-container {
  width: 100%;
  display: block;
}
.ms-settings-payment .ms-global-payment-wrapper th.column-active,
.ms-settings-payment .ms-global-payment-wrapper td.column-active {
  width: 135px;
  text-align: center;
}

/***
 * SETTINGS FOOTER CONTENT *
 ***/
.ms-wrap .ms-settings-footer {
  margin-top: 1.5em;
  color: #999;
  font-size: 12px;
}
.ms-wrap .ms-settings-footer a {
  color: #666;
}


/* 702106-1538054666 */