.drts-form-type-display-elements > .drts-form-field-main > .drts-display-display {
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}

.drts-form-type-display-elements .drts-bs-popover {
    max-width: 600px;
}

.drts-form-type-display-elements .drts-bs-popover-body {
    padding: 0.5rem;
    overflow: auto;
}

table.drts-display-element-data td:nth-child(1) {
    white-space: nowrap;
}

.drts-display-element-wrapper {
    flex: 1 0 auto;
    min-height: 50px;
    background-color: #fff;
    padding: 20px;
    flex-wrap: wrap;
}

.drts-display-display > .drts-display-element-wrapper {
    padding-top: 0;
}

div.drts-display-element {
    position: relative;
    display: block;
    width: 100%;
    margin-top: 20px;
    box-shadow: 0 0 1px #aaa;
    background-color: #f8f9fa;
}

.drts-display-element-placeholder {
    margin-top: 20px;
    border: 1px dashed #b4b9be;
}

.drts-display-control {
    padding: 20px;
    text-align: center;
}

.drts-display-element-label {
    font-weight: bold;
}

.drts-display-element-label small {
    font-weight: normal;
}

.drts-display-element-control {
    display: inline-block;
}

.drts-display-element-settings-inline {
    padding: 15px;
    background-color: #fff;
    border-top: 1px solid #ddd;
}

.drts-display-element-settings-inline:empty {
    display: none;
}

#drts-display-element-settings-inline-0 {
    margin: 20px;
    border: 1px solid #ddd;
}

div.drts-display-element-containable > .drts-display-element-settings-inline {
    border-top: 0;
    border-bottom: 1px solid #ddd;
}

div.drts-display-element > .drts-display-element-control {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translateX(50%) translateY(-50%);
    visibility: hidden;
    z-index: 2;
}

div.drts-display-element-containable {
    background-color: #fff;
    padding: 0;
}

div.drts-display-element-containable > .drts-display-element-control {
    top: -1px;
    transform: translateX(50%);
}

div.drts-display-element-containable > .drts-display-element-control .drts-bs-btn {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.drts-display-element-containable > .drts-display-element-title {
    border-bottom: 1px solid #e5e5e5;
    background-color: #f8f9fa;
}

div.drts-display-element-editing > .drts-display-element-control,
div.drts-display-element:hover > .drts-display-element-control,
div.drts-display-element > .drts-display-element-control.drts-display-element-info-clicked {
    visibility: visible;
}

div.drts-display-element.drts-display-element-editing-inline > .drts-display-element-control {
    visibility: hidden;
}

.ui-sortable-helper .drts-display-element-control,
.ui-sortable-helper .drts-display-element-icon {
    display: none !important;
}

div.drts-display-element > .drts-display-element-control .drts-bs-btn-group {
    display: flex;
}

.drts-display-element-control .drts-bs-btn {
    opacity: 0.85;
    min-width: 30px;
}

.drts-display-element-handle {
    display: inline-block;
    padding: 15px 15px 15px 8px;
}

.drts-display-element-handle:hover {
    cursor: move;
}

.drts-display-element-handle i {
    margin-right: 0.2em;
}

.drts-display-elements .drts-display-element,
.drts-display-elements .drts-display-element-type-action {
    margin: 0 10px 10px 0;
    overflow: hidden;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: left;
    white-space: normal;
    height: 80px;
}

.drts-display-elements .drts-display-element-description {
    font-size: 12px;
    opacity: 0.5;
    flex: 3;
}

.drts-display-elements .drts-display-element-label {
    font-size: 14px;
    flex: 2;
    position: relative;
    white-space: nowrap;
}

.drts-display-elements .drts-bs-row {
    margin-left: 0;
    margin-right: -10px;
}

.drts-display-elements .drts-bs-row > div {
    padding-left: 0;
    padding-right: 10px;
}

.drts-display-elements .drts-display-element-type-action {
    justify-content: center;
    align-items: center;
}

.drts-display-elements-buttons {
    text-align: center;
    margin-top: 2em;
}

.drts-display-element-settings-inline .drts-form-buttons {
    justify-content: center;
}

.drts-bs-modal-body > .drts-display-elements > .drts-display-elements-buttons {
    display: none;
}

.drts-display-element-settings-inline + .drts-display-control {
    display: none;
}

.drts-display-element-settings-inline:empty + .drts-display-control {
    display: block;
}

.drts-display-element-no-label {
    font-style: italic !important;
    opacity: 0.6;
}

.drts-display-elements .drts-display-element-label i,
.drts-display-element-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.drts-display-elements .drts-display-element-label i {
    right: -5px;
}

.drts-display-element-icon {
    right: 10px;
}

.drts-display-element-title {
    position: relative;
    white-space: nowrap;
    overflow: hidden;
}

div.drts-display-element-dimmed,
.drts-display-element-containable.drts-display-element-dimmed > .drts-display-element-title {
    background-color: #e7e8ea;
}

.drts-display-element-name-columns > .drts-display-element-wrapper {
    display: flex;
}

.drts-display-element-name-columns > .drts-display-element-wrapper > .drts-display-element-name-column {
    border-left-width: 0;
}

.drts-display-element-name-columns > .drts-display-element-wrapper > .drts-display-element-name-column:first-child {
    border-left-width: 1px;
}

a.drts-display-tab2-link {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: relative;
}

a.drts-display-tab2-link .drts-clear {
    display: none !important;
}

a.drts-display-tab2-link:hover .drts-clear {
    display: inline-block !important;
}
