.drts-form-field .select2-container .select2-selection--single {
    height: auto;
}

.drts-form-field .select2-container .select2-selection--single .select2-selection__rendered {
    line-height: 1.5;
    padding: .375em .75em;
}

.drts-form-field .select2-container .select2-selection--single .select2-selection__rendered,
.drts-form-field .select2-container .select2-selection--single .select2-selection__arrow {
    height: calc(2.25em + 2px);
}

.drts-form-field .select2-container .select2-selection--single .select2-selection__arrow {
    top: 50% !important;
    transform: translateY(-50%) !important;
}

.drts-form-field .select2-container .select2-selection--multiple .select2-selection__rendered {
    line-height: 1.5;
}

.drts-form-field .select2-dropdown,
.drts-form-field .select2-container .select2-selection--single,
.drts-form-field .select2-container .select2-selection--multiple,
.drts-form-field .select2-container .select2-selection--multiple .select2-selection__choice,
.drts-form-field .select2-container .select2-search--dropdown .select2-search__field {
    border-color: #ccc;
}

.drts-form-field .select2 {
    font-size: 1em;
    width: 100% !important;
}

.drts-form-field .select2-container.select2-container--focus .select2-selection--multiple {
    border-color: #66afe9;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.select2-results__option {
    padding: 8px 5px 8px 15px !important;
    line-height: 1em;
    font-size: 13px;
    color: #333;
    margin: 0 !important;
}

.select2-container .select2-results__option--highlighted[aria-selected] {
    background-color: #f5f5f5;
    cursor: default;
    color: #333;
}

.select2-container .select2-selection--single .select2-selection__clear,
.select2-container .select2-selection--multiple .select2-selection__clear {
    font: normal normal normal 14px "Font Awesome 5 Solid - drts";
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #b3b3b3;
    display: inline-block;
    position: relative;
    right: 9999px;
    height: 100%;
}

.select2-container .select2-selection--single .select2-selection__clear:after,
.select2-container .select2-selection--multiple .select2-selection__clear:after {
    content: "\f057";
    position: absolute;
    top: 50%;
    right: -9999px;
    text-align: center;
    transform: translateY(-50%);
}

/* prevent overwrap with arrow */
.select2-container .select2-selection--single .select2-selection__clear:after {
    right: -9979px;
}

body > .select2-container {
    z-index: 999999;
}

.drts-form-select2 {
    position: relative;
}
