.drts-bs-btn i + span,
.drts-icon + span {
    margin-right: 0.3em;
    margin-left: auto;
}

ul.drts-tab-menu {
    float: left;
    padding: 0;
}

ul.drts-tab-menu li {
    margin: 0 0.5em 0 0;
}

ul.drts-tab-menu li:first-child {
    margin-right: 0;
}

.drts-tab-breadcrumbs {
    float: right;
}

.drts table th {
    text-align: right;
}

.drts-form-buttons .drts-bs-btn:last-child {
    margin-right: auto !important;
    margin-left: 0 !important;
}

.drts button.drts-form-field-remove {
    right: auto;
    left: 0;
}

span.drts-form-field-prefix {
    margin-right: 0;
    margin-left: 0.3em;
}

span.drts-form-field-required {
    margin-left: 0;
    margin-right: 4px;
}

div.drts-form-field-radio-option-description {
    padding: 0 1.5em 0.75em 0;
}

input.drts-form-type-textfield-with-clear {
    padding-left: 20px !important;
    padding-right: auto;
}

.drts .drts-form-colorpalette-btn-white:hover {
    border-right: 0;
    border-left: 1px solid #eee;
}

.drts-form-picker-trigger > span {
    margin-left: auto;
    margin-right: 10px;
}

/* prevent overwrap with arrow */
.select2-container .select2-selection--single .select2-selection__clear:after {
    right: -10009px;
}

table.drts-directory-openinghours tr td:first-child {
    text-align: right;
}

.drts-entity-field-label {
    margin-right: 0;
    margin-left: 0.2em;
}

.drts-entity-field-label:empty {
    margin-left: 0;
}

.drts-entity-fieldlist:not(.drts-entity-fieldlist-no-inline) .drts-entity-field-value {
    text-align: left;
}

.drts-entity-fieldlist:not(.drts-entity-fieldlist-no-inline) .drts-entity-field-label-type-icon + .drts-entity-field-value {
    text-align: right;
}
