.drts-map-container {
    position: relative;
    max-width: 100%;
}

.drts-map-marker {
    position: absolute;
    transform: translate(-50%, -100%) rotate(-45deg);
    border-radius: 50% 50% 50% 0;
    text-align: center;
    cursor: pointer;
    background-color: #fff;
    color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.47);
}

.drts-map-marker * {
    position: absolute;
    top: 50%;
    left: 50%;
}

.drts-map-marker > div {
    background-color: #fff;
    transform: translate(-50%, -50%) rotate(45deg);
    border-radius: 50%;
    border: 3px solid;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1) inset;
}

.drts-map-marker > div > * {
    transform: translate(-50%, -50%);
}

.drts-map-marker > div > img {
    border-radius: 50%;
    width: 100% !important;
    height: auto !important;
}

.drts-map-marker > div > .fas {
    font-size: 14px;
    line-height: 1em;
}

.drts-map-marker.drts-map-marker-full {
    transform: none;
}

.drts-map-marker.drts-map-marker-full > img {
    transform: translate(-50%, -100%);
    max-height: 100px;
}

.drts-map-popover img {
    max-width: none !important;
}

.drts .drts-map-popover {
    max-width: none;
}

.drts .drts-map-popover-close {
    font-size: 1.1em;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 9;
    color: #aaa !important;
}

.drts-map-marker-content > img {
    margin: 0;
}

.drts-map-marker-content > img:nth-of-type(2) {
    position: absolute;
}
