.drts-social-media-account .fa-twitter-square {
    color: #00aced;
}

.drts-social-media-account .fa-facebook-square {
    color: #3b5998;
}

.drts-social-media-account .fa-google-plus-square {
    color: #dd4b39;
}

.drts-social-media-account .fa-pinterest-square {
    color: #cb2027;
}

.drts-social-media-account .fa-linkedin {
    color: #007bb6;
}

.drts-social-media-account .fa-tumblr-square {
    color: #32506d;
}

.drts-social-media-account .fa-youtube-square {
    color: #bb0000;
}

.drts-social-media-account .fa-flickr {
    color: #ff0084;
}

.drts-social-media-account .fa-instagram {
    color: #517fa4;
}

.drts-social-media-account .fa-rss-square {
    color: #fa9b39;
}

.drts-social-media-account .fa-vimeo {
    color: #aad450;
}
