.br-theme-fontawesome-stars-o .br-widget {
  /*height: 28px;*/
    white-space: nowrap;
}

.br-theme-fontawesome-stars-o .br-widget a {
    font: normal normal normal 1em "Font Awesome 5 Solid - drts";
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    text-decoration: none !important;
  /*margin-right: 2px;*/
    outline: none;
}

.br-theme-fontawesome-stars-o .br-widget a:last-child {
    margin-right: 0;
}

.br-theme-fontawesome-stars-o .br-widget a:after {
    font-family: "Font Awesome 5 Regular - drts";
    content: '\f005';
    color: #d2d2d2;
}

.br-theme-fontawesome-stars-o .br-widget a.br-active:after {
    font-family: "Font Awesome 5 Solid - drts";
    content: '\f005';
    color: #edb867;
}

.br-theme-fontawesome-stars-o .br-widget a.br-selected:after {
    font-family: "Font Awesome 5 Solid - drts";
    content: '\f005';
    color: #edb867;
}

.br-theme-fontawesome-stars-o .br-widget a.br-fractional:after {
    font-family: "Font Awesome 5 Solid - drts";
    content: '\f089';
    color: #edb867;
}

.br-theme-fontawesome-stars-o .br-widget .br-current-rating {
    display: none;
}

.br-theme-fontawesome-stars-o .br-readonly a {
    cursor: default;
}

.br-theme-fontawesome-stars-o .br-reverse a.br-fractional {
    display: inline-block;
    transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

@media print {
    .br-theme-fontawesome-stars-o .br-widget a:after {
        font-family: "Font Awesome 5 Regular - drts";
        content: '\f005';
        color: black;
    }

    .br-theme-fontawesome-stars-o .br-widget a.br-active:after,
  .br-theme-fontawesome-stars-o .br-widget a.br-selected:after {
        font-family: "Font Awesome 5 Solid - drts";
        content: '\f005';
        color: black;
    }

    .br-theme-fontawesome-stars-o .br-widget a.br-fractional:after {
        font-family: "Font Awesome 5 Solid - drts";
        content: '\f089';
        color: black;
    }
}
