.drts-voting-rating-stars {
    font-family: "Font Awesome 5 Solid - drts";
    position: relative;
    display: inline-block;
    color: #ffb900;
}

.drts-voting-rating-stars:before {
    font-family: "Font Awesome 5 Regular - drts";
    content: "\f005\f005\f005\f005\f005";
}

.drts-voting-rating-stars:after {
    position: absolute;
    left: 0;
}

.drts-voting-rating-stars-5:after {
    content: "\f089\00a0";
}

.drts-voting-rating-stars-10:after {
    content: "\f005";
}

.drts-voting-rating-stars-15:after {
    content: "\f005\f089\00a0";
}

.drts-voting-rating-stars-20:after {
    content: "\f005\f005";
}

.drts-voting-rating-stars-25:after {
    content: "\f005\f005\f089\00a0";
}

.drts-voting-rating-stars-30:after {
    content: "\f005\f005\f005";
}

.drts-voting-rating-stars-35:after {
    content: "\f005\f005\f005\f089\00a0";
}

.drts-voting-rating-stars-40:after {
    content: "\f005\f005\f005\f005";
}

.drts-voting-rating-stars-45:after {
    content: "\f005\f005\f005\f005\f089\00a0";
}

.drts-voting-rating-stars-50:after {
    content: "\f005\f005\f005\f005\f005";
}

.drts-voting-rating-stars:before {
    color: #ccc;
}

.drts-rtl .drts-voting-rating-stars:after {
    right: 0;
    left: auto;
}

.drts-voting-rating-bar-progress > div {
    height: 1em;
}

.drts-voting-rating-bar {
    display: flex;
    align-items: center;
    margin-bottom: 0.5em;
    padding-top: 1.3em;
    position: relative;
}

.drts-voting-rating-bar-title {
    white-space: nowrap;
    flex: 0 0 25%;
    font-weight: 600;
    margin-right: 0.5em;
    max-width: 25%;
    position: absolute;
    top: 0;
    left: 0;
}

.drts-rtl .drts-voting-rating-bar-title {
    left: auto;
    right: 0;
}

.drts-voting-rating-bar-progress {
    flex: 0 0 100%;
    margin-top: 0.375em;
}

.drts-voting-rating-bar-value {
    flex-basis: 10%;
    margin-left: 2px;
    text-align: right;
    position: absolute;
    top: 0;
    right: 0;
}

.drts-rtl .drts-voting-rating-bar-value {
    margin-left: 0;
    margin-right: 2px;
    text-align: left;
}

.drts-voting-rating-bar-inline {
    padding-top: 0;
}

.drts-voting-rating-bar-inline .drts-voting-rating-bar-title,
.drts-voting-rating-bar-inline .drts-voting-rating-bar-value {
    position: relative;
    white-space: nowrap;
}

.drts-voting-rating-bar-inline .drts-voting-rating-bar-progress {
    flex-basis: 65%;
    margin-top: 0;
}
