.not-found-wrapper{
	content: '';
	position: relative;
	width: 100%;
	height: 100vh;
	overflow: hidden;
} 

.not-found{
	width: 100%;
	max-width: 365px;
	margin: 0 auto;
	position: absolute;
	left: 0;
	right: 0;
	top: 25%;
	bottom: 0;
	z-index: 10;
	&__title{
		font-family: 'Roboto', sans-serif;
		font-size: 200px;
		font-weight: bold;
		line-height: normal;
		text-align: center;
		color: #ffffff;
		position: relative;
		z-index: 10;
	}
	&__message{
		font-family: 'Roboto', sans-serif;
		font-size: 30px;
		font-weight: bold;
		line-height: normal;
		text-align: center;
		color: #ffffff;
		position: relative;
		z-index: 10;
		span{
			font-family: inherit;
			font-weight: bold;
			line-height: normal;
			font-size: 30px;
			color: #d82256;
		}
	}
	
	@include small-down{
		&__title{
			font-size: 150px;
		}
		&__message{
			font-size: 28px;
			span{
				font-size: 28px;
			}
		}
	}
	@include xsmall-down{
		&__title{
			font-size: 100px;
		}
		&__message{
			font-size: 24px;
			span{
				font-size: 24px;
			}
		}
	}
}

.not-found-bg-wrap{
	overflow: hidden;
	position: relative;
	z-index: 1;
	width: 100%;
	max-width: 1300px;
	margin: 0 auto;
	top: 5%;
	padding-top: 50px;
	height: 100%;
	@include medium-down{
		margin-top: 10px;
	}
}
.not-found-bg{
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
	
	&--mid{
		top: 30px;
	}
	&--bott{
		left: auto;
		top: 40px;
		right: 100px;
		margin: 0;
	}
	&--small-top{
		top: 150px;
		left: -200px;
	}
	&--smal--bott{
		top: 135px;
		left: -200px;
	}
	@include medium-down{
		margin: 0;
		right: -350px;
		left: auto;
		&--small-top{
			top: 150px;
			left: -500px;
			margin: 0 auto;
		}
		&--smal--bott{
			top: 135px;
			left: -500px;
			margin: 0 auto;
		}
	}
}

.not-found-hex-wrap{
	position: absolute;
	top: 30%;
	width: 1250px;
	height: 450px;
	left: 0;
	right: 0;
	margin: 0 auto;
	.not-found-hex{
		position: absolute;
		top: 0;
		&--left{
			left: 0;
			top: 0;
		}
		&--right{
			left: 820px;
			bottom: 0;
			top: auto;
		}
	}
}