/*---- About AWIR header ----*/

.about-awir {
	position: relative;
	.pages-header {
		background-image: url('../img/about-awir/about_bg.jpg');
		@include xxlarge-down {
			background-size: contain !important;
			background-position: top center;
		}@include xlarge-down {
			background-image: url('../img/about-awir/about_bg-medium.jpg');
			background-position: top center;
		}
		@include medium-down {
			background-image: url('../img/about-awir/about_bg.jpg');
			background-position: top right;
		}
		@include xxsmall-down {
			background-image: url('../img/about-awir/about_bg-m.jpg');
		}

	}
}

/*---- Partners header ----*/

.our-partners {
	position: relative;
	.pages-header {
		background-image: url('../img/our-partners/our_partners_bg.jpg');
		@include xsmall-down {
			background-image: url('../img/our-partners/our_partners_bg-m.jpg');
		}
	}
}

/*---- About Chapters header ----*/

.local-chapters {
	position: relative;
	.pages-header {
		background-image: url('../img/local-chapters/local-gb.jpg');
		@include xsmall-down {
			background-image: url('../img/local-chapters/local-gb-m.jpg');
		}
	}
}
.global-chapters {
	position: relative;
	.pages-header {
		background-image: url('../img/global-chapters/global-bg.jpg');
		@include xsmall-down {
			background-image: url('../img/global-chapters/global-bg-m.jpg');
		}
	}
}

/*----- Hexset -----*/

.about-hexset1 {
	position: absolute;
	z-index: 1;
	top: -74px;
	right: -31%;
	@include medium-down {
		transform: scale(0.75);
	}
}


.pages-video {
	position: relative;
	z-index: 10;
	&__placeholder {
		width: 100%;
		box-shadow: -5px 24px 80px -6px rgba(0, 0, 0, 0.31);
		position: relative;
		z-index: 10;
	}
	&__play {
		display: block;
		position: absolute;
		width: 87px;
		height: 101px;
		top: calc(50% - 45px);
		left: 0;
		right: 0;
		margin: 0 auto;
		z-index: 20;
	}
	@include medium-down {}
	@include small-down {}
}


.accented-info {
	position: relative;
	width: 100%;
	max-width: 700px;
	&__content {
		margin-bottom: 215px;
		padding-top: 100px;
		position: relative;
		z-index: 10;
	}
	&__title {
		font-size: 40px;
		margin-bottom: 40px;
	}
	&__text {
		font-size: 22px;
		line-height: 1.5;
		padding-bottom: 50px;
	}
	&__bg-top {
		width: auto;
		width: 886px;
		height: auto;
		min-height: 100%;
		position: absolute;
		top: auto;
		bottom: -150px;
		left: -110px;
		z-index: 1;
		user-select: none;
	}
	&__bg-mid {
		width: 886px;
		position: absolute;
		top: auto;
		bottom: -170px;
		left: -105px;
		z-index: 1;
		user-select: none;
	}
	&__bg-bott {
		width: 800px;
		position: absolute;
		top: auto;
		bottom: -55px;
		left: -70px;
		z-index: 1;
		user-select: none;
	}

	@include medium-down {
		max-width: 600px;
		&__bg-top {
			min-width: 530px;
			width: 800px;
		}
		&__bg-mid {
			min-width: 530px;
			width: 800px;
		}
		&__bg-bott {
			min-width: 430px;
			width: 700px;
		}
		&__content {
			margin-bottom: 43%;
			padding-top: 50px;
		}
		&__title {
			font-size: 36px;
		}
	}

	@include small-down {
		&__content {
			margin-bottom: 50%;
		}
	}
	@include xsmall-down {
		max-width: 500px;
		&__bg-top {
			bottom: -130px;
			min-width: 330px;
			width: 650px;
		}
		&__bg-mid {
			bottom: -130px;
			min-width: 330px;
			width: 650px;
		}
		&__bg-bott {
			bottom: -130px;
			min-width: 230px;
			width: 550px;
		}
	}

}

.awr {
	width: 100%;
	max-width: 610px;
	img {
		width: 140px;
		height: auto;
		margin-top: 18px;
	}
	ul {
		padding-bottom: 10px;
		li {}
	}
	h2 {
		font-family: 'PTSans', sans-serif;
		color: #250f47;
		font-size: 40px;
		font-weight: bold;
		line-height: 1.2;
		text-align: left;
		margin-bottom: 30px;
		position: relative;
		z-index: 10;
		&:after {
			position: absolute;
			content: '';
			width: 143px;
			height: 7px;
			bottom: -10px;
			right: 0;
			left: 0;
			margin-right: auto;
			margin-left: 0;
			background-color: $title-underline;
		}
	}
	h3 {
		font-family: 'Roboto', sans-serif;
		font-size: 18px;
		font-weight: bold;
		line-height: 1.33;
		text-align: left;
		color: #401557;
		margin-top: 30px;
		margin-bottom: 10px;
	}
	p, li {
		font-family: 'Roboto', sans-serif;
		font-size: 16px;
		font-weight: normal;
		line-height: 1.5;
		text-align: left;
		color: #250f47;
	}

	@include medium-down {
		h2 {
			font-size: 30px;
		}
	}
	@include small-down {
		h2 {
			line-height: 1.2;
		}
	}
	@include xsmall-down {
		h2 {
			font-size: 21px;
			line-height: 1.2;
		}
	}
}

.members-wrap {
	margin-bottom: 30px;
	margin-top: 85px;
}

.member {
	display: flex;
	margin-bottom: 25px;
	&__photo {
		width: 91px;
		height: 91px;
		border-radius: 100%;
		margin-right: 17px;
		position: relative;
	}
	&__photo-img {
		border-radius: 100%;
		width: 91px;
		height: 91px;
		min-width: 91px;
		min-height: 91px;
		position: relative;
		z-index: 10;
	}
	&__hex2 {
		width: 35px;
		height: auto;
		position: absolute;
		z-index: 1;
		bottom: 0px;
		right: -5px;
		opacity: 0.5;
	}
	&__info {
		margin-top: 20px;
		width: 100%;
		max-width: 690px;
		padding-bottom: 20px;
		&-underline {
			border-bottom: 1px #edecec solid;
		}

	}
	&__data {
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		width: 100%;
		max-width: 300px;
		margin-bottom: 13px;
	}
	&__name {
		font-size: 18px;
		font-weight: bold;
		line-height: 1.33;
		text-align: left;
		color: #401557;
		margin-right: 13px;
	}
	&__dagree {
		font-size: 16px;
		font-weight: normal;
		line-height: 1.5;
		text-align: left;
		color: #250f47;
	}
	&__position {
		width: 100%;
		font-size: 13px;
		font-weight: 500;
		line-height: 1.15;
		text-align: left;
		color: #250f47;
	}
	&__description {
		font-size: 16px;
		font-weight: normal;
		line-height: 1.5;
		text-align: left;
		color: #250f47;
		width: 100%;
		max-width: 600px;
		margin-bottom: 10px;
	}
	&__more {
		position: relative;
		font-size: 14px;
		font-weight: bold;
		line-height: 1.86;
		text-align: left;
		color: #da285b;
		margin-top: 8px;
		&:hover {
			color: $btn-hover-red;
			transition: all 0.3s ease;
			text-decoration: underline;
		}
		&:focus,
		&:active {
			color: $btn-active-red;
			transition: all 0.3s ease;
			text-decoration: underline;
		}
		span {
			display: block;
			position: absolute;
			bottom: -5px;
			right: -8px;
			transform: rotate(90deg);
		}
	}

	&__more-content {
		display: none;
		.sheet-text-wrap {
			h4 {
				&:first-child {
					margin-top: 30px;
				}
			}
		}
		&.active {
			display: block;
		}
	}

	@include xxsmall-down {
		flex-direction: column;
		&__info {
			margin-top: 0px;
		}
	}
}

.photo-back-hex {
	&:after {
		content: '';
		width: 45px;
		height: 53px;
		background-image: url('../img/hexagons/hex-main.svg');
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
		position: absolute;
		z-index: 1;
		top: -5px;
		left: -10px;
	}
	&-second {
		&:after {
			content: '';
			background-image: url('../img/hexagons/hex-gray.svg');
			background-size: contain;
			background-position: center;
			background-repeat: no-repeat;
			width: 35px;
			height: 40px;
			position: absolute;
			z-index: 1;
			top: auto;
			bottom: 0px;
			left: auto;
			right: -5px;
			opacity: 0.5;
		}
	}
	&-bottom {
		&:before {
			content: '';
			width: 45px;
			height: 53px;
			background-image: url('../img/hexagons/hex-main.svg');
			background-size: contain;
			background-position: center;
			background-repeat: no-repeat;
			position: absolute;
			z-index: 1;
			bottom: -5px;
			left: -10px;
		}
	}
}

.slider-placeholder {
	width: 100%;
	height: auto;
	margin-top: 10px;
}

/*---- About Chapters page ----*/

/*---- About Chapters sheet ----*/

.contacts {
	display: flex;
	justify-content: space-between;
	margin-top: 40px;
	margin-bottom: 63px;

	@include medium-down {
		margin-bottom: 45px;
	}
	@include small-down {
		flex-direction: column;
		align-items: center;
		margin-bottom: 60px;
	}
	&.full-width .wpcf7{
		width: 100%;
	}
}

.contacts-form-side {
	width: 50%;
	margin-right: 40px;
	@include medium-down {
		margin-right: 20px;
	}
	@include small-down {
		width: 100%;
		margin: 0 auto;
	}
}

.contactor {
	align-items: center;
	&.member {
		margin-bottom: 0;
		&__info {
			margin-top: 0;
			padding-bottom: 0;
		}
		&__data {
			margin: 0;
		}
		&__degree {
			width: 100%;
		}
	}
	.member__photo {
		width: 140px;
		box-sizing: content-box;
	}


	@include small-down{
		flex-direction: row;
		.member__photo {
			width: 90px;
			box-sizing: content-box;
		}
	}
}

.message-form {
	margin-top: -6px;
	max-width: 370px;
	textarea {
		height: 100%;
		min-height: 112px;
		max-width: 100%;
		min-width: 100%;
	}
	input, select, select.option,
	textarea {
		font-size: 14px;
		color: #401557;
		&::placeholder {
			color: #767676;
		}
	}
	.btn {
		margin-right: 0;
		margin-left: auto;
	}
	.pull-right {
		float: right;
		margin-top: 18px;
	}

	@include small-down {
		max-width: 100%;
	}
}

.contacts-data {
	width: 50%;
	max-width: 351px;
	&__lable {
		display: flex;
		align-items: center;
		padding: 31px 40px 34px 40px;
		border-radius: 6px;
		background-color: #f6f6f6;
		min-height: 105px;
		position: relative;
		&:before {
			position: absolute;
			content: '';
			background-image: url(../img/local-chapters/lable-bg-2.png);
			background-repeat: no-repeat;
			background-size: contain;
			background-position: top left;
			width: 34px;
			height: 100%;
			left: 0;
			top: 0;
		}
		&:after {
			position: absolute;
			content: '';
			background-image: url(../img/local-chapters/lable-bg-1.png);
			background-repeat: no-repeat;
			background-size: contain;
			background-position: bottom right;
			width: 27px;
			height: 100%;
			right: 0;
			bottom: 0;
		}
	}

	&__address {
		margin-bottom: 44px;
		overflow: hidden;
		@include small-down {
			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	&__lable-text {
		margin: 0;
		line-height: 20px;
		text-align: center;
		margin: auto;
	}
	&__info-box {
		margin-top: 40px;
		padding-left: 36px;
		overflow: auto;
		&.no-padding{
			padding-left: 0;
		}
	}
	@include medium-down {
		&__info-box {
			padding-left: 5px;
		}
	}
	@include small-down {
		margin-top: 30px;
		width: 100%;
		max-width: 370px;
		&__lable {
			background-size: 105%;
			min-height: 0;
			padding-top: 25px;
			padding-bottom: 25px;
		}
		&__info-box {
			padding: 0 10px;
		}
	}
}
.flexform {
	display: flex;
	width: 100%;
	max-width: 100%;
	justify-content: space-between;
	.wpcf7-recaptcha {
		float: right;
	}
	.form-column{
		width: 45%;
	}
	@include medium2-down {
		display: block;
		.wpcf7-recaptcha {
			float: none;
		}
		.pull-right {
			float: none;
		}
		.form-column{
			width: 100%;
		}
	}
}

.data-address {
	display: flex;
	position: relative;
	align-items: flex-start;
	&:before {
		content: '';
		background-image: url(../img/icons/point.svg);
		background-size: auto;
		background-repeat: no-repeat;
		background-position: center;
		position: relative;
		min-width: 19px;
		height: 27px;
		margin-right: 24px;
	}
	&__text-wrap {
		display: inline-block;
	}
	&__title {
		color: #7e7e7e;
		line-height: 1;
	}
	&__text {
		line-height: 1.3;
	}
}

.data-email {
	display: flex;
	position: relative;
	align-items: flex-start;
	&:before {
		content: '';
		background-image: url(../img/icons/mail-2.svg);
		background-size: auto;
		background-repeat: no-repeat;
		background-position: center;
		position: relative;
		min-width: 24px;
		height: 19px;
		margin-right: 19px;
	}
}

.data-phone {
	display: flex;
	position: relative;
	align-items: flex-start;
	&:before {
		content: '';
		background-image: url(../img/icons/phone.svg);
		background-size: auto;
		background-repeat: no-repeat;
		background-position: center;
		position: relative;
		min-width: 24px;
		height: 24px;
		margin-right: 19px;
	}
}

.text-block {
	width: 100%;
	max-width: 604px;
	margin-top: 60px;
}

.chapters {
	.text-block {
		margin-top: 32px;
	}
}

.local-leaders {
	margin-top: 60px;
	@include small-down {
		&__medium-title {
			font-size: 14px;
			line-height: 20px;
		}
	}
}

.local-places {
	margin-top: 28px;
	display: flex;
	@include small-down {
		flex-direction: column;
		max-width: 370px;
		margin-right: auto;
		margin-left: auto;
	}
	h2.margins {
		margin-bottom: 30px;
		margin-top: 25px;
		@include medium-down {
			margin-left: 30px;
			font-size: 30px;
		}
		@include xsmall-down {
			font-size: 21px;
		}
	}
}

.places-wrap {
	margin-left: -36px;
	margin-right: 36px;
	@include small-down {
		margin-right: auto;
		margin-left: auto;
	}
}

.place {
	width: 100%;
	max-width: 290px;
	box-sizing: content-box;
	border-radius: 6px;
	padding: 20px 8px 17px 36px;
	margin-bottom: 10px;
	.sheet__medium-title {
		margin-top: 0;
		line-height: 24px;
	}
	&-active {
		background-color: rgba(#673193, 0.08);
	}
	&-active.type-partner{
		background-color: rgba(#673193, 0.12);
	}
	&__text {
		width: 100%;
		max-width: 217px;
		margin-bottom: 10px;
	}
	&__mail {
		display: block;
		position: relative;
		font-size: 14px;
		font-weight: bold;
		line-height: 1.86;
		text-align: left;
		padding-top: 1px;
		color: #da285b;
		padding-left: 30px;
		&:hover {
			color: $btn-hover-red;
			transition: all 0.3s ease;
			text-decoration: underline;
		}
		&:focus,
		&:active {
			color: $btn-active-red;
			transition: all 0.3s ease;
			text-decoration: underline;
		}
		&:before {
			content: '';
			background-image: url(../img/icons/envelope-red.svg);
			background-position: center;
			background-size: contain;
			background-repeat: no-repeat;
			height: 22px;
			width: 22px;
			position: absolute;
			left: 0;
			top: 3px;
		}
	}
	&__link {
		display: block;
		position: relative;
		font-size: 14px;
		font-weight: bold;
		line-height: 1.86;
		text-align: left;
		padding-top: 1px;
		color: #da285b;
		padding-left: 30px;
		&:hover {
			color: $btn-hover-red;
			transition: all 0.3s ease;
			text-decoration: underline;
		}
		&:focus,
		&:active {
			color: $btn-active-red;
			transition: all 0.3s ease;
			text-decoration: underline;
		}
		&:before {
			content: '';
			background-image: url(../img/icons/url-red.svg);
			background-position: center;
			background-size: contain;
			background-repeat: no-repeat;
			height: 22px;
			width: 22px;
			position: absolute;
			left: 0;
			top: 3px;
		}
	}
	&__envelope {
		position: absolute;
		left: 0;
		top: 5px;
	}

	@include medium-down {
		padding-left: 15px;
		margin-left: 15px;
		&__mail {
      padding-top: 5px;
			line-height: 1.4;
		}
	}
	@include small-down {
		padding-left: 15px;
		padding-right: 15px;
		margin-left: 0px;
		width: auto;
		.sheet__medium-title {
			margin-bottom: 0;
			line-height: 28px;
		}
		&__text {}
	}
}
#Rollover {
	display: none;
}
.map-controls{
	@include small-down {
		display: none;
	}
	margin: 20px auto 0;
	font-family: PTSans, sans-serif;
	//font-size: 28px;
	//line-height: 40px;
	font-weight: bold;
	color: #250f47;
	text-align: center;
	.current-zoom {
		margin: 0 10px;
		font-size: 24px;
		line-height: 40px;
	}
	.zoom-button {
		cursor: pointer;
		display: inline-block;
		width: 40px;
		height: 40px;
		border-radius: 50%;
		border: 0;
		text-indent: -5000px;
		box-shadow: 0px 0px 2px 1px lightgrey;
		&:focus {
			outline: none;
		}
	}
	#zoom-in {
		background: url("../img/zoom_in.svg") center center no-repeat;
	}
	#zoom-out {
		background: url("../img/zoom_out.svg") center center no-repeat;
	}
}
.svg-pan-zoom_viewport {
	transition: transform .2s ease;
}
#map #tooltip{
	display: none;
}

.mapcontainer {
	position: relative;

	.mapTooltip {
		position: absolute;
		font-size: 12px;
		font-family: Roboto;
		background-color: #1a0835;
		border-radius: 5px;
		padding: 5px 8px;
		z-index: 1000;
		max-width: 200px;
		display: none;
		color: #fff;
	}
	.pri-tooltip {
		display: none;
		position: absolute;
		left: 50%;
		top: 40%;
		transform: translate(-50%, -50%);
		background-color: #1a0835;
		border-radius: 5px;
		padding: 5px 8px;
		z-index: 1000;
		max-width: 200px;

		.text {
			color: #fff;
			font-size: 12px;
			font-family: Roboto;
		}
		.corner{
			display: block;
			bottom: -8px;
			left: 50%;
			position: absolute;
			margin-left: -10px;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 8px 10px 0 10px;
			border-color: #1a0835 transparent transparent transparent;
		}
	}
	.map{
		svg {display: block;}
		position: relative;
		width: 495px;
		//height: 252px;
		//max-width: 100%;
		box-shadow: 0 0 7px 2px lightgrey;
		border-radius: 5px;
		overflow: hidden;
		@include large-down {
			width: 430px;
		}
		@include medium2-down {
			width: 360px;
		}

		@include small-down {
			display: none;
		}
	}
	@include large-down {
		width: 430px;
	}
	@include medium2-down {
		width: 360px;
	}

	@include small-down {
		display: none;
	}
	.zoomButton{
		cursor: pointer;
		display: inline-block;
		width: 40px;
		height: 40px;
		border-radius: 50%;
		border: 0;
		text-indent: -5000px;
		box-shadow: 0px 0px 2px 1px lightgrey;
		&:focus {
			outline: none;
		}
		&.zoomReset {
			display: none;
		}
		&.zoomIn {
			background: url("../img/zoom_in.svg") center center no-repeat;
		}
		&.zoomOut {
			background: url("../img/zoom_out.svg") center center no-repeat;
		}
	}
}

.place{
	&.type-chapter{
		@include medium-down {
			img.partners__logo.global-partners-logo {
				max-width: 208px;
			}
		}
	}
}

.select-map {
	padding-top: 23px;
	#global-map,
	&__map {
		//box-shadow: 0 0 7px 2px lightgrey;
		//border: 1px dashed silver;
		//border-radius: 5px;
		width: 100%;
        max-width: 456px;
        min-width: 430px;
        min-height: 360px;
		height: auto;
		display: block;
		margin: 0 auto;
		&.global{
			transition: transform 0.8s ease;
			max-width: 496px;
			min-width: 496px;
			min-height: 251px;
			#tooltip {
				display: none;
			}
		}

		& [id^=tooltip_]{
			display: none;
		}
	}

  @include medium-down {
	  #global-map,
		&__map {
      min-width: 380px;
      min-height: 290px;
		}
	}
	@include small-down {
		#global-map,
		&__map {
			display: none;
		}
	}
}

.partners-block-wrap {
	width: 100%;
}

.partners-block {
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	&__item {
		width: 100%;
		max-width: 335px;
		margin-right: 60px;
		padding-bottom: 60px;
		padding-top: 30px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: baseline;
		&:nth-child(2) {
			// margin-right: 0px;
		}

		.sheet__medium-title {
			line-height: 25px;
		}
	}
	&__img {
		margin-bottom: 5px;
		max-width: 185px;
		height: auto;
	}
	.member__more {
		margin-top: 0;
	}
	.sheet__medium-title {
		margin-top: 0;
	}

	@include small-down {
		flex-wrap: wrap;
		&__item {
			text-align: center;
			align-items: center;
			margin-right: auto;
			margin-left: auto;
			padding-bottom: 20px;
			padding-top: 20px;
			&:nth-child(2) {
				margin-right: auto;
			}
		}
		.member__more {
			text-align: center;
			margin-right: auto;
			margin-left: auto;
		}
		.sheet__text-average {
			text-align: center;
		}
	}
}

.about-text-wrap {
	&.sheet-text-wrap {
		margin-bottom: 30px;
		p {
			padding-bottom: 30px;
		}
	}
}

.about-gallery {
	position: relative;
	.fotorama {
		&__arr {
			position: absolute;
			top: auto;
			bottom: -82px;
			width: 28px;
			height: 80px;
			background-color: #884fc6;
			border-radius: 6px;
			background-size: 7px;
			background-image: none;
			background-position: center;
			&--prev {
				background-image: url(../img/icons/gallery-arrow.svg);
			}
			&--next {
				background-image: url(../img/icons/gallery-arrow.svg);
				transform: rotate(180deg);
			}
		}
		&__stage {
			overflow: visible;
		}
		&__nav-wrap {
			margin: 0 35px;
			border-radius: 6px;
		}
		&__stage {
			border-radius: 6px !important;
		}
		&__img {
			border-radius: 6px !important;
		}
		&__loaded--img {
			border-radius: 6px !important;
		}
		&__stage__shaft {
			border-radius: 6px !important;
		}
		&__thumb-border {
			border-radius: 6px;
		}
		&__nav {
			&:after {
				display: none;
			}
			&:before {
				display: none;
			}
			&__frame--thumb {}
		}
	}

	&__nav {
		position: absolute;
		top: auto;
		bottom: 15px;
		width: 28px;
		height: 80px;
		background-color: #884fc6;
		border-radius: 6px;
		background-size: 7px;
		background-image: none;
		background-position: center;
		background-repeat: no-repeat;
	}
	&__leftArrow {
		background-image: url(../img/icons/gallery-arrow.svg);
		left: 3px;
	}
	&__rightArrow {
		background-image: url(../img/icons/gallery-arrow.svg);
		right: 3px;
		left: auto;
		transform: rotate(180deg);
	}
	.fotorama__loaded--img {
		border-radius: 6px;
	}
}

