.advocacy-header {
	position: relative;
	.pages-header {
		background-image: url('../img/advocacy/advocacy_bg.jpg');
		@include xsmall-down {
			background-image: url('../img/advocacy/advocacy_bg-m.jpg');
		}
	}
}

.advocacy-become-header {
	position: relative;
	.pages-header {
		background-image: url('../img/advocacy/advocacy_bg2.jpg');
		@include xsmall-down {
			background-image: url('../img/advocacy/advocacy_bg2-m.jpg');
		}
	}
}

.advocacy-toolkit-header {
	position: relative;
	.pages-header {
		background-image: url('../img/advocacy/advocacy_bg3.jpg');
		@include xsmall-down {
			background-image: url('../img/advocacy/advocacy_bg3-m.jpg');
		}
	}
}

.advocacy-policy-header {
	position: relative;
	.pages-header {
		background-image: url('../img/advocacy/advocacy_bg4.jpg');
		@include xsmall-down {
			background-image: url('../img/advocacy/advocacy_bg4-m.jpg');
		}
	}
}

.partner-resources-header {
	position: relative;
	.pages-header {
		background-image: url("../img/advocacy/advocacy_bg4.jpg");
		@include xsmall-down {
			background-image: url("../img/advocacy/advocacy_bg4-m.jpg");
		}
	}
}


.member-wrap {
	display: flex;
	.member {
		width: 100%;
		max-width: 300px;
		margin-right: 60px;
	}
	@include small-down {
		flex-direction: column;
		.member {
			margin-right: 0;
			max-width: 100%;
			margin-top: 30px;
		}
	}
}

.advocacy-page {
	.contacts {
		margin-top: 0;
	}
}

.advocacy.sheet-text-wrap {
	max-width: 710px;
	margin-bottom: 30px;
	p,
	li {
		max-width: 100%;
		padding-bottom: 30px;
	}
	a{
		text-transform: none;
	}
}

#policy{
  .advocacy.sheet-text-wrap {
    p,
    li {
      max-width: 100%;
      padding-bottom: 15px;
    }
  }
}

.advocacy-hexset {
	max-width: 100%;
}

.advocacy-bott-hex {
	top: 120px;
	position: absolute;
}

.download-toolkit {
	width: 100%;
	max-width: 440px;
	padding-left: 50px;
	padding-right: 20px;
	display: inline-block;
	margin-bottom: 60px;
	&:before {
		content: url(../img/icons/download.svg);
		position: absolute;
		width: 17px;
		height: 18px;
		left: 20px;
		top: calc(50% - 8px);
		z-index: 3;
	}
	b {
		margin-left: 5px;
		margin-bottom: 1px;
	}
}

.sheet-text-wrap {
	.quic-tips {
		list-style-type: none;
		color: #000;
		li {
			position: relative;
			padding-left: 15px;
			margin-bottom: 30px;
			font-family: 'Roboto', sans-serif;
			font-size: 16px;
			font-weight: normal;
			line-height: 1.5;
			color: #1a0835;
			&:before {
				content: '';
				width: 5px;
				height: 5px;
				border-radius: 40px;
				background-color: #250f47;
				position: absolute;
				left: 0;
				top: calc(50% - 2.5px);

			}
			@include medium-down {
				li {
					margin-bottom: 15px;
				}
			}
			p:first-child {
				max-width: 100%;
			}
		}
	}
}

.no-margin {
	margin-bottom: 0;
	h3 {
		margin-bottom: 0;
	}
}

.advocace-become-text-wrap {
	margin-bottom: 0;
	h1 {
		margin-bottom: 20px;
	}
}

.advocacy-become-hexset {
	.advocacy-bott-hex {
		top: auto;
		bottom: 0;
		left: 30px;
	}
}

.advocacy-policy {
  p{
    text-align: justify;
  }
  img{
    width: 100%;
    max-width: 385px;
    padding-bottom: 30px;
    float: right;
    padding-left: 30px;
    margin-top: 50px;
    cursor: pointer;
  }
	&-reverse {
		img{
      width: 100%;
      max-width: 385px;
      padding-bottom: 30px;
      float: left;
      padding-right: 30px;
      margin-top: 50px;
    }
  }
  @include small-down {
    text-align: left;
    img{
      float: none;
      display: block;
      width: 100%;
      margin: 0 auto;
      padding-bottom: 0;
    }
    &-reverse {
      float: none;
      display: block;
      width: 100%;
      margin: 0 auto;
      padding-bottom: 0;
    }
  }
}

.advocacy-side1 {
  width: 100%;
	//width: 50%;
	margin-right: 30px;
	@include small-down {
		width: 100%;
	}
}

.advocacy-side2 {
	width: 50%;
	@include small-down {
		width: 100%;
		margin-right: 0;
		margin-left: 0;
		img {
			display: block;
			max-width: 440px;
			margin-right: auto;
			margin-left: auto;
		}
	}
	img {
		width: 100%;
		cursor: pointer;
	}
}

.map-colors {
	width: 100%;
	margin-left: 30px;
	margin-top: -45px;
	&__color1 {
		position: relative;
		font-family: 'Roboto', sans-serif;
		font-size: 16px;
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		line-height: normal;
		letter-spacing: normal;
		color: #250f47;
		padding-left: 20px;
		&:before {
			position: absolute;
			content: '';
			left: 0;
			top: calc(50% - 4.5px);
			width: 9px;
			height: 9px;
			border-radius: 2px;
			background-color: #250f47;
		}
	}
	&__color2 {
		position: relative;
		font-family: 'Roboto', sans-serif;
		font-size: 16px;
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		line-height: normal;
		letter-spacing: normal;
		color: #5f378b;
		padding-left: 20px;
		&:before {
			position: absolute;
			content: '';
			left: 0;
			top: calc(50% - 4.5px);
			width: 9px;
			height: 9px;
			border-radius: 2px;
			background-color: #5f378b;
		}
	}
}

.advocacy-policy-bott-hex {
	position: absolute;
	left: auto;
	right: 0;
	top: 100px;
}

.advocacy-resources {
	display: flex;
	flex-direction: column;
	&__item-wrap {
		width: 100%;
		display: flex;
	}
	&__item {
		width: 50%;
		position: relative;
		margin-bottom: 35px;
		margin-right: 5px;
		margin-left: 5px;
		padding: 0px 35px;
		border-radius: 4px;
		background-color: #884fc6;
		display: flex;
		transition: background-color 0.3s ease;
		&:hover {
			background-color: #271248;
			transition: background-color 0.3s ease;
		}
	}
	p {
		font-family: 'Roboto', sans-serif;
		font-size: 14px;
		font-weight: normal;
		line-height: 1.71;
		text-align: center;
		color: #250f47;
		margin-top: 15px;
	}
	a {
		position: relative;
		font-family: 'Roboto', sans-serif;
		font-size: 16px;
		font-weight: 500;
		line-height: normal;
		text-align: center;
		background-color: rgba(#fff, 0);
		z-index: 2;
		&:hover, &:active, &:focus {
			background-color: rgba(#fff, 0) !important;
		}
		&:after {
			content: url(../img/icons/right-arrow.svg);
			position: absolute;
			width: 20px;
			right: -10px;
			top: calc(50% - 10px);
			z-index: 3;
		}
	}
	&__btn-blur {
		max-width: 100%;
		position: absolute;
		right: 0;
		left: 0;
		bottom: -35px;
		margin: 0 auto;
		z-index: 1;
	}

	@include small-down {
		a {
			text-align: left;
		}
		&__item-wrap {
			flex-direction: column;
			align-items: center;
		}
		&__item {
			width: 100%;
		}

	}
}

.toolkit-sheet{
	.downloads a:after{
		display: none;
	}
}

.take-action-sheet{
  [type="checkbox"], [type="radio"]{
    margin-top: 3px;
    padding-top: 3px;
    box-sizing: border-box;
    -webkit-appearance: checkbox;
    -moz-appearance: checkbox;
    appearance: checkbox;
  }
}
#legal-opt-in{
  position: relative;
  top: 2px;
}
.archived-letters{
  position: relative;
}
.archived-letters__bg1{
  content: '';
  position: absolute;
  background-image: url(../img/archived-letters/1.png);
  background-position: top right;
  background-size: contain;
  background-repeat: no-repeat;
  top: 10px;
  right: 10px;
  width: 165px;
  height: 200px;
  opacity: 0.3;
  @include medium2-down {
    display: none;
	}
}
.archived-letters__bg2{
  content: '';
  position: absolute;
  background-image: url(../img/archived-letters/2.png);
  background-position: bottom right;
  background-size: contain;
  background-repeat: no-repeat;
  bottom: 10px;
  right: 10px;
  width: 363px;
  height: 290px;
  opacity: 0.3;
  @include medium2-down {
    width: 190px;
    height: 200px;
	}
}
.archived-letters__bg3{
  content: '';

  position: absolute;
  background-image: url(../img/archived-letters/3.png);
  background-position: bottom left;
  background-size: contain;
  background-repeat: no-repeat;
  bottom: 10px;
  left: 10px;
  width: 164px;
  height: 120px;
  opacity: 0.3;
  @include medium2-down {
    width: 100px;
    height: 85px;
	}
}
@media only screen and (max-width: 550px) {
  #vue-lightbox{
      width: 100% !important;
      left: 0 !important;
      right: 0 !important;
      .lb-outerContainer{
        min-width: 100% !important;
        height: auto !important;
        left: 0 !important;
      }
      .lb-image{
        min-width: 100% !important;
        height: auto !important;
      }
      .lb-container{
        width: 100% !important;
        padding: 0;
      }
  }
}

.map-mobile{display: none;}
.map-desktop{display: block;}
@media only screen and (max-width: 767px) {
	.map-desktop{
		display: none;
	}
	.map-mobile{
		display: block;
	}
}

.covid-banner-1{
	width: 100%;
	padding: 40px 60px;
	position: relative;
	margin-bottom: 40px;
	.banner-title{
		font-family: 'Roboto', sans-serif;
		font-size: 24px;
		font-weight: bold;
		font-stretch: normal;
		font-style: normal; 
		line-height: 1.36;
		letter-spacing: normal;
		color: #260f47;
		@media only screen and (max-width: 767px) {
			font-size: 20px;
		}
	}
	.banner-col{
		display: flex;
		flex-direction: row;
		margin-top: 20px;
		@media only screen and (max-width: 767px) {
			flex-direction: column;
		}
	}
	.banner-col-1{
		width: 75px;
		@media only screen and (max-width: 767px) {
			width: 1005px;
		}
	}
	.banner-col-2{
		width: calc(100% - 75px);
		@media only screen and (max-width: 767px) {
			width: 100%;
		}
	}
	.banner-icon{
		width: 55px;
		height: auto;
		margin-top: 5px;
		@media only screen and (max-width: 767px) {
			width: 45px;
		}
	}
	.banner-text{
		font-family: 'Roboto', sans-serif;
		font-size: 16px;
		font-weight: normal;
		font-stretch: normal;
		font-style: normal;
		line-height: 1.5;
		letter-spacing: normal;
		color: #190835;
		b{
			font-weight: bold;
		}
		a{
			color: #da295b;
			text-decoration: underline;
			&:hover{
				text-decoration: none;
			}
		}
	}
	.banner-corner-1{
		position: absolute;
		top: 0;
		left: 0;
		width: 80px;
		height: auto;
		display: block;
		@media only screen and (max-width: 767px) {
			width: 60px;
		}
	}
	.banner-corner-2{
		position: absolute;
		bottom: 0;
		right: 0;
		width: 120px;
		height: auto;
		display: block;
		@media only screen and (max-width: 767px) {
			width: 90px;
		}
	}
	@media only screen and (max-width: 767px) {
		padding: 30px 20px;
	}
}
.covid-banner-2{
	width: 100%;
	display: block;
	margin-bottom: 50px;
	img{
		width: 100%;
		height: auto;
	}
	.covid-mob{
		display: none;
	}
	@media only screen and (max-width: 767px) {
		.covid-desktop{
			display: none;
		}
		.covid-mob{
			display: block;
		}
	}
}
