html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

* {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-tap-highlight-color: transparent;
}

::selection {
	background: $background-main;
	/* WebKit/Blink Browsers */
	color: #fff;
}

::-moz-selection {
	background: $background-main;
	/* Gecko Browsers */
	color: #fff;
}

/* ====== GLOBAL STYLES USED ACROSS THE WEBSITE ====== */

html {
	font-size: 18px;
	font-family: 'Roboto';
	color: #000;
}

body {
	margin: 0;
	background-color: #fff;
	position: relative;
	color: #000;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
dd,
dt,
span,
a {
	font-size: 14px;
	margin: 0;
	font-weight: 400;
}

a {
	text-decoration: none;
}

p {}

ul {
	list-style-type: none;
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
}

select::-ms-expand {
	display: none;
}

input,
select,
textarea {
	padding-right: 0;
	padding-left: 0;
	border-radius: 0;
	border: none;
	background-color: rgba(#fff, 0);
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
	&:hover,
	&:focus,
	&:active {
		outline: none;
	}
}

select {
	padding-right: 0;
	padding-left: 0;
	border-radius: 0;
	&:hover,
	&:focus,
	&:active {
		outline: none;
	}
}

@media screen {
    @-ms-viewport { width: device-width; }
}
.lSSlideWrapper{
  background-color: #fff;
  .photonic-slideshow-content{
    @include medium-down{
      height: 400px;
    }
    @include small-down{
      height: 300px;
    }
  }
	video{
		margin: 0 auto !important;
		display: block !important;
    height: 100%;
    max-width: 100%;
	}
	img{
		margin: 0 auto !important;
		display: block !important;
		height: 100%;
	}
}
.lSSlideOuter{
	.photonic-slideshow-img{
		height: 100%;
    overflow: hidden;
    opacity: 0;
    transition: opacity 1s ease;
    &.active{
      opacity: 1;
      transition: opacity 1s ease;
    }
	}
}
.lightbox .lb-image{
  display: block !important;
  opacity: 1 !important;
}
.lb-details{
  opacity: 0 !important;
}
.wpcf7-form-control.g-recaptcha.wpcf7-recaptcha{
  margin-top: 20px !important;
}
.lSSlideWrapper{
  video:fullscreen, video:-webkit-full-screen, video:-moz-full-screen {
    background-color: rgba(0,0,0,1) !important;
  }
}
video:fullscreen {
  background-color: rgba(0,0,0,1) !important;
}
video:-webkit-full-screen {
  background-color: rgba(0,0,0,1) !important;
}
video:-moz-full-screen {
  background-color: rgba(0,0,0,1) !important;
}

.sub-navigation{
	position: fixed;
	left: 0;
	right: 0;
	width: 100vw;
	top: 80px;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #fff;
	z-index: 25;
	box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.16);
	@include large-down{
		top: 66px;
	}
	@include xsmall-down{
		top: 63px;
		padding-top: 7px;
		padding-bottom: 7px;
	}
	.admin-bar &{
		margin-top: 32px;
	}
}
.sub-navigation__wrapper{
	position: relative;
	width: 90%;
	max-width: 665px;
	margin: 0 auto;
	display: flex;
	font-display: row;
	justify-content: space-between;
}

@keyframes hideOpacity {
	0% {
		opacity: 1;
		pointer-events: none;
	}
	70% {
		opacity: 1;
	}
	100% {
		opacity: 0;
		pointer-events: all;
	}
}
.sub-navigation__item{
	display: block;
	position: relative;
	height: 4px;
	box-sizing: content-box;
	width: calc(100% / 8);
	padding: 5px 0;
	margin-right: 13px;
	cursor: pointer;
	&:last-child{
		margin-right: 0;
	}
	&:hover{
		.sub-navigation__item-inner{
			.noTouch &{
				background-color: #5f378b;
			}
		}
		.sub-navigation__tooltip{
			.isTouch &{
				opacity: 0;
				pointer-events: none;
				animation: hideOpacity 1.5s;
			}
			.noTouch &{
				opacity: 1;
				pointer-events: all;
				transition: opacity 0.3s ease;
			}
		}
	}
	&.active { 
		.sub-navigation__item-inner{
			background-color: #ec8427;
		}
	}
	&:nth-child(-n+4){
		.sub-navigation__tooltip{
			right: auto;
			left: 0;
			text-align: left;
		}
	}
}
.sub-navigation__item-inner{
	width: 100%;
	height: 100%;
	background-color: #d5d5d5;
}
.sub-navigation__tooltip{
	position: absolute;
	right: 0;
	left: auto;
	top: 20px;
	width: 284px;
	padding: 10px 12px 8px 12px;
	background-color: #fff;
	border: 2px solid #ec8427;
	border-radius: 4px;

	opacity: 0;
	pointer-events: none;
	transition: opacity 0.3s ease;

	text-align: right;
	color: #000;
	font-family: 'Roboto';
	font-weight: 500;
	font-size: 12px;
	line-height: 1.17;

	z-index: 10;

	@include xsmall-down{
		position: fixed;
		top: 100px;
		width: 90vw;
		max-width: 260px;
		left: 0 !important;
		right: 0 !important;
		margin: 0 auto;
		text-align: right !important;
	}
}