/* Calendar-archive background*/

.calendar-archive {
	position: relative;
	.pages-header {
		background-image: url(../img/calendar/calendar-gb.jpg);
		@include xsmall-down {
			background-image: url(../img/calendar/calendar-gb-m.jpg);
		}
	}
}

.calendar-sheet-bg {
	position: absolute;
	top: 0;
	right: 0;
	@include small-down {
		display: none;
	}
}

/*====== Meetings List ======*/

.meetings-list {
	border-radius: 6px;
	width: calc(100%/8 * 5);
	min-height: 100px;
	margin-right: 0;
	margin-left: auto;
	margin-top: 10px;
	background-color: #fff;
	z-index: 100;
	@include medium-down {
		width: 100%;
		margin-top: 0;
		padding-right: 50px;
		padding-left: 50px;
	}
	@include small-down {
		padding-right: 0px;
		padding-left: 0px;
	}
}

/*----- Meetings-slider -----*/

.meetings-slider {
	position: relative;
	max-height: 100%;
	transition: max-height 0.3s ease;
	z-index: 100;
	border-radius: 6px;
	background-color: rgba(#fff, 0.95);
	&__overlay {
		border-radius: 6px;
		position: absolute;
		content: '';
		width: 100%;
		height: 100%;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		border-radius: 4px;
		background-image: linear-gradient(to bottom, rgba(#1a0026,0.7), rgba(#000000,0.4));
		z-index: 0;
		&-archive{
			background-image: linear-gradient(to bottom, rgba(#000000,0.4), rgba(#000000,0.4));
		}
	}
	&__slide {
		width: 100%;
		height: 100%;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		border-radius: 6px;
		position: relative;
		display: none;
		background-color: #fff;
		background-image: url('../img/calendar/meetings-slide-1.jpg');
		z-index: 10;
		&.active{
			display: block;
		}
	}
	&__title {
		color: $white;
		font-family: 'PTSans', sans-serif;
		font-size: 30px;
		font-weight: 700;
		margin-bottom: 5px;
		transition: font-size 0.6s ease;
	}
	&__text {
		font-family: 'Roboto', sans-serif;
		font-size: 14px;
		font-weight: 400;
		line-height: 20px;
		color: #fff;
		transition: opacity 0.6s ease;
	}
	&__wrap {
		position: relative;
	}
	&__content-wrap{
		padding: 32px 50px 15px 22px;
		position: relative;
	}
	&__info {
		margin-top: 56px;
		transition: opacity 0.6s ease;
	}
	&__date-line {
		display: inline-block;
		align-items: center;
		position: relative;
		padding-left: 25px;
		&:before {
			top: 3px;
			left: 0;
			display: block;
			content: '';
			background-image: url('../img/icons/meeting-date.svg');
			background-position: center;
			background-repeat: no-repeat;
			background-size: contain;
			width: 14px;
			height: 14px;
			position: absolute;
		}
	}
	&__place-line {
		display: flex;
		align-items: center;
		position: relative;
		padding-left: 25px;
		&:before {
			left: 0;
			top: 2px;
			display: block;
			content: '';
			background-image: url('../img/icons/meeting-place.svg');
			background-position: center;
			background-repeat: no-repeat;
			background-size: contain;
			width: 14px;
			height: 14px;
			position: absolute;
		}
	}
	&__email-line {
		display: flex;
		align-items: center;
		position: relative;
		padding-left: 25px;
		a{
			color: #fff;
			&:hover{
				text-decoration: underline;
			}
		}
		&:before {
			left: 0;
			top: 2px;
			display: block;
			content: '';
			background-image: url("../img/icons/envelop-white.svg");
			background-position: center;
			background-repeat: no-repeat;
			background-size: contain;
			width: 14px;
			height: 14px;
			position: absolute;
		}
	}
	&__info-icon {
		margin-right: 7px;
		&-clock {
			width: 14px;
			display: none;
		}
		&-place {
			width: 10px;
		}
	}
	&__link {
		display: block;
		position: relative;
		width: 100%;
		background-color: $slider-link;
		color: $white;
		font-family: 'Roboto', sans-serif;
		font-size: 15px;
		font-weight: 500;
		padding: 20px;
		border-radius: 0px 0px 6px 6px;
		transition: background-color 0.3s ease;
		&:after {
			position: absolute;
			top: calc(50% - 10px);
			right: 20px;
			transform: rotate(90deg);
			content: url(../img/icons/arrow-right.svg);
		}
		&:hover {
			background-color: rgba($btn-active-red, 1);
			transition: background-color 0.3s ease;
		}
		&:focus,
		&:active {
			background-color: rgba($btn-active-red, 1);
			transition: background-color 0.3s ease;
		}
	}

	@include medium-down {
		opacity: 1 !important;
	}
	@include small-down {
		&__info {
			margin-top: 36px;
		}
	}

	/*--- Meetings Archive---*/
	&-archive {
		margin-bottom: 15px;
		position: relative;
		.archive1 {
			background-image: url(../img/calendar/archive/arch-slide1.jpg);
		}
		.archive2 {
			background-image: url(../img/calendar/archive/arch-slide2.jpg);
		}
		.archive3 {
			background-image: url(../img/calendar/archive/arch-slide3.jpg);
		}
		.meetings-slider__link {
			background-color: rgba(0, 0, 0, 0.35);
		}
		.meetings-slider__slide {
			display: block;
		}

		.full-info__register {
			display: none;
		}
		.full-info__divider {
			display: none;
		}
	} // End Archive
}
.meetings-slider.sticky{
	position: fixed;
	top: 120px;
	@include medium-down {
		display: block !important;
		opacity: 1 !important;
	}
}

.meetings-slider-archive.active{
	.full-info.full-info-active{
		display: block;
		animation: slideInDown 0.3s;
		z-index: 1;
	}
}

.slider-nav {
	position: relative;
	align-items: center;
	justify-content: center;
	display: flex;
	border-radius: 0 0 3px 3px;
	padding-top: 15px;
	padding-bottom: 15px;
	z-index: 20;
	&__prev {
		top: calc(50% - 10px);
		color: #5f378b;
		font-family: 'Roboto', sans-serif;
		font-size: 14px;
		font-weight: 400;
		line-height: 20px;
		cursor: pointer;
		&:hover {
			text-decoration: underline;
		}
		img {
			margin-right: 7px;
			width: 7px;
			height: 11px;
		}
	}
	&__next {
		top: calc(50% - 10px);
		color: #5f378b;
		font-family: 'Roboto', sans-serif;
		font-size: 14px;
		font-weight: 400;
		line-height: 20px;
		cursor: pointer;
		&:hover {
			text-decoration: underline;
		}
		img {
			margin-left: 7px;
			width: 7px;
			height: 11px;
			transform: rotate(180deg);
		}
	}
	&__dots {
		display: flex;
		justify-content: center;
		margin: 0 50px;
	}
	&__dot {
		content: '';
		width: 9px;
		height: 9px;
		margin: 0px 5px;
		opacity: 0.22;
		border-radius: 50px;
		background-color: #5f378b;
		cursor: pointer;
		&:hover {
			transition: all 0.3s ease;
			opacity: 1;
		}
		&.active{
			transition: all 0.3s ease;
			opacity: 1;
		}
	}
}

.month-divider {
	position: relative;
	margin-bottom: 15px;
	margin-top: 30px;
	&__text {
		display: inline-block;
		vertical-align: middle;
		width: auto;
		position: relative;
		z-index: 5;
		color: #000;
		font-family: 'Roboto', sans-serif;
		font-size: 12px;
		font-weight: 700;
		text-transform: uppercase;
		background-color: #fff;
		padding-right: 20px;
	}
	&:after {
		content: '';
		position: absolute;
		top: 50%;
		right: 0;
		width: 100%;
		height: 1px;
		background-color: #e8e8e8;
	}
}



.meeting {
	position: relative;
	border-radius: 4px;
	box-shadow: 0 -4px 16px 0 rgba(177, 177, 177, 0.5);
	&__top {
		position: relative;
		display: flex;
		align-items: center;
		background-color: #7483d2;
		border-radius: 4px;
		padding-right: 30px;
		padding-left: 0;
		padding-top: 5px;
		padding-bottom: 5px;
		margin-bottom: 16px;
		cursor: pointer;
		z-index: 10;
		&:after {
			position: absolute;
			top: calc(50% - 10px);
			bottom: auto;
			right: 20px;
			content: url(../img/icons/arrow-right.svg);
			transform: rotate(90deg);
		}
	}

	&-local {
		.meeting__top {
			background-color: #7483d2;
		}
		.meeting__register {
			background-color: #7483d2;
		}
	}
	&-global {
		.meeting__top {
			background-color: #a174d2;
		}
		.meeting__register {
			background-color: #a174d2;
		}
	}
	&-global-colleagues {
		.meeting__top {
			background-color: #a174d2;
		}
		.meeting__register {
			background-color: #a174d2;
		}
	}
	&-national {
		.meeting__top {
			background-color: #d82256;
		}
		.meeting__register {
			background-color: #d82256;
		}
	}
	&-endorsed {
		.meeting__top {
			background-color: rgb(27, 169, 138);
		}
		.meeting__register {
			background-color: rgb(27, 169, 138);
		}
	}
	&-summits {
		.meeting__top {
			background-color: #281248;
		}
		.meeting__register {
			background-color: #281248;
		}
	}

	&__info {
		display: flex;
    flex-wrap: wrap;
    width: 95%;
		.meetings-slider__date-line {
			margin-right: 20px;
		}
	}
	&__date {
		width: 100%;
		max-width: 80px;
		padding-top: 20px;
		padding-bottom: 20px;
		min-width: 60px;
		border-right: 2px solid rgba(#fff, 0.3);
	}
	&__number {
		text-align: center;
		color: $white;
		font-family: 'Roboto', sans-serif;
		font-size: 25px;
		font-weight: 700;
		text-transform: uppercase;
	}
	&__add-event{
		text-align: center;
		margin-top: 10px;
		> a{
			color: #7483D2;
			font-family: 'Roboto', sans-serif;
			font-size: 9px;
			display: inline-block;
			padding: 3px 6px;
			background: #fff;
			border-radius: 4px;
			&:before{
				content: '';
				display: inline-block;
				width: 12px;
				height: 12px;
				vertical-align: middle;
				margin-right: 3px;
				background-image: url('../img/calendar/add-event.svg');
				background-repeat: no-repeat
			}
		}
	}
	&__month {
		text-align: center;
		color: $white;
		font-family: 'Roboto', sans-serif;
		font-size: 12px;
		font-weight: 700;
		text-transform: uppercase;
	}
	&__subject {
		padding-top: 15px;
		padding-bottom: 5px;
		padding-left: 15px;
		width: 100%;
	}
	&__title {
		margin-bottom: 18px;
		font-family: 'PTSans', sans-serif;
		font-size: 16px;
		font-weight: bold;
		line-height: normal;
		color: #ffffff;
		width: 100%;
	}

	&__full-info {
		background-color: #ffffff;
		padding: 0 35px;
		padding-top: 10px;
		padding-bottom: 15px;
		margin-bottom: 16px;

		.full-info__text-wrap {
			margin-bottom: 0;
		}
	}
	&__full-info {
		display: none;
	}
	&-open {
		.meeting__full-info {
			display: block;
		}
		.meeting__top:after {
			transform: rotate(-90deg);
			right: 15px;
		}
	}
	&__content-title {
		font-family: 'PTSans', sans-serif;
		font-size: 30px;
		font-weight: 700;
		line-height: 1;
		color: #250f47;
		margin-bottom: 7px;
	}
	&__content-text {
		font-family: 'Roboto', sans-serif;
		font-size: 14px;
		font-weight: 400;
		line-height: 1.71;
		color: #250f47;
	}
	&__register {
		width: 100%;
		max-width: 130px;
		margin-top: 23px;
	}
	@include medium-down {
		&__top {
			&:after {
				top: calc(50% - 25px);
			}
		}
	}
	@include small-down {
		&__top {
			padding-right: 15px;
			&:after {
				display: none;
			}
		}
		&__title {
			margin-bottom: 5px;
		}
	}
	@include small-down {
		&__content {
			background-color: $white;
			padding: 0 15px;
			padding-bottom: 15px;
			margin-top: 0;
		}
		&__content-title {
			font-size: 20px;
		}
		&__content-text {
			line-height: 1.75;
		}
	}
}

.meeting__content {
	h3 {
		font-family: 'PTSans', sans-serif;
		font-size: 30px;
		font-weight: 700;
		line-height: 1;
		color: #250f47;
		margin-bottom: 7px;
	}
	p {
		font-family: 'Roboto', sans-serif;
		font-size: 14px;
		font-weight: 400;
		line-height: 1.71;
		color: #250f47;
	}
	@include small-down {
		h3 {
			font-size: 20px;
		}
	}
}

.meetings-calendar {
	height: 360px;
	margin-top: 0px;
	margin-bottom: 35px;
	position: absolute;
	background-color: #dbdbdb;

	left: 60px;
	top: 55px;
	width: 280px;

	content: '';
	@include medium-down {
		position: relative;
		width: 100%;
		left: auto;
		right: auto;
		top: auto;
	}
}

.calendar-section {
	.sheet{
		min-height: 500px;
	}
	@include small-down {
		.sheet {
			padding-bottom: 75px;
			margin-top: 75px;
		}
	}
	@include xsmall-down {
		padding-top: 90px;
	}
}

.callendar-hexset {
	bottom: 0;
	.pages-set8 {
		display: none;
		position: absolute;
		right: 0;
		left: -10px;
		bottom: -40px;
		transform: scale(0.75) rotate(95deg);
	}
	@include small-down {
		display: block;
		.pages-set7 {
			display: none;
		}
		.pages-set8 {
			display: block;
		}
	}
}

.register-popup {
	position: fixed;
	display: none;
	align-items: center;
	flex-direction: column;
	justify-content: space-around;
	padding: 15px;
	width: 100%;
	height: 100vh;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 200;
	background-color: rgba(#000, 0.9);
	&-active {
		display: flex;
	}
	&__window {
		top: 0;
		position: relative;
		left: 0;
		right: 0;
		width: 100%;
		max-width: 365px;
		margin: 0 auto;
		background-color: #fff;
		border-radius: 6px;
	}

	.meeting-popup {
		box-shadow: none;
		border-radius: 6px;
		padding-bottom: 30px;
		.meeting__top {
			border-radius: 6px 6px 0 0;
			&:after {
				display: none;
			}
		}
		.btn {
			max-width: 140px;
			margin-top: 30px;
			margin-right: auto;
			margin-left: auto;
		}
		.message-form {
			max-width: 250px;
			margin-right: auto;
			margin-left: auto;
			input {
				display: block;
				position: relative;
				font-family: 'Roboto', sans-serif;
				background-color: rgba(255, 255, 255, 0);
				border: none;
				font-size: 14px;
				color: #250f47;
				border-bottom: 1px #b3b3b3 solid;
				padding-bottom: 13px;
				padding-top: 22px;
				width: 100%;
				&::placeholder {
					font-size: 14px;
					color: #767676;
				}
			}


		}
		.subscribe__input {
			font-size: 14px;
			color: #767676;
			&::placeholder {
				font-size: 14px;
				color: #767676;
			}
		}
		.meetings-slider__date-line {
			font-size: 12px;
		}
		.meeting__title {
			margin-bottom: 5px;
		}
	}
}

.close-btn {
	position: absolute;
	right: -25px;
	top: -25px;
	z-index: 10;
	cursor: pointer;
	padding: 10px;
	&__icon {
		width: 9px;
		height: auto;
	}
}

.full-info {
	display: none;
	background-color: #fff;
	padding: 0;
	box-shadow: 0 -4px 16px 0 rgba(177,
	177,
	177,
	0.5);
	position: relative;
	z-index: 5;
	&-active.current {
		display: block;
	}
	&__content-wrap{
		padding: 25px 25px;
	}
	&__register {
		margin-top: 0;
		background-color: #d82256;
		@include small-down {
			margin-right: auto;
			margin-left: auto;
      &.btn__inline{
        margin-right: 20px;
        &.no-margin{
          margin-right: 0;
        }
        &:last-child{
          margin-right: 0;
        }
      }
		}
	}
	&__divider {
		content: '';
		height: 2px;
		opacity: 0.2;
		border: solid 1px #979797;
		margin-top: 15px;
	}
}


.full-info__text-wrap {
	margin-bottom: 30px;
	.figure {
		text-align: center;
		display: inline-block;
		vertical-align: text-top;
		width: 48%;
		margin-right: 5px;
		margin-bottom: 10px;
		img{
			width: auto;
			height: auto;
			max-height: 149px;
		}
		p{
			max-width: 131px;
			display: block;
			margin: 0 auto;
		}
		@include medium-down {
			 width: 46%;
		}
		@include small-down {
			width: 31.133%;
			display: block;
			margin: 0 auto;
			margin-bottom: 15px;
			width: 100%;
		}
	}
	h1 {
		font-family: 'PTSans', sans-serif;
		font-size: 40px;
		font-weight: bold;
		line-height: 1;
		color: #250f47;
		margin-bottom: 10px;
		margin-top: 30px;
	}
	h2 {
		font-family: 'PTSans', sans-serif;
		font-size: 30px;
		font-weight: bold;
		line-height: 1;
		color: #250f47;
		margin-bottom: 10px;
		margin-top: 30px;
	}
	h3 {
		font-family: 'PTSans', sans-serif;
		font-size: 20px;
		font-weight: bold;
		line-height: 1.5;
		color: #250f47;
		margin-bottom: 11px;
	}
	h4 {
		font-family: 'PTSans', sans-serif;
		font-size: 18px;
		font-weight: bold;
		line-height: 1.5;
		color: #401557;
	}
	h5 {
		font-family: 'PTSans', sans-serif;
		font-size: 16px;
		font-weight: bold;
		line-height: 1.5;
		color: #401557;
	}
	p,
	li {
		font-family: 'Roboto', sans-serif;
		font-size: 14px;
		font-weight: normal;
		line-height: 1.71;
		color: #250f47;
	}
	p {
		margin-bottom: 30px;
		&:last-child {
			margin-bottom: 0;
		}
	}
	ul {
		list-style-type: disc;
		color: #000;
		padding-bottom: 15px;
		li {
			margin-left: 30px;
		}
	}
}

//.faculty {
//	display: flex;
//	justify-content: space-between;
//	flex-wrap: wrap;
//
//	@include xsmall-down{
//		flex-direction: column;
//		align-items: center;
//	}
//	p{
//		font-family: 'PTSans', sans-serif;
//		font-size: 14px;
//		font-weight: normal;
//		line-height: 1.71;
//		color: #000000;
//		text-align: center;
//		margin-top: 5px;
//	}
//}
.sponsors {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	ul{
		width: 50%;
		min-width: 160px;
		box-sizing: content-box;
		padding-right: 15px;
		padding-left: 15px;
		border-right: 1px solid rgba(#000, 0.1);
		&:last-child{
			border-right: none;
		}
		li{
			line-height: 1.3;
			&:last-child{
				margin-bottom: 0;
			}
		}
		@include small-down {
			padding-right: 0px;
			padding-left: 0px;
			border-right: none;
		}
	}
	&__wrap{
		display: flex;
		flex-direction: row;
		justify-content: space-between;

	}
	@include small-down {
		&__wrap{
			flex-direction: column;
		}
	}
	&__item {
		width: 100%;
		max-width: 100%;
		border-radius: 6px;
		background-color: #f6f6f6;
		padding: 40px 27px 27px 27px;
		margin-bottom: 20px;

		background-position: top left;
		background-size: auto;
		background-repeat: no-repeat;

		&-platinum {
			background-image: url(../img/calendar/platinum.png);
		}
		&-silver {
			background-image: url(../img/calendar/silver.png);
		}
		&-bronze {
			background-image: url(../img/calendar/bronze.png);
		}
		&-poster {
			background-image: url(../img/calendar/poster.png);
		}
		&-non-profit {
      background-image: url(../img/calendar/non-profit.png);
		}
	}

	h4 {
		font-family: 'Roboto', sans-serif;
		font-size: 16px;
		font-weight: bold;
		line-height: 1;
		color: #250f47;
		margin-bottom: 20px;
		@include small-down {
			text-align: center;
		}
	}
	li {
		font-family: 'Roboto', sans-serif;
		font-size: 14px;
		font-weight: normal;
		line-height: 1;
		color: #250f47;
		margin-bottom: 15px;
	}
	@include small-down {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		ul{
			min-width: 100%;
			li{text-align: center;}
		}
	}
}

.collapse {
	border-radius: 0 0 4px 4px;
	background-color: #f6f6f6;
	padding: 20px 22px;
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	font-weight: 500;
	line-height: normal;
	color: #000000;
	position: relative;
	cursor: pointer;
	img {
		position: absolute;
		background-position: center;
		top: calc(50% - 6px);
		bottom: 0;
		right: 20px;
		width: 13px;
		height: auto;
		z-index: 10;
		transform: rotate(-90deg);
	}
}

.reg-none {
	display: block;
}

.reg-success {
	display: none;
}

.reg-error {
	display: none;
}

.meeting__success {
	display: none;
}

.meeting__error {
	display: none;
}
.meeting-popup-status {
	.message-form {
		display: none;
	}
	.reg-none {
		display: none;
	}
	.reg-success {
		display: block;
	}
	.reg-error {
		display: none;
	}

	.meeting__success {
		display: block;
		left: 0;
		right: 0;
		margin: 0 auto;
		.success-hex {
			content: '';
			position: absolute;
			background-size: contain;
			background-position: center;
			background-repeat: no-repeat;
			z-index: 0;
			&-1 {
				background-image: url(../img/hexagons/hex-gray.svg);
				width: 22px;
				height: 25px;
				left: 30px;
				top: 80px;
				opacity: 0.5;
			}
			&-2 {
				background-image: url(../img/hexagons/hex-gray.svg);
				width: 35px;
				height: 39px;
				opacity: 0.5;
				left: 20px;
				top: 180px;
			}
			&-3 {
				background-image: url(../img/hexagons/hex-main.svg);
				width: 37px;
				height: 43px;
				left: 100px;
				bottom: 40px;
			}
			&-4 {
				background-image: url(../img/hexagons/hex-main.svg);
				width: 33px;
				height: 37px;
				right: 50px;
				top: 140px;
			}
			&-5 {
				background-image: url(../img/hexagons/hex-main-border.svg);
				width: 19px;
				height: 21px;
				right: 5px;
				bottom: 130px;
			}
		}
		.success-img {
			content: '';
			width: 94px;
			height: 76px;
			margin: 0 auto;
			margin-top: 50px;
			margin-bottom: 20px;
			background-image: url(../img/calendar/reg-success.png);
			background-size: contain;
			background-position: center;
			background-repeat: no-repeat;
		}
		p {
			width: 90%;
			margin: 0 auto;
			font-family: 'Roboto', sans-serif;
			font-size: 12px;
			font-weight: normal;
			font-style: normal;
			font-stretch: normal;
			line-height: normal;
			letter-spacing: normal;
			text-align: center;
			color: #6c6c6c;
		}
	}
	.meeting__error {
		display: none;
		left: 0;
		right: 0;
		margin: 0 auto;
		.error-hex {
			content: '';
			position: absolute;
			background-size: contain;
			background-position: center;
			background-repeat: no-repeat;
			z-index: 0;
			&-1 {
				background-image: url(../img/hexagons/hex-gray.svg);
				width: 22px;
				height: 25px;
				left: 30px;
				top: 80px;
				opacity: 0.5;
			}
			&-2 {
				background-image: url(../img/hexagons/hex-gray.svg);
				width: 35px;
				height: 39px;
				opacity: 0.5;
				left: 20px;
				top: 180px;
			}
			&-3 {
				background-image: url(../img/hexagons/hex-main.svg);
				width: 37px;
				height: 43px;
				left: 100px;
				bottom: 40px;
			}
			&-4 {
				background-image: url(../img/hexagons/hex-main.svg);
				width: 33px;
				height: 37px;
				right: 50px;
				top: 140px;
			}
			&-5 {
				background-image: url(../img/hexagons/hex-main-border.svg);
				width: 19px;
				height: 21px;
				right: 5px;
				bottom: 130px;
			}
		}
		.error-img {
			content: '';
			width: 94px;
			height: 76px;
			margin: 0 auto;
			margin-top: 50px;
			margin-bottom: 20px;
			background-image: url(../img/icons/error.svg);
			background-size: contain;
			background-position: center;
			background-repeat: no-repeat;
		}
		p {
			width: 90%;
			margin: 0 auto;
			font-family: 'Roboto', sans-serif;
			font-size: 12px;
			font-weight: normal;
			font-style: normal;
			font-stretch: normal;
			line-height: normal;
			letter-spacing: normal;
			text-align: center;
			color: #d82256;
		}
	}
}

.meeting-popup-status.success {
	.message-form {
		display: none;
	}
	.reg-none {
		display: none;
	}
	.reg-success {
		display: block;
	}
	.reg-error {
		display: none;
	}
	.meeting__error {
		display: none;
	}
}

.meeting-popup-status.error {
	.message-form {
		display: none;
	}
	.reg-none {
		display: none;
	}
	.reg-success {
		display: none;
	}
	.reg-error {
		display: block;
	}
	.meeting__success {
		display: none;
	}
	.meeting__error {
		display: block;
	}
}
.sheet-section{
	@include xsmall-down{
		overflow: hidden;
	}
}
.float-event{
	position: fixed;
	top: 122px;
	z-index: 100;
	display: none;
	opacity: 1;
	border-radius: 6px;
	box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.36);
	&__wrap{
		box-shadow: 0px -29px 31px 12px rgba(255,255,255,0.9);
		width: 100%;
    	height: 100%;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		border-radius: 6px;
		position: relative;
		background-color: #fff;
		z-index: 10;
	}
	&__overlay{
		position: absolute;
		content: '';
		width: 100%;
		height: 100%;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		border-radius: 6px;
		background-image: linear-gradient(to bottom, rgba(26, 0, 38, 0.7), rgba(0, 0, 0, 0.4));
		z-index: 0;
	}
	&__content{}
	&__title{
		color: $white;
		font-family: 'PTSans', sans-serif;
		font-size: 20px;
		font-weight: 700;
		padding: 20px;
		padding-bottom: 12px;
		position: relative;
		z-index: 10;
	}
	&__link{
		cursor: pointer;
		display: block;
		position: relative;
		width: 100%;
		background-color: #d82256;
		color: #ffffff;
		font-family: 'Roboto', sans-serif;
		font-size: 15px;
		font-weight: 500;
		padding: 20px 20px;
		border-radius: 0px 0px 6px 6px;
		&:after {
			position: absolute;
			top: calc(50% - 10px);
			transform: rotate(90deg);
			right: 20px;
			content: url(../img/icons/arrow-right.svg);
		}
	}
	@include medium-down{
		display: none !important;
	}
}

.sticky-event{
 opacity: 0;
 transition: opacity 0.3s ease;
}

span.timezone {
  display:contents;
}
