.clinical-header {
	position: relative;
	.pages-header {
		background-image: url('../img/clinical-trials/clinical_trial_0.jpg');
		background-position: bottom 80px center;
		@include medium-down {
			background-position: bottom 50px center;
		}
		@include small-down {
			background-position: bottom 0px center;
		}
		@include xsmall-down {
			background-image: url('../img/clinical-trials/clinical_trial_0-m.jpg');
		}
	}
}

.clinical-lable {
	display: flex;
	align-items: center;
	padding: 50px 66px;
	border-radius: 6px;
	background-color: #f6f6f6;
	min-height: 105px;
	position: relative;
	margin-bottom: 60px;
	&:before {
		position: absolute;
		content: '';
		width: 94px;
		height: 100%;
		top: 0;
		left: 0;
		background-image: url(../img/clinical-trials/hexset-left-bott.png);
		background-size: contain;
		background-position: bottom left;
		background-repeat: no-repeat;
	}
	&:after {
		position: absolute;
		content: '';
		width: 62px;
		height: 100%;
		top: 0;
		right: 0;
		background-image: url(../img/clinical-trials/hexset-right-top.png);
		background-size: contain;
		background-position: top right;
		background-repeat: no-repeat;
	}

	p {
		font-family: 'Roboto', sans-serif;
		font-size: 20px;
		font-weight: 500;
		line-height: 1.29;
		text-align: center;
		color: #250f47;
	}
}

.clinical-list {
	margin-top: 40px;
}

.clinical-item {
	display: flex;
	padding: 20px;
	padding-bottom: 0;
	margin-left: -20px;
	margin-right: -20px;
	margin-bottom: 30px;
	border-radius: 6px;
	position: relative;
	&:first-child{
		background-color: rgba(103, 49, 147, 0.08);
		margin-bottom: 60px;
		&:after{
			content: '';
			position: absolute;
			bottom: -30px;
			left: 20px;
			width: 88%;
			height: 1px;
			max-width: 690px;
			background-color: #edecec;
			margin: 0 auto;
		}
	}
	&--accent{
		
	}
	&:last-child {
		margin-bottom: 0;
		.clinical-item__info-underline{
			border-bottom: none;
		}
	}
	&__photo {
		margin-right: 17px;
		position: relative;
	}
	&__photo-img {
		width: 91px;
		height: auto;
		border-radius: 50%;
		position: relative;
		z-index: 10;
	}
	&__hex {
		width: 45px;
		height: auto;
		position: absolute;
		z-index: 1;
		top: -5px;
		left: -10px;
	}
	&__hex2 {
		width: 35px;
		height: auto;
		position: absolute;
		z-index: 1;
		bottom: 0px;
		right: -5px;
		opacity: 0.5;
	}
	&__info {
		width: 100%;
		max-width: 690px;
		padding-bottom: 30px;
		&-underline {
			border-bottom: 1px #edecec solid;
		}

	}
	&__data {
		width: 100%;
		margin-bottom: 13px;
	}
	&__subtitle {
		font-family: 'Roboto', sans-serif;
		font-size: 13px;
		font-weight: 500;
		font-style: normal;
		font-stretch: normal;
		line-height: 1.15;
		letter-spacing: normal;
		color: #7e7e7e;
		margin-bottom: 5px;
	}
	&__title {
		font-family: 'Roboto', sans-serif;
		font-size: 18px;
		font-weight: bold;
		line-height: 1.33;
		text-align: left;
		color: #401557;
		margin-bottom: 10px;
	}
	&__dagree {
		font-size: 16px;
		font-weight: normal;
		line-height: 1.5;
		text-align: left;
		color: #250f47;
	}
	&__description {
		font-family: 'Roboto', sans-serif;
		font-size: 16px;
		font-weight: normal;
		line-height: 1.5;
		color: #250f47;
		margin-bottom: 10px;
		max-width: 582px;
	}
	&__contact {
		display: block;
		position: relative;
		font-size: 14px;
		font-weight: bold;
		line-height: 1.2;
		text-align: left;
		color: #da285b;
		padding-left: 25px;
		&:hover {
			color: $btn-hover-red;
			transition: all 0.3s ease;
			text-decoration: underline;
		}
		&:focus,
		&:active {
			color: $btn-active-red;
			transition: all 0.3s ease;
			text-decoration: underline;
		}
		&:before {
			content: url(../img/icons/envelope-red.svg);
			position: absolute;
			left: 0;
			top: 0;
		}
	}
}

.clinicals-hexset {
	.clinicals-bott-hex {
		position: absolute;
		bottom: 60px;
		right: 0;
		left: auto;
	}
}