.co-chairs-page {
	.sheet-text-wrap {
		h1 {
			font-size: 25px;
		}
		h2 {
			font-size: 25px;
		}
	} 
}

.hpad-team {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	&__item {
		width: 50%;
		min-width: 280px;

		@include small-down {
			width: 100%;
		}
	}
	&__wrap {
		margin-right: 30px;
		border-bottom: 1px #e5e5e5 solid;
		padding-bottom: 30px;
		margin-bottom: 30px;
	}
	&__name {
		font-family: 'Roboto', sans-serif;
		font-size: 16px;
		font-weight: bold;
		line-height: 1.33;
		letter-spacing: normal;
		color: $chris;
		margin-bottom: 5px;
	}
	&__title {
		font-family: 'Roboto', sans-serif;
		font-size: 18px;
		font-weight: bold;
		line-height: 1.33;
		text-align: left;
		color: #401557;
		margin-bottom: 10px;
		margin-bottom: 25px;
	}
	&__link {
		position: relative;
		font-size: 14px;
		font-weight: bold;
		line-height: 1.2;
		text-align: left;
		color: #da285b;
	}
}