/*====== BUTTONS ======*/

.btn {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 9px 18px;
	line-height: 1em;
	border-radius: 4px;
	border: none;
	cursor: pointer;
	&:hover,
	&:focus,
	&:active {
		outline: none;
	}
	&-centered {
		@include small-down {
			margin-right: auto !important;
			margin-left: auto !important;
		}
	}

	&__text {
		width: 100%;
		max-width: 160px;
		text-align: center;
		font-weight: 400;
		font-size: 16px;
		text-decoration: none;
	}

	/* nav-buttons */
	&__nav {
		display: inline-block;
		vertical-align: bottom;
		min-width: 83px;
		font-size: 14px;
		padding: 9px 18px;

		&-transparent {
			width: 83px;
			background-color: rgba($white, 0);
			border: solid 1px $menu-btn-border;
			color: $transparent-btn;
			font-weight: 500;
			margin-right: 10px;
			transition: color 0.3s ease;
			&:hover {
				background-color: rgba($white, 1);
				color: $background-main;
				transition: color 0.3s ease;
			}
		} //transparent-btn
		&-white {
			border: solid 1px $white-btn-text;
			background-color: $white-btn;
			color: $white-btn-text;
			font-weight: 500;
			width: 159px;
			transition: color 0.3s ease;
			&:hover {
				background-color: rgba($btn-hover-red, 1);
				color: $white;
				transition: color 0.3s ease;
			}
			&:focus,
			&:active {
				background-color: rgba($btn-active-red, 1);
				color: $white;
				transition: color 0.3s ease;
			}
		} //white-btn
	} //nav buttons
	/* btn-main */
	&__main {
		background-color: $main-btn;
		color: $main-btn-text;
		padding: 19px 10px 18px 10px;
		width: 100%;
		font-size: 16px;
		transition: all 0.3s ease;
		&:hover {
			background-color: rgba($main-btn-hover, 1);
			color: $white;
			transition: background-color 0.3s ease;
		}
		&:focus,
		&:active {
			background-color: rgba($main-btn-active, 1);
			color: $white;
			transition: background-color 0.3s ease;
		}

		&-on_dark {
			&:hover {
				background-color: rgba(#d82256, 1);
				color: $white;
				transition: background-color 0.3s ease;
			}
			&:focus,
			&:active {
				background-color: rgba(#c01848, 1);
				color: $white;
				transition: background-color 0.3s ease;
			}
		}

		&-headline {
			max-width: 246px;
			font-size: 16px;
			&:before {
				content: url(../img/home/main-btn-icon.svg);
				display: block;
				position: relative;
				left: 30px;
				width: 16px;
				height: auto;
			}
			@include small-down {
				display: flex;
				max-width: 280px;
			}	
      .btn__text{
        font-size: 18px;
      }

		} //btn-main-headline
		/* btn-mission */
		&-mission {
			max-width: 211px;
			margin: 0 auto;
		} //btn-mission
		//submit-btn
		&-submit {
			max-width: 190px;
			border: none;
			margin-top: 28px;
			cursor: pointer;

			@include medium-down {
				margin-left: auto;
				margin-right: 0;
			}
			@include small-down {
				max-width: 96%;
				max-width: 211px;
				margin-right: auto;
				margin-left: auto;
			}
		} //submit-btn
		&-previous {
			max-width: 372px;
			margin: 0 auto;
			margin-bottom: 20px;
			padding-left: 40px;
			padding-right: 40px;
			text-align: center;
			line-height: 1.2;
			&:after {
				content: url(../img/icons/right-arrow.svg);
				position: absolute;
				width: 20px;
				right: 20px;
				top: calc(50% - 6px);
				z-index: 3;
			}
			@include medium-down {
				max-width: 268px;
				font-size: 16px;
				&:after {
					right: 15px;
				}
			}
		}

	} //btn-main
	/* btn-register */
	&__register {
		border-radius: 4px;
		background-color: #7483d2;
		font-family: 'PTSans', sans-serif;
		font-size: 16px;
		font-weight: bold;
		line-height: normal;
		border: none;
		color: $white;
	} //btn-register
  &__inline {
    text-align: center;
    display: inline-block;
    margin-right: 12px;
  }
	&__next-arrow {
		position: absolute;
		right: 21px;
		width: 19px;
		height: auto;
	}
}


/*====== Hexagon =======*/

/* Hexagon */

.value__hexagon {
	position: relative;
	width: 162px;
	height: 93.53px;
	background-color: rgba($vivid-violet, 0);
	transition: all 0.2s ease;
	margin: 46.77px auto;
	z-index: 1;
	cursor: pointer;

}

.value__hexagon:before,
.value__hexagon:after {
	content: "";
	position: absolute;
	width: 0;
	border-left: 81px solid transparent;
	border-right: 81px solid transparent;
	z-index: 1;
}

.value__hexagon:before {
	bottom: 100%;
	border-bottom: 46.77px solid rgba($vivid-violet, 0);
	transition: all 0.2s ease;
}

.value__hexagon:after {
	top: 100%;
	width: 0;
	border-top: 46.77px solid rgba($vivid-violet, 0);
	transition: all 0.2s ease;
}

//hover
.value__hexagon {
	&:hover, &:focus, &:active {
		background-color: rgba($vivid-violet, 1);
		transition: all 0.2s ease;
		&:before {
			border-bottom: 46.77px solid rgba($vivid-violet, 1);
			transition: all 0.2s ease;
		}
		&:after {
			border-top: 46.77px solid rgba($vivid-violet, 1);
			transition: all 0.2s ease;
		}
		.value__img {
			g {
				fill: $white;
			}
		}
	}
}

@include medium-down {

	/* Hexagon */
	.value__hexagon {
		position: relative;
		width: 109px;
		height: 62.93px;
		background-color: rgba($vivid-violet, 0);
		transition: all 0.2s ease;
		margin: 31.47px auto;
		z-index: 1;
		cursor: pointer;

	}
	.value__hexagon:before,
	.value__hexagon:after {
		content: "";
		position: absolute;
		width: 0;
		border-left: 54.5px solid transparent;
		border-right: 54.5px solid transparent;
		z-index: 1;
	}
	.value__hexagon:before {
		bottom: 100%;
		border-bottom: 31.47px solid rgba($vivid-violet, 0);
		transition: all 0.2s ease;
	}
	.value__hexagon:after {
		top: 100%;
		width: 0;
		border-top: 31.47px solid rgba($vivid-violet, 0);
		transition: all 0.2s ease;
	} //hover
	.value__hexagon {
		&:hover {
			background-color: rgba($vivid-violet, 1);
			transition: all 0.2s ease;
			&:before {
				border-bottom: 31.47px solid rgba($vivid-violet, 1);
				transition: all 0.2s ease;
			}
			&:after {
				border-top: 31.47px solid rgba($vivid-violet, 1);
				transition: all 0.2s ease;
			}
			.value__img {
				g {
					fill: $white;
				}
			}
		}
	}

}

@include small-down {

	/* Hexagon */
	.value__hexagon {
		position: relative;
		width: 126px;
		height: 72.75px;
		background-color: rgba($vivid-violet, 0);
		transition: all 0.2s ease;
		margin: 36.37px auto;
		z-index: 1;
		cursor: pointer;

	}
	.value__hexagon:before,
	.value__hexagon:after {
		content: "";
		position: absolute;
		width: 0;
		border-left: 63px solid transparent;
		border-right: 63px solid transparent;
		z-index: 1;
	}
	.value__hexagon:before {
		bottom: 100%;
		border-bottom: 36.37px solid rgba($vivid-violet, 0);
		transition: all 0.2s ease;
	}
	.value__hexagon:after {
		top: 100%;
		width: 0;
		border-top: 36.37px solid rgba($vivid-violet, 0);
		transition: all 0.2s ease;
	} //hover
	.value__hexagon {
		&:hover {
			background-color: rgba($vivid-violet, 1);
			transition: all 0.2s ease;
			&:before {
				border-bottom: 36.37px solid rgba($vivid-violet, 1);
				transition: all 0.2s ease;
			}
			&:after {
				border-top: 36.37px solid rgba($vivid-violet, 1);
				transition: all 0.2s ease;
			}
			.value__img {
				g {
					fill: $white;
				}
			}
		}
	}

}

//hexagon end
/* Responsive video container*/

.flexible-container {
	width: 100%;
	position: relative;
	padding-bottom: 52%;
	padding-top: 30px;
	height: 0;
	overflow: auto;
	-webkit-overflow-scrolling:touch;
	iframe,
	object,
	video,
	embed {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	iframe{
		 width: 1px;
     min-width: 100%;
     *width: 100%;
	}
}
