.contact-text-wrap {
	margin-bottom: 0;
}

.contact-links-wrap {
	display: flex;
	justify-content: space-between;

	@include xsmall-down {
		flex-direction: column;
		align-items: center;
	}
}

.contact-social {
	width: 50%;
	margin-right: 50px;
	@include xsmall-down {
		margin-right: 0;
		width: 100%;
		max-width: 350px;
		text-align: center;
	}
}

.contact-leaders-wrap {
	position: relative;
	width: 50%;

	@include xsmall-down {
		margin-top: 60px;
		width: 100%;
	}
}

.social-list {
	li {
		margin-top: 15px;
		display: inline-block;
		margin-right: 25px;

		&:last-child{
			margin-right: 0
		}
	}
	&__link {
		width: 24px;
		height: 24px;
		margin-right: 10px;
	}
	a {
		display: flex;
		font-family: 'Roboto', sans-serif;
		font-size: 14px;
		font-weight: bold;
		line-height: 1.71;
		color: #250f47;
		&:hover {
			text-decoration: underline;
		}
	}
	@include medium2-down {
		li{
			margin-right: 0
		}
	}

	@include xsmall-down {
		li {
			display: inline-block;
		}
		&__link {
			width: 20px;
			height: 20px;
			margin-right: 7px;
		}
	}
}

.contact-leaders {
	position: relative;
	max-width: 217px;
	margin: 0 auto;
	z-index: 10;
	h4 {
		margin-bottom: 10px;
		color: #fff;
		font-family: 'PTSans', sans-serif;
	}
	p {
		color: #fff;
	}
	&__btn {
		display: block;
		position: relative;
		font-family: 'Roboto', sans-serif;
		font-size: 14px;
		font-weight: 500;
		line-height: 1.86;
		color: #d82256;
		margin-top: 15px;
		img {
			position: relative;
			width: 14px;
			height: auto;
			margin-bottom: -3px;
			margin-left: 5px;
		}
		&:hover {
			text-decoration: underline;
		}
	}
	@include small-down {
		margin-right: 0;
		margin-left: auto;
	}
	@include xsmall-down {
		width: 100%;
		max-width: 350px;
		margin: 0 auto;
		text-align: center;
		h4 {
			color: #250f47;
			font-size: 20px;
			font-weight: bold;
			line-height: 1.5;
		}
		p {
			color: #250f47;
		}
		&__btn {
			font-weight: bold;
			font-size: 16px;
		}
	}
}

.leaders-bg {
	position: absolute;
	z-index: 1;
	&-top {
		right: -80px;
		bottom: -60px;
	}
	&-mid {
		bottom: 40px;
		right: -110px;
	}
	&-bott {
		right: -85px;
		bottom: -55px;
	}

	@include medium-down {
		&-top {
			right: auto;
			left: -60px;
		}
		&-mid {
			display: none;
		}
		&-bott {
			right: auto;
			left: -60px;
		}
	}
	@include xsmall-down {
		display: none;
	}
}

.contacts {
	.contacts-support{
		background: #FAFAFA;
		padding: 25px 30px 30px 30px;
		border: 1px solid #979797;
		border-radius: 5px;
	
		h3{
			font-weight: bold;
			font-size: 25px;
			color: #828182;
			margin-bottom: 28px
		}
	}

	.data-email{
		margin-top: 10px;
		margin-bottom: 25px;
		align-items: center;
	}
	.message-form .btn{
		margin-left: inherit
	}

	.contacts-data{
		max-width: inherit;
	}
	.contacts-form-side{
		margin-right: 0;
		width: 41%;
	}

	div.wpcf7-mail-sent-ok{
		border: none;
		color: grey;
		font-size: 80%;
	}

	@include medium2-down {
		display: block;

		.contacts-form-side{
			width: 100%;
		}

		.contacts-data{
			width: 100%;
			margin-top: 40px;
		}

		.contacts-support{
			padding-bottom: 60px
		}
	}
}