.covid{
	padding-left: 0;
	padding-right: 0;
	padding-top: 100px;
	display: block;
	z-index: 20;
	@include small-down {
		padding-top: 50px;
	}
	&.pages-headline{
		padding-top: 230px;
		@include xlarge-down {
			width: 100%;
			max-width: 100%;
			padding-left: 60px;
			padding-right: 60px;
		}
		@include small-down {
			padding-left: 20px;
			padding-right: 20px;
			padding-top: 190px;
		}
	}
	&.sheet-section{
		padding-bottom: 100px;
	}
	.sheet-container{
		@include xlarge-down {
			width: 100%;
			max-width: 100%;
			padding-left: 60px;
			padding-right: 60px;
		}
		@include small-down {
			padding-left: 20px;
			padding-right: 20px;
		}
	}
	.pages-headline__title{
		color: #ec8427;
		font-size: 52px;
		max-width: 750px;
		@include large-down {
			max-width: 600px;
		}
		@include small-down {
			font-size: 36px;
			max-width: 280px;
		}
	}
	.page-subtitle{
		font-family: 'Roboto', sans-serif;
		font-size: 24px;
		font-weight: 300;
		font-stretch: normal;
		font-style: normal;
		line-height: normal; 
		letter-spacing: normal;
		color: #000000;
		margin-top: 28px;
		@include small-down {
			font-size: 20px;
		}
		@include small-down {
			max-width: 350px;
			br{
				display: none;
			}
		}
	}
	.section_block{
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		width: 100%;
		padding-top: 45px;
		padding-bottom: 45px;
		position: relative;
		&--reversed{
			.section_block-col-1{
				order: 2;
				@include small-down {
					order: 1;
				}
			}
			.section_block-col-2{
				order: 1;
				@include small-down {
					order: 2;
				}
			}
			.section_block-img{
				@include xlarge-down {
					margin-right: auto;
					margin-left: 0;
				}
			}
		}
		@include small-down {
			padding-top: 30px;
			padding-bottom: 30px;
		}
	}
	.section_block-col-1{
		width: calc(100% - 345px);
		@include xlarge-down {
			width: calc(100% - 160px);
		}
		@include small-down {
			width: 100%;
		}
	}
	.section_block-col-2{
		width: 345px;
		@include xlarge-down {
			width: 160px;
		}
		@include small-down {
			width: 0;
		}
	}
	.section_block-img{
		width: 200px;
		height: auto;
		margin: 0 auto;
		display: block;
		@include xlarge-down {
			width: 130px;
			margin-right: 0;
			margin-left: auto;
		}
		@include small-down {
			position: absolute;
			top: 45px;
			right: 0;
			width: auto;
			height: 90px;
		}
	}
	.section_title{
		font-family: 'Roboto', sans-serif;
		font-size: 32px;
		font-weight: 500;
		font-stretch: normal;
		font-style: normal;
		line-height: 1.25;
		letter-spacing: normal;
		color: #000000;
		margin-bottom: 32px;
		@include small-down {
			width: calc(100% - 100px);
			font-size: 24px;
			min-height: 100px;
		}
	}
	.list{
		width: 100%;
	}
	.list_item{
		font-family: 'Roboto', sans-serif;
		font-size: 20px;
		font-weight: normal;
		font-stretch: normal;
		font-style: normal;
		line-height: 1.2;
		letter-spacing: normal;
		color: #000000;
		position: relative;
		padding-left: 20px;
		margin-bottom: 16px;
		&:before{
			content: '';
			width: 8px;
			height: 8px;
			border-radius: 50%;
			display: block;
			background-color: #ec8427;
			position: absolute;
			left: 0;
			top: 8px;
		}
		&--sub{
			margin-left: 30px;
			&:before{
				background-color: #fff;
				border: solid 2px  #ec8427;
				width: 10px;
				height: 10px;
			}
		}
		@include small-down {
			font-size: 16px;
		}
	}
	.download{
		width: 100%;
		position: relative;
		margin-top: 24px;
		&:after{
			content: '';
			width: calc(100% - 130px);
			height: 1px;
			background-color: #000;
			display: block;
			position: absolute;
			top: 11px;
			right: 0;
			@include small-down {
				width: calc(100% - 100px);
				top: 9px;
			}
		}
		&:hover{
			.download_download{
				color: #ec0053;
				transition: color 0.3s;
			}
		}
	}
	.download_title{
		font-family: 'Roboto', sans-serif;
		font-size: 18px;
		font-weight: 500;
		font-stretch: normal;
		font-style: normal;
		line-height: normal;
		letter-spacing: normal;
		color: #000000;
		@include small-down {
			font-size: 14px;
		}
	}
	.download_col{
		margin-left: 25px;
		width: calc(100% - 25px);
		display: flex;
		flex-direction: row;
		padding-top: 5px;
		padding-bottom: 5px;
		margin-top: 15px;
		text-decoration: none;
		@include small-down {
			margin-left: 0;
			width: 100%;
		}
	}
	.download_col-1{
		width: calc(100% - 150px);
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		@include small-down {
			width: calc(100% - 100px);
		}
	}
	.download_col-2{
		width: 150px;
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		@include small-down {
			width: 100px;
		}
	}
	.download_img{
		width: 29px;
		height: 24px;
		margin-right: 10px;
	}
	.download_name{
		font-family: 'Roboto', sans-serif;
		font-size: 16px;
		font-weight: normal;
		font-stretch: normal;
		font-style: normal;
		line-height: normal;
		letter-spacing: normal;
		color: #000000;
		@include small-down {
			font-size: 12px;
		}
	}
	.download_download{
		font-family: 'Roboto', sans-serif;
		font-size: 16px;
		font-weight: 500;
		font-stretch: normal;
		font-style: normal;
		line-height: normal;
		letter-spacing: normal;
		color: #5f378b;
		transition: color 0.3s;
		@include small-down {
			font-size: 12px;
		}
	}
	.download_icon{
		width: 20px;
		height: 20px;
		margin-left: 10px;
		@include small-down {
			width: 16px;
			height: 16px;
		}
	}
	.text{
		font-family: 'Roboto', sans-serif;
		font-size: 20px;
		font-weight: normal;
		font-stretch: normal;
		font-style: normal;
		line-height: 1.2;
		letter-spacing: normal;
		color: #000000;
		margin-bottom: 16px;
		b{
			font-weight: bold;
		}
		@include small-down {
			font-size: 16px;
		}
	}
	a{
		font-size: inherit;
		color: #5f378b;
		text-decoration: underline;
		transition: color 0.3s;
		font-family: inherit;
		font-weight: bold;
		&:hover{
			color: #ec0053;
			transition: color 0.3s;
		}
	}
	i{
		font-style: italic !important;
	}
	.quote{
		font-family: 'Roboto', sans-serif;
		font-size: 20px;
		font-weight: normal;
		font-stretch: normal;
		font-style: italic;
		line-height: 1.2;
		letter-spacing: normal;
		color: #000000;
		padding-left: 20px;
		&_autor{
			text-align: right;
			margin-bottom: 10px;
			margin-top: 5px;
		}
		@include small-down {
			font-size: 16px;
		}
	}
	.icon-link{
		font-family: 'Roboto', sans-serif;
		font-size: 20px;
		font-weight: bold;
		font-stretch: normal;
		font-style: normal;
		line-height: 1.6;
		letter-spacing: normal;
		margin-bottom: 16px;
		color: #5f378b;
		position: relative;
		width: 100%;
		padding-left: 40px;
		display: block;
		margin-bottom: 15px;
		&::before{
			content: '';
			display: block;
			position: absolute;
			width: 25px;
			height: 25px;
			background-image: url('../img/covid/link.svg');
			background-repeat: no-repeat;
			left: 0;
			top: 0px;
			background-size: contain;
			@include xlarge-down {
				top: 0;
			}
			@include small-down {
				width: 20px;
				height: 20px;
			}
		}
		@include small-down {
			padding-left: 30px;
			font-size: 16px;
		}
		&-text{
			display: inline-block;
			width: 20px;
			padding-left: 5px;
			margin-bottom: 0;
			line-height: 1;
			@include small-down {
				width: 15px;
				height: 15px;
			}
			img{
				width: 20px;
				height: 20px;
				display:  inline-block;
				transform: scale(1);
				transition: transform 0.3s;
				@include small-down {
					width: 15px;
					height: 15px;
				}
			}
			
			&::before{ 
				display: none;
			}
			&:hover{
				img{
					transform: scale(1.1);
					transition: transform 0.3s;
				}
			}
		}
	}
	.section_subtitle{
		font-family: 'Roboto', sans-serif;
		font-size: 24px;
		font-weight: 500;
		font-stretch: normal;
		font-style: normal;
		line-height: 1.2;
		letter-spacing: normal;
		color: #000000;
		margin-top: 24px;
		margin-bottom: 8px;
		@include small-down {
			font-size: 20px;
		}
	}
}
.vectot{
	width: 100%;
	min-height: 95vh;
	display: block;
	z-index: 1;
	position: absolute;
	top: 0px;
	right: 0;
	left: 0;
	overflow: hidden;
	.admin-bar &{
		margin-top: 35px;
	}
}
.vector-1{
	position: absolute;
	width: 284px;
	  height: 295px;
	  top: 220px;
	  left: 75vw;
	  @include large-down {
		left: 87vw;
		top: 160px;
	}
	@include small-down {
		width: 182px;
	  height: 192px;
		left: 80vw;
		top: 230px;
	}
}
.vector-2{
	position: absolute;
	width: 242px;
	height: 252px;
	top: 150px;
	right: calc(75vw + 260px);
	  @include xlarge-down {
		top: -50px;
		right: 88vw;
	}
	@include small-down {
		width: 182px;
	  	height: 192px;
		top: -10px;
		right: 65vw;
	}
}
.vector-3{
	position: absolute;
	top: 120px;
	right: 14vw;
	width: 158px;
	  height: 164px;
	  @include small-down {
		width: 108px;
	  height: 114px;
		right: -4vw;
		top: 170px;
	}
}
.vector-4{
	position: absolute;
	top: 90px;
	right: 2vw;
	width: 102px;
	height: 104px;
	@include small-down {
		right: 35vw;
	}
}
.vector-5{
	position: absolute;
	width: 158px;
	height: 162px;
	left: 2vw;
	top: 420px;
	@include small-down {
		left: 55vw;
		top: 380px;
		width: 108px;
		height: 112px;
	}
}
.nav-item-page-covid19{
	position: relative;
	z-index: 100;
	&:before{
		position: absolute;
		content: '';
		background-image: url('../img/covid/menu-bg.svg');
		display: block;
		width: 155px;
		height: 97px;
		background-position: center center;
		background-size: cover;
		top: -5px;
		left: -25px;
		z-index: -1;
		background-repeat: no-repeat;
		@include xlarge-down {
			width: 90px;
			height: 67px;
			left: -5px;
			top: 5px;
		}
		@include large-down {
			display: none;
		}
	}
}
#sub-navigation-0{
	.sub-navigation__tooltip{
		width: 198px;
		height: 28px;
	}
}
#sub-navigation-1{
	.sub-navigation__tooltip{
		width: 260px;
		height: 28px;
	}
}
#sub-navigation-2{
	.sub-navigation__tooltip{
		width: 235px;
		height: 28px;
	}
}
#sub-navigation-3{
	.sub-navigation__tooltip{
		width: 225px;
		height: 42px;
	}
}
#sub-navigation-4{
	.sub-navigation__tooltip{
		width: 210px;
		height: 28px;
	}
}
#sub-navigation-5{
	.sub-navigation__tooltip{
		width: 260px;
		height: 28px;
	}
}
#sub-navigation-6{
	.sub-navigation__tooltip{
		width: 250px;
		height: 28px;
	}
}
#sub-navigation-7{
	.sub-navigation__tooltip{
		width: 95px;
		height: 14px;
	}
}
.margin-t-35{
	margin-top: 35px;
}
