.direct-message-sheet {
	.sheet {
		padding: 0;
		display: flex;
		max-height: 700px;
	}
}

.messages-area_wrap {
  display: flex;
  width: 100%;
  position: relative;
  @include xsmall-down {
		display: none;
	}
}

.messages-area {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	padding: 30px 50px 45px 36px;
  position: relative;
  transition: opacity 0.2s;
  &--loading {
    opacity: 0;
  }
	@include medium-down {
		padding-right: 15px;
		padding-left: 15px;
	}
}

.chat-fade {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 85px;
	background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 65%, rgba(255, 255, 255, 0.37) 80%, rgba(255, 255, 255, 0) 100%);
	/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	z-index: 100;
}

.message-window {
	position: relative;
	width: 100%;
	height: 410px;
	&__container {
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		overflow: auto;
    height: 400px;
    margin-top: 50px;
    padding-right: 10px;
    display: flex;
    flex-direction: column-reverse;
		/* width */
		&::-webkit-scrollbar {
			width: 5px;
		}

		/* Track */
		&::-webkit-scrollbar-track {
			background: rgba(#c1c1c1, 0);
			border-radius: 10px;
		}

		/* Handle */
		&::-webkit-scrollbar-thumb {
			background: #c1c1c1;
			border-radius: 10px;
		}

		/* Handle on hover */
		&::-webkit-scrollbar-thumb:hover {
			background: #c1c1c1;
		}

	}
	&__header {
		text-align: center;
		position: absolute;
		top: 35px;
		right: 0;
		left: 0;
		z-index: 1;
		z-index: 200;
		&:before {
			content: '';
			top: calc(50% + 2px);
			position: absolute;
			width: 100%;
			left: 0;
			height: 1px;
			opacity: 0.05;
			background-color: #d82256;
		}
	}
	&__user-name {
		font-family: 'Roboto', sans-serif;
		font-size: 10px;
		font-weight: normal;
		line-height: normal;
		letter-spacing: 1px;
		color: #d82256;
		display: inline-block;
		background-color: #fff;
		padding-right: 27px;
		padding-left: 27px;
		width: auto;
		position: relative;
		z-index: 10;
		display: inline-block;
		vertical-align: middle;
	}
}

.type-message {
	display: flex;
	margin-top: 60px;
	max-height: 230px;
	&__autor {
		@include small-down {
			display: none;
		}
	}
	&__avatar {
		width: 40px;
		height: 40px;
	}
	&__input-area {
		position: relative;
		border-radius: 2px;
		background-color: #ffffff;
		box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.1);
		margin-left: 20px;
		padding: 15px;
		width: 100%;
		max-width: 578px;
		input,
		textarea {
			width: 100%;
			min-width: 100%;
			max-width: 100%;
			min-height: 30px;
			border: none;
			padding: 5px 15px;
			border-bottom: 50px #fff solid;
			resize: none;
			font-family: 'Roboto', sans-serif;
			font-size: 14px;
			font-weight: normal;
			line-height: 1.3;
			color: #213747;
			&::placeholder {
				font-family: 'Roboto', sans-serif;
				font-size: 14px;
				font-weight: normal;
				line-height: 1.3;
				color: rgba(#213747, 0.6);

			}
		}
		@include small-down {
			margin-left: 0;
			input,
			textarea {
				height: 60px;
				max-height: 60px;
				min-height: 60px;
				padding: 0;
				border-bottom: none;
			}
		}
	}
}

.chat-avatar {
	width: 40px;
	height: 40px;
	background-color: #ead7c0;
	border-radius: 100%;
	position: relative;
}

.chat-avatar-icon {
	display: none;
	span {
		display: block;
		position: absolute;
		left: 0;
		right: 0;
		text-align: center;
		padding: 12px;
		font-family: 'Roboto', sans-serif;
		font-size: 14px;
		font-weight: 500;
		line-height: normal;
		color: #000000;
	}
	&.no-photo {
		display: block;
	}
}

.new-message__btn{
	position: absolute;
	right: 10px;
	bottom: 10px;
	@include small-down{
		position: relative;
		bottom: 0;
		right: 0;
	}
}

.single-message {
  margin-top: 40px;
  align-self: flex-end;
  flex-shrink: 1;
  flex-grow: 0;

	&__autor {
		display: flex;
		flex-direction: row;
	}
	&__message {
		border-radius: 2px;
		padding: 25px 30px;
		margin-right: 20px;
		@include small-down {
			margin-right: 0;
		}
	}
	&__text {
		font-size: 14px;
		font-family: 'Karla', sans-serif;
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		line-height: 1.2;
		letter-spacing: -0.3px;
		color: #ffffff;
	}
	&__time {
		opacity: 0.5;
		font-family: 'Karla', sans-serif;
		font-size: 12px;
		font-weight: normal;
		line-height: normal;
		color: #ffffff;
	}

	@include small-down {
		&__message {
			padding: 15px 15px;
		}
	}
}


.single-message--odd {
  align-self: flex-start;
	.single-message {
		&__autor {
			flex-direction: row;
		}
		&__message {
			margin-left: 20px;
			background-color: rgba(#858688, 0.1);
		}
		&__text {
			color: #000000;
		}
		&__time {
			opacity: 0.4;
			color: #000000;
		}
		@include small-down {
			&__message {
				margin-left: 10px;
			}
		}
	}
}

.single-message--even {
  margin-left: 60px;
  align-self: flex-end;

	.single-message {
		&__autor {
			flex-direction: row-reverse;
		}
		&__message {
			margin-right: 20px;
			background-color: #250f47;
		}
		@include small-down {
			&__message {
				margin-right: 10px;
			}
		}
	}
	@include small-down {
		margin-left: 0px;
	}
}




.members-area {
	min-width: 280px;
	background-color: #f0f3f8;
	overflow: hidden;
	position: relative;
	&__header {
		background-color: #884fc6;
		padding: 25px 30px 21px 30px;
		position: relative;
	}
	&__header-title {
		font-family: 'Roboto', sans-serif;
		font-size: 15px;
		font-weight: bold;
		line-height: normal;
		text-align: center;
		color: #ffffff;
	}
	&__search {
		width: 100%;
		border: none;
		opacity: 1;
		border-bottom: 1px rgba(#979797, 0.3) solid;
		position: relative;
		background-color: #f9fafc;
		&:after {
			content: '';
			position: absolute;
			top: 0;
			bottom: 0;
			margin-bottom: auto;
			margin-top: auto;
			left: 25px;
			width: 22px;
			height: 22px;
			opacity: 0.3;
			background-image: url(../img/icons/magnifying-glass.svg);
			background-position: center;
			background-size: contain;
			background-repeat: no-repeat
		}
		input {
			width: 100%;
			border: none;
			padding: 20px 20px 20px 60px;
			opacity: 0.9;
			font-family: 'Karla', sans-serif;
			font-size: 14px;
			font-weight: normal;
			line-height: normal;
			background-color: #f9fafc;
			color: #000000;

			&::placeholder {
				opacity: 0.6;
				font-family: 'Karla', sans-serif;
				font-size: 14px;
				font-weight: normal;
				line-height: normal;
				color: #000000;
			}
		}
	}
	&__category {
		font-family: 'Roboto', sans-serif;
		font-size: 12px;
		font-weight: 500;
		font-style: normal;
		font-stretch: normal;
		line-height: normal;
		text-transform: uppercase;
		letter-spacing: 0.3px;
		padding: 12px 20px 10px 23px;
		background-color: #f9fafc;
		color: #989898;
	}

	@include medium-down {
		min-width: 240px;
	}
	@include small-down {
		min-width: 180px;
	}
	@include xsmall-down {
		width: 100%;
		padding-bottom: 0px;
	}
}

.cintacts-wrap {
	overflow: scroll;
	overflow-x: hidden;
	height: 100%;
  max-height: 500px;
	/* width */
	&::-webkit-scrollbar {
		display: none;
	}
	/* Track */
	&::-webkit-scrollbar-track {
		background: rgba(#c1c1c1, 0);
		border-radius: 10px;
	}

	/* Handle */
	&::-webkit-scrollbar-thumb {
		background: #c1c1c1;
		border-radius: 10px;
	}

	/* Handle on hover */
	&::-webkit-scrollbar-thumb:hover {
		background: #c1c1c1;
	}

}

#to-messages {
	display: none;
	content: '';
	position: absolute;
	width: 19px;
	height: 11px;
	padding: 20px;
	background-image: url(../img/icons/arrow-white.svg);
	background-size: 50%;
	background-position: center;
	background-repeat: no-repeat;
	right: 15px;
  top: 15px;
  z-index: 99;
	@include xsmall-down {
		display: block;
	}
}

#to-contacts {
	display: none;
	content: '';
	position: absolute;
	width: 19px;
	height: 11px;
	padding: 20px;
	background-image: url(../img/icons/arrow-dark-left.svg);
	background-size: 50%;
	background-position: center;
	background-repeat: no-repeat;
	left: 20px;
  top: 10px;
  z-index: 199;
	@include xsmall-down {
		display: block;
	}
}
.area-hiden {
  display: none;
  opacity: 0;
}
.area-visible {
  display: block;
  opacity: 1;
}

.resent-contact {
	padding: 30px;
	padding-right: 35px;
	display: flex;
	align-items: center;
	border-bottom: 1px rgba(#000000, 0.05) solid;
	position: relative;
	cursor: pointer;
	&__info {
		padding-left: 20px;
	}
	&__name {
		font-family: 'Roboto', sans-serif;
		font-size: 16px;
		font-weight: normal;
		line-height: 1.5;
		color: #250f47;
	}
	&__degree {
		opacity: 0.4;
		font-family: 'Roboto', sans-serif;
		font-size: 12px;
		font-weight: normal;
		line-height: normal;
		color: #000000;
	}
  &:hover,
  &--active {
		background-color: #fff;
		box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.1);
		transition: all 0.2s ease;
	}
	@include small-down {
		padding: 15px;
		&__info {
			padding-left: 10px;
		}
		&__name {
			font-size: 14px;
			line-height: normal;
		}
	}
}

.contact-online {
	&:after {
		content: '';
		position: absolute;
		width: 8px;
		height: 8px;
		background-color: #3ee220;
		border-radius: 30px;
		right: 20px;
		left: auto;
		top: 0;
		bottom: 0;
		margin-top: auto;
		margin-bottom: auto;

		@include small-down {
			margin-top: 7px;
			right: 7px;
		}
	}
}

.lds-ring {
  display: inline-block;
  width: 31px;
  height: 31px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 0;
  bottom: 0;
  opacity: 0;
  transition: opacity 0.2s;
  z-index: 100;
  &--loading {
    opacity: 1;
  }
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 31px;
  height: 31px;
  margin: 4px;
  border: 4px solid #864FC6;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #864FC6 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
