.user-sheet {
	.sheet {
		font-size: 18px;
	}
}

.member {

	&__edit {
		font-family: 'Roboto', sans-serif;
		font-weight: 400;
		font-size: 18px;
		line-height: 1.44;
		color: #250f47;
		text-decoration: underline;
	}
}

.main-form {
	&--left {
		margin-left: 0;
		margin-right: auto;
  }
  .main-form {
		&__input-wrap {
      font-size: 1px;
      color: rgba(255,255,255,0);
      line-height: 0;
    }
  }
}

.edit-form {
	&.main-form {
		max-width: 440px;
		margin-left: 0;
		margin-right: 0;
		input {
			font-size: 16px;
			color: #250f47;
			font-weight: 500;
			&::placeholder {
				font-size: 16px;
				color: #250f47;
				font-weight: 500;
			}
		}
	}
	.main-form {
		&__input-wrap {
			max-width: 130px;
			margin-left: 0;
		}
		&__radio-wrap {
			width: 100%;
			label {
				margin-left: 0 !important;
			}
		}
		&__multiple-input {
			width: 100%;
			margin-left: 0;
			max-width: 100%;
		}
		&__input-title {
			margin-left: 0;
		}

		@include small-down {
			&__row {
				flex-direction: row;
				justify-content: flex-start;
			}
			&__input-wrap {
				max-width: 100%;
				margin-right: 15px;
			}
			&__radio-wrap {
				margin-left: 0;
				margin-right: auto;
				margin-top: 30px;
			}
			&__multiple-input {
				margin-right: 0;
				flex-wrap: wrap;
				.main-form__input-wrap {
					margin-right: 0;
					margin-bottom: 30px;
				}
			}
		}
	}
}

.edit-interests {
	.user-info {
		&__tag {
			position: relative;
			&:after {
				content: '';
				position: absolute;
				width: 14px;
				height: 14px;
				top: -5px;
				right: -5px;
				background-color: #fff;
				border-radius: 100%;
				background-image: url('../img/icons/cancel-music.svg');
				background-position: center;
				background-size: 6px;
				background-repeat: no-repeat;
			}

			&-add {
				font-size: 15px;
				font-weight: bold;
				color: #fff;
				background-color: #884fc6;
				&:after {
					display: none;
				}
			}
		}

		@include small-down {
			margin-top: 30px;
		}
	}
}


.edit-photo {
	position: relative;
	width: 91px;
	height: 91px;
	&:before {
		content: '';
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
		position: absolute;
		border-radius: 100%;
		background-color: rgba(#000, 0.6);
		background-image: url(../img/icons/photo-camera.svg);
		background-position: center;
		background-size: 36px;
		background-repeat: no-repeat;
		z-index: 20;
	}
}
