.education-header {
	position: relative;
	.pages-header {
		background-image: url('../img/education/education_bg.jpg');
		@include xsmall-down {
			background-image: url('../img/education/education_bg-m.jpg');
		}
	}
}

.banner {
	background-color: #673193;
	background-image: url('../img/education/education_banner.jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	border-radius: 6px;
	position: relative;
	padding: 22px;
	margin-top: 15px;
	margin-bottom: 80px;
	&__overlay {
		border-radius: 6px;
		content: '';
		position: absolute;
		bottom: 0;
		top: 0;
		right: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(26, 8, 53, 0.8);
		z-index: 1;
	}
	&__title {
		font-family: 'PTSans', sans-serif;
		font-size: 20px;
		font-weight: bold;
		line-height: 1;
		color: #ffffff;
	}
	&__head {
		display: flex;
		align-items: center;
		position: relative;
		justify-content: center;
		margin-bottom: 18px;
		z-index: 10;
	}
	&__logo {
		width: 161px;
		height: auto;
		margin-left: 15px;
	}
	&__text {
		font-family: 'PTSans', sans-serif;
		font-size: 30px;
		font-weight: bold;
		line-height: 1;
		text-align: center;
		color: #ffffff;
		position: relative;
		margin-bottom: 5px;
		z-index: 10;
	}
	&__small-text {
		font-family: 'PTSans', sans-serif;
		font-size: 14px;
		font-weight: normal;
		line-height: 1.71;
		text-align: center;
		color: #ffffff;
		position: relative;
		z-index: 10;
	}

	@include small-down {
		&__title {
			font-size: 18px;
			margin-top: 7px;
		}
		&__logo {
			width: 121px;
		}
		&__text {
			font-size: 20px;
		}
	}
}

.educational-tools-wrap {
	justify-content: center;
	display: flex;
	@include medium-down {
		flex-direction: column;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
  }
  &.wide-wrap{
    display: block;
    .educational-tools{
      width: 100%;
      height: auto;
      img{
        width: 100%;
        height: auto;
      }
    }
  }
}

.arthritis-tool{
  img{
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    margin-top: 0;
    margin-bottom: 50px;
  }
}

.educational-tools {
	width: 50%;
	min-width: 320px;
	&__title{
		font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #401557;
    margin-bottom: 15px;
	}
	&__small-title{
		font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #401557;
    margin-bottom: 15px;
		text-align: center;
	}
	&:nth-child(odd) {
		margin-right: 30px;
	}
	margin-bottom: 30px;

	.additional-tool{
		display: block;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: top center;
		height: 251px;
		width: 100%;
		&--right{
			background-image: url('../img/education/webp-to.jpg');
		}
		&--left{
			background-image: url('../img/education/webp-to-2.jpg');
		}
	}
	@include medium-down {
		&:nth-child(odd) {
			margin-right: 0px;
		}
	}
	@include xsmall-down {
		width: 100%;
		min-width: 200px;
  }
}

.additional-tool-title{
	margin-bottom: 30px;
	margin-top: 60px;
	h1,h2,h3{
		text-align: center;
	}
}

.e-tool {
	padding: 30px;
	position: relative;
	background-color: #f6f6f6;
	border-radius: 6px;
	width: 100%;
	max-width: 384px;
	background-repeat: no-repeat;
	&-rheumatoid {
		background-image: url('../img/education/education_4.1.png');
		background-position: left center;
		position: relative;
		&:after {
			content: '';
			position: absolute;
			right: 0;
			bottom: 0;
			width: 51px;
			height: 100%;
			background-image: url(../img/education/education_4.2.png);
			background-position: bottom right;
			background-size: contain;
			background-repeat: no-repeat;
		}
	}
	&-psoriatic {
		background-image: url('../img/education/education_3.1.png');
		background-position: right center;
		.e-tool__title,
		.e-tool__text {
			margin-right: 100px;
			margin-left: 0;
		}
		&:after {
			content: '';
			position: absolute;
			left: 0;
			bottom: 0;
			width: 39px;
			height: 100%;
			background-image: url(../img/education/education_3.2.png);
			background-position: bottom left;
			background-size: contain;
			background-repeat: no-repeat;
		}
	}
	&-ankylosing {
		background-image: url('../img/education/education_2.1.png');
		background-position: left center;
		&:after {
			content: '';
			position: absolute;
			right: 0;
			bottom: 0;
			width: 51px;
			height: 100%;
			background-image: url(../img/education/education_2.2.png);
			background-position: top right;
			background-size: contain;
			background-repeat: no-repeat;
		}
	}
	&-crohns {
		background-image: url('../img/education/education_1.1.png');
		background-position: right center;
		.e-tool__title,
		.e-tool__text {
			margin-right: 100px;
			margin-left: 0;
		}
		&:after {
			content: '';
			position: absolute;
			left: 0;
			bottom: 0;
			width: 37px;
			height: 100%;
			background-image: url(../img/education/education_1.2.png);
			background-position: top left;
			background-size: contain;
			background-repeat: no-repeat;
		}
	}
	&__title {
		font-family: 'PTSans', sans-serif;
		font-size: 18px;
		font-weight: bold;
		line-height: 1.22;
		color: #250f47;
		margin-right: 0;
		margin-left: auto;
		margin-bottom: 10px;
		margin-left: 100px;
	}
	&__text {
		font-family: 'PTSans', sans-serif;
		font-size: 14px;
		font-weight: normal;
		line-height: 1.29;
		color: #250f47;
		margin-right: 0;
		margin-left: auto;
		margin-left: 100px;
	}

	@include xsmall-down {
		max-width: 100%;
	}
}

.educational-more-btn {
	display: block;
	margin: 0 auto;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: bold;
	line-height: 1.86;
	color: #da285b;
	margin-bottom: 60px;
	&:hover {
		text-decoration: underline;
	}
}
.two-resourses{
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	margin-bottom: 50px;
	&__item{
		width: 100%;
    	max-width: 50%;
    	margin-right: 30px;
		margin-bottom: 15px;
    &:last-child{
      margin-right: 0;
      margin-bottom: 0;
    }
	}
	&__img{
		width: 100%;
		height: auto;
	}
	@include medium-down {
		flex-direction: column;
		align-items: center;
		&__item{
			width: 100%;
      		max-width: 384px;
      		margin-right: 0;
		}
	}
}
.three-resourses{
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	margin-bottom: 50px;
	&__item{
		width: 100%;
		max-width: 23%;
		margin-right: 5px;
		margin-bottom: 30px;
    &:last-child{
      margin-right: 0;
      margin-bottom: 0;
    }
	}
	&__img{
		width: 100%;
		height: auto;
	}
	@include medium-down {
		flex-direction: column;
		align-items: center;
		&__item{
			width: 100%;
      max-width: 384px;
      margin-right: 0;
		}
	}
}
.two-resourses{
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	margin-bottom: 50px;
	margin-top: 50px;
	&__item{
		width: 23%;
		margin-right: 5px;
		margin-bottom: 30px;
	}
	&__img{
		width: 100%;
		height: auto;
	}
	@include medium-down {
		flex-direction: row;
		flex-wrap: wrap;
		max-width: 600px;
		margin: 0 auto;
		&__item{
			width: 43%;
			margin-right: 0;
		}
	}
	@include small-down {
		max-width: 300px;
	}
}
.margin-t-50{
	margin-top: 50px;
}
.three-resourses__item-one{
	margin-bottom: 40px !important;
	margin-right: 30px !important;
	@include medium-down {
		order: 2;
		margin-bottom: 20px !important;
		margin-top: 20px !important;
		margin-right: 0px !important;
		margin-left: 20px;
	}
  }

  .three-resourses__item-two{
	width: 75%;
	max-width: 75%;
	text-align: left;
	margin-top: 15px !important;
	@include medium-down {
		order: 1;
		width: 100%;
		max-width: 100%;
		text-align: center;
		margin-top: 20px !important;
		br{
			display: none;
		}
	}
  }
.bootcamp-resourses{
  margin-top: 15px;
  margin-bottom: 0;
  .three-resourses__item{
    @include medium-down {
      max-width: 300px;
    }
  }
}
.rheum-resourse{
	padding-bottom: 30px;
	padding-top: 30px;
	@include medium-down {
		flex-direction: column-reverse !important;
	}
	.three-resourses__item{
		margin-right: 30px;
		@include medium-down {
			margin-right: 0px !important;
		}
	}
	.sheet-text-wrap{
		padding-top: 15px;
		@include medium-down {
			padding-bottom: 15px;
		}
		@include small-down {
			max-width: 300px;
			display: block;
			padding-top: 0;
			margin: 0 auto;
		}
	}
}
.training-banner{
	@include medium-down {
		margin-top: 0 !important;
		margin-bottom: 60px;
	}
}
.advocacy-banner{
	.single-banner--mobile{
		max-width: 100% !important;
		margin-bottom: 80px;
	}
}
.single-banner{
	display: block;
	@include medium-down {
		margin-top: 30px;
	}
	img{
		width: 100%;
	}
	&--desktop{
		display: block;
		@include medium-down {
			display: none;
		}
	}
	&--mobile{
		display: none;
		@include medium-down {
			display: block;
			max-width: 300px;
			margin: 0 auto;
		}
	}
	@include medium-down {
		max-width: 600px;
		margin: 50px auto;
	}
	@include small-down {
		max-width: 300px;
		margin: 50px auto;
	}
}

.margin-t-large{
  margin-top: 80px !important;
  @include medium-down {
    margin-top: 60px !important;
  }
  @include small-down {
    margin-top: 30px !important;
  }
}

.banner {
  &-two-columns{
    display: flex;
    @include small-down {
      display: block;
    }
    h3 {
      font-size: 24px;
      color: #250F47;
      font-weight: bold;
      margin-bottom: 10px;
    }
    p {
      font-family: 'Roboto', sans-serif;
      font-size: 16px;
      font-weight: normal;
      line-height: 1.5;
      color: #1a0835;
      margin-bottom: 1em;
    }
  }
  &-half {
    &:first-child {
      width: 70%;
      padding-right: 15px;
    }
    &:last-child {
      width: 30%;
    }
    @include small-down {
      width: 100% !important;
    }
  }
}
.sheet-inner{
  @include medium-down {
    padding-left: 25px;
    padding-right: 25px;
  }
}


.education-section {
  @include medium-down {
    .sheet{
      padding-left: 0;
      padding-right: 0;
    }
  }
}
.covid-banner-3{
	width: 100%;
	height: auto;
	margin-bottom: 50px;
	img{
		width: 100%;
		height: auto;
	}
}


.three-banners {
  display: flex;
  justify-content:space-between;
  align-items: stretch;
  margin-bottom: 50px;
  @include medium-down {
    flex-direction: column;
    margin-bottom: 0;
    margin-top: 50px;
  }
  &>div {
    width: 100%;
    margin-right: 20px;

    h4 {
      font-family: 'PTSans', sans-serif;
      font-size: 18px;
      height: 75px;
      font-weight: bold;
      line-height: 1.22;
      color: #250f47;
      @include medium-down {
        max-width: 600px;
        line-height: 22px;
        height: auto;
        width: 100%;
        margin: 0 auto 0;
      }
      @include small-down {
        max-width: 300px;
      }
    }
    a.single-banner {
      @include medium-down {
        margin-top: 0;
      }
    }
    @include medium-down {
      margin: 0 auto;
    }
    &:last-child {
      margin-right: 0;
      @include medium-down {
        margin: 0 auto;
        a {
          margin-bottom: 0;
        }
      }
    }
    img {
      max-width: 100%;
    }
  }
}

h2 {
  font-family: 'Roboto', sans-serif;
  position: relative;
  color: #250f47;
  font-size: 28px;
  font-weight: bold;
  line-height: 1.58;
  text-align: left;
  margin-bottom: 30px;
  margin-top: 30px;
}
