/* Exhibitors background*/

.exhibitors-header {
	width: 100%;
	margin: 0 auto;
	right: 0;
	left: 0;
	height: 1000px;
	position: absolute;
	overflow: hidden;
	&__bg {
		position: absolute;
	}
	&__bg-top,
	&__bg-mid,
	&__bg-bot {
		display: none;
	}
	&__bg-top-large {
		top: 30px;
		left: -150px;
		right: 0;
		margin: 0 auto;
	}
	&__bg-mid-large {
		top: 10px;
		left: -190px;
		right: 0;
		margin: 0 auto;
	}
	&__bg-bot-large {
		top: 100px;
		left: 0;
		right: -600px;
		margin: 0 auto;
	}
	&__bg-hex {
		right: 20%;
		top: 175px;
	}
	&__bg-hex2 {
		right: 80%;
		top: 530px;
	}
	&__bg-hex3 {
		display: none;
		right: -20px;
		top: 120px;
		@include small-down {
			display: block;
		}
	}

	@include xlarge-down {
		&__bg-top-large,
		&__bg-mid-large,
		&__bg-bot-large {
			display: none;
		}
		&__bg-top,
		&__bg-mid,
		&__bg-bot {
			display: block;
		}
		width: 100%;
		&__bg-top {
			top: 30px;
			left: -310px;
			right: auto;
		}
		&__bg-mid {
			top: 62px;
			left: -599px;
			right: auto;
		}
		&__bg-bot {
			top: 90px;
			left: 500px;
			right: auto;
		}
		&__bg-hex {
			left: 733px;
			top: 175px;
		}
		&__bg-hex2 {
			right: 80%;
			top: 630px;
		}
	}
	@include medium-down {
		&__bg-top {
			top: -55px;
    	left: -520px;
		}
		&__bg-mid {
			top: -20px;
   		left: -800px;
			transform: none;
		}
		&__bg-bot {
			top: 61px;
    	left: 319px;
		}
		&__bg-hex {
			left: auto;
			top: 200px;
			transform: scale(0.75) rotate(30deg);
			right: -100px;
		}
	}
	@include small-down {
		&__bg-hex {
			display: none;
		}
	}
	@include xsmall-down {
		&__bg-top {
			width: 590px;
			top:25px;
			left: -130px;
		}
		&__bg-mid {
			width: 640px;
			top: 75px;
			left: -160px;
			transform: none;
		}
		&__bg-bot {
			top: 0px;
			left: -50px;
			right: auto;
		}
		&__bg-hex {
			left: auto;
			top: 200px;
			transform: scale(0.75) rotate(30deg);
			right: -100px;
		}
		&__bg-hex {
			display: none;
		}
		&__bg-hex2 {
			display: none;
		}
	}
}

.exhibitors-hexset {
	bottom: 360px;
	.pages-set7 {
		right: 86%;
	}
	@include small-down {
		bottom: 0;
		display: block;
		.pages-set7 {
			bottom: -170px;
			left: -40px;
			transform: scale(0.75) rotate(180deg);
		}
	}
}

.exhibitors-section {
	.sheet {
		margin-top: 30px;
	}
	@include small-down {
		.sheet {
			margin-top: 75px;
		}
	}
}

/*--- exhibitors top ---*/

.exhibitors {
	&.pages-headline {
		padding-top: 120px;
	}
	@include small-down {
		&.pages-headline {
			padding-top: 100px;
		}
	}
}

.exhibitors-text-wrap {
	h2 {
		margin-top: 60px;
	}
	li {
		display: flex;
		justify-content: flex-start;
		font-family: 'Roboto', sans-serif;
		font-size: 16px;
		font-weight: normal;
		line-height: 1.5;
		color: #1a0835;
		width: 100%;
		b {
			width: 130px;

		}
	}
	p {
		margin-bottom: 30px;
		max-width: 800px;
	}
}

.request-link{
	font-size: 20px;
	font-weight: 500;
	font-family: 'Roboto', sans-serif;
	line-height: 1.29;
	color: #ec0053;
	text-transform: uppercase;
	cursor: pointer;
	display: inline !important;
}
.cta-lable {
	position: relative;
	background-color: #f5f5f5;
	padding: 30px 65px;
	border-radius: 6px;
	margin-bottom: 60px;
	overflow: hidden;
	p,
	a {
		font-family: 'Roboto', sans-serif;
		font-size: 20px;
		font-weight: 500;
		line-height: 1.29;
		text-align: center;
		color: #250f47;
	}
	p {
		margin-bottom: 20px;
	}
	a {
		display: block;
		margin: 0 auto;
		font-weight: bold;
		color: #ec0053;
	}
	&__bg1 {
		position: absolute;
		top: 0;
		left: 0;
	}
	&__bg2 {
		position: absolute;
		bottom: 0;
		right: 0;
	}

	@include small-down {
		padding: 25px 30px;
		&__bg1 {
			top: -10px;
			left: -5px;
		}
		&__bg2 {
			bottom: -35px;
			right: -20px;
		}
	}

	&:after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 47px;
		height: 100%;
		background-image: url(../img/exhibitors/2-layers.svg);
		background-position: top left;
		background-size: contain;
		background-repeat: no-repeat;
	}
	&:before {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		width: 91px;
		height: 100%;
		background-image: url(../img/exhibitors/16-layers.svg);
		background-position: bottom right;
		background-size: contain;
		background-repeat: no-repeat;
	}
}

.corporate-members {
	display: flex;
	width: 100%;
	padding-bottom: 15px;
	margin-bottom: 50px;
	border-bottom: 1px #e5e5e5 solid;
	&__title {
		width: calc(100%/12 * 2);
		min-width: 170px;
		font-family: 'Roboto', sans-serif;
		font-size: 18px;
		font-weight: bold;
		line-height: 1.33;
		color: #401557;
		margin-right: 20px;
	}
	&__logos {
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		align-items: stretch;
		width: calc(100%/12 * 10);
		min-width: 200px;
	}
	&__item {
		margin-bottom: 15px;
		margin-right: 30px;
		align-self: center;
		box-sizing: content-box;
		img {
			display: block;
			margin: 0 auto;
		}
	}

	@include medium-down {
		flex-direction: column;
		&__item {
			margin-right: 3;
		}
		&__logos {
			margin-top: 30px;
			width: 100%;
		}
	}
	@include small-down {
		padding-bottom: 0px;
		margin-bottom: 40px;
		&__logos {
			flex-direction: column;
		}
		&__item {
			width: 100%;
			margin-bottom: 30px;
			margin-right: 0;
		}
		&__title {
			width: 100%;
			margin-right: 0;
		}
	}
}
.corporate-members__lvl{
	width: 100%;
	.list{
		display: flex;
		flex-direction: row;
		width: 100%;
		flex-wrap: wrap;
	}
	.title{
		display: block;
		width: 100%;
		text-align: left;
		font-family: 'Roboto', sans-serif;
		font-size: 16px;
		font-weight: bold;
		line-height: 1.33;
		color: #250F47;
		position: relative;
		padding-bottom: 5px;
		margin-bottom: 15px;
		margin-top: 25px;
		&:after{
			content:'';
			width: 60px;
			position: absolute;
			height: 4px;
			background-color: #673193;
			left: 0;
			bottom: 0;
			display: block;
		}
	}
}

.downloads {
	display: flex;
	flex-direction: column;
	&__item-wrap {
		width: 100%;
		display: flex;
	}
	&__item {
		width: 50%;
		position: relative;
		margin-bottom: 35px;
		margin-right: 5px;
		margin-left: 5px;
	}
	p {
		font-family: 'Roboto', sans-serif;
		font-size: 14px;
		font-weight: normal;
		line-height: 1.71;
		text-align: center;
		color: #250f47;
		margin-top: 15px;
	}
	a {
		position: relative;
		font-family: 'Roboto', sans-serif;
		font-size: 16px;
		font-weight: 500;
		line-height: normal;
		text-align: center;
		color: #ffffff;
		padding: 20px 50px;
		border-radius: 4px;
		background-color: #884fc6;
		z-index: 2;

		&:before {
			content: url(../img/icons/download.svg);
			position: absolute;
			width: 17px;
			height: 18px;
			left: 25px;
			top: calc(50% - 8px);
			z-index: 3;
		}
		&:after {
			content: url(../img/icons/right-arrow.svg);
			position: absolute;
			width: 20px;
			right: 25px;
			top: calc(50% - 10px);
			z-index: 3;
		}
	}
	&__btn-blur {
		max-width: 100%;
		position: absolute;
		right: 0;
		left: 0;
		bottom: -35px;
		margin: 0 auto;
		z-index: 1;
	}

	@include small-down {
		a {
			text-align: left;
		}
		&__item-wrap {
			flex-direction: column;
			align-items: center;
		}
		&__item {
			width: 100%;
		}

	}
}

.downloads-side-bg {
	position: absolute;
	right: -100px;
	bottom: 250px;
	@include medium-down {
		display: none;
	}
}