/*====== CONTAINERS ========*/

.section {}

.container {
	width: 100%;
	max-width: 1070px;
	margin: 0 auto;
	padding: 0 55px;
	position: relative;
	z-index: 20;

	@include small-down {
		padding: 0 15px;
	}
}

/*====== FONTS ========*/

.title-text {
	font-family: 'PTSans', sans-serif;
	font-weight: 700;
	font-size: 61px;
	line-height: 1;
	color: $title-color;
	position: relative;
	z-index: 10;
	&-white {
		color: $title-white;
	}

	@include medium-down {
		font-size: 50px;
		line-height: 1.02;
	}
	@include xsmall-down {
		font-size: 36px;
		line-height: 1.25;
	}
}

.main-text {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 18px;
	line-height: 1.44;
	color: $midnight-blue;
	&-white {
		color: $text-light;
	}

	@include small-down {
		font-size: 16px;
		line-height: 1.5;
	}
}

/*====== HOME PAGE ========*/

/*--- Sections ---*/

.s-hero {
	padding-top: 80px;
	padding-bottom: 320px;
	background-image: url(../img/home/background-png-or-vector-down.png);
	background-size: cover;
	background-position: center bottom;
	position: relative;
	z-index: 20;
	overflow: hidden; // block media queries
	@include medium-down {
		padding-bottom: 200px;
		background-position: right 67% bottom;
	}
	@include small-down {
		padding-bottom: 210px;
		background-position: right 56% bottom;
	}
}

@media (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
	.s-hero {
		background-image: url(../img/home/background-png-or-vector-down@2x.png);
	}
}

.s-mission {
	padding-top: 37px;
	padding-bottom: 140px;
	position: relative;
	z-index: 10;
	@include medium-down {
		padding-top: 25px;
		padding-bottom: 0px;
	}
	@include small-down {
		padding-top: 0;
		padding-bottom: 70px;
	}
}
.home-lable-wrap{
  position: relative;
  &:before{
    position: absolute;
    content: '';
    background-image: none;
    left: 0;
    right: 0;
    bottom: 0;
    top: auto;
    width: 80%;
    margin: 0 auto;
    -webkit-box-shadow: 0px 0px 45px 12px rgba(78,33,102,0.7);
    -moz-box-shadow: 0px 0px 45px 12px rgba(78,33,102,0.7);
    box-shadow: 0px 0px 45px 12px rgba(78,33,102,0.7);
    z-index: 1;
  }
}
.home-lable{
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
  margin-top: 15px;
  margin-top: 30px;
  margin-bottom: 20px;
  padding: 50px 30px;
  border-radius: 8px;
  background-color: #f7f7f7;
  background-image: url(../img/banners/banner-ed-wave.png);
  background-position: bottom left;
  background-size: 100%;
  background-repeat: no-repeat;
  position: relative;
  z-index: 10;
  &:before{
    content: '';
    position: absolute;
    width: 30px;
    height: 80px;
    right: 2px;
    bottom: -8px;
    background-image: url(../img/banners/banner-small-hexes.png);
    background-position: right bottom;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 1;
  }
  &:after{
    content: '';
    position: absolute;
    width: 25%;
    min-width: 90px;
    height: 110px;
    right: -54px;
    top: -30px;
    background-image: url(../img/banners/banner-hex.png);
    background-position: right top;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 1;
    @include small-down {
      right: -14px;
      width: 110px;
    }
    @include xsmall-down {
      width: 80px;
    }
  }

  &.education-lable{
    background-image: url(../img/banners/banner-wave.png);
    background-position: center top;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    max-width: 100%;
    width: 100%;
    margin-bottom: 72px;
    z-index: 10;
    &:before{
      display: none;
    }
    &:after{
      width: 78px;
      height: 98px;
      right: 34px;
      top: auto;
      bottom: -30px;
      background-image: url(../img/banners/banner-ed-book.png);
      background-position: right bottom;
      background-size: contain;
      background-repeat: no-repeat;
      @include small-down{
        width: 40px;
        height: 78px;
        right: 15px;
      }
    }
  }

  h3{
    font-size: 24px;
    color: #250F47;
    font-weight: bold;
    margin-bottom: 10px;
  }
  p{
    font-size: 20px;
    color: #250F47;
    font-weight: bold;
    text-align: center;
  }
  h1{
    a{
      display: block;
      margin: 0 auto;
      font-size: 18px;
      color: #FF0050;
      width: 100px;
      font-weight: bold;
      text-align: center;
      padding-top: 15px;
      &:hover{
        text-decoration: underline;
      }
    }
  }
}

.quickstart-label{
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.16);
  background-color: #fff;
  background-image: url(../img/home/quick-guide-bg.png);
  background-position: center bottom;
  background-size: 50%;
  background-repeat: no-repeat;
  padding: 30px;
  padding-top: 50px;
  padding-bottom: 50px;
  min-width: 600px;
  h3{
    font-family: 'PTSans', sans-serif;
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 60px;
    line-height: normal;
    color: #262626;
  }
  h1{
    a{
      margin-bottom: 17px;
      font-size: 24px;
      font-weight: 500;
    }
  }

}


// Retina backgrounds
.hex-set-wrap {
	position: absolute;
	top: -310px;
	left: 0;
	right: 0;
	width: 100%;
	height: 300px;
	max-width: 1450px;
	margin: 0 auto;
	overflow: hidden;
	user-select: none;
	@include medium-down {
		top: -265px;
	}
	@include small-down {
		top: -165px;
		height: 200px;
	}
}

.hex-set1 {
	top: 0;
	right: 71%;
	position: absolute;
	@include medium-down {
		display: none;
		right: 65%;
	}
	@include small-down {
		top: 50px;
		width: 309px;
		right: auto;
		left: -100px;
	}
}

.hex-set4 {
	display: none;
	position: absolute;
	@include medium-down {
		display: block;
		top: 30px;
		left: 0;
	}
	@include small-down {
		display: none;
	}
}

.hex-set2 {
	top: 50px;
	left: 83.2%;
	position: absolute;
	@include medium-down {
		display: none;
	}
}

.hex-set3 {
	display: none;
	@include medium-down {
		display: block;
		top: 10px;
		left: auto;
		right: 0;
		position: absolute;
	}
	@include small-down {
		display: none;
	}
}

.hex-set5 {
	display: none;
	@include small-down {
		display: block;
		position: absolute;
		left: 0;
		right: auto;
		bottom: 70px;
	}
}

.hexset-mission-wrap {
	position: absolute;
	right: 0;
	left: 0;
	width: 100%;
	max-width: 1053px;
	height: 100%;
	margin: 0 auto;
	overflow: hidden;
	user-select: none;
}

.hexset-mission {
	position: absolute;
	display: block;
	width: 31px;
	height: auto;
	&__1 {
		width: 31px;
		top: 40px;
		right: auto;
		left: 260px;
		opacity: 0.3;
	}
	&__2 {
		width: 31px;
		top: 40px;
		right: 250px;
		opacity: 0.3;
	}
	&__3 {
		width: auto;
		max-width: 38px;
		left: 5px;
		top: 153px;
	}
	&__4 {
		width: 24px;
		left: 120px;
		top: 35px;
	}
	&__5 {
		width: 23px;
		bottom: 140px;
		left: 130px;
		opacity: 0.3;
	}
	&__6 {
		width: 24px;
		bottom: 110px;
		left: 240px;
	}
	&__7 {
		width: 48px;
		bottom: 41px;
		right: 405px;
	}
	&__8 {
		width: 48px;
		bottom: 110px;
		right: 185px;
		opacity: 0.3;
	}
	&__10 {
		width: 39px;
		bottom: 20px;
		left: 380px;
		opacity: 0.3;
	}
	&__11 {
		width: auto;
		max-width: 31px;
		right: 8px;
		bottom: 195px;
	}
	&__12 {
		width: 41px;
		right: 30px;
		top: 50px;
	}

	@include medium-down {
		&__1 {
			display: none;
		}
		&__2 {
			display: none;
		}
		&__4 {
			display: none;
		}
		&__7 {
			display: none;
		}
		&__10 {
			display: none;
		}

		&__6 {
			width: 40px;
			bottom: 5px;
			left: 155px;
		}
		&__5 {
			width: 23px;
			left: 60px;
			bottom: 95px;
		}
		&__3 {
			maw-width: 37px;
			left: 77px;
			top: 10px;
		}


		&__8 {
			width: 33px;
			right: 155px;
			bottom: 0;
		}
		&__11 {
			bottom: 60px;
			right: 55px;
		}
		&__12 {
			width: 26px;
			top: 0;
			right: 125px;
		}

	}
	@include small-down {
		&__6 {
			width: 40px;
			bottom: 0px;
			left: 75px;
		}
		&__5 {
			width: 23px;
			left: 10px;
			bottom: 145px;
		}
		&__3 {
			display: none;
		}
		&__8 {
			width: 33px;
			right: 15px;
			bottom: 10px;
		}
		&__11 {
			bottom: 130px;
			right: 25px;
		}
		&__12 {
			width: 26px;
			top: 0;
			right: 10px;
		}

	}
}

.main-headline {
	width: 100%;
	max-width: 410px;
	padding-top: 205px;
	min-height: 565px;
	&__title {
		font-size: 63px;
		line-height: 1;
		text-align: left;
	}
	&__subtitle {
		margin-top: 10px;
		margin-bottom: 40px;
		font-size: 18px;
		line-height: 1.44;
		text-align: left;
		color: $subtitle-color;
	}
	&__more {
		font-size: 13px;
		font-weight: 500;
		color: $more-link-text;
		max-width: 410px;
		margin-top: 16px;
		text-align: left;
		&-link {
			color: $more-link-text;
			font-weight: 500;
			text-align: left;
			opacity: 0.55;
			text-decoration: underline;
			margin-left: 7px;
			&:hover,
			&:focus,
			&:active {
				opacity: 1;
			}
		}
	} // block media queries
	@include medium-down {
		max-width: 328px;
		margin-right: auto;
		margin-left: 15%;
		padding-top: 145px;
		min-height: 465px;
		&__subtitle {
			margin-top: 25px;
			margin-bottom: 24px;
			line-height: 1.44;
		}
		&__title {
			font-size: 50px;
			line-height: 1.02;
		}
	}
	@include medium2-down {
		margin-left: 0;
	}
	@include small-down {
		margin-right: auto;
		margin-left: auto;
		max-width: 288px;
		padding-top: 70px;
		min-height: 0px;
		&__subtitle {
			margin-top: 5px;
			margin-bottom: 20px;
			font-size: 16px;
			line-height: 1.5;
		}
		&__title {
			font-size: 36px;
			line-height: 1.25;
		}
		&__more {
			margin-top: 0px;
		}
	} // End Media queries
} // End main-headline
// Hero images
.hero-imgset {
	position: absolute;
	top: 145px;
	max-width: 460px;
	right: 0;
	z-index: 1;
	user-select: none;

	&__front {
		position: relative;
		z-index: 10;
		max-width: 498px;
	}
	&__back {
		position: absolute;
		top: -75px;
		left: -55px;
		z-index: 1;
	}

	&__hex1 {
		position: absolute;
		top: -90px;
		right: 180px;
	}
	&__hex2 {
		width: 28px;
		height: 32px;
		position: absolute;
		top: -90px;
		right: 280px;
	}
	&__hex3 {
		width: 50px;
		height: auto;
		position: absolute;
		top: -30px;
		right: 115px;
	}
	&__hex4 {
		width: 110px;
		height: auto;
		position: absolute;
		top: 140px;
		right: 390px;
	}
	&__hex5 {
		width: 152px;
		height: auto;
		position: absolute;
		top: 210px;
		right: -65px;
	}
	&__hex6 {
		width: 52px;
		height: auto;
		position: absolute;
		bottom: -70px;
		left: 20px;
	} // block Media queries
	@include medium-down {
		top: 170px;
		right: 20px;
		&__front {
			width: 277px;
		}
		&__back {
			width: 152px;
			top: -90px;
			left: -55px;
			z-index: 1;
		}
		&__hex1 {
			width: 45px;
			top: -105px;
			right: 85px;
		}
		&__hex2 {
			width: 24px;
			height: auto;
			top: -80px;
			right: 165px;
		}
		&__hex3 {
			width: 50px;
			height: auto;
			top: -50px;
			right: 15px;
		}
		&__hex4 {
			width: 90px;
			height: auto;
			position: absolute;
			top: 40px;
			right: 245px;
		}
		&__hex5 {
			width: 98px;
			height: auto;
			position: absolute;
			top: 140px;
			right: 0px;
		}
		&__hex6 {
			width: 32px;
			left: -7px;
			bottom: -50px;
		}


	}
	@include small-down {
		top: 130px;
		&__front {
			width: 267px;
		}
		&__back {
			position: absolute;
			top: -75px;
			left: -55px;
			z-index: 1;
		}
	}
	@include small-down {
		display: none;
	} // End Media queries
} //End hero images

.btn-covid{
	background-image: url(../img/home/new/btn-covid.png);
	width: 100%;
	max-width: 246px;
	background-size: 100%;
	border-radius: 4px;
	background-position: bottom right;
	background-repeat: no-repeat;
	background-color: #df893f;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 56px;
	margin-bottom: 20px;
	display: none;
	.btn-text{
		text-shadow: 0 0 4px rgba(124, 58, 0, 0.5);
		font-family: 'PTSans', sans-serif;
		font-size: 15px;
		font-weight: bold;
		font-stretch: normal;
		font-style: normal;
		line-height: 1.22;
		letter-spacing: normal;
		text-align: center;
		color: #ffffff; 
	}
	@include small-down {
		display: flex;
		max-width: 280px;
	}	
}
// New Hero images
.new-hero-imgset {
	position: absolute;
	top: 162px;
	max-width: 460px;
	right: 60px;
	z-index: 1;
	user-select: none;

	&__front {
		position: relative;
		z-index: 10;
		max-width: 498px;
	}
	&__back {
		position: absolute;
		top: 23px;
		left: -55px;
		z-index: 15;
		pointer-events: none;
	}

	&__hex1 {
		position: absolute;
		top: -61px;
		right: 123px;
		pointer-events: none;
	}
	&__hex2 {
		width: 28px;
		height: 32px;
		position: absolute;
		top: -62px;
		right: 235px;
		pointer-events: none;
	}
	&__hex3 {
		width: 50px;
		height: auto;
		position: absolute;
		top: 9px;
		z-index: 15;
		right: 65px;
		pointer-events: none;
	}
	&__hex4 {
		width: 143px;
		height: auto;
		position: absolute;
		top: 242px;
    	right: 287px;
		z-index: 15;
		pointer-events: none;
	}
	&__hex5 {
		width: 152px;
		height: auto;
		position: absolute;
		top: 210px;
		right: -76px;
		pointer-events: none;
	}
	&__hex6 {
		width: 52px;
		height: auto;
		position: absolute;
		bottom: -140px;
		left: -45px;
		pointer-events: none;
	}
	&__hex7 {
		width: 36px;
		height: auto;
		position: absolute;
		top: 359px;
		right: 52px;
		pointer-events: none;
	} 
	.hext-text{
		font-family: 'PTSans', sans-serif;
		font-size: 33px;
		font-weight: bold;
		font-stretch: normal;
		font-style: normal;
		line-height: 1.15;
		letter-spacing: normal;
		text-align: center;
		color: #ffffff;
		width: 285px;
		position: absolute;
		z-index: 20;
		top: 160px;
		right: 35px;
		pointer-events: none;
	}
	// block Media queries
	@include medium-down {
		top: 120px;
		right: 40px;
		&__front {
			width: 277px;
		}
		&__back {
			width: 152px;
			top: -20px;
			left: -95px;
			z-index: 15;
		}
		&__hex1 {
			width: 45px;
			top: -41px;
    		right: 83px;
		}
		&__hex2 {
			width: 24px;
			height: auto;
			top: -32px;
    		right: 185px;
		}
		&__hex3 {
			width: 50px;
			height: auto;
			top: 9px;
			z-index: 15;
			right: 35px;
		}
		&__hex4 {
			width: 90px;
			height: auto;
			position: absolute;
			top: 212px;
			right: 227px;
			z-index: 15;
		}
		&__hex5 {
			width: 98px;
			height: auto;
			position: absolute;
			top: 180px;
			right: -26px;
		}
		&__hex6 {
			width: 32px;
			bottom: -140px;
			left: -45px;
		}
		&__hex7 {
			top: 280px;
			right: 40px;
		} 
		.hext-text{
			top: 110px;
			right: 15px;
			font-size: 28px;
			width: 250px;
		}

	}

	@include small-down {
		top: 130px;
		&__front {
			width: 267px;
		}
		&__back {
			position: absolute;
			top: -75px;
			left: -55px;
			z-index: 1;
		}
	}
	@include small-down {
		display: none;
	} // End Media queries
} //End new hero images
.mission {
	max-width: 800px;
	margin-right: auto;
	margin-left: auto;
	&__title {
		text-align: center;
		margin-bottom: 55px;
		position: relative;
	}
	&__text {
		text-align: center;
		margin-bottom: 17px;
		font-size: 24px;
		font-weight: 500;
		span {
			font-size: 18px;
			color: #6f2b98;
			font-weight: 700;
		}
	}

	@include medium-down {
		padding-bottom: 20px;
		&__title {
			margin-bottom: 40px;
		}
		&__text {
			margin-bottom: 25px;
		}
	}
	@include small-down {
		padding-right: 31px;
		padding-left: 31px;
		padding-bottom: 0;
		&__title {
			margin-bottom: 35px;
			}
		&__text {
			margin-bottom: 40px;
			font-size: 20px;
		}
	}
	@include small-down {
		padding-right: 0;
		padding-left: 0;
	}
}

.s-events {
	position: relative;
	overflow: hidden;
	padding-top: 100px;
	padding-bottom: 100px;
	@include medium-down {
		padding-bottom: 175px;
		min-height: 0;
	}
	@include small-down {
		padding-bottom: 120px;
		padding-top: 100px;
	}
}

.event-wrap {
	position: relative;
	display: flex;
	justify-content: space-between;
	padding-left: 60px;
	padding-right: 0px;
	padding-bottom: 0px;
	width: 100%;
	max-width: 1070px;
	margin: 0 auto;

	/* Event backgrounds*/
	.event-bg {
		pointer-events: none;
		position: absolute;
		user-select: none;
		&__top {
			width: auto;
			top: -10px;
			left: -200px;
			right: auto;
		}
		&__mid {
			width: auto;
			top: -40px;
			left: -140px;
			right: auto;
		}
		&__bott {
			width: auto;
			top: -10px;
			left: 400px;
		}
		@include medium-down {
			margin-top: -50px;
			&__top {
				width: 1140px;
				left: -240px;
			}
			&__mid {
				width: 1115px;
				left: -150px;
				top: -30px;
			}
			&__bott {
				width: 600px;
				right: -200px;
				left: auto;
				top: 10px;
			}
		}

		@include xsmall-down {
			&__top {
				width: 1000px;
				left: -350px;
			}
			&__mid {
				width: 900px;
				left: -275px;
			}
			&__bott {
				width: 400px;
				right: -180px;
				left: auto;
				top: -15px;
			}
		}
	}


	@include medium-down {
		justify-content: space-between;
		padding-right: 30px;
	}
	@include small-down {
		justify-content: center;
		padding: 0 15px;
		flex-direction: column;
	}

}

.hex-set-events {
	position: absolute;
	width: auto;
	height: auto;
	user-select: none;
	&__1 {
		top: 170px;
		left: -250px;
	}
	&__2 {
		top: 170px;
		right: -440px;
	}
	&__3 {
		top: 360px;
		left: 48%;
		transform: rotate(-60deg)
	}
	&__4 {
		display: none;
	}
	@include medium-down {
		&__3 {
			bottom: -120px;
			left: 35%;
			transform: rotate(-120deg)
		}
	}
	@include small-down {
		&__3 {
			display: none;
		}
		&__4 {
			display: block;
			bottom: 100px;
			right: auto;
			left: 0;
		}
	}
}


.hone-event {
	width: calc(100%/12 * 3);
	padding-top: 50px;
	padding-bottom: 170px;
	box-sizing: content-box;
	z-index: 20;
	&__title {
		color: $text-light;
		margin-bottom: 63px;
	}
	&__subtitle {
		color: $text-light;
		font-size: 31px;
	}
	&__text {
		color: $text-light;
	}
	&__info {
		margin-top: 20px;
		margin-bottom: 30px;
	}
	&__btn {
		position: relative;
		max-width: 156px;
		z-index: 100;
	}
	&__date,
	&__place {
		position: relative;
		color: $text-light;
		font-size: 14px;
		margin-bottom: 28px;
		padding-left: 38px;
		line-height: 1.3;
		span {
			opacity: 0.7;
		}
		&:before {
			position: absolute;
			width: 20px;
			height: 20px;
			left: 0;
			content: url(../img/home/place.svg);
		}
	}
	&__date {
		&:before {
			width: 20px;
			height: 20px;
			content: url(../img/home/date.svg);
		}
	} // block Media queries
	@include medium-down {
		width: calc(100%/12 * 5);
		&__title {
			font-size: 50px;
			line-height: 1.02;
			margin-bottom: 58px;
		}
		&__subtitle {
			line-height: normal;
		}
	}

	@include small-down {
		width: 100%;
		max-width: 380px;
		margin: 0 auto;
		padding-top: 30px;
		padding-right: 0;
		padding-bottom: 0;
		&__title {
			font-size: 36px;
			margin-bottom: 43px;
		}
		&__subtitle {
			font-size: 20px;
		}
		&__btn {
			position: absolute;
			left: 0;
			right: 0;
			bottom: -70px;
			margin: 0 auto;
		}
	} // End Media queries
}

.event-look {
	position: relative;
	width: calc(100%/12 * 6);
	z-index: 10;
	&__photo-wrap {
		position: relative;
		&:after {
			position: absolute;
			content: url('../img/hexagons/hex-main-white.png');
			background-repeat: no-repeat;
			top: 19%;
			left: -20px;
		}
		&:before {
			position: absolute;
			content: url('../img/hexagons/hex-main-shadow.png');
			background-repeat: no-repeat;
			bottom: 60px;
			right: -70px;
			z-index: 10;
		}
	}
	&__photo {
		width: 100%;
		pointer-events: none;
	}
	@include xlarge-down {
		&__photo-wrap {
			&:after {
				top: 18%;
				left: 10px;
			}
			&:before {
				bottom: 30px;
				right: -60px;
			}
		}
	}
	@include medium-down {
		width: calc(100%/12 * 7);
		padding-top: 10%;
		max-width: 380px;

		&__photo-wrap {
			&:after {
				position: absolute;
				content: '';
				background-image: url('../img/hexagons/hex-main-white.png');
				background-position: center;
				background-size: contain;
				width: 35px;
				height: 41px;
				top: 80px;
				left: 0;
			}
			&:before {
				position: absolute;
				content: '';
				background-image: url('../img/hexagons/hex-main-shadow.png');
				background-position: center;
				background-size: contain;
				width: 95px;
				height: 106px;
				bottom: 30px;
				right: -30px;
			}
		}
	}
	@include small-down {
		width: 100%;
		max-width: 380px;
		margin: 0 auto;
		padding-top: 0;
		&__photo {
			display: block;
			max-width: 288px;
			margin: 0 auto;
			margin-bottom: 85px;
		}
		&__photo-wrap {
			&:after {
				width: 35px;
				height: 41px;
				top: 80px;
				left: 0px;
			}
			&:before {
				background-image: url('../img/hexagons/hex-main.svg');
				width: 65px;
				height: 65px;
				bottom: 70px;
				right: -10px;
			}
		}
	}
	@include xxsmall-down {
		&__photo-wrap {
			&:after {
				top: 60px;
				left: 2%;
			}
			&:before {}
		}

	}
}

.s-value {
	margin-top: -10px;
	.mission {
		max-width: 730px;
		padding-bottom: 0;
	}
	@include medium-down {
		margin-top: -130px;
	}
	@include small-down {
		margin-top: 0px;

		.mission {
			.title-underline {
				&:after {
					margin-right: auto;
					margin-left: 0;
				}
			}
			&__title {
				text-align: left;
			}
			&__text {
				margin-bottom: 0;
				span {
					display: none;
				}
			}
		}

	}
}

.value {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 0 auto;
	&__item {
		width: 33.33%;
		min-width: 162px;
		margin-bottom: 50px;
	}
	&__img {
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		margin: 0 auto;
		z-index: 10;

		&-1 {
			width: 95px;
			height: 116px;
		}
		&-2 {
			width: 108px;
			height: 86px;
		}
		&-3 {
			width: 38px;
			height: 100px;
		}
		&-4 {
			width: 108px;
			height: 97px;
		}
		&-5 {
			width: 96px;
			height: 90px;
		}
		&-6 {
			width: 108px;
			height: 103px;
		}
	}
	&__text {
		font-weight: bold;
		color: $value-text-color;
		text-align: center;
	} // block Media queries
	@include medium-down {
		justify-content: space-around;

		&__item {
			margin-bottom: 20px;
			padding-top: 10px;
			min-width: 126px;
		}
		&__img {
			&-1 {
				width: 60px;
				height: auto;
			}
			&-2 {
				width: 76px;
				height: 60px;
			}
			&-3 {
				width: 24px;
				height: 63px;
			}
			&-4 {
				width: 76px;
				height: auto;
			}
			&-5 {
				width: 70px;
				height: auto;
			}
			&-6 {
				width: 76px;
				height: 72px;
			}
		}
	}
	@include small-down {
		&__img {
			&-1 {
				width: 67px;
				height: 81px;
			}
			&-2 {
				width: 76px;
				height: 60px;
			}
			&-3 {
				width: 24px;
				height: 63px;
			}
			&-4 {
				width: 86px;
				height: 78px;
			}
			&-5 {
				width: 77px;
				height: 72px;
			}
			&-6 {
				width: 76px;
				height: 72px;
			}
		}
	} // End Media queries
}

.s-who {
	position: relative;
	overflow: hidden;
	padding-top: 50px;
}

.hex-set-who {
	position: absolute;
	width: auto;
	height: auto;
	user-select: none;
	&__3 {
		bottom: 95px;
		left: 30%;
	}
	&__4 {
		right: auto;
		top: 170px;
		left: -250px;
	}
	&__5 {
		display: none;
	}
	@include medium-down {
		&__3 {
			display: none;
		}
		&__5 {
			display: block;
			top: 380px;
			bottom: auto;
			left: 31%;
		}
	}
	@include small-down {
		&__5 {
			height: auto;
			top: auto;
			bottom: 40px;
		}
	}
}

/* Event backgrounds*/

.who-bg {
	position: absolute;
	user-select: none;
	&__top {
		width: auto;
		top: 20px;
		left: -260px;
		right: auto;
	}
	&__mid {
		display: none;
	}
	&__bott {
		width: auto;
		top: -20px;
		left: -180px;
	}

	@include medium-down {
		&__top {
			width: 760px;
			left: -200px;
		}
		&__mid {
			display: block;
			width: auto;
			top: 65px;
			left: -10px;
			right: auto;
		}
		&__bott {
			width: 500px;
			top: 10px;
			left: -100px;
		}
	}
	@include small-down {
		&__top {
			top: 60px;
			left: -220px;
			width: 710px;
		}
		&__mid {
			top: 60px;
			left: -60px;
		}
		&__bott {
			top: 20px;
			left: -70px;
		}
	}
	@include xsmall-down {
		&__top {
			top: 60px;
			left: -250px;
			width: 710px;
		}
		&__mid {
			top: 60px;
			left: -90px;
		}
		&__bott {
			top: 20px;
			left: -70px;
		}
	}
}


.who-wrap {
	position: relative;
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	max-width: 1070px;
	margin: 0 auto;
	padding-bottom: 200px;
	padding-left: 60px;
	z-index: 10;

	@include xlarge-down {
		padding: 0 60px;
		padding-bottom: 200px;
		justify-content: space-between;
		min-height: 912px;
	}
	@include medium-down {
		align-items: flex-start;
		justify-content: flex-start;
		padding-bottom: 100px;
		min-height: 712px;
	}
	@include small-down {
		min-height: 0;
		flex-direction: column;
		padding: 0 15px;
		padding-bottom: 120px;
		max-width: 388px;
	}
}

.who {
	width: 100%;
	max-width: 300px;
	padding-top: 140px;
	padding-right: 65px;
	box-sizing: content-box;
	position: relative;
	&__title {
		color: $text-light;
		margin-bottom: 53px;
	}
	&__subtitle {
		color: $text-light;
		font-size: 31px;
	}
	&__text {
		color: $text-light;
		font-size: 16px;
	}
	&__info {
		margin-top: 20px;
		margin-bottom: 30px;
	}
	&__date,
	&__place {
		position: relative;
		color: $text-light;
		font-size: 14px;
		margin-bottom: 15px;
		padding-left: 38px;
		line-height: 1.3;
		span {
			opacity: 0.7;
		}
	}
	&__icon {
		position: absolute;
		left: 0;
	} // block Media queries
	@include medium-down {
		padding-top: 152px;
		padding-right: 60px;
		max-width: 211px;
		min-width: 211px;
		&__title {
			font-size: 50px;
			line-height: 1.02;
		}
		&__subtitle {
			line-height: normal;
		}
	}
	@include small-down {
		max-width: 100%;
		padding-top: 122px;
		padding-right: 0;
		&__title {
			font-size: 36px;
			line-height: 1.25;
			margin-bottom: 40px;
		}
	} // End Media queries
}

.who-look {
	width: 100%;
	height: auto;
	max-width: 736px;
	padding-top: 230px;
	z-index: 10;
	&__video {
		width: 112%;
		position: relative;
		z-index: 10;
	}
	&__play {
		display: block;
		position: absolute;
		width: 81px;
		height: 101px;
		top: calc(50% - 50px);
		left: 0;
		right: 0;
		margin: 0 auto;
		z-index: 20;
	}
	&__placeholder {
		position: relative;
		width: 100%;
		z-index: 10;
		box-shadow: -5px 24px 80px -6px rgba(0, 0, 0, 0.31);
		background-image: url(../img/home/video-placeholder.png);
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}

	&__video-corners {
		&-1 {
			position: absolute;
			width: 72.7px;
			height: 85px;
			top: -40px;
			left: -30px;
			z-index: 1;
		}
		&-2 {
			position: absolute;
			width: 141px;
			height: auto;
			right: -70px;
			bottom: -80px;
			z-index: 1;
		}
	}

	@include xlarge-down {
		&__video {
			width: 100%;
		}
	}
	@include medium-down {
		padding-top: 210px;
		&__video-corners {
			&-2 {
				width: 85px;
				bottom: -50px;
				right: -50px;
			}
		}
	}
	@include small-down {
		width: 100%;
		max-height: 230px;
		padding-top: 0;
		&__video-corners {
			display: none;
		}
	}
}

.s-partners {
	padding-top: 50px;
	position: relative;
	overflow: hidden;
	@include medium-down {
		padding-top: 0;
	}
}

.partners__title {
	text-align: center;
}

.partners {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 30px;
	position: relative;
	&__item {
		width: 45%;
		max-width: 460px;
		margin-right: 15px;
		margin-left: 15px;
	}
	&__logo {
		display: block;
		width: auto;
		height: 100px;
		max-height: 60px;
		margin: 0 auto;
		padding: 25px 0;
		box-sizing: content-box;
		&-r {}
		&-l {}
		&.pull-left{
			margin-left: 0;
		}
		&.global-partners-logo{
			max-width: 260px;
			height: auto;
		}
	}
	&__name {
		text-align: center;
		font-family: 'Open Sans', sans-serif;
		font-weight: 700;
		font-size: 18px;
		color: #250f47;
		margin-bottom: 15px;
	}
	&__info {
		text-align: center;
		font-size: 16px;
		color: #250f47;
		line-height: normal;
	}

	@include medium-down {
		justify-content: space-around;
		margin-top: 18px;
		&__logo {
			padding-bottom: 18px;
		}
		&__item {
			max-width: 270px;
		}
		&__name {
			margin-bottom: 5px;
		}
	}
	@include small-down {
		margin-top: 32px;
		&__item {
			width: 100%;
			max-width: 300px;
			margin: 0;
			margin-bottom: 40px;
			&:last-child {
				margin-bottom: 0px;
			}
		}
	}
}

.hex-set-partners {
	position: absolute;
	width: auto;
	height: auto;
	top: 110px;
	right: -10px;
	user-select: none;
	@include medium-down {
		display: none;
	}
}

.s-subscribe {
	position: relative;
	padding: 60px 0;
	padding-top: 240px;
	overflow: hidden;
	@include medium-down {
		padding: 20px 0;
		padding-top: 112px;
	}
	@include small-down {
		padding-bottom: 0;
		padding-top: 80px;
		margin-bottom: -120px;
	}
}

.subscribe-bg {
	position: absolute;
	user-select: none;
	&__top {
		width: auto;
		top: -20px;
		left: -210px;
		right: auto;
	}
	&__mid {
		width: auto;
		top: -10px;
		left: -100px;
		right: auto;
	}
	&__bott {
		width: auto;
		top: -200px;
		left: -250px;
	}
	&__hex1 {
		position: absolute;
		top: -150px;
		left: -10px;
	}
	&__hex2 {
		position: absolute;
		top: 70px;
		left: -220px;
		transform: rotate(-150deg);
	}
	&__hex3 {
		position: absolute;
		bottom: 120px;
		left: 52%;
	}


	@include medium-down {
		&__top {
			width: 950px;
			top: 40px;
			left: -260px;
		}
		&__mid {
			width: 810px;
			top: 90px;
			left: -130px;
			right: auto;
		}
		&__bott {
			width: auto;
			top: -140px;
			left: auto;
			left: -210px;
		}
		&__hex1 {
			top: -80px;
			left: 20px;
		}
		&__hex2 {
			display: none;
		}
		&__hex3 {
			display: none;
			bottom: 30px;
			left: 56%;
		}
		&__hex4 {
			display: block;
			bottom: 20px;
			left: 65%;
		}
	}

	@include small-down {
		&__top {
			width: auto;
			top: 40px;
			left: -340px;
			width: 1200px;
		}
		&__mid {
			width: auto;
			top: 300px;
			left: -120px;
			right: auto;
		}
		&__bott {
			width: 850px;
			top: -180px;
			left: auto;
			left: -400px;
		}
		&__hex1 {
			top: -90px;
			left: -77px;
			transform: scale(0.8)
		}
		&__hex2,
		&__hex3,
		&__hex4 {
			display: none;
		}
	}
	@include xsmall-down {
		&__top {
			left: auto;
			right: -300px;
		}
	}
	@include xxsmall-down {
		&__top {
			left: -430px;
			right: auto;
		}
	}
}



.subscribe-wrap {
	position: relative;
	display: flex;
	justify-content: space-between;
	width: 100%;
	max-width: 1070px;

	margin: 0 auto;
	padding: 0 60px;
	padding-left: 60px;
	padding-right: 0px;
	padding-bottom: 100px;

	@include medium-down {
		padding-right: 0px;
		align-items: center;
	}
	@include small-down {
		justify-content: center;
		flex-direction: column;
		padding: 0 15px;
		padding-bottom: 25px;
	}
}

.subscribe {
	width: 100%;
	padding-top: 85px;
	padding-left: 0px;
	box-sizing: content-box;
	z-index: 10;
	&__title {
		margin-top: 0;
		font-family: 'Roboto', sans-serif;
		line-height: 1.2;
		color: $text-light;
	}
	.title-underline {
		&:after {
			margin-left: 0;
			max-resolution: res;
		}
	}

	&__form {
		margin-top: 30px;
		width: 100%;
		max-width: 350px;
		position: relative;
		select {
			color: $input-text;
			option {
				color: #000;
			}
		}
		input,
		textarea,
		select {
			display: block;
			position: relative;
			font-family: 'Roboto', sans-serif;
			background-color: rgba(255, 255, 255, 0);
			border: none;
			font-size: 14px;
			border-bottom: 1px #b3b3b3 solid;
			padding-bottom: 13px;
			padding-top: 22px;
			width: 100%;
			min-height: 52px;
			box-sizing: border-box;
			&::placeholder {
				color: $input-text;
			}
		}
		input {
			color: $text-light;
		}
	}
	&__input-wrap {
		width: 100%;
		position: relative;
		&:before {
			content: '';
			position: absolute;
			left: 0;
			bottom: 0;
			width: 1px;
			height: 4px;
			background-color: $input-text;
		}
		&:after {
			content: '';
			position: absolute;
			right: 0;
			bottom: 0;
			width: 1px;
			height: 4px;
			background-color: $input-text;
		}
	}

	@include xlarge-down {
		&__title {
			font-size: 50px;
			line-height: 1.02;
		}
	}
	@include medium-down {
		max-width: 270px;
		padding-top: 0;
		&__title {
			margin-top: 22px;
		}
		&__form {
			margin-top: 60px;
		}

	}
	@include small-down {
		padding-top: 85px;
		&__title {
			font-size: 36px;
			line-height: 1.02;
			max-width: 370px;
		}
		max-width: 470px;
		padding-right: 0;
		padding-left: 0;
		&__form {
			max-width: 100%;
		}

	}

}

.mc4wp {
	&-response {
		position: relative;
		z-index: 10;
		max-width: 360px;
	}
	&-alert {
		p {
			font-family: 'Roboto', sans-serif;
			font-size: 12px;
			font-weight: normal;
			margin-top: 10px;
		}
	}
	&-error {
		p {
			color: #da285b;
		}
	}
	&-success,
	&-notice {
		p {
			color: #21ac00;
		}
	}

	@include medium-down {
		&-response {
			max-width: 100%;
		}
		&-alert {
			p {
				text-align: center;
			}
		}
	}
}

.previous {
	width: 100%;
	top: 0;
	min-width: 541px;
	margin-right: -30px;
	position: relative;
	z-index: 10;
	&__bg {
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		width: 100%;
		height: 625px;
		&-shadow {
			width: 104%;
			height: auto;
			top: -15px;
			left: -5px;
			opacity: 0.5;
		}
		//		&-shadow2{display: none;}
		//		&-shadow3{display: none;}
		//		&-s {
		//			display: block;
		//		}
		//		&-m {
		//			display: none;
		//		}
		//		&-l {
		//			display: none;
		//		}
	}

	&__title {
		font-family: 'PTSans', sans-serif;
		font-size: 20px;
		font-weight: 700;
		line-height: 1.5;
		letter-spacing: normal;
		text-align: center;
		color: #250f47;
		position: relative;
		z-index: 10;
		margin-bottom: 20px;
	}
	&__cta {
		font-family: 'Roboto', sans-serif;
		font-size: 14px;
		font-weight: 700;
		line-height: 1.86;
		color: #da285b;
		text-align: center;
		position: relative;
		z-index: 10;
		margin-top: 40px;
		margin-bottom: 40px;
		margin-right: auto;
		margin-left: auto;
		display: block;
		&:hover {
			color: $btn-hover-red;
			transition: all 0.3s ease;
			text-decoration: underline;
		}
		&:focus,
		&:active {
			color: $btn-active-red;
			transition: all 0.3s ease;
			text-decoration: underline;
		}
	}

	&__buttons {
		padding: 0 30px;
	}

	&__free-element {
		&-1 {
			position: absolute;
			width: auto;
			height: auto;
			top: 115px;
			right: -50px;
			user-select: none;
		}
		&-2 {
			position: absolute;
			width: 72px;
			height: auto;
			top: 90px;
			left: -50px;
			user-select: none;
		}
	}

	@include xlarge-down {
		min-width: 441px;
		width: 441px;
		margin-right: 0px;
		&__buttons {
			margin-top: 130px;
		}
		&__bg {
			&-shadow {
				width: 108%;
				height: auto;
				top: 50px;
				left: -20px;
			}
			&-s {
				display: none;
			}
			&-m {
				display: block;
			}
		}
		&__free-element {
			&-1 {
				top: 100px;
				right: -70px;
			}
			&-2 {
				display: none;
			}
		}

	}
	@include medium-down {
		margin-top: 120px;
		width: auto;
		&__title {
			font-size: 16px;
			line-height: 1.88;
		}
		&__buttons {
			margin-top: 70px;
			padding: 0 30px;
		}
		&__bg {
			&-shadow {
				display: none;
			}
			&-shadow2 {
				display: none;
				width: 114%;
				height: auto;
				top: 30px;
				left: -20px;
			}
			&-s {
				display: none;
			}
			&-m {
				display: none;
			}
			&-l {
				display: block;
			}
		}
		&__free-element {
			&-1 {
				display: none;
			}
		}
	}

	@include small-down {
		width: 380px;
		margin-left: 0;
		margin-top: 37px;
		min-height: 564px;
		&__bg {}
		&__title {
			font-size: 20px;
		}
	}
}

/* Bg-hexagon */

.previous {
	.hexagon {
		position: relative;
		width: 541px;
		min-height: 300px;
		height: auto;
		background-color: #f8f8f8;
		margin: 156.17px 0;
		box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
		z-index: 10;
	}
	.hexagon:before,
	.hexagon:after {
		content: "";
		position: absolute;
		z-index: 1;
		width: 382.54px;
		height: 382.54px;
		transform: scaleY(0.5774) rotate(-45deg);
		background-color: inherit;
		left: 79.2276px;
		z-index: -1;
	}
	.hexagon:after {
		box-shadow: 0 0 80px rgba(0, 0, 0, 0.4);
	}
	.hexagon:before {
		top: -191.2724px;
	}
	.hexagon:after {
		bottom: -191.2724px;
	}
	/*cover up extra shadows*/
	.hexagon span {
		display: block;
		position: absolute;
		top: 0px;
		left: 0;
		width: 541px;
		height: 100%;
		z-index: 2;
		background: inherit;
		z-index: 2;
	}

	@include xlarge-down {
		.hexagon {
			position: relative;
			width: 441px;
			min-height: 400px;
			height: auto;
			background-color: #f8f8f8;
			margin: 156.17px 0;
			box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
			z-index: 10;
		}
		.hexagon:before,
		.hexagon:after {
			content: "";
			position: absolute;
			z-index: 1;
			width: 311.83px;
			height: 311.83px;
			transform: scaleY(0.5774) rotate(-45deg);
			background-color: inherit;
			left: 64.5830px;
			z-index: 1;
		}
		.hexagon:after {
			box-shadow: 0 0 80px rgba(0, 0, 0, 0.4);
		}
		.hexagon:before {
			top: -155.9170px;
		}
		.hexagon:after {
			bottom: -155.9170px;
		}
		/*cover up extra shadows*/
		.hexagon span {
			display: block;
			position: absolute;
			top: 0px;
			left: 0;
			width: 441px;
			height: 100%;
			z-index: 2;
			background: inherit;
			z-index: 2;
		}
	}
	@include medium-down {
		.hexagon {
			position: relative;
			width: 400px;
			height: auto;
			min-height: 476px;
			background-color: #f8f8f8;
			margin: 115.47px 0;
			margin-right: auto;
			margin-left: auto;
			box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
			z-index: 10;
		}
		.hexagon:before,
		.hexagon:after {
			content: "";
			position: absolute;
			z-index: 1;
			width: 282.84px;
			height: 282.84px;
			transform: scaleY(0.5774) rotate(-45deg);
			background-color: inherit;
			left: 58.5786px;
			z-index: 1;
		}
		.hexagon:after {
			box-shadow: 0 0 80px rgba(0, 0, 0, 0.4);
		}
		.hexagon:before {
			top: -141.4214px;
		}
		.hexagon:after {
			bottom: -141.4214px;
		}
		/*cover up extra shadows*/
		.hexagon span {
			display: block;
			position: absolute;
			top: 0px;
			left: 0;
			width: 400px;
			height: 100%;
			z-index: 2;
			background: inherit;
		}
	}
}

.photo_rectangle_inverse {
	-webkit-clip-path: none;
	clip-path: url(#shape);
	position: relative;
	-webkit-transform: translateZ(1px);
	transform: translateZ(1px);
}

.event-look__svg-mask {
	width: 100%;
	height: 600px;
	margin: 0 auto;
	display: block;
	@include xlarge-down {
		height: 500px;
	}
	@include medium-down {
		height: 400px;
	}
}

.validation-bubble {
	position: absolute;
	top: 54px;
	left: 30%;
	z-index: 10;
	p {
		position: relative;
		display: inline-block;
		width: auto;
		font-family: 'Roboto', sans-serif;
		font-size: 14px;
		font-weight: normal;
		line-height: 1.3;
		text-align: left;
		color: #d82256;
		padding: 8px 22px 7px 43px;
		background-color: #fff;
		border-radius: 30px;
		z-index: 2;
		&:before {
			content: '';
			position: absolute;
			left: 6px;
			top: 0;
			bottom: 0;
			margin: auto 0px;
			background-color: #d82256;
			border-radius: 100%;
			width: 25px;
			height: 25px;
			background-image: url(../img/icons/alert.svg);
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
			background-size: 3.5px 100%;
			z-index: 3;
		}
		&:after {
			position: absolute;
			content: '';
			top: -6px;
			left: 10%;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 0 8px 8px 8px;
			border-color: transparent transparent #ffffff transparent;
			z-index: 1;
		}
	}
}

div.pdfemb-viewer{
	border: none !important
}

.blogs-content .sheet-text-wrap{
	position: relative;
	min-height: 300px;
}
.custom-pdf-preloader{
	width: 100%;
	height: 300px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1000;
	background-color: #f9fafc;
	background-image: url('../img/boards/awir_preloader.svg');
	background-repeat: no-repeat;
	background-size: 50px 50px;
	background-position: 50%;
}
/*
div.pdfemb-loadingmsg{
	position: relative;
	min-height: 150px;

	&:after{
		content: '';
		display: block;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1000;
		background-color: #f9fafc;
		background-image: url('../img/boards/awir_preloader.svg');
		background-repeat: no-repeat;
		background-size: 50px 50px;
		background-position: 50%;
	}
}*/