.membership-header {
	position: relative;
	.pages-header {
		background-image: url('../img/membership/membership_bg.jpg');
		@include xsmall-down {
			background-image: url('../img/membership/membership_bg-m.jpg');
		}
	}
}

/*--------------*/

.membership-hexset-top {
	position: absolute;
	top: 40%;
	left: 0;
	right: 0;
	height: 340px;
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
	@include small-down {
		display: none;
	}
	.hexset-middle {
		position: absolute;
		right: 0;
	}
}

.membership-hexset-middle {
	position: absolute;
	top: 69%;
	left: 0;
	right: 0;
	height: 340px;
	width: 100%;
	max-width: 1250px;
	margin: 0 auto;
	overflow: hidden;
	@include small-down {
		display: none;
	}
	.hexset-middle {
		position: absolute;
		left: 0;
	}
}



.membership-banner {
	background-color: #673193;
	background-image: url(../img/membership/membership_6.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	border-radius: 6px 6px 0 0;
	position: relative;
	padding: 30px 40px;
	display: flex;
	align-items: center;
	justify-content: space-around;

	&__small {
		border-radius: 6px;
		margin-bottom: 60px;
		margin-top: 30px;
		.membership-banner__subtitle {
			margin-bottom: 0;
		}
	}
	&__text-wrap {
		width: 100%;
		max-width: 410px;
		margin-right: 15px;
		z-index: 10;
	}
	&__title {
		font-family: 'PTSans', sans-serif;
		font-size: 40px;
		font-weight: bold;
		line-height: 0.75;
		color: #ffffff;
	}
	&__subtitle {
		font-family: 'Roboto', sans-serif;
		font-size: 20px;
		font-weight: normal;
		line-height: 1.2;
		color: #c8c8c8;
		margin-bottom: 50px;
		margin-top: 5px;
	}
	&__info {
		font-family: 'Roboto', sans-serif;
		font-size: 20px;
		font-weight: bold;
		line-height: 1.45;
		color: #ffffff;
	}

	@include medium-down {
		&__title {
			font-size: 28px;
		}
		&__subtitle {
			font-size: 16px;
		}
		&__info {
			font-size: 16px;
		}
	}
	@include small-down {
		flex-direction: column;
		&__text-wrap {
			margin-right: 0;
		}
	}
}

.btn {
	z-index: 10;
	&__become-member {
		width: 100%;
		max-width: 218px;
		border-radius: 6px;
		background-color: #d82256;
		text-align: center;
		font-family: 'Roboto', sans-serif;
		font-size: 21px;
		font-weight: 500;
		line-height: normal;
		color: #ffffff;
		min-width: 170px;
		transition: background-color 0.3s ease;
		&:hover {
			background-color: #884fc6;
			transition: background-color 0.3s ease;
		}
		&:active,
		&:focus {
			background-color: #673899;
			transition: background-color 0.3s ease;
		}
		@include medium-down {
			font-size: 16px;
		}
		@include small-down {
			margin-top: 30px;
		}
	}
}

.membership-benefits {
	padding-top: 35px;
	border-radius: 0 0 6px 6px;
	background-color: #f6f6f6;
	padding: 30px 40px;
	padding-bottom: 5px;
	margin-bottom: 60px;
	position: relative;
	overflow: hidden;
	&:after {
		pointer-events: none;
		content: '';
		position: absolute;
		top: -5px;
		right: -5px;
		width: 107px;
		height: 100%;
		top: 0;
		right: 0;
		background-image: url(../img/membership/membership_1.png);
		background-position: top right;
		background-repeat: no-repeat;
	}
	.new-archive-text-wrap a:after {
		content: url(../img/icons/red-arrow-bottom.svg);
		top: 0;
	}
	.sheet-text-wrap {
		a {
			text-transform: none;
		}
	}

	@include small-down {
		&__hex-element {
			display: none;
		}
	}
}

.benefits-description {
	display: none;
	p {
		max-width: 95%;
		padding-bottom: 20px;
	}
}

.benefit {
	&:last-child {
		border-bottom: none;
		margin-bottom: 30px;
	}
}


.benefit-active {
	.benefits-description {
		display: block;
	}
	img {
		transform: rotate(180deg);
	}
}

.membership-text-wrap {
	div,
  h4,
	p {
		max-width: 630px;
		margin-bottom: 20px;
	}
	h4 {
		margin-top: 60px;
	}
}

.membership-page {
	.new-archive-text-wrap {
		h2 {
			margin-bottom: 30px;
		}
	}
}

// PDF styles correction
div.pdfemb-viewer{
	border: none;
	background-color: #fff;
}
