.list-step-label {
	text-align: center;
	a {
		display: inline-block;
		width: auto;
		margin: 0 auto;
		font-family: 'Roboto', sans-serif;
		font-size: 16px;
		font-weight: normal;
		line-height: 1.5;
		text-align: center;
		color: #250f47;
	}
}

.membership-plans {
	width: 100%;
	max-width: 632px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 60px;
	&__info {
		margin-right: 30px;
		min-width: 200px;
	}
	&__item {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		padding-bottom: 0px;
		margin-bottom: 0px;
	}
	&__title {
		font-family: 'Roboto', sans-serif;
		font-size: 18px;
		font-weight: bold;
		line-height: 1.33;
		text-align: left;
		color: #401557;
		margin-bottom: 20px;
	}
	&__price {
		font-family: 'Roboto', sans-serif;
		font-size: 16px;
		font-weight: normal;
		line-height: 1.5;
		text-align: left;
		color: #250f47;
	}
	&__btn {
		max-width: 180px;
		height: 46px;
	}

	@include xsmall-down {
		&__item {
			padding-bottom: 30px;
			margin-bottom: 30px;
			flex-direction: column;
			justify-content: flex-start;
			align-items: flex-start;
		}
		&__title {
			margin-bottom: 5px;
		}
		&__btn {
			margin-top: 15px;
		}
	}
}

.membership-fees {
	width: 100%;
	max-width: 632px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 60px;
	&__info {
		margin-right: 30px;
		min-width: 200px;
	}
	&__total{
		font-family: 'PTSans', sans-serif;
		font-size: 18px;
		font-weight: bold;
		text-align: right;
		line-height: 1.1;
		color: #250f47;
		margin-bottom: 5px;
	}
	&__item {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		padding-bottom: 0px;
		margin-bottom: 0px;
	}
	&__title {
		font-family: 'Roboto', sans-serif;
		font-size: 24px;
		font-weight: bold;
		line-height: 1.33;
		text-align: left;
		color: #401557;
		margin-bottom: 15px;
	}
	&__price {
		font-family: 'Roboto', sans-serif;
		font-size: 18px;
		font-weight: normal;
		line-height: 1.1;
		text-align: left;
		color: #250f47;
		display: block;
		width: 200px;
		@include small-down{
			margin-bottom: 15px;
		}
	}
	&__btn {
		max-width: 180px;
		height: 46px;
		margin: 0 auto;
		margin-top: 25px;
	}

	@include xsmall-down {
		&__item {
			padding-bottom: 30px;
			margin-bottom: 30px;
			flex-direction: column;
			justify-content: flex-start;
			align-items: flex-start;
		}
		&__title {
			margin-bottom: 5px;
		}
		&__btn {
			margin-top: 15px;
		}
	}
}

.fees-code-wrap {
	margin-top: 50px;
	@include small-down {
		flex-direction: column;
		margin-top: 30px;
	}
}

.fees-code {
	display: flex;
	width: 100%;
	max-width: 100%;
	border-radius: 6px;
	background-color: #f6f6f6;
	padding: 20px 20px 20px 35px;
	margin-right: 20px;
	margin-bottom: 15px;
	position: relative;
	@include small-down{
		flex-direction: column;
	}
	&:after {
		content: '';
		width: 28px;
		height: 100%;
		background-image: url(../img/my-profile/discount-bg.png);
		background-size: contain;
		background-position: bottom left;
		background-repeat: no-repeat;
		position: absolute;
		bottom: 0;
		left: 0;
	}
	&__item{
		width: 100%;
		&:first-child{
			width: 30%;
		}
		&:last-child{
			width: 70%;
		}
		@include small-down{
			width: 100% !important;
		}
	}
	&__title {
		font-family: 'PTSans', sans-serif;
		font-size: 18px;
		font-weight: bold;
		line-height: 1.1;
		color: #250f47;
		margin-bottom: 15px;
	}
	&__input {
		display: flex;
	}
	input {
		width: 100%;
		height: 35px;
		border-radius: 3px;
		background-color: #ffffff;
		border: solid 1px #e7e7e7;
		padding: 5px 10px;
		padding-bottom: 2px;
		margin-right: 7px;
		font-family: 'Roboto', sans-serif;
		font-size: 14px;
		font-weight: normal;
		line-height: 1.29;
		color: #250f47;
	}
	&__btn {
		height: 35px;
		border-radius: 3px;
		border: solid 1px rgba(236, 171, 190, 0.31);
		text-align: center;
		padding: 10px 10px;
		font-family: 'PTSans', sans-serif;
		font-size: 14px;
		font-weight: bold;
		font-style: normal;
		font-stretch: normal;
		line-height: 1.2;
		letter-spacing: normal;
		color: #d82256;
		&:hover{
			cursor: pointer;
		}
	}

	@include small-down {
		margin-right: 0;
		margin-bottom: 15px;
		padding: 15px;
		&:after {
			background-size: contain;
			background-position: bottom left;
			background-repeat: no-repeat;
			transform: rotate(180deg);
			top: 0;
			right: 0;
			left: auto;
		}
		&__title {
			font-size: 16px;
			margin-bottom: 10px;
		}
	}
}