.user-sheet {
	.membership-hexset-middle {
		max-width: 1130px;
	}
	.membership-hexset-top {
		max-width: 1170px;
	}
}

.message-board {
	.sheet {
		padding: 0;
		display: flex;
		@include xsmall-down {
			flex-direction: column;
		}
	}
}

.user-sheet-blog {
	.membership-hexset-middle {
		max-width: 100%;
		.hexset-middle {
			left: -1px;
		}
	}
	.membership-hexset-top {
		max-width: 100%;
		.hexset-middle {
			right: -50px;
		}
	}
}

.blogs-wrap {
	width: 100%;
	padding: 45px 30px;
	position: relative;
	z-index: 1;
	.sheet__title {
		margin-bottom: 20px;
	}
	@include xsmall-down {
		padding-right: 15px;
		padding-left: 15px;
	}
}

.blogs-content {
	width: 100%;
	&__subtitle {
		font-family: 'Roboto', sans-serif;
		font-size: 13px;
		font-weight: 500;
		line-height: 1.15;
		color: #7e7e7e;
	}
	&__image {
		width: 100%;
		border-radius: 5px;
	}
	&__item {
		border-bottom: 2px rgba(#979797, 0.4) solid;
		margin-bottom: 60px;
	}
	&__links {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-top: 8px;
		margin-bottom: 30px;
		@include xsmall-down {
			margin-top: 0;
			flex-direction: column-reverse;
			align-items: baseline;
		}
	}
	&__activity {
		margin-bottom: 20px;
		display: flex;
	}
	&__activity-vievs {
		font-family: 'Roboto', sans-serif;
		font-size: 13px;
		font-weight: 500;
		line-height: 1.2;
		color: rgba(#1d1f24, 0.4);
		position: relative;
		margin-right: 30px;
		padding-left: 30px;
		&:before {
			position: absolute;
			content: '';
			width: 22px;
			height: 15px;
			top: 0;
			left: 0px;
			background-image: url(../img/user-pages/message/viev-icon.svg);
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center;
		}
	}
	&__activity-messages {
		font-family: 'Roboto', sans-serif;
		font-size: 13px;
		font-weight: 500;
		line-height: 1.2;
		color: rgba(#1d1f24, 0.4);
		position: relative;
		padding-left: 25px;
		&:before {
			position: absolute;
			content: '';
			width: 22px;
			height: 15px;
			top: 0;
			left: 0;
			background-image: url(../img/user-pages/message/reply-icon.png);
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center;
		}
	}
}
.protection-window{
  display: none;
}
.protection-overlay{
  display: none;
  content: '';
  background-color: rgba(0,0,0,0.6);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 10;
}
.pdf_protected{
  display: none !important;
  position: relative;
  overflow: hidden;
  .protection-overlay{
    display: block;
  }
	.protection-window{
    overflow: auto;
    display: block;
    border: 1px solid #acacac;
		box-shadow: 0px 0px 20px #acacac;
		background-color: white;
		position: absolute;
		margin: 5%;
    padding: 0 5%;
    padding-bottom: 30px;
		box-sizing: border-box;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
    z-index: 999;
		&__title{
			color: #250f47;
			font-size: 30px;
			text-align: center;
			padding-top: 30px;
			margin-bottom: 20px;
			font-weight: bold;
      line-height: 1.3;
      @include small-down{
        font-size: 18px;
      }
		}
		&__form{
      position: relative;
			left: 0;
			right: 0;
			margin: 0 auto;
      text-align: center;
    }
    &__list{
      margin-bottom: 40px;
    }
    &__list-item{
      margin-bottom: 30px;
    }
    &__text{
      margin-bottom: 10px;
      max-width: 100% !important;
      @include small-down{
        font-size: 14px;
      }
    }
    &__checkbox{
      vertical-align: middle;
    }
		&__lable{
			font-family: 'Roboto', sans-serif;
			color: #250f47;
			font-size: 16px;
			text-align: center;
			font-weight: bold;
      line-height: 1.3;
      margin-left: 3px;
		}
		&__checkbox{
			-webkit-appearance: checkbox;
			appearance: checkbox;
    }
    &__btn{
      font-size: 16px;
      color: #ffffff;
      padding: 15px 10px 14px 10px;
      max-width: 100px;
      margin: 0 auto;
      margin-top: 20px;
    }
	}
}
.user-logged {
  display: block !important;
}

.internal-content-wrap {
	width: 100%;
	padding: 0 30px;
	@include xsmall-down {
		padding: 0 0px;
	}
}

.internal-content {
	.blogs-content__item {
		border-bottom: none;
	}
}

.item-protected{
  display: none !important;
}

.blogs-content {
	.sheet-text-wrap {
		margin-top: 25px;
		width: 100%;
		margin-bottom: 30px;
		p {
			max-width: 100%;
		}
	}
}

.blogs__more {
	display: inline-block;
	position: relative;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: bold;
	line-height: 1.86;
	text-align: left;
	color: #da285b;
	&:hover {
		text-decoration: underline;
	}
	&:after {
		position: absolute;
		content: '';
		background-image: url(../img/icons/red-arrow-bottom.svg);
		background-position: center;
		background-size: contain;
		background-repeat: no-repeat;
		width: 11px;
		height: 11px;
		right: -16px;
		bottom: 8px;
	}
}

/* Pagination */

[data-pagination] {
	position: relative;
	font-size: 15px;
	line-height: 1;
	font-weight: 400;
	font-family: 'Roboto', sans-serif;
	text-align: center;
	transition: font-size .2s ease-in-out;
	margin: 0 auto;
}

[data-pagination] .title {
	display: inline-block;
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	font-weight: bold;
	line-height: normal;
	color: #383838;
	padding-right: 45px;
	@include small-down {
		display: none;
	}
}

[data-pagination] ul {
	list-style-type: none;
	display: inline;
	font-size: 100%;
	margin: 0;
	position: relative;
}

[data-pagination] ul li {
	display: inline-block;
	font-size: 15px;
	border-radius: 50px;
	&:hover,
	&:focus {}
}

[data-pagination] .prev {
	padding: 0;
	margin: 0;
	content: '';
	position: absolute;
	display: block;
	background-image: url(../img/icons/red-arrow-bottom.svg);
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	width: 11px;
	height: 11px;
	left: -23px;
	bottom: 3px;
	transform: rotate(90deg);
}

[data-pagination] .next {
	padding: 0;
	content: '';
	position: absolute;
	display: block;
	background-image: url(../img/icons/red-arrow-bottom.svg);
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	width: 11px;
	height: 11px;
	right: -23px;
	bottom: 3px;
	transform: rotate(-90deg);
}

[data-pagination] a {
	color: #383838;
	font-size: 100%;
	padding: 10px 15px;
	width: 30px;
	height: 30px;
}

[data-pagination] a:focus,
[data-pagination] a:hover {
	color: #d82256;
}

[data-pagination] li.current {
	a {
		background-color: #d82256;
		border-radius: 50px;
		color: $white;
		&:hover {
			color: $white;
		}
	}
}

/* Disabled & Hidden Styles */

[data-pagination] .disabled,
[data-pagination] [hidden],
[data-pagination] [disabled] {
	pointer-events: none;
}

/* Side-bar */

.blogs-sidebar {
	padding: 40px 30px;
	background-color: #f9fafc;
	min-width: 300px;
	position: relative;
	z-index: 10;
	@include medium-down {
		min-width: 230px;
	}
	@include small-down {
		min-width: 50px;
		width: 50px;
	}
	@include xsmall-down {
		min-width: 100%;
		width: 100%;
		padding: 30px 30px;
	}
	&__list {
		margin-bottom: 20px;
		border-bottom: 1px #eeeeee solid;
		&:last-child {
			border-bottom: none;
		}
		@include small-down {
			display: none;
		}
	}
	&.open {
		position: absolute;
		width: 100%;
		.blogs-sidebar__list {
			display: block;
		}
	}

	&__title {
		font-family: 'Roboto', sans-serif;
		font-size: 12px;
		text-transform: uppercase;
		font-weight: 500;
		line-height: normal;
		color: #989898;
		margin-bottom: 10px;
	}
	&__link {
		a {
			display: block;
			font-family: 'Roboto', sans-serif;
			font-size: 16px;
			font-weight: normal;
			line-height: 1.5;
			color: #250f47;
			padding-top: 10px;
			padding-bottom: 10px;
			padding-left: 15px;
			padding-right: 15px;
			border-radius: 4px;
		}
		&.active {
			background-color: #fff;
			a {
				font-weight: 700;
			}
		}
	}
	&__back {
		position: relative;
		padding-left: 15px;
		display: flex;
		span {
			display: block;
			font-weight: 700;
			font-size: 20px;
			font-family: 'Roboto', sans-serif;
			font-size: 20px;
			font-weight: bold;
			line-height: normal;
			color: #250f47;
			padding-left: 15px;
			&:hover {
				text-decoration: underline;
			}
		}
		&:before {
			display: block;
			content: '';
			position: absolute;
			display: block;
			width: 19px;
			height: 11px;
			background-image: url(../img/icons/arrow-dark-left.svg);
			background-size: contain;
			background-position: center;
			background-repeat: no-repeat;
			left: 0;
			top: calc(50% - 5px);
		}
		@include xsmall-down {
			&:before {
				left: -10px;
			}
			span {
				display: block;
			}
			left: 30px;
			padding-left: 0;
		}
	}
	&__social-list {
		margin-top: 80px;
		display: flex;
		flex-direction: column;
		align-items: center;
		@include xsmall-down {
			margin-top: 0;
			flex-direction: row;
			justify-content: center;
		}
	}
	&__social {
		margin-bottom: 22px;
		img{
			min-width: 10px;
		}
		.blogs-sidebar__facebook{
			min-width: 20px;
		}
		@include xsmall-down {
			margin-bottom: 0;
			margin-right: 10px;
		}
	}
}

.blogs-sidebar.internal-sidebar {
	width: 138px;
	min-width: 138px;
	@include xsmall-down {
		width: 100%;
		padding: 15px;
		display: flex;
		justify-content: space-between;
	}
}



//Sidebar menu button
.btn-menu-sidebar {
	width: 22px;
	height: 18px;
	position: absolute;
	top: 23px;
	right: 18px;
	z-index: 100;
	transform: rotate(0deg);
	transition: .5s ease-in-out;
	cursor: pointer;
	span {
		display: block;
		position: absolute;
		height: 2px;
		width: 100%;
		background: #000;
		border-radius: 5px;
		opacity: 1;
		left: 0;
		transform: rotate(0deg);
		transition: .25s ease-in-out;
		&:nth-child(1) {
			top: 0px;
		}
		&:nth-child(2),
		&:nth-child(3) {
			top: 7px;
		}
		&:nth-child(4) {
			top: 14px;
		}
	}
	&.open {
		span {
			&:nth-child(1) {
				top: 18px;
				width: 0%;
				left: 50%;
			}
			&:nth-child(2) {
				transform: rotate(45deg);
			}
			&:nth-child(3) {
				transform: rotate(-45deg);
			}
			&:nth-child(4) {
				top: 18px;
				width: 0%;
				left: 50%;
			}
		}
	}
} //end sidebar button
.blogs-text-wrap {
	h2 {
		margin-top: 50px;
	}
	p {
		margin-bottom: 30px;
		&:last-child {
			margin-bottom: 70px;
		}
	}
}

.comments-wrap {
	padding: 50px 80px 50px 70px;
	background-color: #f9fafc;
	@include medium-down {
		padding: 40px 30px;
	}
	@include small-down {
		padding: 20px 15px;
	}

	&__title {
		font-family: 'PTSans', sans-serif;
		font-size: 24px;
		font-weight: 600;
		font-style: normal;
		font-stretch: normal;
		line-height: 1.42;
		letter-spacing: -0.2px;
		color: #1d1f24;
		margin-bottom: 30px;
		span {
			font-family: 'PTSans', sans-serif;
			font-size: 24px;
			font-weight: 600;
			font-style: normal;
			font-stretch: normal;
			line-height: 1.42;
			letter-spacing: -0.2px;
			color: #884fc6;
		}
	}
}

.comment {
	padding-bottom: 65px;
	margin-bottom: 30px;
	border-bottom: 1px #e9e9e9 solid;
	&__content-wrap{
		display: flex;
	}
	&-reply {
		&--level1 {
			margin-left: 60px;
		}
		&--level2 {
			margin-left: 120px;
		}
	}
	@include small-down {
		&__content-wrap{
		 flex-direction: column;
		}
		&-reply {
			&--level1 {
				margin-left: 30px;
			}
			&--level2 {
				margin-left: 60px;
			}
		}
	}
	&__image {
		max-width: 44px;
		height: 44px;
		margin-right: 15px;
		border-radius: 100%;
	}
	&__content {
		margin-top: 10px;
	}
	&__autor {
		display: flex;
		align-items: baseline;
		margin-bottom: 15px;
		@include small-down {
			flex-direction: column;
		}
	}
	&__autor-name {
		display: inline-block;
		margin-right: 60px;
		font-family: 'Roboto', sans-serif;
		font-size: 16px;
		font-weight: 500;
		line-height: 1.5;
		color: #250f47;
		position: relative;
		max-width: 300px;
		&:after {
			position: absolute;
			content: '';
			width: 19px;
			height: 15px;
			top: 0;
			margin-top: 4px;
			right: -40px;
			background-image: url(../img/icons/ic-letter.svg);
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center;
		}
		@include medium-down {
			margin-right: 40px;
			&:after {
				right: -25px;
			}
		}
		@include small-down {
			margin-bottom: 10px;
			margin-right: 0;
			padding-left: 30px;
			&:after {
				right: auto;
				left: 0;
			}

		}
	}
	&__date {
		opacity: 0.4;
		font-family: 'Roboto', sans-serif;
		font-size: 14px;
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		line-height: 1.1;
		letter-spacing: normal;
		color: #1d1f24;
		position: relative;
		padding-left: 28px;
		max-width: 300px;
		&:before {
			position: absolute;
			content: '';
			width: 18px;
			height: 18px;
			top: 0;
			left: 0;
			margin-top: -2px;
			background-image: url(../img/icons/clock.svg);
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center;
		}
	}
	&__message {
		font-family: 'Roboto', sans-serif;
		font-size: 16px;
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		line-height: 1.63;
		letter-spacing: normal;
		color: #1d1f24;
		opacity: 0.7;
	}
	&__reply {
		display: block;
		font-family: 'Roboto', sans-serif;
		font-size: 14px;
		font-weight: 400;
		line-height: normal;
		letter-spacing: 1.8px;
		text-transform: uppercase;
		opacity: 0.48;
		color: #1d1f24;
		position: absolute;
		padding-left: 30px;
		margin-top: 15px;
		&:before {
			position: absolute;
			content: '';
			width: 20px;
			height: 20px;
			top: 0;
			left: 0;
			background-image: url(../img/icons/reply.svg);
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center;
		}
	}
}

.add-comment {
	padding: 20px 40px;
	background-color: #fff;
	&__title {
		font-family: 'Roboto', sans-serif;
		font-size: 14px;
		font-weight: 500;
		line-height: normal;
		letter-spacing: 1.8px;
		color: #1d1f24;
		text-align: center;
		text-transform: uppercase;
		margin-bottom: 20px;
	}
	&__avatar {
		min-width: 44px;
		min-height: 44px;
		width: 44px;
		height: 44px;
		border-radius: 100px;
		margin-right: 20px;
		background-color: #5f378b;
		@include small-down {
			width: 77px;
			height: 77px;
		}
	}
	&__inner {
		display: flex;
		@include small-down {
			flex-direction: column;
			align-items: center;
		}
	}
	&__form {
		width: 100%;
		max-width: 520px;
		background-color: #fff;
		border-radius: 4px;
		input,
		textarea {
			font-family: 'Roboto', sans-serif;
			font-size: 16px;
			font-weight: normal;
			line-height: 1.38;
			letter-spacing: normal;
			color: #1d1f24;
			padding: 15px;
			border: solid 1px #e9e9e9;
			width: 100%;
			min-width: 100%;
			max-width: 100%;
			min-height: 80px;
			border-radius: 6px;
			opacity: 0.4;
			&:placeholder {
				font-family: 'Roboto', sans-serif;
				font-size: 16px;
				font-weight: normal;
				line-height: 1.38;
				letter-spacing: normal;
				color: #1d1f24;
			}
		}
		textarea{
			resize: none;
		}
		@include small-down {
			margin-top: 20px;
		}
	}
	&__btn {
		max-width: 124px;
		margin-left: auto;
		margin-right: 0;
		margin-top: 10px;
		@include small-down {
			margin-right: auto;
			margin-left: auto;
			max-width: 100%;
			padding: 10px;
		}
	}
}

#add-comment-reply{
	margin-top: 30px;
	margin-left: 20px;
	padding-right: 0;
	padding-bottom: 0;
	margin-left: 0;
	padding-left: 0;
	&.add-comment{
		background-color: rgba(#fff,0);
	}
	.add-comment__form{
		background-color: rgba(#fff,0);
		max-width: 100%;
		input, textarea{
			background-color: #fff;
		}
	}
	.add-comment__btn{
		padding: 10px;
	}
}
.related {
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	margin-top: 30px;
	@include small-down {
		flex-direction: column;
		align-items: center;
	}
	&__main-title {
		font-family: 'PTSans', sans-serif;
		font-size: 30px;
		font-weight: bold;
		line-height: 1.2;
		color: #250f47;
		text-align: center;
		margin-top: 70px;
	}
	&__item {
		width: 33.33%;
		margin-right: 15px;
		&:last-child {
			margin-right: 0;
		}
		@include small-down {
			width: 90%;
			margin: 0 auto;
			margin-bottom: 30px;
			&:last-child {
				margin: 0 auto;
			}
		}
	}
	&__image {
		width: 100%;
	}
	&__title {
		font-family: 'PTSans', sans-serif;
		font-size: 18px;
		font-weight: 600;
		line-height: 1.3;
		color: #250f47;
	}
	&__text {
		font-family: 'Roboto', sans-serif;
		font-size: 16px;
		font-weight: 500;
		font-style: normal;
		line-height: normal;
		color: #7a7a7a;
	}
}

.page-numbers .current {
	background-color: #d82256;
	border-radius: 50px;
	color: #ffffff;
	padding: 3px 8px;
	width: 20px;
	height: 20px;
}

.btn-filter {
	position: absolute;
	left: 8px;

	//right: 20px;
	//padding-right: 80px;
	p{
		font-family: 'Roboto', sans-serif;
		color: #250f47;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.3;
    text-align: left;
    margin-bottom: 30px;
		padding-top: 25px;
	}
	&:after {
		content: '';
		position: absolute;
		width: 22px;
		height: 22px;
		left: 12px;
		background-image: url('../img/icons/filter.svg');
		background-position: center;
		background-size: contain;
		background-repeat: no-repeat;
		opacity: 0.5;
	}

	@include small-down{
		display: flex;
	}
	@include xsmall-down{
		right: 20px;
		left: auto;
		padding-right: 75px;
		flex-direction: row;
		&:after {
			left: auto;
			right: 0;
		}
		p{
			padding-top: 0;
		}
	}
}
