/* User-pages-header background */

.user-pages-header {
	width: 100%;
	margin: 0 auto;
	right: 0;
	left: 0;
	height: 1000px;
	position: absolute;
	overflow: hidden;
	&__bg {
		position: absolute;
	}
	&__bg-top {
		top: 24px;
		left: 0;
		right: 0;
		margin: 0 auto;
	}
	&__bg-mid {
		top: 60px;
		left: 0;
		right: -60px;
		margin: 0 auto;
	}
	&__bg-bot {
		top: 110px;
		right: 60px;
		left: auto;
		transform: rotate(10deg);
	}
	&__bg-hex {
		right: 20%;
		top: 175px;
	}
	&__bg-hex2 {
		right: 80%;
		top: 530px;
	}
	&__bg-hex3 {
		display: none;
		right: -20px;
		top: 120px;
		@include small-down {
			display: block;
		}
	}



	@include xlarge-down {
		&__bg {
			position: absolute;
		}
		&__bg-top {
			top: 24px;
			right: 30px;
			left: auto;
		}
		&__bg-mid {
			top: 50px;
			right: -50px;
			left: auto;
		}
		&__bg-bot {
			top: 110px;
			right: -20px;
			left: auto;
			transform: rotate(10deg);
		}
		&__bg-hex {
			right: 20%;
			top: 175px;
		}
		&__bg-hex2 {
			right: 80%;
			top: 530px;
		}
		&__bg-hex3 {
			display: none;
			right: -20px;
			top: 120px;
			@include small-down {
				display: block;
			}
		}
	}

	@include medium-down {
		&__bg-top {
			width: 2300px;
			top: -140px;
			right: -60px;
			left: auto;
		}
		&__bg-mid {
			width: 2300px;
			top: -110px;
			right: -110px;
			left: auto;
		}
		&__bg-bot {
			width: 600px;
			top: 15px;
			right: -10px;
			left: auto;
			transform: rotate(15deg);
		}
		&__bg-hex {
			left: auto;
			top: 200px;
			transform: scale(0.75) rotate(30deg);
			right: -100px;
		}
	}

	@include small-down {
		&__bg-top {
			width: 2300px;
			top: -140px;
			right: -490px;
			transform: rotate(10deg);
			left: auto;
		}
		&__bg-mid {
			width: 2300px;
			top: -110px;
			right: -260px;
			left: auto;
		}
		&__bg-bot {
			width: 300px;
			top: 25px;
			right: -60px;
			left: auto;
			transform: none;
		}

		&__bg-hex {
			display: none;
		}
	}
	@include xsmall-down {

		&__bg-hex {
			left: auto;
			top: 200px;
			transform: scale(0.75) rotate(30deg);
			right: -100px;
		}
		&__bg-hex {
			display: none;
		}
		&__bg-hex2 {
			display: none;
		}
	}
}

.exhibitors-hexset {
	bottom: 360px;
	.pages-set7 {
		right: 86%;
	}
	@include small-down {
		bottom: 0;
		display: block;
		.pages-set7 {
			bottom: -170px;
			left: -40px;
			transform: scale(0.75) rotate(180deg);
		}
	}
}

.sheet-section.user-sheet {
	@include xsmall-down {
		.sheet {
			background-color: #fff;
			margin-top: 0;
		}
	}
}

.user-profile-sheet {
	.sheet {
		min-height: 791px;
	}
}

.user-wrapper {
	width: 100%;
	max-width: 1128px;
	margin: 0 auto;
	padding-top: 120px;
	z-index: 10;

	@include medium-down {
		padding-top: 100px;
	}
}

.user-top {
	position: relative;
	display: flex;
	margin-right: 100px;
	margin-left: 100px;
	margin-bottom: 60px;
	@include medium-down {
		margin-right: 60px;
		margin-left: 60px;
	}
	@include small-down {
		flex-direction: column;
		align-items: center;
		text-align: center;
		margin-right: 15px;
		margin-left: 15px;
	}
}

.user-photo {
	margin-right: 15px;
	width: 123px;
	height: 123px;
	border-radius: 100px;
	@include medium-down {
		width: 74px;
		height: 74px;
	}
}

.user-data {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	padding-bottom: 8px;
	&__name {
		font-family: 'Roboto', sans-serif;
		font-size: 34px;
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		line-height: normal;
		letter-spacing: normal;
		color: #ffffff;
	}
	&__member {
		font-family: 'Roboto', sans-serif;
		opacity: 0.56;
		font-size: 15px;
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		line-height: normal;
		letter-spacing: normal;
		color: #ffffff;
		margin-bottom: 25px;
	}
	&__tags-wrap {
		display: flex;
		justify-content: flex-start;
		flex-wrap: wrap;
	}
	&__tag {
		font-family: 'Roboto', sans-serif;
		font-size: 16px;
		font-weight: normal;
		line-height: normal;
		color: #ffffff;
		padding: 10px 20px 8px 20px;
		background-color: #4e2166;
		border-radius: 4px;
		margin-right: 10px;
		margin-bottom: 10px;
		&:hover {
			background-color: #d82256;
		}
		&:hover,
		&:active,
		&:focus {
			background-color: #c01848;
		}
	}
	@include medium-down {
		padding-top: 10px;
		&__name {
			font-size: 30px;
		}
		&__tag {
			font-size: 14px;
		}
	}
}

.user-menu {
	display: flex;
	justify-content: space-between;
	position: relative;
	margin-right: 100px;
	margin-left: 100px;
	padding-bottom: 15px;
	z-index: 10;
	&__content {
		display: flex;
		.user-menu__link {
			margin-right: 40px;
		}
	}
	&__link {
		font-family: 'Roboto', sans-serif;
		position: relative;
		font-size: 20px;
		font-weight: normal;
		line-height: normal;
		color: #ffffff;
		min-height: 30px;
		&:hover {
			border-bottom: 4px #d82256 solid;
		}
		&.page-active {
			border-bottom: 4px #d82256 solid;
		}
		&.new-messages-marker {
			&:after {
				right: -10px;
				top: -5px;
			}
		}
	}
	&__profile {
		display: flex;
	}

	@include medium-down {
		margin-right: 80px;
		margin-left: 60px;
		&__link {
			font-size: 16px;
		}
	}
	@include small-down {
		display: none;
		margin-right: auto;
		margin-left: auto;
		position: absolute;
		background-color: $main-dark;
		width: 290px;
		border-radius: 6px;
		left: 0;
		right: 0;
		margin: 0 auto;
		padding-top: 30px;
		margin-bottom: 50px;
		box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.16);
		z-index: 100;
		&__content {
			flex-direction: column;
			align-items: center;
		}
		.user-menu__link {
			margin-right: 0;
			margin-bottom: 10px;
			color: #fff;
			font-weight: 500;
		}
		&__profile {
			align-items: center;
			justify-content: center;
		}
		flex-direction: column;
		align-items: center;
	}
}

.user-menu.active {
	display: block;
}

.profile-menu {
	&__button {
		display: none;
		width: 100px;
		margin: 0 auto;
		text-align: center;
		margin-bottom: 10px;
		position: relative;
		&:after {
			content: '';
			position: absolute;
			width: 0;
			height: 0;
			right: -5px;
			top: calc(50% - 7px);
			border-style: solid;
			border-width: 6px 6.5px 0 6.5px;
			border-color: #ffffff transparent transparent transparent;
		}
		&:hover,
		&:active,
		&:focus {
			border-bottom: none;
		}
		@include small-down {
			display: block;
		}
	}
}

.new-messages-marker {
	&:after {
		top: 0;
		right: 0;
		position: absolute;
		content: '';
		width: 9px;
		height: 9px;
		border-radius: 50px;
		background-color: #d82256;
	}
}

.user-member {
	position: relative;
	.member__data {
		flex-direction: column;
		justify-content: center;
	}
	@include small-down {
		flex-direction: row;
		flex-wrap: wrap;
	}
}

.user-info {
	display: flex;
	align-items: stretch;
	align-items: flex-end;
	flex-wrap: wrap;
	margin-bottom: 30px;
	&__item {
		margin-right: 50px;
		&-interest {
			margin-right: 10px;
		}
	}
	&__title {
		font-family: 'Roboto', sans-serif;
		font-size: 12px;
		font-weight: normal;
		line-height: 2.17;
		color: #767676;
	}
	&__text {
		font-family: 'Roboto', sans-serif;
		font-size: 16px;
		font-weight: normal;
		line-height: 1.5;
		color: #250f47;
	}
	&__tag {
		display: block;
		font-size: 15px;
		font-weight: normal;
		line-height: normal;
		color: #383838;
		text-align: center;
		padding: 5px 10px;
		margin-top: 5px;
		border-radius: 4px;
		background-color: rgba(#6b6b6b, 0.2);
		&:hover {
			background-color: rgba(#6b6b6b, 0.5);
		}
	}
}

.user-message-wrap {
	flex-grow: 1;
}

.user-message {
	position: relative;
	height: 46px;
	max-width: 197px;
	width: 197px;
	padding-left: 40px;
	margin-right: 0;
	margin-left: auto;
	top: calc(50% - 23px);
	&:before {
		content: '';
		position: absolute;
		width: 24px;
		height: 19px;
		left: 24px;
		top: 14px;
		background-image: url(../img/icons/envelop-white-message.svg);
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
	}
	@include small-down {
		margin-left: 0;
		margin-right: auto;
		margin-top: 5px;
		margin-bottom: 10px;
	}
}

.discount-code-wrap {
	display: flex;
	align-items: start;
	margin-top: 50px;
	@include small-down {
		flex-direction: column;
		margin-top: 30px;
	}
}

.discount-code {
	width: 100%;
	max-width: 376px;
	border-radius: 6px;
	background-color: #f6f6f6;
	padding: 20px 20px 20px 35px;
	margin-right: 20px;
	position: relative;
	&:after {
		content: '';
		width: 28px;
		height: 100%;
		background-image: url(../img/my-profile/discount-bg.png);
		background-size: contain;
		background-position: bottom left;
		background-repeat: no-repeat;
		position: absolute;
		bottom: 0;
		left: 0;
	}
	&__title {
		font-family: 'PTSans', sans-serif;
		font-size: 20px;
		font-weight: bold;
		line-height: 1.1;
		color: #250f47;
		margin-bottom: 15px;
	}
	&__input {
		display: flex;
	}
	input {
		width: 100%;
		max-width: 245px;
		height: 25px;
		border-radius: 3px;
		background-color: #ffffff;
		border: solid 1px #e7e7e7;
		padding: 5px 10px;
		padding-bottom: 2px;
		margin-right: 7px;
		font-family: 'Roboto', sans-serif;
		font-size: 14px;
		font-weight: normal;
		line-height: 1.29;
		color: #250f47;
	}
	&__copy {
		height: 25px;
		border-radius: 3px;
		border: solid 1px rgba(236, 171, 190, 0.31);
		text-align: center;
		padding: 5px 10px;
		font-family: 'PTSans', sans-serif;
		font-size: 14px;
		font-weight: bold;
		font-style: normal;
		font-stretch: normal;
		line-height: 1.2;
		letter-spacing: normal;
		color: #d82256;
	}

	@include small-down {
		margin-right: 0;
		margin-bottom: 15px;
		padding: 15px;
		&:after {
			background-size: contain;
			background-position: bottom left;
			background-repeat: no-repeat;
			transform: rotate(180deg);
			top: 0;
			right: 0;
			left: auto;
		}
		&__title {
			font-size: 16px;
			margin-bottom: 10px;
		}
	}
}

.discount-note {
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	font-weight: normal;
	line-height: normal;
	color: #969696;
  ul {
    list-style: disc;
    margin: 1em;
  }
  a {
    color: #d82256;
  }
	//max-width: 231px;
	@include small-down {
		text-align: center;
		max-width: 300px;
	}
}

.discount-divider {
	position: relative;
	content: '';
	height: 1px;
	width: 100%;
	margin-top: 50px;
	margin-bottom: 50px;
	background-color: #e8e8e8;
	@include small-down {
		margin-top: 40px;
		margin-bottom: 30px;
	}
}

.edit-profile {
	max-width: 180px;
}

.user-hexset {
	display: block;
	top: 370px;
	max-width: 1400px;
	height: 500px;
	margin: 0 auto;
	z-index: 0;
}

.user-set1 {
	position: absolute;
	right: auto;
	left: 0px;
	bottom: 0;
}

.user-set2 {
	position: absolute;
	right: 0;
	left: auto;
	top: 0px;
}

.see-invoice__link{
	font-size: 13px;
	color: #AE9DC9;
	text-decoration: underline;
	transition: color .5s linear;

	&:before{
		content: '';
		display: inline-block;
		vertical-align: middle;
		width: 12px;
		height: 13px;
		background-image: url('../img/user-profile/invoice-icon.svg');
		background-repeat: no-repeat;
		background-size: contain;
		margin-right: 5px;
	}

	&:hover{
		color: darken( #AE9DC9, 10% )
	}
}
