.newsletter-header {
	position: relative;
	.pages-header {
		background-image: url('../img/newsletter/newsletter_0.jpg');
		@include xsmall-down {
			background-image: url('../img/newsletter/newsletter_0-m.jpg');
		}
	}
}

.contacts-data {
	.previous__buttons {
		margin-top: 20px;
	}
}

.newsletter-page {
	.contacts {
		margin-bottom: 0;
	}
	.previous__cta {
		padding-bottom: 0;
	}
	.btn__main-previous {
		max-width: 100%;
	}
	.contacts-data {
		max-width: 100%;
	}

	@include medium-down {
		.btn__main-previous {
			font-size: 14px;
		}
		.btn__next-arrow {
			width: 17px;
			right: 19px;
		}
	}
}

.new-archive-text-wrap {
	h4 {
		padding-bottom: 20px;
		border-bottom: 1px #f2f2f2 solid;
		font-family: 'PTSans', sans-serif;
		text-transform: capitalize;
		padding-right: 30px;
		@include small-down {
			font-size: 18px;
		}
	}
	h3 {}
	a {
		display: block;
		position: relative;
		margin-bottom: 20px;
		border-bottom: 1px #d8d8d8 solid;
		&:after {
			content: url(../img/newsletter/newsletter_2_1.svg);
			position: absolute;
			right: 0;
			top: 8px;
			@include small-down {
				top: 3px;
			}
		}

		&:last-child {
			h4 {
				border-bottom: none;
			}
		}
	}
	&:last-child {
		margin-bottom: 0;
	}
}
