.pages-hexset-wrap-bottom-resourses {
	.pages-set4 {
		left: auto;
		right: 30px;
		bottom: 0;
	}
}

.resources-page {
	.sheet-text-wrap {
		p {
			max-width: 100%;
			margin-bottom: 0;
			margin-top: 20px;
		}
		a {
			text-transform: none;
			font-weight: 500;
			&:hover {
				text-decoration: underline;
			}
		}
		h4 {
			margin-top: 0;
		}
	}

	.sheet-text-wrap {
		margin-bottom: 30px;
		padding-bottom: 30px;
		border-bottom: 1px #e5e5e5 solid;
	}
}

.pages-lable.resources-label {
	padding-top: 33px;
	padding-bottom: 33px;
	a {
		width: 100%;
		font-size: 20px;
		color: #f00;
	}
}
