.registration-page {
	.sheet {
		font-size: 18px;
		padding-top: 55px;
	}
}

.add-photo {
	margin-left: 15px;
	display: flex;
	align-items: center;
	transform: scale(1);
	transition: all 0.3s ease;
	max-width: 200px;
	cursor: pointer;
	.member {
		&__data {
			display: inline-block;
			width: auto;
		}
		&__edit {
			text-decoration: none;
			transition: color 0.3s;
		}
	}
	@include small-down {
		justify-content: center;
		margin: 0;
		flex-direction: column;
		.member {
			&__photo {
				margin-bottom: 10px;
				margin-right: 0;
			}
			&__data {
				margin-bottom: 0;
			}
		}
	}
}

.add-photo:hover .member__edit {
	text-decoration: underline;
	color: #da285b;
	transition: color 0.3s;
}
.add-photo:hover .member__photo { animation: jello 1s;}

@keyframes jello {
  from,
  11.1%,
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  22.2% {
    -webkit-transform: skewX(-12.5deg) skewY(-12.5deg);
    transform: skewX(-12.5deg) skewY(-12.5deg);
  }

  33.3% {
    -webkit-transform: skewX(6.25deg) skewY(6.25deg);
    transform: skewX(6.25deg) skewY(6.25deg);
  }

  44.4% {
    -webkit-transform: skewX(-3.125deg) skewY(-3.125deg);
    transform: skewX(-3.125deg) skewY(-3.125deg);
  }

  55.5% {
    -webkit-transform: skewX(1.5625deg) skewY(1.5625deg);
    transform: skewX(1.5625deg) skewY(1.5625deg);
  }

  66.6% {
    -webkit-transform: skewX(-0.78125deg) skewY(-0.78125deg);
    transform: skewX(-0.78125deg) skewY(-0.78125deg);
  }

  77.7% {
    -webkit-transform: skewX(0.390625deg) skewY(0.390625deg);
    transform: skewX(0.390625deg) skewY(0.390625deg);
  }

  88.8% {
    -webkit-transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
    transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
  }
}

.main-form {
	select::-ms-expand {
		display: none;
	}
	select {
		-webkit-appearance: none;
		-moz-appearance: none;
		text-indent: 1px;
		text-overflow: '';

		&[name="profile[state]"]:disabled{
			color: #fff
		}
	}
	max-width: 662px;
	margin: 0 auto;
	&__input-title {
		font-family: 'Roboto', sans-serif;
		font-size: 12px;
		font-weight: normal;
		line-height: 1.2;
		text-align: left;
		color: #767676;
		margin-bottom: 5px;
		white-space: nowrap;
	}

	&__input-wrap-sign{
		font-family: 'Roboto', sans-serif;
		font-size: 10px;
		font-weight: normal;
		line-height: 1.2;
		text-align: left;
		color: #767676;
		margin-bottom: 5px;
		white-space: nowrap;
		position: absolute;
		bottom: -25px;

		+ .register-error{
			margin-top: 15px
		}
	}

	&__input-file-selected{
		color: #000; 
		padding: 10px 0;

		+ .register-error{
			margin-top: 15px
		}
	}

	&__row {
		width: 100%;
		max-width: 662px;
		margin: 0 auto;
		display: flex;
		justify-content: flex-start;

		padding-bottom: 40px;
		&:last-child {
			padding-bottom: 50px;
		}
		@include small-down {
			flex-direction: column;
			padding-bottom: 0;
			justify-content: center;
		}
	}

	&__input-wrap {
		border-bottom: 1px #b3b3b3 solid;
		position: relative;
		width: 50%;
		max-width: 300px;
		margin: 0 15px;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		&:before,
		&:after {
			content: '';
			position: absolute;
			left: 0;
			bottom: 0;
			width: 1px;
			height: 2px;
			background-color: #ae9dc9;
		}
		&:after {
			right: 0;
			left: auto;
		}
		@include small-down {
			width: 100%;
			margin-right: auto;
			margin-left: auto;
			margin-top: 30px;
		}
	}

	&__radio-wrap {
		display: flex;
		width: 50%;
		margin-bottom: 20px;
		[type="radio"]:checked,
		[type="radio"]:not(:checked) {
			position: absolute;
			left: -9999px;
		}
		[type="radio"]:checked + label,
		[type="radio"]:not(:checked) + label {
			position: relative;
			padding-left: 22px;
			margin-left: 15px;
			margin-right: 15px;
			cursor: pointer;
			display: inline-block;
			font-family: 'Roboto', sans-serif;
			font-size: 16px;
			font-weight: normal;
			line-height: 1.5;
			text-align: left;
			color: #250f47;
		}
		[type="radio"]:checked + label:before,
		[type="radio"]:not(:checked) + label:before {
			content: '';
			position: absolute;
			left: 0;
			top: 4px;
			width: 14px;
			height: 14px;
			border: 1px solid #884fc6;
			border-radius: 100%;
			background: #fff;
		}
		[type="radio"]:checked + label:after,
		[type="radio"]:not(:checked) + label:after {
			content: '';
			width: 8px;
			height: 8px;
			background: #884fc6;
			position: absolute;
			top: 7px;
			left: 3px;
			border-radius: 100%;
			transition: all 0.2s ease;
		}
		[type="radio"]:not(:checked) + label:after {
			opacity: 0;
			transform: scale(0);
		}
		[type="radio"]:checked + label:after {
			opacity: 1;
			transform: scale(1);
		}
		input {
			position: relative;
		}

		@include small-down {
			width: 100%;
			max-width: 300px;
			margin-right: auto;
			margin-left: auto;
			margin-top: 15px;
			&:first-child {
				margin-top: 50px;
			}
			[type="radio"]:checked + label,
			[type="radio"]:not(:checked) + label {
				margin-left: 0;
			}
		}
		.register-error{
			margin-left: 15px;
			top: 45px !important;
			@include small-down{
				margin-left: 0;
			}
		}
	}

	input,
	select {
		width: 100%;
		font-family: 'Roboto', sans-serif;
		font-size: 14px;
		font-weight: normal;
		line-height: 1.86;
		text-align: left;
		color: #250f47;
		border: none;
		margin-bottom: 5px;
		min-height: 28px;
		&:placeholder {
			font-family: 'Roboto', sans-serif;
			font-size: 14px;
			font-weight: normal;
			line-height: 1.86;
			text-align: left;
			color: #767676;
		}
	}

	.select-box {
		position: relative;
		width: 100%;
		select{
			white-space: pre-wrap;
			line-height: 1.2;
		}
		&:after {
			pointer-events: none;
			content: '';
			position: absolute;
			right: 8px;
			bottom: 15px;
			width: 11px;
			height: 6px;
			background-image: url('../img/icons/pink-arrow-bottom.svg');
			background-position: center;
			background-size: contain;
			background-repeat: no-repeat;
		}
		&.no-select{
			&:after {
				display: none;
			}
		}
		input{
			padding-right: 25px;
		}
	}

	select {
		font-size: 16px;
		line-height: 1.5;
		color: #250f47;
		position: relative;
		font-weight: 500;
		padding-right: 25px;
	}

	&__multiple-input {
		width: 50%;
		max-width: 300px;
		margin: 0 15px;
		display: flex;
		justify-content: space-between;
		.main-form {
			&__input-wrap {
				width: 100%;
				max-width: 140px;
				margin: 0;
				margin-right: 15px;
				&:last-child {
					margin-right: 0px;
				}
			}
		}
		&.birth-date {
			.main-form {
				&__input-wrap {
					&:first-child {
						max-width: 60px;
					}
				}
			}
		}

		@include small-down {
			width: 100%;
			margin: 0 auto;
			margin-top: 30px;
		}
	}

	&__title-wrap {
		position: relative;
		.main-form__input-title {
			margin-left: 15px;
			@include small-down {
				margin-left: 0;
			}
		}
	}
}

.your-interests {
	max-width: 632px;
	margin: 0 auto;
	padding-bottom: 0px;
	border-bottom: 1px #e8e8e8 solid;
	h3 {
		font-family: 'Roboto', sans-serif;
		font-size: 18px;
		font-weight: normal;
		line-height: 1.33;
		text-align: left;
		color: #401557;

		padding-top: 50px;
		border-top: 1px #e8e8e8 solid;

		&:first-child {
			margin-top: 30px;
		}
	}
	[type="checkbox"]:checked,
	[type="checkbox"]:not(:checked) {
		position: absolute;
		left: -9999px;
	}
	[type="checkbox"]:checked + label,
	[type="checkbox"]:not(:checked) + label {
		position: relative;
		padding-left: 22px;
		margin-right: 15px;
		cursor: pointer;
		display: inline-block;
		font-family: 'Roboto', sans-serif;
		font-size: 13px;
		font-weight: normal;
		line-height: 1.5;
		text-align: left;
		color: #250f47;
	}
	[type="checkbox"]:checked + label:before,
	[type="checkbox"]:not(:checked) + label:before {
		content: '';
		position: absolute;
		left: 0;
		top: 5px;
		width: 11px;
		height: 11px;
		border: 1px solid #884fc6;
		border-radius: 2px;
		background: #fff;
	}
	[type="checkbox"]:checked + label:after,
	[type="checkbox"]:not(:checked) + label:after {
		content: '';
		width: 7px;
		height: 7px;
		background: #884fc6;
		position: absolute;
		top: 7px;
		left: 2px;
		border-radius: 2px;
		transition: all 0.2s ease;
	}
	[type="checkbox"]:not(:checked) + label:after {
		opacity: 0;
		transform: scale(0);
	}
	[type="checkbox"]:checked + label:after {
		opacity: 1;
		transform: scale(1);
	}
	input {
		position: relative;
	}
	&__area {
		margin-top: 25px;
		padding-bottom: 30px;
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
	}
	&__item {
		width: 100%;
		max-width: 210px;
		margin-bottom: 22px;
	}
	&__input-wrap {
		border-bottom: 1px #b3b3b3 solid;
		position: relative;
		max-width: 140px;
		&:before,
		&:after {
			content: '';
			position: absolute;
			left: 0;
			bottom: 0;
			width: 1px;
			height: 2px;
			background-color: #ae9dc9;
		}
		&:after {
			right: 0;
			left: auto;
		}
		input {
			width: 100%;
			font-family: 'Roboto', sans-serif;
			font-size: 12px;
			font-weight: normal;
			line-height: 1.2;
			text-align: left;
			color: #767676;
			border: none;
			margin-left: 4px;
			min-height: 20px;
		}
	}
}

.registration-btn {
	max-width: 180px;
	margin: 0 auto;
	margin-top: 50px;
}
#profile_membership {
    white-space: -moz-pre-wrap; /* Firefox */
	white-space: -pre-wrap; /* ancient Opera */
	white-space: -o-pre-wrap; /* newer Opera */
	white-space: pre-wrap; /* Chrome; W3C standard */
	word-wrap: break-word; /* IE */
}
.select-box-small {
	select {
		font-weight: normal;
		color: #250f47;
		font-size: 14px;
		font-weight: 500;
		white-space: -moz-pre-wrap !important; /* Firefox */
		white-space: -pre-wrap !important; /* ancient Opera */
		white-space: -o-pre-wrap !important; /* newer Opera */
		white-space: pre-wrap !important; /* Chrome; W3C standard */
		word-wrap: break-word !important; /* IE */
		line-height: 1.2 !important;
		option {
			color: #250f47;
			&:disabled{
				color: #767676;
			}
			&:selected {
				color: #250f47;
			}
		}
	}
}

.consent {
	text-align: center;
	padding-top: 50px;
	padding-bottom: 30px;
	margin-bottom: 30px;
	border-bottom: 1px #b3b3b3 solid;
	&__title {
		font-family: 'Roboto', sans-serif;
		font-size: 12px;
		font-weight: normal;
		text-transform: uppercase;
		line-height: 1.3;
		text-align: center;
		color: #767676;
	}
	.register-error{
		display: block;
		width: 100%;
		max-width: 100% !important;
		top: 30px !important;
		margin-left: 0 !important;
		@include small-down{
			top: 45px !important;
		}
	}
	.main-form {
		&__radio-wrap {
			width: 100%;
			justify-content: center;
			margin-top: 20px;
		}
	}
	&__details-btn {
		display: inline-block;
		text-align: center;
		font-family: 'Roboto', sans-serif;
		font-size: 18px;
		font-weight: bold;
		line-height: 1.3;
		text-align: left;
		color: #da285b;
		margin-top: 10px;
		&:hover {
			text-decoration: underline;
		}
	}
}

.register-hexset {
	bottom: 530px;
	.pages-set7 {
		right: auto;
		left: 86%;
		transform: rotate(180deg);
	}
}

.inline-upload-avatar {
  width: 100%;
  max-width: 230px;
  display: block;
  position: relative;
  z-index: 10;
  @include xsmall-down{
    margin: auto;
    margin-left: auto;
	}
}

.main-form {
	.register-error {
		display: none;
		position: absolute;
		top: 110%;
		left: 0;
		max-width: 230px;
		color: #da285b;
		text-align-last: auto;
		font-family: 'Roboto', sans-serif;
		font-size: 12px;
		font-weight: normal;
		line-height: 1.2;
	}
	.register-error.active {
		display: inline-block;
	}
}

.register-lable{
	display: block;
	margin-top: 13%;
	padding-top: 100px;
	padding-bottom: 100px;
	h2{
		padding-bottom: 20px;
	}
	@include xsmall-down{
		margin-top: 0;
	}
}
div.consent {
	.consent {
		@include xsmall-down{
		top: 0 !important;
	}
}
}
div.main-form__consent{

	.main-form .register-error{
		@include xsmall-down{
			top: 45px !important;
		}
	}
}
.top_fix{
	input{
		padding-top: 100px;
		margin-top: -100px;
	}
}