.reset-password {
	.sheet {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		min-height: 660px;
		padding: 30px;

		@include small-down {
			min-height: 500px;
		}
	}
}

.new-password {
	width: 100%;
	max-width: 300px;
	margin: 0 auto;
	text-align: center;
	&__title {
		text-align: left;
		font-family: 'PTSans', sans-serif;
		font-size: 24px;
		font-weight: bold;
		line-height: 1.25;
		color: #250f47;
		padding-bottom: 5px;
		&--error {
			color: #d82256;
			text-align: center;
			margin-bottom: 30px;
			font-size: 22px;
			font-weight: 400;
		}
	}

	.btn__main {
		margin-top: 60px;
		margin-right: auto;
		margin-left: auto;
	}
	&__back {
		display: inline-block;
		text-align: center;
		font-family: 'Roboto', sans-serif;
		font-size: 14px;
		font-weight: normal;
		line-height: 1.86;
		color: #939496;
		margin-top: 15px;
		&:hover {
			text-decoration: underline;
		}
	}
	
	&.meeting-password{
		.new-password__title {
			text-align: left;
		}
	}
}

.new-password-error {
	.new-password {
		&__title {
			text-align: center;
			color: #d82256;
			margin-bottom: 60px;
		}
	}
}