.action-label {
	padding-top: 63px;
	padding-bottom: 63px;
	display: block;
	a {
		width: 100%;
		font-size: 14px;
		line-height: 1.29;
		color: #ec0053;
		font-weight: 700;
		text-decoration: underline;
	}
	p {
		padding-top: 20px;
	}
	&:after {
		background-image: url(../img/advocacy/abvocacy-label-bg-bott.png);
		width: 91px;
		background-position: bottom right;
	}
	&:before {
		background-image: url(../img/advocacy/abvocacy-label-bg-top.png);
		width: 46px;
		background-position: top left;
	}
}

.take-action-item {
	padding-bottom: 30px;
	margin-bottom: 30px;
	border-bottom: 1px #e5e5e5 solid;
	&:last-child {
		padding-bottom: 0;
		border-bottom: 0;
	}
	h3 {
		margin-top: 10px;
		margin-bottom: 0;
	}
}