$base-orange: #f29543;
$base-red: #d82256;
$white: #ffffff;
$gray: #e0e0e0;
$gray-dark: #b1b1b1;
$large-padding: 0px;
$small-padding: 10px;

$icon-border-size: 1px;

.event {
  padding: 0;
  margin: 0;
	&.selected-day{
		.date-num{
			color: $base-orange !important;
		}
	}
}

@media screen and (min-width: 768px) {
  .__vev_calendar-wrapper{
    max-width: 1200px;
    margin: 0 auto;
    .cal-wrapper{
      width: 100%;
      .date-num{
        line-height: 50px;
      }
    }
    .events-wrapper{
      display: none;
      width: 50%;
      background-color: $base-orange;
      color: $white;
      padding: 40px 45px;
      position: absolute;
      left: 50%;
      top: 0;
      bottom: 0;
    }
  }
}
@media screen and (max-width: 768px) {
  .__vev_calendar-wrapper{
    .cal-wrapper{
      width: 100%;
      padding: 10px 5px;
      .date-num{
        line-height: 42px;
      }
    }
    .events-wrapper{
      width: 100%;
      margin-top: 10px;
      padding: 10px;
    }
  }
}

.meetings-calendar{
	background-color: rgba(#fff, 0);
	@include medium-down {
		position: static !important;
		top: 0 !important;
		right: 0 !important;
		left: 0 !important;
		margin-bottom: 135px;
	}
}
#calendar{
	border-radius: 5px;
	border: 1px #e8e8e8 solid;
	background-color: #fff;
}
.__vev_calendar-wrapper{
  position: relative;
  overflow: hidden;
  width: 100%;
	border-bottom: 1px #e8e8e8 solid;
  *{
    box-sizing: border-box;
  }
  ::-webkit-scrollbar{
    width: 8px;
    height: 8px;
  }
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px rgba(0,0,0,.2);
    border-radius: 5px;
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: rgba(0,0,0,.2);
  }
  .cal-wrapper{
    .cal-header{
			border-bottom: 1px #e8e8e8 solid;
      position: relative;
      width: 100%;
      background-color: $white;
			padding: 18px 20px 5px 20px;
      // box-shadow: 0 6px 5px rgba(0,0,0,.1);
      font-weight: 500;
      overflow: hidden;
      padding-bottom: 10px;
			display: flex;
			justify-content: space-between;
			align-items: center;
      .cal-navigation{
        line-height: 20px;
        padding: $large-padding;
				min-width: 30px;
				display: flex;
				justify-content: space-between;
      }
      .title{
        width: 80%;
        text-align: left;
				font-family: PTSans;
				font-size: 24px;
				font-weight: bold;
				line-height: 1.1;
				color: #250f47;
      }
      .l{
				position: relative;
        text-align: left;
        width: 20%;
				height: 14px;
        cursor: pointer;
        user-select: none;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
      }
      .r{
				position: relative;
        text-align: right;
        width: 20%;
				height: 14px;
        cursor: pointer;
        user-select: none;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
      }
    }
    .cal-body{
      width: 100%;
      .weeks{
        width: 100%;
        overflow: hidden;
        text-align: center;
        font-size: 1rem;
        .item{
          line-height: 50px;
          float: left;
          width: 14.285%;
        }
      }
      .dates{
        width: 100%;
        overflow: hidden;
        text-align: center;
        font-size: 1rem;
				padding-top: 30px;
				padding-bottom: 20px;
        .item{
          position: relative;
          float: left;
          display: block;
          width: 14.285%;
          cursor: default;
          -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
					&.today{
						p {color: #fff !important;}
					}
          .date-num{
            font-size: 14px;
						line-height: 35px;
            position: relative;
						font-family: 'Roboto', sans-serif;
						font-size: 14px;
						font-weight: normal;
						text-align: center;
						color: #141414;
						z-index: 3;
          }
          &.event{
            cursor: pointer;
          }
          &.selected-day{
            .is-event{
              background-color: $base-orange;
            }
          }
          .is-today{
            //content: '';
            background-color: $base-red !important;
            border-radius: 50%;
            width: 35px;
            height: 35px;
						margin: 0 auto;
            position: absolute;
						top: 0;
						bottom: 0;
						right: 0;
						left: 0;
            z-index: 1;
          }
          .is-event {
						display: none;
            content: '';
            background-color: $base-red !important;
            border-radius: 50%;
            width: 4px;
            height: 4px;
            position: absolute;
						top: auto;
						bottom: 4px;
						left: 0;
						right: 0;
						margin: 0 auto;
            z-index: 2;
          }
        }
				.date-dot{
						content: '';
						border-radius: 50%;
						width: 4px;
						height: 4px;
						position: absolute;
						top: auto;
						bottom: 4px;
						left: 0;
						right: 0;
						margin: 0 auto;
            z-index: 2;
						background-color: #5e9bb9;
						&--national{
							background-color: #d82256 !important;
						}
						&--colleagues{
							background-color: #884fc6 !important;
            }
            &--endorsed{
							background-color: rgb(27, 169, 138) !important;
						}
				}
      }

			.archive-img{
				content: '';
				position: relative;
				width: 64px;
				height: 64px;
				margin: 30px auto;
				background-image: url(../img/calendar/calendar-archive.svg);
				background-position: center;
				background-size: contain;
				background-repeat: no-repeat;
			}
    }
  }
  .events-wrapper{
    border-radius: 10px;
    .cal-events{
      height: 95%;
      overflow-y: auto;
      padding: 0 5px;
      margin: 15px 0;
    }
    .date{
      max-width: 60%;
      min-width: 200px;
      text-align: center;
      color: $white;
      background-color: rgba(0, 0, 0, 0.2);
      border-radius: 20px;
      margin: 0 auto;
      font-size: 22px;
    }
    .event-item{
      padding: 5px 20px;
      margin-top: 15px;
      box-shadow: 0 3px 11px 2px rgba(0,0,0,.1);
      background-color: #fff;
      border-radius: 5px;
      color: #323232;
      position: relative;
      &:first-child{
        margin-top: 0;
      }
      .title{
        height: 40px;
        line-height: 40px;
        color: #323232;
        font-size: 16px;
        border-bottom: 1px solid #f2f2f2;
      }
      .time{
        position: absolute;
        right: 30px;
        top: 17px;
        color: #9b9b9b;
        font-size: 14px;
      }
      .desc{
        color: #9b9b9b;
        font-size: 14px;
        padding: 7px 0;
      }
    }
  }
  .arrow-left.icon {
    color: #000;
    position: absolute;
    left: 6%;
    margin-top: 0px;
		top: 50%;
  }
  .arrow-left.icon:before {
    content: '';
    position: absolute;
    left: 1px;
    top: -5px;
    width: 10px;
    height: 10px;
    border-top: solid $icon-border-size currentColor;
    border-right: solid $icon-border-size currentColor;
    -webkit-transform: rotate(-135deg);
            transform: rotate(-135deg);
  }
  .arrow-right.icon {
    color: #000;
    position: absolute;
    right: 6%;
    margin-top: 0px;
		top: 50%;
  }
  .arrow-right.icon:before {
    content: '';
    position: absolute;
    right: 1px;
    top: -5px;
    width: 10px;
    height: 10px;
    border-top: solid $icon-border-size currentColor;
    border-right: solid $icon-border-size currentColor;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  h3, p{
    margin: 0;
    padding: 0;
  }
}

.cal-legend{
	padding: 20px 15px 0 15px;
	.legend-item{
		user-select: none;
		[type="checkbox"]:checked,
		[type="checkbox"]:not(:checked) {
			position: absolute;
			left: -9999px;
		}
		[type="checkbox"]:checked + label,
		[type="checkbox"]:not(:checked) + label {
			position: relative;
			padding-left: 22px;
			cursor: pointer;
			display: inline-block;
			font-family: 'Roboto', sans-serif;
			font-size: 14px;
			font-weight: normal;
			line-height: 1.2;
			text-align: left;
			color: #141414;
		}
		[type="checkbox"]:checked + label:before,
		[type="checkbox"]:not(:checked) + label:before {
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			width: 14px;
			height: 14px;
			border-radius: 2px;
			border: 1px solid #884fc6;
			border-radius: 2px;
			background: #fff;
		}
		[type="checkbox"]:checked + label:after,
		[type="checkbox"]:not(:checked) + label:after {
			content: '';
			width: 14px;
    	height: 14px;
    	border-radius: 2px;
			background: #884fc6;
			position: absolute;
			top: 0px;
			left: 0px;
			border-radius: 2px;
			transition: all 0.2s ease;
		}
		[type="checkbox"]:not(:checked) + label:after {
			opacity: 0;
			transform: scale(0);
		}
		[type="checkbox"]:checked + label:after {
			opacity: 1;
			transform: scale(1);
		}
		input {
			position: relative;
		}
		
		
		a{
			font-family: 'Roboto', sans-serif;
			font-size: 14px;
			font-weight: normal;
			line-height: 1.2;
			color: #141414;
		}
		position: relative;
		margin-bottom: 17px;
		&:before{
				content: '';
				position: absolute;
				left: 0;
				top: 0;
				width: 14px;
				height: 14px;
				border-radius: 2px;
			}
		&--national{
			[type="checkbox"]:checked + label:before,
			[type="checkbox"]:not(:checked) + label:before {
				border: solid 1px #d82256;
			}
			[type="checkbox"]:checked + label:after,
			[type="checkbox"]:not(:checked) + label:after {
				background-color: #d82256;
			}
		}
		&--global{
			[type="checkbox"]:checked + label:before,
			[type="checkbox"]:not(:checked) + label:before {
				border: solid 1px #884fc6;
			}
			[type="checkbox"]:checked + label:after,
			[type="checkbox"]:not(:checked) + label:after {
				background-color: #884fc6;
			}
		}
		&--summits{
			[type="checkbox"]:checked + label:before,
			[type="checkbox"]:not(:checked) + label:before {
				border: solid 1px #281248;
			}
			[type="checkbox"]:checked + label:after,
			[type="checkbox"]:not(:checked) + label:after {
				background-color: #281248;
			}
		}
		&--local{
			[type="checkbox"]:checked + label:before,
			[type="checkbox"]:not(:checked) + label:before {
				border: solid 1px #7483d2;
			}
			[type="checkbox"]:checked + label:after,
			[type="checkbox"]:not(:checked) + label:after {
				background-color: #7483d2;
			}
    }
    &--endorsed{
			[type="checkbox"]:checked + label:before,
			[type="checkbox"]:not(:checked) + label:before {
				border: solid 1px rgb(27, 169, 138);
			}
			[type="checkbox"]:checked + label:after,
			[type="checkbox"]:not(:checked) + label:after {
				background-color: rgb(27, 169, 138);
			}
		}
	}
}
.cal-past{
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	.past-title{
		display: block;
		width: 100%;
		font-family: 'Roboto', sans-serif;
		font-size: 14px;
		font-weight: bold;
		line-height: 1.3;
		color: #250f47;
		padding: 10px;
	}
		border-radius: 0 0 4px 4px;
  	background-color: #f6f6f6;
		border-top: 1px #e8e8e8 solid;
		
		text-align: center;
}
.cal-previous{
	&:before{
		content: '';
		width: 24px;
		height: 11px;
		position: absolute;
		left: 10px;
		top: calc(50% - 5.5px);
		background-image: url('../img/icons/calendar-archive-arrow.svg');
	}
}