@import url('https://fonts.googleapis.com/css?family=Lato|Open+Sans');

h1, h2, h3, h4, h5 {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}
h2 {
    font-size: 36px;
}
.nav-primary {
    margin: 0;
    padding: 15px 0;
}
.nav-primary li>a {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    color: #333333;
    display: block;
    font-weight: bold;
    padding: 17px 28px;
}
.sidebar-primary .textwidget {
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 26px;
    color: #000;
    line-height: 34px;
}
.front-page-2 {
    background: #202020;
}
.solid-section {
    background-color: inherit;
}
.enter-now h2 {
    font-family: 'Lato', sans-serif;
    font-size: 100px;
    color: #f21919;
    text-align: left;
}
.enter-now__heading {
    color: #e5c114;
    font-size: 60px;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    margin-bottom: 40px;
    text-align: left;
}
.enter-now__right {
    width: 40%;
    float: left;
}
.enter-now__paragraph {
    width: 60%;
    float: left;
}
.enter-now__paragraph p {
    font-family: 'Open Sans', sans-serif;
    font-size: 23px;
    line-height: 35px;
    color: #fff;
    text-align: left;
    font-weight: 800;
    margin-right: 40px;
}

.enter-now__hero-text{
  font-size: 36px;
  line-height: 50px;
  text-transform: uppercase;
  text-align: center;
  color: #e5c114;
  font-family: 'Lato', sans-serif;
}

.enter-now__tracks {
  border-top: solid 1px #727272;
  border-bottom: solid 1px #727272;
  float: left;
  width: 100%;
}
.tracks-left {
    border-right: 1px solid #727272;
}
.tracks-right {
   padding-left: 20px;
}
.tracks-left, .tracks-right {
    width: 50%;
    float: left;
    padding-top: 40px;
    padding-bottom: 20px;
    text-align: left;
}
.enter-now__tracks li {
    list-style: none;
    list-style-type: none !important;
}
.enter-now__list {
  margin-top: 20px !important;
  margin-left: 0 !important;
  padding: 0;
  list-style: none;
}
.enter-now__list .dashicons-arrow-right-alt2 {
    margin-bottom: 0 !important;
    font-size: 24px;
    font-size: 2.4rem;
    line-height: 30px;
    height: 30px;
    width: 24px;
}
.enter-now__link:link,
.enter-now__link:active,
.enter-now__link:visited {
  color: #fff;
  font-size:24px;
  line-height: 30px;
  font-family: 'Lato', sans-serif;
  transition: color .3s;
  text-decoration: none;
}
a:focus, a:hover {
    outline: none !important;
}
.enter-now__link:hover {
  color: #e5c114;
}
.enter-now__track-copy {
  color: #e5c114;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 28px;
  margin: 0;
  padding: 10px 50px 5px 35px;
  display: none;
}
.enter-now__link i {
  color: #e5c114;
  margin-right: 5px;
  transition: all .5s;
}

.enter-now__link.open i {
  transform: rotate(90deg);
}
.enter-now__sub-heading {
  font-size: 43px;
  line-height: 50px;
  font-family: 'Lato', sans-serif;
  color: #e5c114;
  margin-bottom: 10px;
  margin-top: 0;
}

.enter-now__by-line {
  font-size: 18px;
  line-height: 24px;
  font-family: 'Lato', sans-serif;
  color: #e5c114;
}

.enter-now__button {
    max-width: 50%;
    margin: 0 auto;
}
.enter-now__button-label:hover {
    background: #727272;
    color: #fff;
}
.enter-now__button-label {
    display: block;
    background: #444444;
    margin: 20px auto;
    border-radius: 50px;
    border: 2px solid #B28B4E;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-size: 25px;
    padding: 25px;
}

.enter-now__callout{
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: #e5c114;
    clear: both;
    padding: 40px 0;
}

.front-page-3 .sponsor-text {
    background-color: #202020;
    color: #e5c114;
    padding: 25px 40px;
    font-size: 30px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}
.front-page-3 .sponsor-type {
    font-size: 60px;
    padding: 0;
    margin: 0;
}
.front-page-3 .featuredpost .entry {
    width: 50%;
    padding-right: 20px;
    float: left;
}
.front-page-3 .featuredpost .entry figure {
    width: 60%;
    margin-left: 40px;
}

.site-footer {
    background-color: #f21919;
}
.site-footer, .site-footer a, .site-footer p {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    color: #f7d443 !important;
}
.site-footer a:focus, .site-footer a:hover,  .site-footer a:active {
    color: #f7d443;
}

@media only screen and (max-width: 1280px) {



}

@media only screen and (max-width: 1200px) {
    .sidebar-primary .textwidget {
        font-size: 24px;
        line-height: 30px;
    }
    .enter-now__button-label {
        font-size: 18px;
    }
}

@media only screen and (max-width: 1023px) {
    .site-header .title-area, .site-header.dark .title-area {
        padding: 0;
    }
    .sidebar-primary .textwidget {
        font-size: 14px;
        line-height: 20px;
    }
    .enter-now__link:link, .enter-now__link:active, .enter-now__link:visited {
        font-size: 20px;
        line-height: 24px;
    }
    .enter-now__track-copy {
        padding: 10px 30px 5px 25px;
    }
    .front-page-3 .featuredpost .entry {
        width: 100%;
        padding-right: 20px;
        float: left;
    }
    .tracks-left, .tracks-right {
        width: 100%;
    }
    .tracks-left {
        border-right: none;
    }
    .tracks-right {
        padding-left: 0;
    }
    .site-inner, .wrap {
        padding: 0 !important;
    }
}

@media only screen and (max-width: 800px) {
    .genesis-responsive-menu .genesis-nav-menu .menu-item {
        text-align: center;
    }
    .nav-primary li>a {
        color: #fff;
    }
    .menu-toggle:focus, .menu-toggle:hover, .sub-menu-toggle:focus, .sub-menu-toggle:hover {
        color: #fff;
        border: none;
        outline: 0;
    }
}
@media only screen and (max-width: 480px) {
    .front-page-1 .sidebar-primary {
        width: 100% !important;
    }
    .front-page-1 .widget.featured-content.featuredpage {
        padding-left: 0 !important;
        width: 100% !important;
        clear: both !important;
        max-width: 100%;
    }
    .btn-getkit {
        width: 250px;
    }
    .image-section .flexible-widgets {
        padding-bottom: 0px;
    }
    .sidebar-primary .textwidget {
        font-size: 24px;
        line-height: 30px;
    }
    h2 {
        font-size: 20px;
        margin-bottom: 10px;
    }
    .front-page-1 .widget.featured-content.featuredpage p {
        font-size: 16px;
        line-height: 20px;
    }
    .enter-now h2 {
        font-size: 50px !important;
    }
    .enter-now h3 {
        font-size: 30px !important;
    }
    .enter-now__paragraph {
        width: 100%;
    }
    .enter-now__right {
        width: 100%;
    }
    .enter-now__right p {
        font-size: 30px;
        line-height: 40px;
    }
    .enter-now__button {
        max-width: 75%;
    }
    .sponsor-type {
        font-size: 30px !important;
        line-height: 40px;
        text-align: center;
    }
    .front-page-3 .featuredpost .entry figure {
        width: 75%;
        margin-left: 20px;
    }
    .front-page-3 .sponsor-text {
        font-size: 20px;
        text-align: center;
    }
    .flexible-widgets {
        padding-top: 50px;
    }
}
