/*Table Title Styles*/
#stbTableTitleShell {
	display: inline-block;
	width: 100%;
	text-align: left;
	vertical-align: top;
	cursor: pointer;
}
#stbTableTitleShell .fa {
	margin: 0 5px;
	vertical-align: text-top;
}
#stbTableTitleLabel {
	margin: 0;
	font-size: 23px;
	font-weight: 400;
	line-height: 29px;
}
#stbTableTitleEditMsg {
	float: left;
	padding-top: 25px;
}

/*Table Shortcode Styles*/
.stbCopyTextCodeSelectionShell, .stbMainBtnsShell {
	margin-bottom: 10px;
}
.stbCopyTextCodeSelectionShell {
	min-height: 35px;
	overflow: hidden;
}
.stbCopyTextCodeSelectionShell #stbCopyTextCodeExamples {
	width: 100%;
	height: 33px;
	line-height: 33px;
}
.stbCopyTextCodeSelectionShell-wrapper {
	padding-right: 10px;
}
.stbCopyTextCode {
	text-align: center;
	width: 100%;
}
.stbTooltipInfo {
	margin-top: 0.45em;
	text-align: center;
	padding: 0;
}
.stbTooltipInfo .fa-question.supsystic-tooltip {
	float: none;
}

/*Table View Styles*/
.tables-view .subsubsub {
	margin: 10px 0 0;
	border-bottom: 1px solid #ccc;
}
.tables-view .table-title-wrap .table-title {
  float: left;
}
.tables-view .table-title-wrap .table-buttons {
  position: relative;
  top: 8px;
}
.tables-view .table-title-wrap .table-buttons .button {
  margin-left: 5px;
}
.tables-view .table-title-wrap .table-buttons > .table-buttons-left {
  float: left;
}
.tables-view .table-title-wrap .table-buttons > .table-buttons-right {
  float: right;
}
.tables-view .form-table label i.fa-question-circle {
  color: #a4aaac;
}
.tables-view .form-table label i.fa-question-circle:hover {
  color: #333;
}
.tables-view .row-tab {
  opacity: 0;
  position: absolute;
  width: 100%;
  top: -100%;
  z-index: -1;
  margin: 0;
	margin-top: 20px;
}
.tables-view .row-tab.active {
  opacity: 1;
  z-index: 1;
  top: auto;
  position: relative;
}
.tables-view .subsubsub.control-buttons {
  float: right;
  margin: 0;
  border-bottom: none !important;
	text-align: left;
}
.tables-view .subsubsub.control-buttons li {
  margin-right: 5px;
}
.tables-view .subsubsub.control-buttons li:last-child {
	margin-right: 0;
}
.tables-view .subsubsub.control-buttons button span {
	padding-left: 5px;
}
.subsubsub.tabs-wrapper {
	margin: 0;
}
.tables-view .subsubsub.tabs-wrapper {
  padding-left: 16px;
  padding-right: 32px;
  float: left;
}
.tables-view .subsubsub.tabs-wrapper h2 {
  position: relative;
  top: 8px;
  outline: 0 solid transparent;
}
.tables-view .subsubsub.tabs-wrapper h2:focus {
  outline: 0 solid transparent;
}
.tables-view .subsubsub.tabs-wrapper li {
  margin-bottom: -1px;
  margin-left: -1px;
}
.tables-view .subsubsub.tabs-wrapper li a.button {
  background-color: #eee;
  border-color: #ccc !important;
  color: #000 !important;
  font-weight: bold;
}
.tables-view .subsubsub.tabs-wrapper li a.button.current {
  background-color: #fff;
  border-bottom-color: #fff !important;
}
.tables-view .subsubsub.tabs-wrapper li a.button.current:hover,
.tables-view .subsubsub.tabs-wrapper li a.button.current:active,
.tables-view .subsubsub.tabs-wrapper li a.button.current:focus {
  background-color: #fff !important;
}
.tables-view .subsubsub.tabs-wrapper li a.button:hover,
.tables-view .subsubsub.tabs-wrapper li a.button:active,
.tables-view .subsubsub.tabs-wrapper li a.button:focus {
  background-color: #ccc !important;
  outline: none !important;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.tables-view .subsubsub.tabs-settings-wrapper {
  padding-left: 16px;
  padding-right: 32px;
  float: left;
}
.tables-view .subsubsub.tabs-settings-wrapper h2 {
  position: relative;
  top: 8px;
  outline: 0 solid transparent;
}
.tables-view .subsubsub.tabs-settings-wrapper h2:focus {
  outline: 0 solid transparent;
}
.tables-view .subsubsub.tabs-settings-wrapper li {
  margin-bottom: -1px;
  margin-left: -1px;
}
.tables-view .subsubsub.tabs-settings-wrapper li a.button {
  background-color: #eee;
  border-color: #ccc !important;
  color: #000 !important;
  font-weight: bold;
}
.tables-view .subsubsub.tabs-settings-wrapper li a.button.current {
  background-color: #fff;
  border-bottom-color: #fff !important;
}
.tables-view .subsubsub.tabs-settings-wrapper li a.button.current:hover,
.tables-view .subsubsub.tabs-settings-wrapper li a.button.current:active,
.tables-view .subsubsub.tabs-settings-wrapper li a.button.current:focus {
  background-color: #fff !important;
}
.tables-view .subsubsub.tabs-settings-wrapper li a.button:hover,
.tables-view .subsubsub.tabs-settings-wrapper li a.button:active,
.tables-view .subsubsub.tabs-settings-wrapper li a.button:focus {
  background-color: #ccc !important;
  outline: none !important;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.tables-view #settings input, .tables-view #settings select, .history-settings input, .history-settings select {
	width: 100% !important;
}
.tables-view #settings textarea {
	width: 100%;
	min-height: 100px;
}
.tables-view #css-editor {
	position: relative;
	height: 200px;
}
.tables-view .tabs-settings {
	text-align: center;
}
.tables-view .row-settings-tabs {
	clear: both;
	display: block;
	padding: 10px;
}
.tables-view .row-settings-tab {
	padding-bottom: 20px;
}
.tables-view .title-block {
	line-height: 40px;
	padding: 0 10px !important;
}
.tables-view .title-place {
	line-height: 20px;
	padding: 0 15px;
}
.tables-view .title-place h3 {
	font-size: 16px;
}
.tables-view .title-block h3 {
	margin: 0;
}
.setting-wrapper {
	min-height: 30px;
	margin: 0 0 10px 0
}
.setting-item {
	min-height: 33px;
}
.setting-item + .setting-item {
	text-align: right;
}
.setting-item .chosen-drop {
	text-align: left;
}
.setting-item label {
	height: 33px;
	line-height: 33px;
}
.setting-options label {
	padding-left: 15px;
}
.setting-item select {
	height: 33px;
}
.setting-item .fa-question.supsystic-tooltip {
	margin-top: 8px;
}
.sub-input, .tables-view #settings .sub-input {
	width: 100px !important;
	margin-right: 8px;
}
.sub-label {
	line-height: 33px;
}
.sub-label, .sub-input, .tables-view #settings .sub-input {
	float: left;
}
.sub-label .iradio_minimal input {
	z-index: -1; /* to normal label check */
}
.sub-label span {
	padding: 0 15px 0 3px;
}
.input-group .sub-input {
	margin-right: 10px;
	vertical-align: top;
}
.input-group label span {
	padding: 0 5px 0 3px;
}
.iradio_minimal {
	float: none !important;
}
/* supsystic-ui settings */
.tables-view .row-settings-tab .icheckbox_minimal, .tables-view .row-settings-tab .iradio_minimal {
	float: left;
}
#row-tab-woocommerce .icheckbox_minimal{
	float: left;
}
.tables-view .row-settings-tab .icheckbox_minimal {
	margin-top: 8px;
}

#tableLoaderColorContainer {
	float: left;
}
.selectTableLoaderIcon {
	float: left;
}
#tableLoaderIconPreview {
	float: right;
}

#tableLoaderIconDialog .items-list{
	display: block;
	width: 100%;
	position: relative;
}
#tableLoaderIconDialog .items-list .item {
	cursor: pointer;
	width: 20%;
	position: relative;
	height: 150px;
	text-align: center;
	float: left;
	-webkit-transition: all 250ms linear;
	-moz-transition: all 250ms linear;
	-o-transition: all 250ms linear;
	transition: all 250ms linear;
}
#tableLoaderIconDialog .items-list .item .item-inner{
	position: relative;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	height: 100%;
	-ms-flex-pack: center;
	-ms-flex-align: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-moz-box-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-moz-box-align: center;
	align-items: center;
}
#tableLoaderIconDialog .items-list .item .item-title{
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	font-size: 12px;
	line-height: 1em;
	text-align: center;
}
.fullWidth {
	width: 100%;
}
.marginBottom {
	margin-bottom: 10px;
}
.dataContainer {
	overflow: auto;
	max-height: 70px;
}
.fieldsContainer {
	overflow: auto;
	max-height: 180px;
}
.blockLabel {
	display: block;
	margin-bottom: 5px;
}

/* styles for colorpicker elements */
.colorPickerShell {
	display: inline-block;
	width: 36px;
	height: 36px;
	padding: 3px;
	border: 1px solid;
}
.colorPickerArea {
	display: inline-block;
	width: 100%;
	height: 100%;
	border: 1px solid;
}

@media (max-width: 810px) {
	.wp-core-ui .button {
		margin-bottom: 4px;
	}
	#wpbody select {
		height: auto;
	}
	.tables-view .subsubsub {
		width: 100%;
		border-bottom: none !important;
	}
	.tables-view .subsubsub.tabs-wrapper h2 {
		top: 0;
	}
	.tables-view .subsubsub.tabs-wrapper h2, .tables-view .subsubsub.tabs-wrapper li a.button {
		text-align: center;
	}
	.tables-view .subsubsub.tabs-wrapper li, .tables-view .subsubsub.tabs-wrapper li a.button {
		width: 100%;
	}
	.tables-view .subsubsub.tabs-wrapper li a.button.current, .tables-view .subsubsub.tabs-wrapper li a.button.current:focus {
		background-color: #ccc !important;
	}
	.tables-view .subsubsub.tabs-settings-wrapper h2 {
		top: 0;
	}
	.tables-view .subsubsub.tabs-settings-wrapper h2, .tables-view .subsubsub.tabs-settings-wrapper li a.button {
		text-align: center;
	}
	.tables-view .subsubsub.tabs-settings-wrapper li, .tables-view .subsubsub.tabs-settings-wrapper li a.button {
		width: 100%;
	}
	.tables-view .subsubsub.tabs-settings-wrapper li a.button.current, .tables-view .subsubsub.tabs-settings-wrapper li a.button.current:focus {
		background-color: #ccc !important;
	}
	.tables-view .subsubsub.tabs-wrapper, .tables-view .subsubsub.tabs-settings-wrapper {
		padding-left: 0;
		padding-right: 0;
	}
	.tables-view #settings > .row {
		margin: 15px auto 0 auto
	}
	#stbTableTitleShell {
		padding-bottom: 15px;
	}
}
@media (max-width: 650px) {
	.tables-view .subsubsub.control-buttons button span {
		display: none;
	}
}
@media screen and (max-width: 480px) {
	.tables-view .subsubsub{
		padding: 0 !important;
	}
	.subsubsub {
		width: 100%;
	}
}
.video-container {
	position:relative;
	padding-bottom:56.25%;
	height:0;
	overflow:hidden;
}

.stb-wraper-anchor-nav-links {
    position: relative;
    margin-bottom: 10px;
    text-align: left;
    z-index: 0;
}
.stb-wraper-anchor-nav-links .stb-anchor-nav-links {
    text-decoration: none;
    color: #777;
    display: inline-block;
    font-size: 14px;
    padding: 0 5px 3px;
    font-weight: 500;
}
.stb-wraper-anchor-nav-links .stb-anchor-nav-links:not(:last-child) {
    border-right: 1px solid #aaa;
}
.stb-wraper-anchor-nav-links .stb-anchor-nav-links.active,
.stb-wraper-anchor-nav-links .stb-anchor-nav-links:hover,
.stb-wraper-option-links .stb-option-links.active,
.stb-wraper-option-links .stb-option-links:hover,
.stb-rename-category:hover {
    color: #000;
    text-decoration: underline;
}
