.supsystic-tables-wrap .supsystic-table .bold {
  font-weight: 700;
}
.supsystic-tables-wrap .supsystic-table .italic {
  font-style: italic;
}
.supsystic-tables-wrap .supsystic-table .underline {
	text-decoration: underline;
}
.supsystic-tables-wrap .supsystic-table .htLeft {
  text-align: left;
}
.supsystic-tables-wrap .supsystic-table .htRight {
  text-align: right;
}
.supsystic-tables-wrap .supsystic-table .htCenter {
  text-align: center;
}
.supsystic-tables-wrap .supsystic-table .htTop {
  vertical-align: top;
}
.supsystic-tables-wrap .supsystic-table .htMiddle {
  vertical-align: middle;
}
.supsystic-tables-wrap .supsystic-table .htBottom {
  vertical-align: bottom;
}
.supsystic-tables-wrap .supsystic-table[data-responsive-mode="1"] td.child table {
  table-layout: fixed;
}
.supsystic-tables-wrap .supsystic-tables-export ul {
  margin: 0 !important;
  padding: 0 !important;
}
.supsystic-tables-wrap .supsystic-tables-export ul li {
  display: inline-block !important;
  margin-left: 10px;
}
.supsystic-tables-wrap .supsystic-tables-export ul li:first-child {
  margin-left: 0;
}
.supsystic-tables-wrap .supsystic-tables-export ul li .export-label, .supsystic-tables-wrap .supsystic-tables-export ul li a {
	line-height: 1.2em;
	vertical-align: middle;
}

.supsystic-tables-wrap {
	position: relative;
	width: 100%;
	overflow: hidden;
	box-sizing: border-box;
	-webkit-overflow-scrolling: touch;
}
.supsystic-tables-wrap.disable-responsive {
	overflow: visible;
}

.supsystic-tables-wrap .supsystic-table {
  box-sizing: border-box;
}

table.supsystic-table th, table.supsystic-table td {
  white-space: normal !important;
}
table.supsystic-table.nowrap th, table.supsystic-table.nowrap td {
  white-space: nowrap !important;
}
table.supsystic-table img.wp-post-image {
  max-width:none;
}
table.supsystic-table img {
  max-width:100%;
  height:auto;
}

.supsystic-tables-wrap table.supsystic-table .no-header tr:first-child td {
  border-top: 1px solid #111;
}
.supsystic-tables-wrap .dataTables_wrapper .dataTables_paginate .paginate_button {
	position: relative;
	width: auto !important;
	height: auto !important;
	background-color: transparent;
	opacity: 1;
	transition: none;
}
.supsystic-tables-wrap.pagination-large .dataTables_paginate .paginate_button {
	padding: 0.5em 1em;
}
.supsystic-tables-wrap.pagination-medium .dataTables_paginate .paginate_button {
	padding: 0.3em 0.7em;
}
.supsystic-tables-wrap.pagination-small .dataTables_paginate .paginate_button {
	padding: 0.1em 0.5em;
}
table.supsystic-table .ww-h {
  white-space: nowrap !important;
  overflow: hidden;
}

table.supsystic-table {
  table-layout: auto!important;
  max-width: none;
}

table.supsystic-table .ww-v {
  white-space: nowrap !important;
  overflow: visible;
  max-width: 0;
}


.dataTables_wrapper .dataTables_filter input {
  width: auto;
  margin-bottom: 1em;
}

table.supsystic-table .ww-v {
  max-width: auto;
}

.supsystic-tables-features div {
  display: inline-block;
  margin-right: 15px;
  margin-bottom: 10px;
}

.supsystic-tables-features.after_table div {
	margin-top: 10px;
	margin-bottom: 0;
}

table.supsystic-table.collapsed > tbody > tr > td:first-child:before,
table.supsystic-table.collapsed > tbody > tr > th:first-child:before {
  background-color: #2B2B2B;
  font-size: 16px;
  line-height: 16px;
  font-weight: normal;
  font-style: normal;
  text-align: center !important;
  text-indent: 1px !important;
}

table.supsystic-table.collapsed > tbody > tr.parent > td:first-child:before,
table.supsystic-table.collapsed > tbody > tr.parent > th:first-child:before {
  background-color: #888;
}
/* Reset border styles for data tables, because border and border-left, border-right etc. styles are applied on table at the same time */
table.dataTable tbody th, table.dataTable tbody td {
	border: none;
}
table.dataTable caption {
  padding: 0 !important;
}
/* Add .no-border class for disable table borders at all */
table.dataTable.no-border.no-footer, table.dataTable.no-border th, table.dataTable.no-border td {
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: none;
}
table.oneColumn,
table.oneColumn thead,
table.oneColumn tbody,
table.oneColumn th,
table.oneColumn td,
table.oneColumn tr {
  display: block;
}

table.oneColumn thead tr, table.oneColumn tfoot tr {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

table.oneColumn tr {
  border: 1px solid #ccc;
  height: auto!important;
}

table.oneColumn td {
  border: none;
  border-bottom: 1px solid #eee;
  position: relative;
  text-align: left;
  box-sizing: border-box;
}

table.oneColumnWithLabels tr:not(.haveMergedCell) td {
  padding-left: 50%!important;
  border-top: none !important;
}

table.oneColumnWithLabels tr:not(.haveMergedCell) td:before {
  position: absolute;
  text-align: left;
  top: 6px;
  left: 6px;
  width: 45%;
  padding-right: 10px;
  white-space: nowrap;
}

table.oneColumnWithLabels tr:not(.haveMergedCell) td:after {
  content: '';
  display: inline-block;
}

.supsystic-table.collapsed tr.child table td {
  overflow-y: auto;
}

.supsystic-table.fixedHeader-floating, .supsystic-table.fixedFooter-floating {
	display: none;
}
.supsystic-tables-wrap .table-signature {
	font-size: 12px;
	font-style: normal;
	font-weight: 500;
	color: #a4aaac;
}
.supsystic-tables-wrap .supsystic-table.compact .stbColumnsSearchWrapper th,
.supsystic-tables-wrap .supsystic-table.compact .stbColumnsSearchWrapper td {
	padding: 4px;
}

/* For search by hidden cells and for invisible cells */
.supsystic-tables-wrap table.supsystic-table tr .hiddenCell, .supsystic-tables-wrap table.supsystic-table tr .invisibleCell {
	display: none !important;
}

/* Fix for Horizontal scroll responsive mode if table has different width for one column in header and body */
.supsystic-tables-wrap .fit-content {
	border-bottom: none!important;
}
.supsystic-tables-wrap .fit-content table {
	float: left;
	border-bottom: 1px solid #111 !important;
}

/* Fix for using autowidth for tables with Fixed Header or Horizontal scroll responsive mode */
.supsystic-tables-wrap .dataTables_scrollHeadInner, .supsystic-tables-wrap .dataTables_scrollFootInner {
	margin: 0 !important;
}
.supsystic-tables-wrap table {
	margin-left: 0 !important;
}
.supsystic-tables-wrap .dataTables_scroll {
  padding-top: 0 !important;
}
table.dataTable input.search-column {
	width: 100%;
	padding: 3px;
	box-sizing: border-box;
}
.stbMobileComment {
	position:absolute;
	border-radius:6px;
	background-color:#999;
	color:white;
	padding:7px;
	z-index: 10;
}
.supsystic-table.compact[data-auto-index='new'] tr td:first-child{
	word-break: normal;
}

.dataTables_wrapper table td,
.dataTables_wrapper table th {
	word-break: unset!important;
}