.wrapper h1,
.wrapper h2 {
    font-size: 23px;
    font-weight: 400;
    padding: 9px 15px 4px 0;
    line-height: 29px;
    margin: 0;
}

.tooltip {
    z-index: 19999;
}

.tooltip.top .tooltip-arrow {
    border-top-color: #eee !important;
}

.tooltip.bottom .tooltip-arrow {
    border-bottom-color: #eee !important;
}

.tooltip .tooltip-inner {
    background-color: #eee !important;
    color: #000 !important;
}

.tooltip.in {
    opacity: 1;
}

.supsystic-plugin {
    width: 100%;
    font-size: 15px;
}

/* Helps avoid to conflict with some user themes */
.supsystic-plugin .supsystic-content .row {
	display: block;
	width: auto;
	table-layout: unset;
}

.supsystic-plugin  .supsystic-content .row > div {
	display: block;
	min-height: 1px;
	padding-left: initial;
	padding-right: initial;
}

.supsystic-plugin  .supsystic-content .row > [class*="col-lg-"],
.supsystic-plugin  .supsystic-content .row > [class*="col-md-"],
.supsystic-plugin  .supsystic-content .row > [class*="col-sm-"],
.supsystic-plugin  .supsystic-content .row > [class*="col-xs-"] {
	padding-left: 15px;
	padding-right: 15px;
}
/* Helps avoid to conflict with some user themes */

.supsystic-plugin a {
    color: #4ae8ea;
}

.supsystic-plugin .supsystic-content {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background-color: transparent;
    box-sizing: border-box;
    float: left;
    position: relative;
    width: 98%;
    min-height: 353px;
}

.supsystic-plugin .supsystic-content .supsystic-container {
    margin-left: 75px;
    /*margin-top: 10px;*/
}

.supsystic-plugin .supsystic-content .supsystic-navigation {
    background-color: transparent;
    float: left;
    /*height: 100%;*/
    margin-right: 10px;
    position: absolute;
    width: 75px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.supsystic-navigation ul {
    padding: 0;
    margin: 0;
}

.supsystic-navigation ul li {
    text-align: center;
    /*border-bottom: 1px solid #707070;*/
    background-color: transparent;
    margin: 0;
    padding: 10px 0;
    -webkit-transition: background 500ms;
    -moz-transition: background 500ms;
    -ms-transition: background 500ms;
    -o-transition: background 500ms;
    transition: background 500ms;
}

.supsystic-navigation ul li:hover,
.supsystic-navigation ul li.active {
    background-color: #fff;
}

.supsystic-navigation ul li:hover a i,
.supsystic-navigation ul li.active a i {
    color: #4ae8ea;
}

.supsystic-navigation ul li a {
    color: #28282a;
    text-decoration: none;
    font-weight: 400;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.supsystic-plugin .supsystic-navigation ul li a i {
    display: block;
    color: #6d6d71;
    font-size: 1.8em !important;
    margin: 0 auto 5px auto;
}

.supsystic-navigation ul li.supsystic-pro {
    background-color: #e74c3c;
}

.supsystic-bar {
    min-height: 67px;
    /* margin-left: -10px;*/
    padding: 10px;
    background-color: #fff;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

#table-toolbar.supsystic-bar {
    height: 67px;
    margin-left: -10px;
    padding: 10px;
    background-color: inherit !important;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

ul.supsystic-bar-controls {
    margin-top: 8px;
}

ul.supsystic-bar-controls > li {
    float: left;
    margin-left: 5px;
}

ul.supsystic-bar-controls > li.separator {
    color: #ddd;
    margin-top: 5px;
}


/* Loading */

.supsystic-inline-loader {
    min-width: 128px;
    min-height: 15px;
    background: url('../img/ajax-loader.gif') no-repeat center center;
    /*display: inline-block;*/
}


/* Modal Loading */

.supsystic-modal-loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: .6;
    -ms-filter: Alpha(opacity=60);
    filter: Alpha(opacity=60);
    z-index: 100000;
    display: none;
    overflow: hidden;
}

.supsystic-modal-loading-object {
    position: absolute;
    width: 100%;
    top: 40%;
    text-align: center;
    z-index: 100001;
    display: none;
    overflow: hidden;
    font-weight: 700;
}

.supsystic-modal-loading-object img {
    position: relative;
    top: 4px;
    overflow: hidden;
}

.supsystic-modal-loading-object p {
    overflow: hidden;
}

.stbCopyTextCode {
	text-align: center;
}


/* Helpers */

.supsystic-centered {
    text-align: center;
}

.jGrowl.top-right {
    top: 50px !important;
}


/* jQuery UI Dialog */

.ui-dialog {
    box-shadow: 1px 1px 10px #ccc;
    -webkit-box-shadow: 1px 1px 10px #ccc;
    -moz-box-shadow: 1px 1px 10px #ccc;
    -ms-box-shadow: 1px 1px 10px #ccc;
    -o-box-shadow: 1px 1px 10px #ccc;
}

.ui-dialog .ui-dialog-titlebar {
    line-height: 25px;
}

.ui-dialog .ui-dialog-titlebar-close {
    display: none;
}

.ui-dialog .ui-dialog-buttonpane {
    padding: 0 !important;
    margin-top: 10px !important;
    border: none !important;
    text-align: right !important;
}

.ui-dialog .ui-dialog-content {
	position: relative;
	border: 0;
	padding: .5em 1em;
	background: none;
	overflow: visible !important;
}

.ui-dialog .ui-dialog-buttonpane button {
    margin: 0 10px 0 0 !important;
	outline: 0;
}

.ui-button-text-only .ui-button-text {
    padding: 0 !important;
}

.ui-dialog .ui-dialog-title {
    float: none !important;
    font-size: 17px;
}

.ui-widget {
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-size: 1.1em;
}

.ui-widget-overlay {
    background: #000 !important;
    opacity: .3;
    -ms-filter: Alpha(opacity=30);
    filter: Alpha(opacity=30);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.ui-widget-overlay.ui-front {
    z-index: 10;
}

.ui-dialog.ui-widget-content {
    background: #fff !important;
    padding: 15px 5px !important;
    z-index: 100001;
}

.ui-widget-content input {
    width: 100%;
    height: auto;
}

.ui-widget-header {
    border: none !important;
    border-bottom: 1px solid #ddd !important;
    background: none !important;
    color: #777 !important;
    border-radius: 0 !important;
    padding: 0 10px 15px 10px !important;
    font-weight: normal !important;
}

.ui-dialog-titlebar-close {
    background: none !important;
}

.supsystic-title-row {
    padding: 5px 0 !important;
    border-bottom: 1px solid #eee;
}

.supsystic-title-row h3 {
    padding: 0;
    margin: 0;
    font-weight: 100;
    font-size: 1.4em;
}

#gg-overlay-transparency {
    -webkit-appearance: none;
    width: 300px;
    height: 2px !important;
    background-color: #ddd;
}

#gg-overlay-transparency::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    background-color: #3498db;
}

#gg-overlay-transparency:focus {
    outline: none;
}

input[type="color"] {
    width: 300px;
    height: 30px;
    border: 1px solid #ddd;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .07);
}

.column-title.title .photo-editor {
    margin-top: 10px;
}

.column-title.title .photo-editor input {
    margin-left: 4px;
}

.column-title.title .photo-editor input[type="text"] {
    width: 100%;
}


/*Breadcrumbs*/

.supsystic-breadcrumbs {
    /*border-top: 1px solid rgba(12,12,12,0.03);*/
    background-color: transparent;
    margin-left: 75px;
    padding: 5px 0px;
    /*-moz-box-shadow: 0 3px 0 rgba(12,12,12,0.03);
    -webkit-box-shadow: 0 3px 0 rgba(12,12,12,0.03);
    box-shadow: 0 3px 0 rgba(12,12,12,0.03);*/
}

.supsystic-breadcrumbs > a {
    text-decoration: none;
    padding: 0 5px;
    color: #000;
}

.supsystic-breadcrumbs > a:last-child {
    color: #7f8c8d;
}

.supsystic-breadcrumbs .breadcrumbs-separator {
    background-image: url("images/arrows-sprite.png");
    background-repeat: no-repeat;
    padding: 0 3px;
    background-position: -17px 7px;
}

.supsystic-item {
    background: #fff;
    padding-top: 15px;
	padding-bottom: 20px;
    position: relative;
}

.supsystic-checked {
    border-color: #ccc !important;
}

.supsystic-item > .supsystic-check {
    position: absolute;
    top: 15px;
    left: 15px;
    display: none;
}

.supsystic-item p {
    padding: 0;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
}

.supsystic-item.supsystic-plugin-promo p,
.supsystic-item.supsystic-plugin-promo section {
    font-size: 13px;
    line-height: 1.5;
    white-space: normal;
}

.supsystic-welcome-page-content .supsystic-item p {
    white-space: normal;
}

.supsystic-item small {
    display: block;
    color: #ccc;
}

.supsystic-panel {}


/*Options additional classes*/

.swrOptDetailsShell {
    display: none;
    font-size: 12px;
}

.swrOptDetailsShell input {
    font-size: 12px;
}

.swrSmallTbl tr {
    height: auto !important;
}


/*** custom checkboxes ***/


/*input[type=checkbox] { display:none; }
input[type=checkbox] + label:before {
  font-family: FontAwesome;
  display: inline-block;
}

input[type=checkbox] + label:before { content: "\f096"; }
input[type=checkbox] + label:before { letter-spacing: 10px; }

input[type=checkbox]:checked + label:before { content: "\f046"; }
input[type=checkbox]:checked + label:before { letter-spacing: 5px; } */

.swrHtaccessPre {
    background-color: #eef;
    padding: 10px;
}

h3 .nav-tab {
    font-size: 15px;
    font-weight: 700;
    line-height: 24px;
    padding: 9px 10px;
    color: #28282a;
    border: none;
    background-color: transparent;
}

h3 .nav-tab.nav-tab-active,
.nav-tab:hover {
    background-color: #fff;
    border: none;
}

h2.nav-tab-wrapper,
h3.nav-tab-wrapper {
    border: none;
}

.supsystic-item.supsystic-panel .nav-tab-active,
.supsystic-item.supsystic-panel .nav-tab-active:hover {
    /*background: none repeat scroll 0 0 #fff;
    border-bottom: 0 solid #f1f1f1;*/
    color: #000;
    border: none;
}


/*buttons*/

.button.supsystic-button,
.supsystic-plugin .button,
.supsystic-plugin .paginate_button,
.supsystic-plugin .button-primary,
.ui-button,
.ui-button.ui-state-default {
    font-size: 15px !important;
    height: 35px !important;
    -webkit-border-radius: 0 !important;
    border-radius: 0 !important;
    color: #28282a !important;
    background-color: transparent !important;
    background: transparent !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #000 !important;
    line-height: 31px !important;
    padding: 0 8px 1px!important;
}

.button.supsystic-button.hover,
.button.supsystic-button:hover,
.supsystic-plugin .button.hover,
.supsystic-plugin .button:hover,
.supsystic-plugin .paginate_button:hover,
.supsystic-plugin .button.focus,
.supsystic-plugin .button:focus,
.ui-button.ui-state-hover,
.ui-button:hover,
.ui-button:focus {
    background: #4ae8ea !important;
    border-color: #4ae8ea !important;
}

.button.supsystic-button[disabled],
.button.supsystic-button:disabled,
.button.supsystic-button.disabled,
.supsystic-plugin .button[disabled],
.supsystic-plugin .button:disabled,
.supsystic-plugin .paginate_button:disabled,
.supsystic-plugin .button.disabled,
.supsystic-plugin .button-secondary[disabled],
.supsystic-plugin .button-secondary:disabled,
.supsystic-plugin .button-secondary.disabled,
.supsystic-plugin .button-disabled,
.ui-button:disabled {
    color: #a4aaac !important;
    border-color: #a4aaac !important;
    background-color: transparent !important;
}


/*tooltip*/

.supsystic-plugin .fa-question.supsystic-tooltip {
    border: 1px solid #28282a;
    border-radius: 50%;
    margin-top: 1px;
    padding: 1px 4px;
    float: right;
}

.supsystic-plugin .fa-question.supsystic-tooltip.fa-2x {
    padding: 0 6px;
}

.supsystic-plugin .fa-stack {
	width: 20px;
	height: 20px;
	line-height: inherit;
}

.supsystic-plugin .fa-stack .fa.fa-stack-1x {
	font-size: 13px !important;
	line-height: 20px !important;
}

.supsystic-plugin .fa-stack .fa.fa-stack-2x {
	font-size: 22px !important;
	line-height: 20px !important;
}

/*sticky items*/

.supsystic-sticky-active {
    position: fixed !important;
    /*top: 32px;*/
    z-index: 10;
}

.supsystic-sticky-active.supsystic-sticky-active-bordered {
    border-bottom: 2px solid #ddd !important;
}


/*textboxes*/

.supsystic-plugin input[type="text"], .supsystic-plugin input[type="search"], .supsystic-text {
	background-color: #f6f7f7 !important;
    color: #252728 !important;
    border-left: none !important;
    border-right: none !important;
    border-bottom: none !important;
    border-top: 1px solid #dfe4e4 !important;
    padding: 7px 5px !important;
}

.supsystic-plugin input[type="text"]:focus, .supsystic-plugin input[type="search"]:focus, .supsystic-text:focus, .supsystic-plugin textarea:focus {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border-color: #4ae8ea !important;
}

.supsystic-plugin input[type="text"].swrInputError, .supsystic-plugin textarea.swrInputError {
    border-color: #fa4e7f;
    border-bottom: none !important;
    border-left: none !important;
    border-right: none !important;
    border-width: 1px !important;
}


/*form tables*/

.supsystic-plugin .fa {
    font: normal normal normal 14px/1 FontAwesome !important;
}

.supsystic-plugin .form-table th {
    font-size: 16px;
}

.supsystic-plugin .form-table th,
.supsystic-plugin .form-table td {
    border: none !important;
}

.supsystic-plugin .description,
.supsystic-plugin i:not(.fa) {
    font-style: normal;
    color: #a4aaac;
    font-weight: 500;
}

.supsystic-plugin .form-table tr:not(:last-child) {
    border-bottom: 1px solid #e9edee;
}

.supsystic-plugin .ui-pg-table {
    /*color: #a6aaab;*/
    color: black;
}

.supsystic-plugin .ui-pg-table .ui-pg-input {
    margin: 0px 7px;
}

.supsystic-plugin .ui-pg-table .ui-icon {
    background-image: url("images/arrows-sprite.png") !important;
    background-repeat: no-repeat !important;
    width: 8px;
    height: 10px;
    opacity: 1 !important;
    margin: 0px 7px;
}

.supsystic-plugin .ui-pg-table .ui-icon.ui-icon-seek-prev,
.supsystic-plugin .ui-pg-table .ui-icon.ui-icon-seek-next {
    width: 5px;
}

.supsystic-plugin .ui-pg-table .ui-icon.ui-icon-seek-first {
    background-position: 0px 0px !important;
}

.supsystic-plugin .ui-pg-table .ui-icon.ui-icon-seek-prev {
    background-position: -10px 0px !important;
}

.supsystic-plugin .ui-pg-table .ui-icon.ui-icon-seek-next {
    background-position: -17px 0px !important;
}

.supsystic-plugin .ui-pg-table .ui-icon.ui-icon-seek-end {
    background-position: -24px 0px !important;
}

.supsystic-plugin .s-ico .ui-grid-ico-sort {
    background-image: url("images/arrows-sprite.png") !important;
    background-repeat: no-repeat !important;
    width: 8px;
    height: 4px;
    /*opacity: 1 !important;*/
}

.supsystic-plugin .s-ico .ui-grid-ico-sort.ui-icon-triangle-1-n {
    background-position: -68px -6px !important;
}

.supsystic-plugin .s-ico .ui-grid-ico-sort.ui-icon-triangle-1-s {
    background-position: -68px 0px !important;
}

.supsystic-plugin .ui-th-column .icheckbox_minimal {
    margin-bottom: 7px;
}

/*Table cols width manipulations*/

.form-table .col-w-1perc {
    width: 1%;
}

.form-table .col-w-10perc {
    width: 10%;
}

.form-table .col-w-20perc {
    width: 20%;
}

.form-table .col-w-30perc {
    width: 30%;
}

.form-table .col-w-40perc {
    width: 40%;
}

.form-table .col-w-50perc {
    width: 50%;
}

.form-table .col-w-60perc {
    width: 60%;
}


/* Helper */

.float-left {
    float: left;
}

.float-right {
    float: right;
}


/* iCheck plugin Minimal skin, black
----------------------------------- */

.icheckbox_minimal, .iradio_minimal {
    display: inline-block;
    vertical-align: middle;
    margin: 0 5px 0 0;
    padding: 0;
    width: 18px;
    height: 18px;
    background: url(images/minimal.png) no-repeat;
    border: none;
    cursor: pointer;
}

.icheckbox_minimal {
    background-position: 0 0;
}

.icheckbox_minimal.hover {
    background-position: -20px 0;
}

.icheckbox_minimal.checked {
    background-position: -40px 0;
}

.icheckbox_minimal.disabled {
    background-position: -60px 0;
    cursor: default;
}

.icheckbox_minimal.checked.disabled {
    background-position: -80px 0;
}

.iradio_minimal {
    background-position: -100px 0;
}

.iradio_minimal.hover {
    background-position: -120px 0;
}

.iradio_minimal.checked {
    background-position: -140px 0;
}

.iradio_minimal.disabled {
    background-position: -160px 0;
    cursor: default;
}

.iradio_minimal.checked.disabled {
    background-position: -180px 0;
}


/* HiDPI support */

@media (-o-min-device-pixel-ratio: 5/4),
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 120dpi) {
    .icheckbox_minimal,
    .iradio_minimal {
        background-image: url(images/minimal@2x.png);
        -webkit-background-size: 200px 20px;
        background-size: 200px 20px;
    }
}

.supsystic-plugin .widefat.dataTable thead th,
.supsystic-plugin .widefat.dataTable thead td,
.supsystic-plugin .widefat.dataTable.no-footer {
    border-bottom: none;
}

.supsystic-plugin table.widefat.dataTable {
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.supsystic-plugin table.widefat.dataTable a {
    color: #000;
    text-decoration: underline;
}

.supsystic-pro-feature {
	display: block;
    color: #0074a2 !important;
    font-size: 10px !important;
	line-height: 11px;
    text-decoration: none !important;
}

#tables thead th:first-child {
    padding: 10px 18px 10px 8px;
}

#tables td:last-child {
    width: 100px;
}

#tables_paginate .button,
#tables_paginate .paginate_button,
#tables .button {
    margin-left: 10px;
}


/* Fix for WP 4.4 */

.supsystic-plugin a,
.supsystic-plugin .button-primary,
.supsystic-plugin .button-primary.button-hero,
.ui-dialog a,
.ui-dialog .button {
    text-shadow: none!important;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
    outline: none!important;
}


/*****/


/*
 * media
 */

@media screen and (max-width: 1366px) {
    ul.subsubsub.control-buttons > li {
        margin-bottom: 5px;
    }
}

@media screen and (max-width: 810px) {
	.supsystic-plugin .supsystic-content .supsystic-container {
		margin-left: 40px;
	}
	.supsystic-plugin .supsystic-content .supsystic-navigation {
		width: 40px;
	}
	.supsystic-plugin .supsystic-content .supsystic-navigation span{
		display: none;
	}
	.supsystic-plugin .supsystic-navigation ul li a i {
		margin: 0 auto;
	}
	.supsystic-plugin .wp-list-table tr td {
		display: table-cell !important;
	}
}

/* Fix for scroll of tables list table */
@media screen and (min-width: 992px) {
	.supsystic-plugin .widefat.dataTable {
		width: 100% !important;
	}
}

@media screen and (max-width: 768px) {
    .supsystic-plugin .fa-question.supsystic-tooltip{
        margin-bottom: 1em;
    }
}

/* Right-to-Left Language Styles*/
[dir="rtl"] .supsystic-plugin .supsystic-content .supsystic-container {
	margin-right: 75px;
}
[dir="rtl"] .supsystic-plugin .supsystic-content .supsystic-navigation {
	margin-right: 0;
	margin-left: 10px;
}
[dir="rtl"] .supsystic-plugin .fa-question.supsystic-tooltip {
	float: left;
}
[dir="rtl"] .dataTables_wrapper .dataTables_filter input {
	margin-right: 0.5em;
	margin-left: 0.5em;
}
[dir="rtl"] .tables-view .subsubsub.tabs-wrapper h2 {
	padding: 9px 0 4px 15px;
}
