/*
 Theme Name:   AWIR
 Description:  AWIR theme
 Author:       HayMarket UA
 Version:      0.2
 Text Domain:  awir
 */


.admin-bar .top-menu {
	top: 32px;
}
@media screen and (max-width: 782px) {
	body.admin-bar {
		position: static;
	}
	#wpadminbar {
		position: fixed;
	}
}
.acf-checkbox-list input[type=checkbox] {
	-webkit-appearance: checkbox;
}
.user-nav {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.inline-upload-avatar input[type=file] {
	display:none;
}
#app-direct-messages > * {
	opacity: 0;
}
